.filter-dialog-bottom-sheet-content {
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  background: #f0f0f0;
  width :100%;
}

.chip {
  display: inline-block;
  padding: 6px 12px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 16px;
  cursor: pointer;
  user-select: none;
  font-size:12px;
}

.chip.selected {
  background-color: #0c6a97;
  color: white;
  border-color: #0c6a97;
}

.filter-options {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 5px;
}
.filter-header {
 margin-bottom: 10px;
 padding: 0 5px;
 font-size: 14px;
}

.search-box {
  margin: 8px 0;
  width: 100%;
}

.chip.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pwa-active-btn {
    width: 90%;
    border-radius: 10px;
    background: #086284;
    color: white;
}

.pwa-footer {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.close-slider {
    height: 5px;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.close-slider-act-btn {
    display: block;
    height: 5px;
    background: grey;
    border-radius: 10px;
    width: 150px;
}