
.input-header {
	h1 {
		padding: 0px;
	}
}
.tw-popup-content{
  height: auto;
}
.block-2{
  height: auto;
}
  .no-test{
    text-align: center;
    color: grey;
    font-size: 12px;
    font-style: italic;
    font-weight: 600;
    margin-top: 40px;
  }
  .test-remove-icon{
    height: 20px;
    width: 20px;
    padding: 5px;
  }

 select {
  width: 20%;
  height:38px;
  color: #4b4b4b;
  text-shadow: none;
  display: inline-block;
  align-items: center;
  background-color: white;
  border:1px solid #E2E9ED;
  border-color: #E2E9ED;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
 }

$bp : (
  desktop:1440px,
  lap:1024px,
   tab : 768px,
   mob: 565px,

);
@mixin query($display){
  @each $key, $value in $bp{
    @if ($display == $key){
      @media (max-width: $value){@content;}
    }
  }
}
.btn-1{
    @include query(mob){
      padding-right: 0px !important;
    }
}