<div class="manage-body">
    <div class="loading-spinner" *ngIf="isLoading">
      <div class="spinnerload">
          <div class="spin1"></div>
          <div class="spin2"></div>
          <div class="spin3"></div>
      </div>
    </div> 
    <div>
        <tw-header-new-component [component]="'role'" 
            [permission]="null" [dateFilter]="null" [rowFilter]="null" 
            [manageAction]="showActions" [selectDropdown]="selectDropdown"
            [selectedName]="selectedName !== null ? selectedName : true"
            [locationId]="null" [selectedView]="null" [multiView]="false"
            (selectedViewAction)="null" (headerEventAction)="headerEventAction($event)">
        </tw-header-new-component>
    </div>  
     <div class="tw-content1 table-align">
        <tw-table-component [component]="'role'" 
        [columns]="displayedColumns" [tableData]="tableData"
        [iconHeader]="iconHeader" [iconColumn]="iconColumn"
        [sortColumn]="sortColumn" [eventColumn]="eventColumn" (eventAction)="eventAction($event)"
        [rowClick]="true" [rowId]="'id'" [rowDbClick]="false" (rowClickAction)="rowClick($event)"
        [applyFilter]="applyFilterValue" [permissionControl]="permissionControl" [pagination]="[{length: length, pageSize: pageSize, pageStart: pageStart}]" [tableClass]="'table-with-header'">
    </tw-table-component>
    </div>
  </div>
