<div class="loading-spinner" *ngIf="onLoading">
    <div class="spinnerload">
        <div class="spin1"></div>
        <div class="spin2"></div>
        <div class="spin3"></div>
    </div>
</div>
<div class="input-component-holder ovi-font-family" style="height:100% ;width:100%;overflow: hidden;">
    <div class="ovi-pop-hdr">
        <div>{{"Asset Maintenance"| translate}}</div>
        <div mat-dialog-close><mat-icon>highlight_off</mat-icon></div>
    </div>
    <div style="padding: 5px 10px;">
        <div class="row-field" style="max-width: 170px;display: flex;">
            <div style="display: flex; padding-top: 5px; align-items: center;padding-bottom: 5px;">
                <form autocomplete="off">
                    <input class="tw-filter-new search-box" [formControl]="filter" (keyup)="applyFilter($event.target.value)"
                        autocomplete="off" appPlaceholder [showPlaceholder]="true" [placeholderText]="'Search'|translate">
                </form>
            </div>
        </div>
        <div>
            <tw-table-component [component]="'maintenanceInfo'" [columns]="displayedColumns" [tableData]="tableData"
                [iconHeader]="iconHeader" [iconColumn]="iconColumn" [sortColumn]="sortColumn" [eventColumn]="eventColumn"
                (eventAction)="eventAction($event)" [rowClick]="true" [rowId]="'requestId'" [applyFilter]="applyFilterValue" 
                [permissionControl]="permissionControl"[pagination]="[{length: length, pageSize: pageSize, pageStart: pageStart}]" [tableSize]="'145px'">
            </tw-table-component>
        </div>
    </div>
</div>