<div class="loading-spinner" *ngIf="isloading">
    <div class="spinnerload">
        <div class="spin1"></div>
        <div class="spin2"></div>
        <div class="spin3"></div>
    </div>
</div>
<div class="manage-body">
    <tw-header-new-component [type]="'new'"  [component]="'facility-management'" [permission]="null" [dateFilter]="displayDate ? selectedDate : null" [toDateFilter]="displayDate ? selectedToDate : null" [multiView]="false" [rowFilter]="null"
        [manageAction]="null" [selectDropdown]="selectDropdown"
        [selectedName]="selectedName !== null ? selectedName : true" [selectedView]="null" (selectedViewAction)="null"
        [multiDateEnable]="true" 
        (headerEventAction)="headerEventAction($event)" [groupFilter]="parentFilter"></tw-header-new-component>
    <div>
        <tw-table-component [component]="'facility-management'" [columns]="displayedColumns" [tableData]="tableData"
            [iconHeader]="iconHeader" [iconColumn]="iconColumn" [sortColumn]="sortColumn" [eventColumn]="eventColumn" [dateColumns]="dateColumns" [dateTimeColumns]="dateTimeColumns"
            [rowId]="'id'" [rowClick]="false" (rowClickAction)="rowClick($event)" [rowDbClick]="false" (rowDbClickAction)="null" (eventAction)="eventAction($event)" [applyFilter]="applyFilterValue"
            [permissionControl]="permissionControl" [pagination]="[{length: length, pageSize: pageSize, pageStart: pageStart}]">
        </tw-table-component>
    </div>
</div>
