<div class="manage-body">
    <div class="ovi-font-family" style="overflow: scroll; height: calc(100% - 155px);" infinite-scroll
        [infiniteScrollDistance]="0.5" [infiniteScrollThrottle]="0" [scrollWindow]="false" (scrolled)="scroll()">
        <mat-grid-list [cols]="cols" rowHeight="162px" appWindowResize (resized)="onWindowResized($event)"
            (resizedCol)="onWindowResizedCol($event)" [component]="'resident'">
            <mat-grid-tile *ngFor="let card of newCardInput; trackBy:trackByRowId" colspan="1" rowspan="1" (keydown.enter)="fixClick()">
                <div style="height: 99%; width: 100%">
                    <div id="ip"[ngClass]="card?.hasCritical ? 'tw-newcard-blink-border' : 'tw-newcard-header'"
                        (click)="alertPatientId?.indexOf(card.patientId) > -1 ? stopAudioAction(card.patientId, 'card') : ''">
                        <div class="tw-newcard-title">
                            <!-- <div class="tw-newcard-title-fnt">
                                <span *ngIf="(component != 'nursecall-view' || showPatientName)"> {{ card?.patientName | titlecase }}  <span
                                        class="tw-newcard-title-row-5 tw-newcard-title-row-3 tw-newcard-title-row-6" (click)="patientInfo(card)">({{ card?.uhid }})</span> </span>
                                <div *ngIf="card?.gender && (component != 'nursecall-view' || showPatientName)" style="padding-top: 2px;">
                                    <img *ngIf="card.gender === 'Male'" style="width:11px;"
                                        src="/assets/icons/gender-male.svg" alt="Male" class="w-4 h-4" 
                                        appTooltip [tooltipText]="card.gender" placement="bottom" />

                                    <img *ngIf="card.gender === 'Female'" style="width:9px;"
                                        src="/assets/icons/gender-female.svg" alt="Female" class="w-4 h-4"
                                        appTooltip [tooltipText]="card.gender" placement="bottom" />

                                    <img *ngIf="card.gender === 'Others'" style="width:9px;"
                                        src="/assets/Alert/IP/other.png" alt="Others" class="w-4 h-4" 
                                        appTooltip [tooltipText]="card.gender" placement="bottom" />
                                </div>
                                <div *ngIf="card?.age && component != 'nursecall-view'" class="tw-newcard-title-row-3">
                                    {{card.age ? card.age + 'yrs' : ''}}
                                </div>
                            </div> -->
                            <div class="tw-newcard-title-row-2">
                                <div class="tw-newcard-title-row-3" *ngIf="(component != 'nursecall-view' || !showPatientName)">
                                    <span class="tw-newcard-title-row-4">IP No :  </span> <span
                                        class="tw-newcard-title-row-5">{{card?.visitIdentifier}}</span>
                                </div>
                                <div class="tw-newcard-title-fnt" *ngIf="(component != 'nursecall-view' || showPatientName)">
                                    <span *ngIf="(component != 'nursecall-view' || showPatientName)"> {{ card?.patientName | titlecase }}  <span
                                            class="tw-newcard-title-row-5 tw-newcard-title-row-3 tw-newcard-title-row-6" (click)="patientInfo(card)">({{ card?.uhid }})</span> </span>
                                    <div *ngIf="card?.gender && (component != 'nursecall-view' || showPatientName)" style="padding-top: 2px;">
                                        <img *ngIf="card.gender === 'Male'" style="width:11px;"
                                            src="/assets/icons/gender-male.svg" alt="Male" class="w-4 h-4" 
                                            appTooltip [tooltipText]="card.gender" placement="bottom" />

                                        <img *ngIf="card.gender === 'Female'" style="width:9px;"
                                            src="/assets/icons/gender-female.svg" alt="Female" class="w-4 h-4"
                                            appTooltip [tooltipText]="card.gender" placement="bottom" />

                                        <img *ngIf="card.gender === 'Others'" style="width:9px;"
                                            src="/assets/Alert/IP/other.png" alt="Others" class="w-4 h-4" 
                                            appTooltip [tooltipText]="card.gender" placement="bottom" />
                                    </div>
                                    <div *ngIf="card?.age && component != 'nursecall-view'" class="tw-newcard-title-row-3">
                                        {{card.age ? card.age + 'yrs' : ''}}
                                    </div>
                                </div>
                                <div style="display: flex; align-items: center;gap: 10px;">
                                    <div class="tw-newcard-title-row-5 tw-newcard-title-row-3 tw-newcard-title-row-6">
                                        <mat-icon (click)="eventTrigger('nurse-call', null, card)" class="tw-new-card-create-task"  appTooltip tooltipText="{{'Create Task'|translate}}">add_task</mat-icon>
                                    </div>
                                    <div class="tw-status-card"
                                        [ngClass]="{'admitted': card.visitStatus === 'Admitted','pending': card.visitStatus === 'Pending','discharged': card.visitStatus === 'Discharged'}">
                                        {{card?.visitStatus}}
                                    </div>
                                </div>
                            </div>
                            <mat-divider style="margin-top: 2px;"></mat-divider>
                        </div>
                        <div class="tw-newCard-vitals-subHead">
                            <div class="tw-newCard-vitals-head" *ngIf="card?.vitals">
                                <span>
                                    <span class="tw-newcard-title-row-4" appTooltip tooltipText="SpO2"
                                        placement="bottom">SpO2 :</span><br>
                                    <span class="tw-newcard-title-row-3">{{card?.vitals?.spo2}}</span>
                                </span>
                                <span>
                                    <span class="tw-newcard-title-row-4" appTooltip tooltipText="Heart Rate"
                                        placement="bottom">HR :</span><br>
                                    <span class="tw-newcard-title-row-3">{{card?.vitals?.hr}}</span>
                                </span>
                                <span>
                                    <span class="tw-newcard-title-row-4" appTooltip tooltipText="Temperature"
                                        placement="bottom">Temp :</span><br>
                                    <span class="tw-newcard-title-row-3">{{temp}}</span>
                                </span>
                            </div>
                            <div class="tw-newcard-row-3" [ngStyle]="{height : card?.vitals ? '30px' : '40px'}">
                                <div style="display: flex;gap: 2px;">
                                    <span *ngFor="let alert of card.alerts">
                                        <span *ngIf="alert.eventCode && view['type'] !== 'location'"  class="tw-newcard-altImg"
                                        [ngClass]="{ 'tw-alert-nurse': alert.eventCode === 'CE-CL','tw-alert-aid': alert.eventCode === 'CE-AD','tw-alert-food': alert.eventCode === 'CE-FD',
                                        'tw-alert-house': alert.eventCode === 'CE-HK','tw-alert-sos': alert.eventCode === 'CE-SO','tw-alert-med': alert.eventCode === 'CE-MD'}">
                                            <img *ngIf="alert.eventCode === 'CE-CL'" style="width:25px;cursor: pointer;" alt="nurse-call" src="/assets/Alert/IP/nurse-call.svg" 
                                                (click)="eventTrigger(alert, 'nurse-call', card?.patientId)" (keydown.enter)="fixClick()">

                                            <img *ngIf="alert.eventCode === 'CE-AD'" style="width:25px;cursor: pointer;" (click)="eventTrigger(alert, 'nurse-call', card?.patientId)"
                                                alt="nurse-call" src="/assets/Alert/IP/aid.svg"(keydown.enter)="fixClick()">

                                            <img *ngIf="alert.eventCode === 'CE-FD'" style="width:25px;cursor: pointer;"
                                                (click)="eventTrigger(alert, 'nurse-call', card?.patientId)" alt="nurse-call" src="/assets/Alert/IP/food.svg" (keydown.enter)="fixClick()">

                                            <img *ngIf="alert.eventCode === 'CE-HK'" style="width:17px;cursor: pointer;" (click)="eventTrigger(alert, 'nurse-call', card?.patientId)"
                                                alt="nurse-call" src="/assets/Alert/IP/housekeeping.svg" (keydown.enter)="fixClick()">

                                            <img *ngIf="alert.eventCode === 'CE-SO'"style="width:20px;cursor: pointer;position: relative; top: 4px; left: 2px;"
                                                (click)="eventTrigger(alert, 'nurse-call', card?.patientId)"  alt="nurse-call" src="/assets/Alert/IP/sos.svg"(keydown.enter)="fixClick()">

                                            <img *ngIf="alert.eventCode === 'CE-MD'" style="width:18px;cursor: pointer;"
                                                (click)="eventTrigger(alert, 'nurse-call', card?.patientId)" alt="nurse-call" src="/assets/Alert/IP/medicine.svg" (keydown.enter)="fixClick()">

                                            <img *ngIf="alert.eventCode === 'CE-PC'" style="width:18px;cursor: pointer;filter: brightness(0) invert(1)"
                                                (click)="eventTrigger(alert, 'nurse-call', card?.patientId)" alt="nurse-call" src="/assets/Alert/user.svg"
                                                (keydown.enter)="fixClick()">
                                        </span>
                                        <span>
                                            <span *ngIf="view['type'] === 'location'" class="tw-newcard-icon-circle" appTooltip [tooltipText]="alert?.ackDatetime ? ('Acknowledged Time : ' + (alert?.ackDatetimeTz | date:'hh:mm a, d MMM YYYY') + '&#10;'+ alert?.message): alert?.message"
                                            (click)="eventTrigger('nurse-call', alert, card)"   [ngStyle]="{ background: legendJson[alert.eventCode]}"
                                                (keydown.enter)="fixClick()">
                                                <mat-icon *ngIf="alert.ackDatetime && alert.ackDatetime !== null" [ngStyle]="{ color: alert?.eventCode === 'CE-PR' ? '#181616' : '#ffffff' }">done</mat-icon>
                                                <mat-icon *ngIf="(!alert.ackDatetime || alert.ackDatetime === null) && alert.eventCode === 'CE-PC'"  style="color: #ffffff;padding-top: 0px;padding-right:1px;font-size: 22px;">person_check</mat-icon>
                                            </span>
                                        </span>
                                        <span *ngIf="!alert.eventCode">
                                            <mat-icon class="icon-style" *ngIf="alert.alertCode === 'RU-MO'" appTooltip [tooltipText]="alert.message" class="patient-away"></mat-icon>
                                            <mat-icon class="icon-style" *ngIf="alert.alertCode === 'RU-FA'" appTooltip [tooltipText]="alert.message" class="fall-risk" (click)="cancelAlert(alert, 'fall-risk', null)" (keydown.enter)="fixClick()"> </mat-icon>
                                            <mat-icon class="icon-style" *ngIf="alert.alertCode === 'RU-MI'" appTooltip [tooltipText]="alert.message" class="patient-missing"></mat-icon>
                                            <mat-icon class="icon-style" *ngIf="alert.alertCode === 'RU-GO'" appTooltip [tooltipText]="alert.message" class="geofence"></mat-icon>
                                            <mat-icon class="icon-style" *ngIf="alert.alertCode === 'RU-SE'" appTooltip [tooltipText]="alert.message" class="sensor"></mat-icon>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="tw-newcard-row-4">
                            <span class="tw-newcard-subRow-1">
                                <span class="tw-newcard-title-row-4 tw-newcard-subRow-1"><mat-icon class="ovi-fnt-sze20"  style="position: relative; left: 4px;">bed</mat-icon>: </span><br>
                                <span class="tw-newcard-title-row-3 tw-newcard-title-row-5">{{card?.bedNo}}</span>
                            </span>
                            <span class="tw-newcard-subRow-1" *ngIf="card?.lengthOfStay">
                                <span class="tw-newcard-title-row-4">LoS :</span><br>
                                <span class="tw-newcard-count">{{card?.lengthOfStay}}</span>
                            </span>
                        </div>
                        <div [ngClass]="card?.hasCritical ? 'tw-newcard-footer-alert' : 'tw-newcard-footer'"></div>
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <div class="ovi-font-family" style="display: flex ; flex-direction: row-reverse; width: calc(100% - 10px); align-items: center; height: 30px;" *ngIf="legends.length">
        <div style="display: flex;align-items: center;margin-right: 5px;" *ngFor="let legend of legends">
            <div class="tw-newcard-icon-circle" [ngStyle]="{ background: legend.color, height : '15px', width : '15px'}"> </div>
            <div class="ovi-fnt-sze13"> {{legend.label}}</div>
        </div>
    </div>
</div>