<div *ngIf ="istransferData" class="input-component-holder ovi-font-family" style="height:100% ;width:100%;">
    <div class="ovi-pop-hdr">
        <div [innerHTML]="type | translate"></div>
        <div mat-dialog-close><mat-icon>highlight_off</mat-icon></div>
      </div>
    <div class="ovi-matfrmfld ovi-matfrmfld-box-top-btm-pdg popup-margin" [formGroup]="assetForm" style="height: calc(100% - 80px);">
        <app-banner [type]="'new'" [bannerData]="bannerlabel"></app-banner>
        <div class="ovi-row-gap " style="gap:0px 40px">
        <div class="ovi-row-two-clmn ovi-matfrmfld-input-box-pdg">
            <mat-label class="ovi-lbl-text-size">{{'Owner Department'|translate}}</mat-label>
            <mat-form-field class="ovi-row-frmfld-wdh " appearance="outline">
                <input matInput appPlaceholder [showPlaceholder]="false" [placeholderText]="'Owner Department'|translate" formControlName="ownerDepartment"[readonly]="true">
            </mat-form-field>
        </div>
        <div class="ovi-row-two-clmn ovi-matfrmfld-input-box-pdg">
            <mat-label class="ovi-lbl-text-size">{{'Owner'|translate}}</mat-label>
            <mat-form-field class="ovi-row-frmfld-wdh " appearance="outline">
                <input matInput appPlaceholder [showPlaceholder]="false" [placeholderText]="'Owner'|translate" formControlName="ownerName" [readonly]="true">
            </mat-form-field>
        </div>
        <div class="ovi-row-two-clmn ovi-matfrmfld-input-box-pdg">
            <mat-label class="ovi-lbl-text-size">{{'Custodian Department'|translate}}</mat-label>
            <mat-form-field class="ovi-row-frmfld-wdh " appearance="outline">
                <input matInput appPlaceholder [showPlaceholder]="false" [placeholderText]="'Custodian Department'|translate" formControlName="custodianDepartment" [readonly]="true">
            </mat-form-field>
        </div>
        <div class="ovi-row-two-clmn ovi-matfrmfld-input-box-pdg">
            <mat-label class="ovi-lbl-text-size">{{'Custodian'|translate}}</mat-label>
            <mat-form-field class="ovi-row-frmfld-wdh " appearance="outline">
                <input matInput appPlaceholder [showPlaceholder]="false" [placeholderText]="'Custodian'|translate" formControlName="custodianName" [readonly]="true">
            </mat-form-field>
        </div>
        <div *ngIf ="this.data.assetdata.assetTransferType ==='ATT-LN'||this.data.assetdata.assetTransferType ==='ATT-TR'||this.data.assetdata.assetTransferType ==='ATT-TRT'||this.data.assetdata.assetTransferType ==='ATT-LRT'"  class="ovi-row-two-clmn ovi-matfrmfld-input-box-pdg">
            <mat-label class="ovi-lbl-text-size">{{'From'|translate}}</mat-label>
            <mat-form-field class="ovi-row-frmfld-wdh " appearance="outline">
                <input matInput appPlaceholder [showPlaceholder]="false" [placeholderText]="'From'|translate" formControlName="transferFrom"[readonly]="true">
            </mat-form-field>
        </div>
        <div *ngIf ="this.data.assetdata.assetTransferType ==='ATT-LN'||this.data.assetdata.assetTransferType ==='ATT-TR'||this.data.assetdata.assetTransferType ==='ATT-TRT'||this.data.assetdata.assetTransferType ==='ATT-LRT'" class="ovi-row-two-clmn ovi-matfrmfld-input-box-pdg">
            <mat-label class="ovi-lbl-text-size">{{'To'|translate}}</mat-label>
            <mat-form-field class="ovi-row-frmfld-wdh " appearance="outline">
                <input matInput appPlaceholder [showPlaceholder]="false" [placeholderText]="'To'|translate" formControlName="transferTo" [readonly]="true">
            </mat-form-field>
        </div>
        <div class="ovi-row-two-clmn ovi-matfrmfld-input-box-pdg">
            <mat-label class="ovi-lbl-text-size">{{'Initiated By'|translate}}</mat-label>
            <mat-form-field class="ovi-row-frmfld-wdh " appearance="outline">
                <input matInput appPlaceholder [showPlaceholder]="false" [placeholderText]="'Initiated By'|translate" formControlName="transferInitiatedBy"[readonly]="true">
            </mat-form-field>
        </div>
        <div class="ovi-row-two-clmn ovi-matfrmfld-input-box-pdg">
            <mat-label class="ovi-lbl-text-size">{{'Initiated Time'|translate}}</mat-label>
            <mat-form-field class="ovi-row-frmfld-wdh " appearance="outline">
                <input matInput appPlaceholder [showPlaceholder]="false" [placeholderText]="'Initiated Time'|translate" formControlName="initiatedTime"[readonly]="true">
            </mat-form-field>
        </div>
        <div *ngIf ="data.assetInfo.transferEventStatusId ==='ATE-PEN' || data.assetInfo.transferEventStatusId ==='ATE-GENP'" class="ovi-row-two-clmn ovi-matfrmfld-input-box-pdg">
            <mat-label class="ovi-lbl-text-size">{{'Acknowledged By'|translate}}</mat-label>
            <mat-form-field class="ovi-row-frmfld-wdh " appearance="outline">
                <input matInput appPlaceholder [showPlaceholder]="false" [placeholderText]="'Acknowledged By'|translate" formControlName="transferAcknowledgedBy"[readonly]="true">
            </mat-form-field>
        </div>
        <div *ngIf ="data.assetInfo.transferEventStatusId ==='ATE-PEN' || data.assetInfo.transferEventStatusId ==='ATE-GENP'" class="ovi-row-two-clmn ovi-matfrmfld-input-box-pdg">
            <mat-label class="ovi-lbl-text-size">{{'Acknowledged Time'|translate}}</mat-label>
            <mat-form-field class="ovi-row-frmfld-wdh " appearance="outline">
                <input matInput appPlaceholder [showPlaceholder]="false" [placeholderText]="'Acknowledged Time'|translate" formControlName="acknowledgedTime"[readonly]="true">
            </mat-form-field>
        </div>
        <mat-label class="ovi-lbl-text-size">{{'Remarks'|translate}}</mat-label>
        <div style="display:flex;flex-direction:column;justify-content: center;align-items:center;width:94%">
            <mat-form-field class="ovi-row-clmn ovi-row-frmfld-wdh" appearance="outline">
                <textarea matInput appPlaceholder [showPlaceholder]="false" [placeholderText]="'Remarks'|translate" formControlName="comments" maxlength="64"></textarea>
            </mat-form-field>
        </div> 
        <div *ngIf ="data.assetInfo.transferEventStatusId ==='ATE-INI'" class="ovi-lbl-text-size" style="display:flex;justify-content: space-around;font-size:14px; width:96%">{{'Do you acknowledge this Asset '|translate}} {{ type?.replace('Manage', '')}}{{'?'}}</div>
        <div *ngIf ="data.assetInfo.transferEventStatusId ==='ATE-PEN' || data.assetInfo.transferEventStatusId ==='ATE-GENP'" class="ovi-lbl-text-size" style="display:flex;justify-content: space-around;font-size:14px; width:96%">{{'Have you received this Asset?'|translate}}</div>
        </div> 
    </div>

    <div class="ovi-pop-ftr" style="justify-content: center">
        <button mat-button class="active-btn"  appDebounceClick (debounceClick)="saveComments()" [debounceTime]="300">{{'Yes'|translate}}</button>
        <button mat-button class="active-btn" (click)="closeDialog()">{{'No'|translate}}</button>
    </div>
</div>