@import '../../../../../theme/configcolour.scss';

.banner-container {
    margin: 8px 5px;
    height: 160px;
    background: #EDF4F7;
    box-shadow: #63636333 0px 2px 8px 0px;
}

.mat-tab-label.mat-tab-label-active .svg-icon {
    filter: invert(48%) sepia(46%) saturate(1094%) hue-rotate(160deg) brightness(89%) contrast(85%);
}

.svg-icon {
    padding: 0 5px;
    filter: brightness(0) invert(0);
}

.svg-blue {
    filter: invert(48%) sepia(46%) saturate(1094%) hue-rotate(160deg) brightness(89%) contrast(85%);
}

.banner-text{
    font-size: 12px;
    display: flex;
    gap: 5px;
    align-items: center;
}

.tracking-container {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    gap: 70px
  }
  
  .tracking-step {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  .circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #c1c1c1;
    position: relative;
    overflow: hidden;
  }
  


  .active-circle {
    background: var(--primary-bg-color);
  }

  .current-date-circle {
    background: #04cf8b;
  }
  .red-circle {
    background: #ff4141;
  }
  
  .circle img {
    width: 25px;
    height: 25px;
    filter: brightness(0) invert(1);
  }
  
  .dotted-line {
    width: 5.5em;
    height: 2px;
    border-bottom: 2px dashed #c1c1c1;
    position: absolute;
    top: 22px;
    left: 89%;
    transition: border-color 2s ease-in-out;
    transition-delay: calc(0.5s * var(--index));
  }
  
  .value {
    margin-top: 5px;
    font-size: 11px;
    text-align: center;
    width: 79px;
    font-weight: 600;
  }

  .value-1 {
    margin-top: 5px;
    font-size: 9px;
    text-align: center;
    font-weight: 600;
  }

  .value-2 {
    margin-top: 5px;
    font-size: 9px;
    text-align: center;
    color: var(--primary-bg-color);
    font-weight: 600;
  }

  .active-dotted-line {
    border-color: var(--primary-bg-color);
  }

  .info-container {
    background: #edf4f7;
    height: calc(100vh - 347px);
    padding: 20px;
    overflow: auto;
  }

  .info-content{
    background: var(--primary-bg-hghl-color);
    padding: 10px 20px;
  }

  .info-header {
    padding: 5px 0;
    font-size: 14px;
    font-weight: 600;
  }

  .info-lable {
    font-size: 10px;
  }

  .movement-date-container {
    display: flex;
    gap: 10px;
    padding: 5px 10px;
  }

  .movement-date-lable {
    font-size: 13px;
    font-weight: 600;
    height: 24px;
    background: var(--primary-bg-color);
    color: var(--primary-bg-hghl-color);
    width: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
    left: 3px;
    z-index: 1000;
    border-radius: 5px 0px 0px 5px;
  }

