<div style="height: calc(100% - 60px);">
    <mat-toolbar class="ovi-prmry-bg-clr ovi-prmry-wht-clr"  style="height: 45px;">
        <div class="ovi-fnt-sze20" style="width : calc( 100% - 35px);font-weight:600">{{"Create Dynamic Form"|translate}}</div>
        <button mat-icon-button mat-dialog-close> <mat-icon class="ovi-fnt-sze35">highlight_off</mat-icon></button>
    </mat-toolbar>
    <mat-tab-group (selectedTabChange)="onTabChanged($event)">
        <mat-tab label="{{'Basic'|translate}}">
            
        </mat-tab>
        <mat-tab label="{{'Preview'|translate}}">
            <div *ngIf="enableFrmCmp">
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
