<div>
    <tw-header-new-component [type]="'new'" [component]="'patient-relation'" [permission]="null" [dateFilter]="null" [rowFilter]="null" [manageAction]="showActions" [selectDropdown]="selectDropdown" [selectedName]="selectedName !== null ? selectedName : true"
    [locationId]="null" [selectedView]="null"  (selectedViewAction)="null" (headerEventAction)="headerEventAction($event)" [groupFilter]="[]"></tw-header-new-component>
    <div>
        <tw-table-component [component]="'patient-relation'" [columns]="displayedColumns" [tableData]="tableData" [iconHeader]="iconHeader" [iconColumn]="iconColumn" [sortColumn]="sortColumn" [dateTimeColumns]="['Visitor DateTime']" [dateColumns]="['ScheduleDate']"
          [eventColumn]="eventColumn" (eventAction)="eventAction($event)" [applyFilter]="applyFilterValue" [permissionControl]="permissionControl" [pagination]="null" [tableClass]="'table-icon-header'"></tw-table-component>
      </div>
</div>