@import '../../../../../theme/configcolour.scss';

$mh:(
  h1:248px,
  h2:356px,
  h3:198px,
  h4:426px,
  h5:525px,
);
$bp : (
  lap_50:2560px,
  lap_67:1920px,
  lap_75:1707px,
  lap_80:1600px,
  lap_90:1423px,
  lap_100:1280px,
  lap_110:1164px,
  lap_125:1024px,
  lap_150:950px,
  tab_l:846px,
  tab:896px,
  land_scape:695px,
  mob: 565px,
  mob_m:425px,
  mob_l: 445px,
  mob_s: 320px
);
@mixin disp_height($display){
  @each $key,$value in $mh{
    @if ($display==$key){
      @media(max-height:$value){@content;}
    }
  }
}
@mixin query($display){
  @each $key, $value in $bp{
    @if ($display == $key){
      @media (max-width: $value){@content;}
    }
  }
}
.gen-cont {
  display: flex;
  flex-direction: row;
  gap: inherit;
  width: 100%;
   @include query(mob_l){
    flex-direction: column;
    gap: 8px;
    height: 220px;
   }
}
.form-height-por{ //landscape mode
  @include disp_height(h5){height: 80%;}
  @include disp_height(h4){height: 73%;}
  @include disp_height(h2){height: 67%;}
  @include disp_height(h1){height: 48%;}
  @include query(lap_50){height: 440px;}
  @include query(lap_67){height: 446px;}
  @include query(lap_75){height: 450px;}
  @include query(lap_80){height: 450px;}
  @include query(lap_90){height: 450px;}
  @include query(lap_100){height: 450px;}
  @include query(lap_110){height: 413px;}
  @include query(lap_125){height: 350px;}
  @include query(mob){height: 418px;}
  height: 470px;
  overflow: auto;
}

.btn-align-left{
  padding-left: 20px;
  float: left;
  @include query(mob_m){
    float: right;
  }
}
:host ::ng-deep .mat-checkbox-inner-container {
  height: 15px !important;
  width: 15px !important;
}
:host ::ng-deep .glyphicon.glyphicon-globe {
  font-size: 75px;
}
.mat-card {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  position: relative;
  padding: 24px;
}
.mat-card-actions {
  margin-left: -16px;
  margin-right: -16px;
  padding: 8px 0;
}
:host ::ng-deep  .mat-card-header-text {
  margin: 0px 8px;
}
.request-radio
{
	padding:10px 5px;
}
.request-head{
	margin:0px 20px;
	font-size: 16px;
	font-weight: 600;
}

.request-cst-mgn_1{
	margin: 0px 5px
}

.history-padd {
  padding: 10px;
}
.no-request-history{
  text-align: center;
    color: $quaternary-color;
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
    margin-top: 100px;
}
.request-hist-label {

  font-weight: 600;
  font-size: 13px;
}

.tw-mat-table-overflow-history{
  overflow: auto;
  max-height: 300px;
}
.time-divider {
  margin-left: 45px;
  margin-right: 15px;
  width: 63%;
  @include query(lap_125){width: 58%;}
  @include query(tab){width: 50%;}
  display: inline-block;
}
.request-count{
  width: 20%;
  cursor: pointer;
  color: var(--primary-bg-hghl-color);
  background: var(--primary-bg-color);
  border: 5px solid #fcfff9;
  border-radius: 7px;
  font-weight: 600;
  @include query(mob_s){
    width: 20%;
  }
}
.req-type-select {
  border-bottom: 2px solid var(--primary-bg-color);
}
.number-of-porter {
  width: 300px;
  float: right;
  display: flex;
  @include query(land_scape){
    margin-right: -19px;
    width: 210px;
  }
  @include query(mob){
    margin-right: 18px;
  }
  @include query(mob_m){
  width: 207px;
  margin-right: -8px;
  }
  @include query(mob_s){
    width: 145px;
    margin-right: 14px;
    display: inline;
  }
}
.close-align-1 {
  width: 90% !important;
  @include query(mob){
    width: 80% !important;
  }
}
.close-align-por {
  width: 92% !important;
  @include query(lap_125){
    width: 90% !important;
  }
  @include query(tab){
    width: 88% !important;
  }
}

.request-status-align{
  margin-top: -15px;
  @include query(tab){
    margin-top: -4px;
  }
  @include query(mob){
    margin-top: 0px;
  }
}
.request-remarks-align{
  @include query(tab){
    margin-top: -8px;
  }
  @include query(mob){
    margin-top: 0px;
  }
}
.request-no-error-mob{
    display: none;
  @include query(mob){
    display: inline-block;
    width: 100%;
  }
}
.request-no-error-all-view{
    display: inline-block;
    width: 96%;
  @include query(mob){
    display: none;
  }
}
.request-timeslot-align{
  width: 15%;
  display: inline-block;
  @include query(mob){
    width: 25%;
  }
}
// new porter
.new-request-timeslot-align{
  width: 70%;
  @include query(mob){
    width: 50%;
  }
}
.request-card-select{
  margin-top: 5px;


  width: max-content;
  background: #f2f2f2;
  max-height: 35px;
  padding-top: 10px;
  border-radius: 4px;
  @include query(mob){
    max-height: max-content;
    text-align: center;

 
  }
}
.request-header-block{
  width: 489px;
  height: 15px;
  float: right;
  margin-right: -25px;
  padding: 8px;
  background: #c0c0c5;
  margin-top: -23px !important;
  border-radius: 7px 7px 0px 0px;
  justify-content: center;
  display: flex;
  @include query(mob){
    margin-right: -16px;
    width: 194px;
  }
}
.align-backgrd{
  width: 117% !important;
  @include query(mob){
    width: 110% !important;
  }
}
.request-card-btn{
  height: 35px; // new
  margin: 5px 10px 5px 10px !important;
  background: var(--primary-bg-hghl-color);
  color: black;
  font-weight: 400;
  border-radius: 3px;
  padding: 0 8px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.12), 0px 0px 5px 2px rgba(0, 0, 0, 0.24);
}
.seleted-btn{
  margin: 5px 10px 5px 10px !important;
  background: var(--primary-bg-color);
  color:var(--primary-bg-hghl-color);
  font-weight: 400;
  border-radius: 3px;
}
.request-card-button{
  display: flex;
  padding: 0px; // new
  @include query(mob){
    flex-direction: column;
  }
}
.card-height{
  @include query(mob){
    max-height: 135px !important; // old
  }
}
.row-field-request-check{
  margin-top: 30px;
  @include query(mob){
    padding: 10px;
    margin-top: 0px;
  }
}
.action-btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.new-request-head{
	font-size: 16px;
	font-weight: 600;
}
.new-request-type{
	font-size: 16px;
	font-weight: 600;
  padding-right: 0px;
	display: inline;
  margin-top: -5px;
  @include query(mob){
    margin-top: 2px;
  }
}
.new-request-type-pad{
  @include query(lap_125){
  padding-right: 65px;
  }
  @include query(mob){
    padding-right: 10px;
  }
}
.new-number-of-porter {
  padding-top: 10px;
  width: 220px;
  display: flex;
  @include query(land_scape){
    margin-right: -19px;
    width: 210px;
  }
  @include query(mob){
    margin-right: 18px;
  }
  @include query(mob_m){
  width: 207px;
  margin-right: -8px;
  }
  @include query(mob_s){
    width: 128px;
    margin-right: 31px;
    display: inline;
  }
}
.vertical-card {
  float: right;
  margin-left: -10px;
  padding: 8px;
  margin-top: -23px !important;
  border-radius: 7px 0px 0px 7px;
  padding-top: 35px;
  font-size: 16px;
  font-weight: 600;
  @include query(mob){
    max-height: 135px;
    text-align: center;
  }
}
.sub-field {
  display: flex;
  width: 100%;
  gap: 1%;
  @include query(lap){
    width: 50%;
  }
}
.pharm-row-field {
  width: 23%;
  @include query(tab){
    width: 40%;
  }
  @include query(mob){
    width: 85%;
  }
}

.block-request-option{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:2%;
  @include query(mob){
    display: block;
  }
}

.request-form{
  .request-content-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap:20px;
    border-bottom: 1px solid #edf4f7;
    min-height: 40px;
    align-items: flex-end;
    background: #edf4f7;
    @include query(tab_l) {
      flex-direction: column;
      align-items: flex-start;
    }
    @include query(mob) {
      height: 160px;
    }
  }
  .request-content-nav-alternative {
    display: none;
    @include query(lap_150){
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      column-gap:15px;
      align-items: flex-end;
      padding-left: 15px;
        
    }
  }
  .hdr-request-timeline {
    padding-left: 30px;
    @include query(lap_150){
      padding-left: 0px;
    }
  }
  .request-input-width-loc {
    width: 87%;
  }
  .request-input-width {
    width: 92%;
  }
  .request-input-width-loc-room-source {
    width: 43%;
  }
  .request-input-width-room-source {
    width: 60%;
  }
  .request-input-width-loc-source {
    width: 87%;
  }
  .request-input-width-source {
    width: 92%;
  }
  .request-input-width-loc-room-dest {
    width: 43%;
  }
  .request-input-width-room-dest {
    width: 60%;
  }
  .request-input-width-loc-dest {
    width: 87%;
  }
  .request-input-width-dest {
    width: 92%;
  }
  .request-input-width-floor-room {
    width: 43%;
  }
  .request-input-width-left {
    width: 92%;
    @include query(tab_l) {
      width: 89%;
    }
  }
  .req-left-pad {
    padding-left: 0px;
    @include query(tab_l) {
      padding-left: 15px
    }
  }
  .request-porter-group-width-left {
    width: 92%;
    display: flex;
    flex-direction: row;
    gap: inherit;
    @include query(mob) {
      flex-direction: column;
    }
  }
  .request-porter-group-width-loc-list {
    width: 95%;
    display: flex;
    flex-direction: row;
    gap: inherit;
    @include query(mob) {
      flex-direction: column;
    }
  }
  .request-input-porter-group-width {
    width: 50%;
    @include query(mob) {
      width: 100%;
    }
  }
  .request-input-porter-group-width-loc-list {
    width: 25%;
    @include query(mob) {
      width: 94%;
    }
  }
  .request-non-location-right {
    padding: 0px 12px 0px 12px;
    display: none;
    @include query(tab){display: block;}
  }
  .request-non-location-left {
    padding: 0px 12px 0px 12px;
  }
  input[type="date"]::-webkit-calendar-picker-indicator,
    input[type="datetime-local"]::-webkit-calendar-picker-indicator {
      color: rgba(0, 0, 0, 0);
      opacity: 1;
      display: block;
      background-repeat: no-repeat;
      width: 18px;
      height: 20px;
      border-width: thin;
      padding-top: 7px;
    }
  
    input[type="date"],
    input[type="datetime-local"] {
      height: 5px;
      padding-top: 12px;
    }
    .request-custom-checkbox {
      width: 125px;
      height: 30px;
      margin-top: 7px;
      @include query(mob) {
        margin-top: 0px;
      }
      input#status {
        display: none;
        
        // Unchecked State
        + label {
          height: 100%;
          width: 100%;
          > .request-status-switch {
            cursor: pointer;
            width: 100%;
            height: 100%;
            position: relative;
            // background-color: var(--primary-bg-color);
            color: var(--primary-bg-hghl-color);
            transition: all 0.5s ease;
            padding: 3px;
            border-radius: 50px;
            border: 1px solid var(--primary-bg-color);    
            &:before,
            &:after {
              border-radius: 2px;
              height: calc(100% - 5px);
              width: calc(50% - 3px);
              display: flex;
              align-items: center;
              position: absolute;
              justify-content: center;
              transition: all 0.3s ease;
            }
            
            &:before {
              background-color: var(--primary-bg-color);
              color: var(--primary-bg-hghl-color);
              box-shadow: 0 0 4px 4px rgba(#000, 0.2);
              left: 60px;
              border-radius: 25px;
              font-weight: 800;
              width: 70px;
              font-size: 14px;
              z-index: 10;
              content: attr(data-unchecked);
            }
            
            &:after {
              right: 0;
              content: attr(data-checked);
            }
          }
        }
    
        // Checked stae
        &:checked + label > .request-status-switch {
          background-color: #edf4f7;
     
          &:after {
            left: 0;
            content: attr(data-unchecked);
            font-size: 14px;
          }
     
          &:before {
            color: var(--primary-bg-hghl-color);
            left: 2%;
            content: attr(data-checked);
          }
        }
      }
    }
    .request-timeline {
      position: relative;
      width: 100px;      
    }
    .request-timeline-item {
      position: relative;
      margin: 22px 0  25px 0;
      text-align: center;
    }
    .request-timeline-item:not(:last-child)::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      height: 15px;
      border-left: 3px dotted #ccc;
      transform: translateX(-50%);
    }


}
.po-footer {
  display: flex;
  justify-content: flex-end;
  @include query(mob){
    justify-content: center;
  }
  height: 42px;
  // background-color: rgb(237 244 247);
  .po-footer-btn{
    @include query(mob){
      width: 300px;
    }    
    height: 40px;
    color: var(--primary-bg-hghl-color);
    cursor: pointer;
    border: 0px;
    min-width: 80px;
    font-weight: 600;
    margin-right: 10px;
    background: var(--primary-bg-color);
    border-radius: 5px;
    justify-content: center;
  }
}
.reuest-inpt-no-of-porter-contr {
  background: #2b77ad0f;
  border: 1px solid #2b77ad;
  border-radius: 15px;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 13px;
  font-weight: 600;
  display: flex;
  @include query(mob){
    width: 375px;
  }
  @include query(mob_m){
    width: 325px;
  }
  @include query(mob_s){
    width: 275px;
  }
}
.request-inpt-no-of-porter-active {
  border-radius: 40%;
  color: #fff;
  border: 2px solid var(--primary-bg-color);
  text-align: center;
  position: relative;
  margin-left: 2.6px;
  margin-right: 5px;
  min-width: 1.5em;
  height: 1.5em;
  font-size: 19px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.request-inpt-no-of-porter {
  border-radius: 40%;
  background: #fff;
  color: #000;
  border: 1px solid #00000029;
  text-align: center;
  position: relative;
  margin-left: 2.6px;
  margin-right: 5px;
  min-width: 1.5em;
  height: 1.5em;
  font-size: 19px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.request-inpt-priority-box-contr {
  font-size: 13px;
  width: 100%;
  display: flex;
  height: 80px;
  width: 140px;
  border-radius: 8px;
  border: 1px solid #00000029;
  font-weight: 600;
}
.request-inpt-priority-box-contr-active {
  font-size: 13px;
  width: 100%;
  display: flex;
  height: 80px;
  width: 140px;
  border-radius: 8px;
  border: 1px solid var(--primary-bg-color);
  color: var(--primary-bg-color);
  background: #a3c8e721;
  font-weight: 600;
}
.request-inpt-oxygen-box-contr {
  font-size: 13px;
  display: flex;
  border-radius: 8px;
  border: 2px solid #10a984;
  font-weight: 600;
  background: #10a9840a;
  border: 1px solid #10a984;
  width: 38%;
  height: 50px;
  @include query(mob_l) {
    width: 58%;
  }
}
.req-slide {
  display: flex;
  justify-content: flex-end;
  width: 65%;
  @include query(mob_s){
    width: 20%;
  }
}
.req-oxy-contr {
  display: flex;
  width: 220px;
  @include query(mob_s){
    width: 200px;
  }
}
.request-inpt-prefix-box-contr {
  display: flex;
  .mat-custom-form-field-box .mat-form-field-appearance-outline .mat-form-field-infix {
    display: flex !important;
  }
}


.request-inpt-prefix-box {
  height: 36px;
  min-width: 40px;
  padding: 5px 0px 0px 10px;
  border: 1px solid var(--primary-bg-color);
  background-color: var(--primary-bg-color);
  border-radius: 4px 0px 0px 4px;
  margin-top: 6px;
}

@media (min-width:2880px) {
  .request-inpt-prefix-box {
    height: 32px;
    padding: 5px 0px 0px 10px;
  }
}
.request-inpt-prefix-box-add {
  height: 29px;
  padding: 5px;
  border: 1px solid var(--primary-bg-color);
  background-color: var(--primary-bg-color);
  border-radius: 4px;
  margin-top: 5px;
}

.request-limit-reached {
  background: #cfefe3;
}
.loc-more {
  text-align: center;
  height: 25px;
  cursor: pointer;
  font-weight: bold;
  position: sticky;
  bottom: 0;
  z-index: 11;
  color: var(--primary-bg-color);
  background: var(--primary-bg-hghl-color);
}
/* ================= LEFT RIGHT RESPONSIVE LAYOUT ================= */

.request-lr-wrapper {
  display: flex;
  flex-direction: row;
  // gap: 24px;
  width: 100%;
  // height: 100vh;
}

/* LEFT / RIGHT */
.request-left-panel,
.request-right-panel {
  flex: 1;
}

/* DIVIDER */
.request-divider {
  align-self: stretch;
  opacity: 0.5;
  border-right: 2px solid lightgray !important;
}

/* ================= TABLET ================= */
@include query(tab) {
  .request-lr-wrapper {
    flex-direction: column;
  }

  .request-divider {
    display: none;
  }

  .request-left-panel,
  .request-right-panel {
    width: 100%;
  }
}

/* ================= MOBILE ================= */
@include query(mob) {
  .request-lr-wrapper {
    gap: 12px;
  }
}
.req-type-btn {
  color: #555;
  font-weight: 600;
  border-radius: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  background: #edf4f7 !important;
}
.req-circle {
  text-align: center;
  position: relative;
  border-radius: 50%;
  margin-left: 2.6px;
  margin-right: 5px;
  min-width: 1.5em;
  height: 1.5em;
  font-size: 19px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #F2F7FA;
  color: grey;
  cursor: pointer;
}
.req-main-cntr {
  height: 100%;
  display: flex; 
  align-items: center;
  padding-left: 10px;
  justify-content: space-between;
}
.req-type-cntr {
  // flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 38px;
}
.req-type-sub-cntr {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // gap: 10px;
  align-content: center;
}
.req-status-cntr {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 20px;
  height: 50px;
  @include query(mob) {
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 10px;
  }
}
.req-initial-title {
  padding: 5px 15px 0px 10px;
}
.req-title-header-text {
  color: black;
  display: flex;
  font-weight: 600;
  font-size: 13px;
}
.req-title-text {
  padding-top: 5px;
}
.req-field {
  display: flex;
  flex-flow: row wrap;
  column-gap: 7px;
}
.req-dark-green {
  color: #10a984 !important;
}
.req-bg-dark-green {
  background: #10a984 !important;
}
.req-red {
  color: #cd3c40 !important;
}
.req-blue {
  color: #1166A3 !important;
}
.req-box-contr {
  display: flex;
  padding: 8px;
  width: 100%;
}
.request-pri-level {
  display: flex;
  flex-direction: row;
  gap: inherit;
  @include query(mob){
    display: flex;
    flex-direction: column;
    gap: 10px
  }
}
.req-dec-btn {
  margin-top: 5px;
  cursor: pointer;
  color: white;
  border: 1px solid #10a984;
  border-radius: 30px;
  font-weight: 600;
  height: 20px;
  padding: 0px 7px 0px 6px;margin-top: 5px;
  cursor: pointer;
  color: white;
  border: 1px solid #10a984;
  border-radius: 30px;
  font-weight: 600;
  height: 20px;
  padding: 0px 7px 0px 6px;
}
.req-inc-btn {
  cursor: pointer;
  color: white;
  border: 5px solid #fcfff9;
  border-radius: 30px;
  font-weight: 600;
  height: 29px;
}