<div class="ovi-font-family  ovi-fnt-sze14" style="height: calc(100% - 386px);">
<div class="content">
    <div>
      <div class="mob-card" style="width: 150px;height: 153px;">
        <div (click)="openQRCodeDialog($event)" style="display: flex;align-items: center;height: 120px;" (keydown.enter)="fixClick()">
          <mat-icon class="mob-card-image  ovi-fnt-sze55" style="display: flex;justify-content: center;align-items: center; color: #0088ff;">qr_code</mat-icon>
        </div>
        <div class="mob-card-content">
          <span class="mob-card-button">{{"QR Scanner"|translate}}</span>
        </div>
      </div>
    </div>
  </div>
  <mat-divider class="divider"></mat-divider>
  <div class="content">
    <div class="mob-card-container">
      <div class="mob-card" style="width: 127px;" *ngIf="activate_btn.includes('BT-PWAPRCR')">
        <div (click)="openPorterRqs($event)" class="mob-card-header" (keydown.enter)="fixClick()">
          <img class="mob-card-image" src="assets/Dashboard -mob/Porter.svg" alt="Create Porter Icon">
        </div>
        <div class="mob-card-content">
          <span class="mob-card-button">{{"Porter Request"|translate}}</span>
        </div>
      </div>

      <div class="mob-card" style="width: 127px;" *ngIf="activate_btn.includes('BT-PWATSKCR') || true">
        <div (click)="onItemClick($event)"class="mob-card-header" (keydown.enter)="fixClick()">
          <img class="mob-card-image" src="assets/Dashboard -mob/clipboard-check-multiple-outline.svg"
            alt="Create Task Icon">
        </div>
        <div class="mob-card-content">
          <span class="mob-card-button">{{"Create Ticket"|translate}}</span>
        </div>
      </div>

      <div class="mob-card" style="width: 127px;" *ngIf="activate_btn.includes('BT-PWAJRCR')">
        <div class="mob-card-header">
          <img class="mob-card-image" src="assets/Dashboard -mob/Layer_17.svg" alt="Janitor Routine Icon">
        </div>
        <div class="mob-card-content">
          <span [ngClass]="isDisabled ? 'mob-card-hide-buttons' : 'mob-card-button'">{{"Janitor Routine"|translate}}</span>
        </div>
      </div>

      <div class="mob-card" style="width: 127px;" *ngIf="activate_btn.includes('BT-PWARMCL')">
        <div class="mob-card-header">
          <img class="mob-card-image" src="assets/Dashboard -mob/text-box-check-outline.svg" alt="Room Checklist Icon">
        </div>
        <div class="mob-card-content">
          <span [ngClass]="isDisabled ? 'mob-card-hide-buttons' : 'mob-card-button'">{{"Room Checklist"|translate}}</span>
        </div>
      </div>
      <div *ngIf="activate_btn.includes('BT-PWATASK')" class="mob-card" style="width: 127px;">
        <div (click)="redirectTo('task')" class="mob-card-header" (keydown.enter)="fixClick()">
          <img class="mob-card-image" src="assets/Dashboard -mob/text-box-check-outline.svg" alt="task">
        </div>
        <div class="mob-card-content">
          <span [ngClass]="isDisabled ? 'mob-card-button' : 'mob-card-button'">{{"Task"|translate}}</span>
        </div>
      </div>
      <div *ngIf="activate_btn.includes('BT-PWAASSET')"  class="mob-card" style="width: 127px;">
        <div  (click)="redirectTo('asset')" class="mob-card-header" (keydown.enter)="fixClick()">
          <span>
            <img class="mob-card-image" src="/assets/Menus/SMW_asset_management.svg" alt="asset">
          </span>
        </div>
        <div class="mob-card-content">
          <span [ngClass]="isDisabled ? 'mob-card-button' : 'mob-card-button'">{{"Asset"|translate}}</span>
        </div>
      </div>
    </div>

  </div>
  <div style="display: flex;flex-direction: column;row-gap: 12px;" *ngIf="false">
    <div style="display: flex;justify-content: center;width: 100%;">
      <button mat-button class="active-btn" style="width: 88%;" (click)="createPorterReq()">{{"Porter Request"|translate}}</button>
    </div>
    <div style="display: flex;flex-direction: column;row-gap: 10px;">
      <div style="display: flex;justify-content: center;width: 100%;" *ngFor="let det of porterReqData">
        <div class="card" style="padding: 5px;">
          <div style="display: flex;flex-direction: column;row-gap: 10px;">
            <div style="display: block;width: 70%;">
              <div style="font-weight: 600;">{{"Waitlisted"|translate}}</div>
            </div>
            <div style="display: block;">
              <div style="display: flex;flex-direction: row;column-gap: 18px;">
                <div style="display: flex;flex-direction: column;">
                  <div class="ovi-fnt-sze-sml">{{"Pickup"|translate}}</div>
                  <div>{{det['sourceLocName']}}</div>
                </div>
                <div style="display: flex;flex-direction: column;">
                  <div class="ovi-fnt-sze-sml">{{"Drop"|translate}}</div>
                  <div>{{det['destinationLocName']}}</div>
                </div>
              </div>
            </div>
            <div style="display: block;">
              <div style="display: flex;flex-direction: row;column-gap: 18px;">
                <div style="display: flex;flex-direction: column;">
                  <div class="ovi-fnt-sze-sml">{{"Type"|translate}}</div>
                  <div>{{det['assetCategoryName']}}</div>
                </div>
                <div style="display: flex;flex-direction: column;">
                  <div class="ovi-fnt-sze-sml">{{"Needed"|translate}}</div>
                  <div>{{det['poolLocationName']}}</div>
                </div>
                <div style="display: flex;flex-direction: column;">
                  <div class="ovi-fnt-sze-sml">{{"Group"|translate}}</div>
                  <div>{{det['serviceGroupName']}}</div>
                </div>
                <div style="display: flex;flex-direction: column;">
                  <div class="ovi-fnt-sze-sml">{{"Porter Count"|translate}}</div>
                  <div>{{det['porterCount']}}</div>
                </div>
              </div>
            </div>
            <div style="display: block;">
              <div style="display: flex;flex-direction: row;column-gap: 18px;">
                <div style="display: flex;flex-direction: column;">
                  <div class="ovi-fnt-sze-sml">{{"Description"|translate}}</div>
                  <div>{{det['description']}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
