<div class="manage-body container-fluid">

  <tw-header-new-component [component]="'employee'" [permission]="null" [dateFilter]="null" [selectFilter]="selectFilter" [rowFilter]="rowFilter" [optAll]="false" [manageAction]="showActions" [selectDropdown]="selectDropdown" [selectedName]="selectedName !== null ? selectedName : true"
  [locationId]="null" [selectedView]="null" [multiView]="false" (selectedViewAction)="null" (headerEventAction)="headerEventAction($event)"></tw-header-new-component>
  <div>
    <tw-table-component [component]="'employee'" [columns]="HCDisplayedColumns" [tableData]="tableData" [iconHeader]="iconHeader" [iconColumn]="iconColumn" [sortColumn]="sortColumn" [dateColumns]="dateColumns"
     [eventColumn]="eventColumn" (eventAction)="eventAction($event)" [applyFilter]="applyFilterValue" [permissionControl]="permissionControl" [pagination]="null"></tw-table-component>
</div>
</div>
