$bp : (
  desktop:1440px,
  lap:1024px,
   tab : 768px,
   mob: 565px,
   mob_m:425px,
   mob_s: 320px
  
);
@mixin query($display){
  @each $key, $value in $bp{
    @if ($display == $key){
      @media (max-width: $value){@content;}
    }
  }
}
.male {
  color: #00cccb;
  font-size: 11px;
  font-weight: 600;
}
.block-1{
  display: flex;
  flex-direction: row;
  @include query(mob){
    flex-direction: column;
    gap:5%;
  }
}
.tw-view-full-width-2{
  @include query(mob){
    float:left;
    margin-left: 5%;
  }
}
.row-field{
  @include query(mob){
    width:90%;
    float:left;
  }
}
.female {
 
  font-size: 11px;
  color: #ff00fe;
  font-weight: 600;
}
.mobile_phone{
  background-image: url("/assets/Alert/common_icons/mobile_phone.svg");
  background-size: 23px 23px;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: left center;
  cursor: pointer;
}
.mobile_phone_grey{
  background-image: url("/assets/Alert/common_icons/mobile_phone-g.svg");
  background-size: 23px 23px;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: left center;
  cursor: pointer;
}
.coaster{
  background-image: url("/assets/Alert/common_icons/coaster.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: left center;
  cursor: pointer;
}
.coaster_grey{
  background-image: url("/assets/Alert/common_icons/coaster-g.svg");
  background-size: 23px 23px;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: left center;
  cursor: pointer;
}
.coaster_blank{
  background-image: url("/assets/Alert/common_icons/coaster-g.svg");
  background-size: 23px 23px;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: left center;
  cursor: pointer;
}
