@import '../../../../../theme/configcolour.scss';

$bp : ( 
zoom_125: 1400px,
zoom_150: 1030px,
desktop_l:2560px,
desktop:1440px,
lap_1:1706.67px,
lap:1024px,
tab_m:1000px,
tab : 768px,
mob_x: 735px,
tab_s:716px,
mob: 565px,
mob_xl:640px,
mob_l: 475px,
mob_m: 424px,
mob_s: 320px,
);
@mixin query($display){  
  @each $key, $value in $bp{
    @if ($display == $key){
      @media (max-width: $value){@content;}
    }
  }
}
.report-header1{
  border-start-start-radius: 50px;
  transform: skewX(30deg);
  background-color: #3b86ff;
  width: 100%;
  text-align: center;
  margin-top: -8px;
  margin-left: 5px;
  height: 64px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
    @include query(tab_m) {
      display: none;
    }
}
.report-header2 {
  margin-left: 10px;
  transform: skewX(-30deg);
  color: var(--primary-bg-hghl-color);
  font-size: 13px;
  font-weight: 600;
  padding-top: 20px;
}
.report-label01 {
    border-end-start-radius: 10px;
    border-start-start-radius: 10px;
    background-color: var(--primary-bg-color);
    color: var(--primary-bg-hghl-color);
    padding: 8px 0px 10px;
    font-size: 11px;
    font-weight: 600;
    box-shadow: 1px 2px 6px #00000029;
    min-width: 10%;
}
.report-select01 {
    border: 0.5px solid #B1B1B1 !important;
    padding: 8px 8px 7px 8px;
    background: var(--primary-bg-hghl-color);
    box-shadow: 1px 2px 6px #00000029;
    border-radius: 0px 10px 10px 0px;
    height: auto;
    font-size: 11px;
    min-width: calc(100% - 10%);
    @include query(tab_m) {
      margin-left: 0px;
    }
}
.report-select02{
    padding:8px 8px 7px 8px !important;
    border: 0.5px solid #B1B1B1 !important;
    background: var(--primary-bg-hghl-color);
    box-shadow: 1px 2px 6px #00000029;
    font-size: 12px;
    border-radius: 4px;
  }
  .report-box {
    margin-top: -5px;
    margin-left: 10px;
    @include query(tab_m) {
      margin-left: 0px;
    }
  }
  .report-inputs {
    float: left; 
    display: flex; 
    padding-top: 2px;
    flex-flow: inherit;
    flex-flow: wrap;
    height: auto;
    width: inherit;
    @include query(mob_xl) {
      float: none;
    }
  }
  .report-doc {
    float: right;
    padding-top: 20px;
    display: block;
    width: 10%;
    text-align: end;

  }
.dq-main-wrapper{
    i.material-icons {
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--primary-bg-color);
        position: relative; 
        border-radius: 50%;
        padding: 5px;
        margin: 3px;
        transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
        }
        
        i.material-icons:after {
        content: "";
        width: 100%;
        height: 100%;
        border: solid 2px;
        transform: scale(0.8);
        position: absolute;
        top: -2px;
        left: -2px;
        border-radius: 50%;
        transition: all 0.3s ease;
        }
        
        i.material-icons:active:after {
        transform: scale(1);
        }
        
        i.material-icons:nth-of-type(1) {
        background-color: transparent;
        }
        
        i.material-icons:nth-of-type(1):active {
        color: transparent;
        }
        
        i.material-icons:nth-of-type(1):after {
        border-color: transparent;
        }
        
        
        i.material-icons:active{
        background-color: transparent;
        transform: rotate(360deg);
        cursor: pointer;
        box-shadow: none;
        }
        
        p {
        color: #999;
        font-weight: 300;
        margin-top: 20px;
        }
        
        @media (min-width:601px) {
        i.material-icons {
        padding:3px;
        font-size:1.8rem;
        font-weight: 600;
        }
        }
        
        @media (min-width:993px) {
          i.material-icons {
            padding:0px;
            margin: 6px 0px 19px 0px;
            font-size:1.8rem;
            font-weight: 600;
          }
        i.material-icons:after {
        border-width:3px;
        top:-3px;
        left:-3px;
        }
    }
}
.report-date {
    width: 135px;
    height: 45px;
    margin-left: 30px;
    margin-right: -20px;
}
mat-button-toggle {
  background-color: #e0e0e0;
}
.mat-button-toggle-checked {
  background-color: #3b86ff !important;
  color: var(--primary-bg-hghl-color);
}
