@import '../../../../../theme/configcolour.scss';

.circle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ccc;
}

.title-Name {
    padding: 10px 20px 15px;
    font-weight: 600;
}
.creat-Btn {
    height: 35px; // new
    margin: 5px 10px 5px 10px !important;
    background: #d61820;
    color: var(--primary-bg-hghl-color);
    font-weight: 400;
    border-radius: 3px;
    padding: 0 8px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.12), 0px 0px 5px 2px rgba(0, 0, 0, 0.24);
}

.search-align {
    display: flex;
    height: 30px;
    width: 220px;
    background-color: var(--primary-bg-hghl-color);
    font-size: 12px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.12), 0px 0px 5px 2px rgba(0, 0, 0, 0.24);
}

.uplaod-box {
    height: calc(100% - 210px);
    margin-left: 45px;
    width: 90%;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.12), 0px 0px 5px 2px rgba(0, 0, 0, 0.24) !important;
}

.item {
    border-bottom: 1px solid #ddd;
    height: 75px !important;
    width: 100% !important;
    .mat-list-item-content{
        display: block !important;
    }
    .replace{
        display: none;
    }
}

.item:hover {
    border: 1px solid #1b1b1bbd;
    .replace{
        display: block;
        margin-top: 20px 
    }
}

.new-item {
    height: 75px !important;
    width: 100% !important;
}

.thumbnail-img {
    padding: 3px;
    width: 100px;
    height: 60px;
    object-fit: cover;
}

.duration {
    width: 45px;
    display: flex;
    position: relative;
    margin-top: -23px;
    margin-left: 50px;
    background: #6d6d6d;
    color: var(--primary-bg-hghl-color);
    border-radius: 20px;
    font-weight: 600;
    padding-left: 4px;
    font-size: 10px;
}

.time-input{
    font-size: 14px !important;
    font-weight: 600;
}

.time-insert{
    .mat-form-field-infix {
        padding: 0.5em 0;
        border-top: 0.24375em solid transparent !important;
    }
    .mat-form-field-flex {
        display: inline-flex;
        box-sizing: border-box;
        width: 100%;
        align-items: center;
    }
}

.table-title {
    font-size: 13px;
    padding: 5px 9px;
    min-width: 350px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 20px;
    font-weight: 600;
}

.select{
    height: 30px;
    width: 85%;
    font-size: 11px;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 10px;
}

#box1 {
    padding: 9px 9px;
    border: 1px solid $secondary-color;
    font-weight: 600;
    color: var(--primary-bg-hghl-color);
    background-color: #D61820 ;
    font-size: 13px;
    border-right: none;
    border-radius: 4px 0px 0px 4px;
    margin-left: 10px;
    height: 15px;
    margin-top: 2.8px;
  }

  #box2{
    margin-top: 3px;
    height: 25px;
    width: 117px;
    background: var(--primary-bg-hghl-color);
    border: 1px solid $secondary-color;
    padding-top: 2px;
    padding-bottom: 6px;
    border-radius: 0px 4px 4px 0px;
  }

  .live {
    margin: 0px 2px;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 50px;
  }

  .ti-btn{
    background: #23af46;
    color: var(--primary-bg-hghl-color);
    display: flex;
    height: 20px;
    width: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 11px;
    cursor: pointer;
  }