@import '../../../../../theme/configcolour.scss';

$mh:(
  h0:280px,
  h1:321px,
  h2:356px,
  h3:376px,
  h4:426px,
  h5:476px,
  h6:536px,
  h7:590px,
);
@mixin disp_height($display){
    @each $key,$value in $mh{
      @if ($display==$key){
        @media(max-height:$value){@content;}
      }
    }
  }
$bp : (
  lap_50:2560px,
  lap_67:1920px,
  lap_75:1707px,
  lap_80:1600px,
  lap_90:1423px,
  lap_100:1280px,
  lap_110:1164px,
  lap_125:1024px,
  lap_150:950px,
  tab:896px,
  land_scape:695px,
  mob: 565px,
  mob_m:425px,
  mob_s: 320px
);
@mixin query($display){
  @each $key, $value in $bp{
    @if ($display == $key){
      @media (max-width: $value){@content;}
    }
  }
}
  .hazmat-radio{
    margin:0px 10px;
  }
  .filter-box1-box2
  {
    display: flex;
  }
 
  #filter-box11{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 31px;
    min-width: 15px;
    padding: 0px 4px 0px 4px;
    border:1px solid var(--primary-bg-color);
    font-weight: 600;
    color: var(--primary-bg-hghl-color);
    background-color: var(--primary-bg-color);
    font-size: 11px;
    border-right: none;
    border-radius: 5px 0px 0px 5px;
    position: relative;
    margin-right: 0px;
    margin-top: 24px;
    @include query(mob){
      height: 33px;
    }
  }
