.bottom-sheet-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white; 
  z-index: 1100;
  height: 91%;
  border-radius: 10px;
  margin-top: 70px;
}

.bottom-sheet-content {
  height: 85vh !important;
  border-radius: 20px 20px 0 0;
  padding: 16px;
  overflow: auto;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

.sheet-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #0c6a97;
}

.close-icon {
  cursor: pointer;
}

.section-title {
  gap: 8px;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-content: center;
  align-items: center;
  margin-bottom: 8px;
  color: #161717;
}

info-block {
  margin-bottom: 10px;
}

.asset-icon {
  height: 20px;
  width: 20px;
  object-fit: contain;
  margin-right: 8px;
}

.actions {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin-top: 20px;
  text-align: center;
}

.actions button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  cursor: pointer;
}

.icon-box {
  width: 30px;
  height: 30px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2px;
  transition: background 0.2s ease-in-out;
}

.icon-box .icon-blue {
  color: #0c6a97;
  transition: color 0.2s ease-in-out;
}

.icon-box.selected {
  background-color: #0c6a97;
  width: 25px;
  height: 25px;
  padding: 4px;
}

.icon-box.selected .icon-blue {
  color: white !important;
  margin-top: -5px;
}

.actions span {
  font-size: 13px;
  margin-top: 2px;
  display: contents;
  word-break: break-word;
}

@media (min-width: 768px) {
  .actions {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}

.icon-box.blue-icon-box {
  width: 30px;
  height: 30px;
  border-radius: 8px;
  background-color: #0c6a97;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-box.blue-icon-box mat-icon {
  color: white !important;
  font-size: 20px;
}

.custom-menu .mat-menu-item {
  display: flex;
  align-items: center;
}

.menu-icon {
  font-size: 24px;
  width: 24px;
  margin-right: 16px;
  color: white;
}

.label{
  max-width:100px;
  font-size: 12px;
}

.value {
  font-size: 12px;
  font-weight: bold;
}

.custom-bottom-wrapper{
  height:100%;
}

.audit-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
}

.audit-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  padding: 5px;
  transition: transform 0.2s ease;
  display: flex;
  flex-direction: column;
}

.audit-card:hover {
  transform: translateY(-4px);
}

.audit-card-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.audit-field {
  display: flex;
  flex-direction: column;
}

.close-slider {
  height: 5px;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.close-slider-act-btn {
  display: block;
  height: 5px;
  background: grey;
  border-radius: 10px;
  width: 150px;
}

.blue-icon-box {
  width: 24px;
  height: 24px;
  border-radius: 6px;
  background-color: #0c6a97;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-icon {
  font-size: 16px !important;
  width: 16px !important;
  height: 16px !important;
  color: white !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top:0px !important;
}