<div class="loading-spinner" *ngIf="loading">
    <div class="spinnerload">
        <div class="spin1"></div>
        <div class="spin2"></div>
        <div class="spin3"></div>
    </div>
</div>
<div class="manage-body">
    <div>
        <tw-header-new-component [component]="'dataItem'" [permission]="null" [dateFilter]="null" [rowFilter]="null"
            [manageAction]="showActions" [selectDropdown]="selectDropdown"
            [selectedName]="selectedName !== null ? selectedName : true" [locationId]="null"
            [selectedView]="selectedView" [multiView]="false" (selectedViewAction)="null"
            (headerEventAction)="headerEventAction($event)"></tw-header-new-component>
    </div>
    <div>
        <tw-table-component [component]="'dataItem'" [columns]="displayedColumns" [tableData]="tableData"
            [iconHeader]="iconHeader" [iconColumn]="iconColumn" [sortColumn]="sortColumn" [eventColumn]="[null]"
            [rowClick]="true" (rowClickAction)="rowClick($event)" [rowId]="'id'" [rowDbClick]="false" [applyFilter]="applyFilterValue"
            [permissionControl]="permissionControl" [pagination]="[{length: length, pageSize: pageSize, pageStart: pageStart}]"  [tableClass]="'table-with-header'">
        </tw-table-component>
    </div>
</div>