@import '../../../../../theme/configcolour.scss';


.input-header {
	h1 {
		padding: 0px;
	}
}

/* mouse over link */
.row_click:hover {
    color: blue;
    text-decoration: none;
  }
  
@media (max-width: 767px){
    .mat-table-overflow{
        overflow: auto;
    }
        .mat-form-field{
            height: 65px;
            width: 100%;
        }
}
.oflw-style{
    overflow: hidden;
}
.pad-style{
    padding-right:5px;
}
.bg-colr-style{
    background: var(--primary-bg-hghl-color);
}
.cont-style{
    display:flex !important; justify-content:left!important;
}
.exp-colp-style{
    font-size:20px;padding-right:5px;cursor: pointer;
}
.manage-table-header{
    justify-content:left!important;
    flex-grow: 3;
}
.mat-cell{
    background-color: var(--primary-bg-hghl-color);
}

.detail-row{
    .mat-header-cell{
        background-color: #aec4d3;
    }
    .style2{
        overflow-wrap: anywhere;
        background-color:var(--primary-bg-hghl-color) ;
        display:flex;
        font-size:12px;
    }
    .style1{
        background-color:var(--primary-bg-hghl-color) ;
        font-size:12px;
        flex-grow: 3;
    }
}

/*------------------ Introduced to achieve a better view in IE 11 ------------------*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
    .mat-cell, mat-footer-cell, mat-header-cell{
        height: 40px;
        margin-right: 0.5%;
        display: flex;
        justify-content: flex-start;
    }
    mat-header-cell {
        display: flex;
        justify-content: flex-start;
    }
}

.style3{
    flex-grow: 1.5;
}
.style{
    flex-grow : 2;
}
.style5{
    flex-shrink : 1.5;
}
.style6{
    flex-grow : 5.5;
}


/*------------------ Introduced to achieve a better view in IE 11 ------------------*/
