<div>
    <tw-header-new-component [component]="'holiday'" 
        [permission]="null" [dateFilter]="null" [rowFilter]="null" 
        [manageAction]="showActions" [selectDropdown]="selectDropdown" 
        [selectedName]="selectedName !== null ? selectedName : true"
        [locationId]="null" [selectedView]="selectedView" [multiView]="false" [startDateFilter]="startDate" [endDateFilter]="endDate"
        (selectedViewAction)="null" (headerEventAction)="headerEventAction($event)">
    </tw-header-new-component>
</div>
<div>
    <tw-table-component [component]="'holiday'" 
        [columns]="displayedColumns" [tableData]="tableData"
        [iconHeader]="iconHeader" [iconColumn]="iconColumn"
        [sortColumn]="sortColumn" [eventColumn]="[null]"
        [rowClick]="true" [rowId]="'id'" [rowDbClick]="false" (rowDbClickAction)="createHoliday()"
        [applyFilter]="applyFilterValue" [permissionControl]="permissionControl" [pagination]="null" [tableClass]="'table-with-header'">
    </tw-table-component>
</div>