<div class="input-component-holder ovi-font-family" style="height:100% ;width:100%;">
    <div class="ovi-pop-hdr">
        <div *ngIf="!this.data">{{"Create Health Test"|translate}}</div>
        <div *ngIf="this.data">{{"Edit Health Test"|translate}}</div>
        <div mat-dialog-close><mat-icon>highlight_off</mat-icon></div>
    </div>
    <div class="ovi-matfrmfld ovi-matfrmfld-box-top-btm-pdg popup-margin" style="overflow: auto;height:calc(100% - 85px);">
        <div class="ovi-row-gap" [formGroup]="createHealthTestForm">
                    <div class="ovi-row-three-clmn ovi-matfrmfld-input-box-pdg">
                            <mat-label class="ovi-lbl-text-size">{{"Name"|translate}}  <span class="mandatory-field">*</span></mat-label>
                            <mat-form-field class="ovi-row-frmfld-wdh ovi-matfrmfld-err" appearance="outline">
                                <input matInput appPlaceholder [showPlaceholder]="false" [placeholderText]="'Name'|translate" autocomplete="off" formControlName="name">
                                <mat-error *ngIf="createHealthTestForm.controls.name.invalid">
                                    <span [hidden]="!createHealthTestForm.controls['name'].errors.required">{{"Name
                                        is required."|translate}}</span>
                                </mat-error>
                            </mat-form-field>
                    </div>
                    <div class="ovi-row-three-clmn ovi-matfrmfld-input-box-pdg">
                            <mat-label class="ovi-lbl-text-size">{{"Short Name"|translate}} </mat-label>
                            <mat-form-field class="ovi-row-frmfld-wdh " appearance="outline">
                                <input matInput appPlaceholder [showPlaceholder]="false" [placeholderText]="'Short Name'|translate" autocomplete="off" formControlName="shortName">
                            </mat-form-field>
                    </div>
                    <div class="ovi-row-three-clmn ovi-matfrmfld-drpdwn-top-box">
                            <mat-label class="ovi-lbl-text-size">{{"Plan Type"|translate}} <span class="mandatory-field">*</span></mat-label>
                            <mat-form-field class="ovi-row-frmfld-wdh ovi-matfrmfld-err" appearance="outline">
                                <mat-select appPlaceholder [showPlaceholder]="false" [placeholderText]="'Plan Type'|translate" formControlName="planTypeId"[disableOptionCentering]="true">
                                    <mat-option *ngFor="let data of healthPlanList" [value]="data.code">
                                        {{data.value}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="createHealthTestForm.controls.planTypeId.invalid">
                                    <span [hidden]="!createHealthTestForm.controls['planTypeId'].errors.required">{{"Plan Type
                                        is required."|translate}}</span>
                                </mat-error>
                            </mat-form-field>
                    </div>
                    <div class="ovi-row-three-clmn ovi-matfrmfld-drpdwn-top-box">
                            <mat-label class="ovi-lbl-text-size">{{"Test Category"|translate}} <span class="mandatory-field">*</span></mat-label>
                            <mat-form-field class="ovi-row-frmfld-wdh ovi-matfrmfld-err" appearance="outline">
                                <mat-select appPlaceholder [showPlaceholder]="false" [placeholderText]="'Test Category'|translate" formControlName="testCategoryId"[disableOptionCentering]="true">
                                    <mat-option *ngFor="let data of testCategoryList" [value]="data.code">
                                        {{data.value}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="createHealthTestForm.controls.testCategoryId.invalid">
                                    <span [hidden]="!createHealthTestForm.controls['testCategoryId'].errors.required">{{"Test Category Id is Rquired"|translate}}.</span>
                                </mat-error>
                            </mat-form-field>
                    </div>
                    <div class="ovi-row-three-clmn ovi-matfrmfld-textarea-top-box">
                            <mat-label class="ovi-lbl-text-size">{{"Short Notes"|translate}}</mat-label>
                            <mat-form-field class="ovi-row-frmfld-wdh " appearance="outline">
                                <textarea input matInput appPlaceholder [showPlaceholder]="false" [placeholderText]="'Short Notes'|translate" rows=2
                                    formControlName="shortNotes"></textarea>
                            </mat-form-field>
                    </div>
                    <div class="ovi-row-three-clmn ovi-matfrmfld-textarea-top-box">
                            <mat-label class="ovi-lbl-text-size">{{"Long Notes"|translate}}</mat-label>
                            <mat-form-field class="ovi-row-frmfld-wdh " appearance="outline">
                                <textarea input matInput appPlaceholder [showPlaceholder]="false" [placeholderText]="'Long Notes'|translate" rows=2
                                    formControlName="longNotes"></textarea>
                            </mat-form-field>
                    </div>
                    <div class="ovi-row-three-clmn ovi-matfrmfld-input-box-pdg">
                            <mat-label class="ovi-lbl-text-size">{{"Min Duration (Mins)"|translate}}</mat-label>
                            <mat-form-field class="ovi-row-frmfld-wdh ovi-matfrmfld-err" appearance="outline">
                                <input matInput appPlaceholder [showPlaceholder]="false" [placeholderText]="'Min Duration'|translate" autocomplete="off" formControlName="minDuration">
                                <mat-error *ngIf="createHealthTestForm.controls.minDuration.invalid">
                                    <span [hidden]="!createHealthTestForm.controls['minDuration'].errors.pattern">{{"Enter Digits."|translate}} </span>
                                    <span [hidden]="!createHealthTestForm.controls['minDuration'].errors.maxlength">{{"Maximum allowed digit is 3."|translate}}</span>
                                </mat-error>
                            </mat-form-field>
                    </div>
                    <div class="ovi-row-three-clmn ovi-matfrmfld-input-box-pdg">
                            <mat-label class="ovi-lbl-text-size">{{"Max Wait Duration (Mins)"|translate}}</mat-label>
                            <mat-form-field class="ovi-row-frmfld-wdh ovi-matfrmfld-err" appearance="outline">
                                <input matInput appPlaceholder [showPlaceholder]="false" [placeholderText]="'Max Wait Duration'|translate" autocomplete="off" formControlName="maxwaitDuration">
                                <mat-error *ngIf="createHealthTestForm.controls.maxwaitDuration.invalid">
                                    <span [hidden]="!createHealthTestForm.controls['maxwaitDuration'].errors.pattern">{{"Enter Digits."|translate}} </span>
                                    <span [hidden]="!createHealthTestForm.controls['maxwaitDuration'].errors.maxlength">{{"Maximum allowed digit is 3."|translate}}</span>
                                </mat-error>
                            </mat-form-field>
                    </div>
                    <div class="ovi-row-three-clmn ovi-matfrmfld-input-box-pdg">
                            <mat-label class="ovi-lbl-text-size">{{"Sequence"|translate}}</mat-label>
                            <mat-form-field class="ovi-row-frmfld-wdh ovi-matfrmfld-err" appearance="outline">
                                <input matInput appPlaceholder [showPlaceholder]="false" [placeholderText]="'Sequence'|translate" autocomplete="off" formControlName="sequence">
                                <mat-error *ngIf="createHealthTestForm.controls.sequence.invalid">
                                    <span [hidden]="!createHealthTestForm.controls['sequence'].errors.pattern">{{"Maximum allowed 4 Numbers only"|translate}}</span>
                                </mat-error>
                            </mat-form-field>
                    </div>
                    <div class="ovi-row-three-clmn ovi-matfrmfld-input-box-pdg">
                            <mat-label class="ovi-lbl-text-size">{{"Priority"|translate}}</mat-label>
                            <mat-form-field class="ovi-row-frmfld-wdh ovi-matfrmfld-err" appearance="outline">
                                <input matInput appPlaceholder [showPlaceholder]="false" [placeholderText]="'Priority'|translate" autocomplete="off" formControlName="priority">
                                <mat-error *ngIf="createHealthTestForm.controls.priority.invalid">
                                    <span [hidden]="!createHealthTestForm.controls['priority'].errors.pattern">{{"Maximum allowed 4 Numbers only"|translate}}</span>
                                </mat-error>
                            </mat-form-field>
                    </div>
                    <div class="ovi-row-three-clmn ovi-matfrmfld-drpdwn-top-box">
                            <mat-label class="ovi-lbl-text-size">{{"Group Name"|translate}}</mat-label>
                            <mat-form-field class="ovi-row-frmfld-wdh " appearance="outline">
                                <mat-select appPlaceholder [showPlaceholder]="false" [placeholderText]="'Group Name'|translate" class="form-control"formControlName="planTypeId"[disableOptionCentering]="true">
                                    <mat-option> </mat-option>
                                </mat-select>
                            </mat-form-field>
                    </div>
                    <div class="ovi-row-three-clmn ovi-matfrmfld-drpdwn-top-box">
                            <mat-label class="ovi-lbl-text-size">{{"Diabetic"|translate}}</mat-label><br>
                            <mat-radio-group class="example-radio-group" formControlName="isDiabetic">
                                <mat-radio-button [value]='true'>{{"Yes"|translate}}</mat-radio-button>&nbsp;
                                <mat-radio-button  [value]='false' [checked]='true'>{{"No"|translate}}</mat-radio-button>
                            </mat-radio-group>
                    </div>        
            </div>
        </div>

        <div class="ovi-pop-ftr">
            <button mat-button class="cancle-btn"  mat-dialog-close>{{"Cancel"|translate}}</button>
            <button mat-button *ngIf="!this.data" class="active-btn" appDebounceClick
            (debounceClick)="saveHealthTest()" [disabled]="this.createHealthTestForm.invalid" [debounceTime]="300"
            cdkFocusInitial >{{"Create"|translate}}</button>
            <button *ngIf="this.data" mat-button class="active-btn" appDebounceClick
            (debounceClick)="updateHealthTest()" [disabled]="this.createHealthTestForm.invalid" [debounceTime]="300"
            cdkFocusInitial >{{"Update"|translate}}</button>
        </div>   
</div>
