$bp : (
  desktop_l:1900px,
  lap:1024px,
  mob:500px,
  mob_s:320px,
);
@mixin query($display){
  @each $key, $value in $bp{
    @if ($display == $key){
      @media (max-width: $value){@content;}
    }
  }
}
$mh:(
  h5:535px,
  h4:425px,
  h3:375px,
  h2:350px,
);
@mixin disp_height($display){
  @each $key,$value in $mh{
    @if ($display==$key){
      @media(max-height:$value){@content;}
    }
  }
}

.health-test-form{
  height: 453px;
  overflow-y: auto;
  @include disp_height(h5){
    height: 420px;
  }
  @include disp_height(h4){
    height: 328px;
  }
  @include disp_height(h3){
    height: 260px;
  }
  @include disp_height(h2){
    height: 225px;
  }
}
.form-height-tes{ //landscape mode
  @include disp_height(h5){
    height: 75%;
    .block-4{
      display: none;
    }
  }
  height: 88%;
}
.example-radio-group{
  display: inline-flex;
  flex-direction: row;
  @include query(mob_s){
    flex-direction: column;
    margin-bottom: 50%;
  }
}

.custom-table {
  padding-right: 10px;
  height: 350px;
  overflow-x: auto;
  overflow-y: hidden;
  @include query(desktop_l){
    height: 190px;
  }
}

.mat-button{
min-width: 40px;
}

.block-4{
  display: flex;
  flex-direction: column;
  @include query(mob){
    display: none;
  }
}
.foot{
  @include query(mob){
    text-align: center;
    .cancle-btn{
      margin-bottom: 5px;
    }
  }
}

.popup-health-test-container{
  height: 100%;
  overflow: auto;
}