@import '../../../theme/configcolour.scss';

.content{
	margin-top: 2px;

}
.example-margin {
  margin: 0 10px;
}
.today{
	width: 100%;
	height: 22%;
	position: absolute;
	background: '#17161642';
	z-index: 1;
}
.today-bg{
	padding: 30px 0;

}
.today-time{
	margin: 0;
	color: var(--primary-bg-hghl-color);
	z-index: 2;
}
.today-date{
	margin: 0;
	color: var(--primary-bg-hghl-color);
	z-index: 2;
}
#hnav.nav-select {
	background: #e2e2e2 !important;
	.mat-icon, span{
			color:black !important;
	}
}
// border button CSS
.border_button {
	background-color:var(--primary-bg-hghl-color);
	border-style: solid;
	border-color: var(--primary-bg-hghl-color);
	display: inline-block;
	}
.border_button:hover {
	padding: 2px;
	background-color: var(--primary-bg-hghl-color) !important;
	border-width: 0.1ex; 
	color:#019F96;
	border: 4px solid var(--primary-bg-hghl-color);
	box-shadow: 0 0 0 1px #E8E8E8 inset;

}
.mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button {
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 88px;
    line-height: 36px;
    padding: 0px 1px;
    border-radius: 2px;
    overflow: visible;
}

.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab {
    font-size: 13px;
    font-weight: 500;
}
.side-bar-style{
	width: 100%; height: 100%; background-color:  rgba(195, 195, 195, 0.47);
}
.side-bar-style_1{
	width: 325px; height:250px; background-color: var(--primary-bg-hghl-color); 
}
.side-bar-style_2{
	height: 110px; background-color:var(--primary-bg-hghl-color); text-align: center;
}
.btn-style{
	width: 100%; height: 100%;
}