<div class="input-component-holder ovi-font-family" style="height:100% ;width:100%;">
  <div class="ovi-pop-hdr">
    <div *ngIf="!data">{{"Create Supplier"|translate}}</div>
    <div *ngIf="data">{{"Modify Supplier"|translate}}</div>
    <div mat-dialog-close><mat-icon>highlight_off</mat-icon></div>
  </div>
  <div class="ovi-matfrmfld ovi-matfrmfld-box-top-btm-pdg popup-margin" style="overflow: auto;height:calc(100% - 80px);">
    <div [formGroup]="supplierForm">
      <div class="ovi-row-gap">
        <div class="ovi-row-two-clmn ovi-matfrmfld-input-box-pdg">
            <mat-label class="ovi-lbl-text-size">{{"Supplier Name"|translate}}<span class="mandatory-field">*</span></mat-label>
            <mat-form-field appearance="outline" class="ovi-row-frmfld-wdh ovi-matfrmfld-err">
              <input matInput formControlName="supplerName" appPlaceholder [showPlaceholder]="false"
                [placeholderText]="'Supplier Name'|translate">
              <mat-error *ngIf="supplierForm.controls.supplerName.invalid">
                <span [hidden]="!supplierForm.controls['supplerName'].errors.required">{{"Supplier Name is
                  required"|translate}}.</span>
              </mat-error>
            </mat-form-field>
        </div>
        <div class="ovi-row-two-clmn ovi-matfrmfld-input-box-pdg">
            <mat-label class="ovi-lbl-text-size">{{"Contact Name"|translate}}<span class="mandatory-field">*</span></mat-label>
            <mat-form-field appearance="outline" class="ovi-row-frmfld-wdh ovi-matfrmfld-err">
              <input  matInput formControlName="inchargeName" appPlaceholder [showPlaceholder]="false" [placeholderText]="'Contact Name'|translate">
              <mat-error *ngIf="supplierForm.controls.inchargeName.invalid">
                <span [hidden]="!supplierForm.controls['inchargeName'].errors.required">{{"Supplier Name is
                  required"|translate}}.</span>
              </mat-error>
            </mat-form-field>
        </div>
        <div class="ovi-row-two-clmn ovi-matfrmfld-input-box-pdg">
            <mat-label class="ovi-lbl-text-size">{{"Contact Number"|translate}}<span class="mandatory-field">*</span></mat-label>
            <mat-form-field appearance="outline" class="ovi-row-frmfld-wdh ovi-matfrmfld-err">
              <input  matInput formControlName="phone" appPlaceholder [showPlaceholder]="false" [placeholderText]="'Contact Number'|translate">
              <mat-error *ngIf="supplierForm.controls.phone.invalid">
                <span [hidden]="!supplierForm.controls['phone'].errors['pattern']">
                  {{"Please enter a valid mobile number"|translate}}.
                </span>
                <span [hidden]="!supplierForm.controls['phone'].errors.required">{{"Contact Number is
                  required"|translate}}.</span>
              </mat-error>
            </mat-form-field>
        </div>
        <div class="ovi-row-two-clmn ovi-matfrmfld-input-box-pdg">
            <mat-label class="ovi-lbl-text-size">{{"Email"|translate}}<span class="mandatory-field">*</span></mat-label>
            <mat-form-field appearance="outline" class="ovi-row-frmfld-wdh ovi-matfrmfld-err">
              <input  matInput formControlName="email" appPlaceholder [showPlaceholder]="false" [placeholderText]="'Email'|translate">
              <mat-error *ngIf="supplierForm.controls['email'].invalid">
                <span [hidden]="!supplierForm.controls['email'].errors.email">{{"Invalid Email Id!"|translate}}</span>
                <span [hidden]="!supplierForm.controls['email'].errors.required">{{"Email is required"|translate}}.</span>
              </mat-error>
            </mat-form-field>
        </div>
        <div class="ovi-row-two-clmn ovi-matfrmfld-input-box-pdg">
            <mat-label class="ovi-lbl-text-size">{{"Street"|translate}}</mat-label>
            <mat-form-field appearance="outline" class="ovi-row-frmfld-wdh ">
              <input  matInput formControlName="street" appPlaceholder [showPlaceholder]="false" [placeholderText]="'Street'|translate">
            </mat-form-field>
        </div>
        <div class="ovi-row-two-clmn ovi-matfrmfld-input-box-pdg">
            <mat-label class="ovi-lbl-text-size">{{"Town/Village"|translate}}</mat-label>
            <mat-form-field appearance="outline" class="ovi-row-frmfld-wdh ">
              <input  matInput formControlName="town" appPlaceholder [showPlaceholder]="false" [placeholderText]="'Town/village'|translate">
            </mat-form-field>
        </div>
        <div class="ovi-row-two-clmn ovi-matfrmfld-input-box-pdg">
            <mat-label class="ovi-lbl-text-size">{{"City/District"|translate}}</mat-label>
            <mat-form-field appearance="outline" class="ovi-row-frmfld-wdh ">
              <input  matInput formControlName="city" appPlaceholder [showPlaceholder]="false" [placeholderText]="'City/District'|translate">
            </mat-form-field>
        </div>
        <div class="ovi-row-two-clmn ovi-matfrmfld-input-box-pdg">
            <mat-label class="ovi-lbl-text-size">{{"State"|translate}}</mat-label>
            <mat-form-field appearance="outline" class="ovi-row-frmfld-wdh ">
              <input  matInput formControlName="state" appPlaceholder [showPlaceholder]="false" [placeholderText]="'State'|translate">
            </mat-form-field>
        </div>
        <div class="ovi-row-two-clmn ovi-matfrmfld-input-box-pdg">
            <mat-label class="ovi-lbl-text-size">{{"Country"|translate}}</mat-label>
            <mat-form-field appearance="outline" class="ovi-row-frmfld-wdh ">
              <input  matInput formControlName="country" appPlaceholder [showPlaceholder]="false" [placeholderText]="'Country'|translate">
            </mat-form-field>
        </div>
        <div class="ovi-row-two-clmn ovi-matfrmfld-input-box-pdg">
            <mat-label class="ovi-lbl-text-size">{{"Pin Code"|translate}}</mat-label>
            <mat-form-field appearance="outline" class="ovi-row-frmfld-wdh ">
              <input  matInput formControlName="pinCode" appPlaceholder [showPlaceholder]="false" [placeholderText]="'Pin Code'|translate">
            </mat-form-field>
        </div>
        <div class="ovi-row-two-clmn ovi-matfrmfld-input-box-pdg">
            <mat-label class="ovi-lbl-text-size">{{"Tax Identifier"|translate}}</mat-label>
            <mat-form-field appearance="outline" class="ovi-row-frmfld-wdh ">
              <input  matInput formControlName="taxIdentifier" appPlaceholder [showPlaceholder]="false" [placeholderText]="'Tax Identifier'|translate">
            </mat-form-field>
        </div>
        <div class="ovi-row-two-clmn ovi-matfrmfld-drpdwn-top-box">
            <mat-label class="ovi-lbl-text-size">{{"Status"|translate}}</mat-label>
            <mat-form-field class="ovi-row-frmfld-wdh " appearance="outline">
              <mat-select appPlaceholder [showPlaceholder]="false" [placeholderText]="'Status'|translate"  formControlName="status"
                [disableOptionCentering]="true">
                <mat-option *ngFor="let opt of status" [value]="opt.code">
                  {{opt.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </div>
      </div>
      <div class="ovi-row-gap">
        <div class="ovi-row-two-clmn ovi-matfrmfld-input-box-pdg">
            <mat-label class="ovi-lbl-text-size">{{"Document Name"|translate}}</mat-label>
            <mat-form-field class="ovi-row-frmfld-wdh " appearance="outline">
              <input  matInput appPlaceholder [showPlaceholder]="false" [placeholderText]="'Document Name'|translate" formControlName="fileName" autocomplete="off">
            </mat-form-field>
        </div>

        <div class="ovi-row-two-clmn" style="width: 30%;margin-top:20px">
          <div  style="margin-top: -10px;">
            <button class="file-upload-button">
              <input type="file" multiple #fileInput accept="image/x-png,image/jpeg, .pdf, .txt" title=""
                class="custom-file-input" id="file3" (change)="handleFileSelect($event); onFileSelect(fileInput)" />
              {{"Choose File"|translate}}
            </button>
            <span class="file-info" *ngIf="supplierForm.controls['fileName'].value && !isFileSelected">{{"Please
              select .jpeg / .png / .pdf / .txt file format only"|translate}}</span>
            <span class="file-info" *ngIf="isFileSelected">{{fileInfo}}</span>
          </div>
        </div>
        <span>
          <button mat-icon-button
            style=" margin-top: 5px; background-color: #599432 !important; height: 27px; width: 27px;"
            *ngIf="isAddDoc && isEditDocRow" appTooltip tooltipText="{{'Edit'|translate}}" placement="bottom" (click)="addEditRow()">
            <mat-icon class="ovi-fnt-sze20" style="height: 33px !important ; width: 23px !important; color: white; padding-bottom: 5px; padding-top: 0px">done</mat-icon>
          </button>
          <button mat-button class="active-btn" *ngIf="!isEditDocRow"
            [disabled]="!(supplierForm.controls['fileName'].value)&& !isEditDocRow" (click)="addDocRow()">{{"Add"|translate}}</button>
          <button mat-icon-button close-button class="ie-close-icon" (click)="removeSelectedRows()">
            <mat-icon class="icon-style ovi-fnt-sze32" style="color: red;padding-top: 20px;width:30px"
              *ngIf="supplierForm.controls['fileName'].value && isEditDocRow">highlight_off</mat-icon></button>
        </span>
      </div>
      <div *ngIf="isDocTable === false" class="no-shift">{{"No records Found"|translate}}</div>
      <div class="ast-styl-1 mat-tab-content" *ngIf="isDocTable">
        <mat-table #table [dataSource]="docSourceIdentifier" class="mat mat-tbl-styl">

          <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef class="mat-tbl-styl_1">
              <mat-checkbox (change)="$event ? masterDocToggle('documents') : null;  checkEvent();"
                [checked]="docSelection.hasValue() && isAllSelected('documents')"
                [indeterminate]="docSelection.hasValue() && !isAllSelected('documents')"
                style="background-color: #fff;">
              </mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let row" class="tbl-width">
              <mat-checkbox (click)="$event.stopPropagation(); checkEvent();" (keydown.enter)="fixClick()"
                (change)="$event ? docSelection.toggle(row) : null" [checked]="docSelection.isSelected(row)">

              </mat-checkbox>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef class="mat-sort-header-button mat-tbl-styl_1">
              {{"Document Name"|translate}} </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{element.fileName}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef class="mat-sort-header-button mat-tbl-styl_1">
              {{"Document Type"|translate}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="tbl-width">
              {{element.fileType}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="fileImage">
            <mat-header-cell *matHeaderCellDef class="mat-sort-header-button mat-tbl-styl_1">
              {{"Preview"|translate}} </mat-header-cell>
            <mat-cell *matCellDef="let element" class="tbl-width_1 ovi-font-family">
              <img *ngIf="!data.attachFiles && element.fileType !='application/pdf'" [src]="element.image" alt="img"
                style="border: 0.5px solid grey;" width="100%" height="121px">
              <object *ngIf="!data.attachFiles && element.fileType =='application/pdf'" [data]="element.image"
                type="application/pdf" style="width:100%; height: 121px;">
              </object>
              <img *ngIf="data && element.attachmentId == null && element.fileType !='application/pdf'"
                [src]="element.image" alt="img with attachment" style="border: 0.5px solid grey;" width="100%"
                height="121px">
              <object *ngIf="data && element.attachmentId == null && element.fileType =='application/pdf'"
                [data]="element.image" type="application/pdf" style="width:100%; height: 121px;">
              </object>
              <img *ngIf="data && element.attachmentId != null && element.fileType !='application/pdf'"
                [src]="element.fileUrl" alt="img with data" style="border: 0.5px solid grey;" width="100%"
                height="121px">
              <img *ngIf="data && element.attachmentId != null && element.fileType =='application/pdf'"
                [src]="element.fileUrl" alt="img with data" style="border: 0.5px solid grey;" width="100%"
                height="121px">
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="preview">
            <mat-header-cell *matHeaderCellDef class="mat-sort-header-button mat-tbl-styl_1">
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <button mat-button appDebounceClick style="border-radius: 3px;background:#f33c3c;color:white;"
                (debounceClick)="getFileDownload(element)" [debounceTime]="300" cdkFocusInitial>
                {{"Preview"|translate}}
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="docDisplayedColumns">
          </mat-header-row>
          <mat-row *matRowDef="let row; columns: docDisplayedColumns;" (click)="selection.toggle(row)" (keydown.enter)="fixClick()">
          </mat-row>
        </mat-table>
      </div>
    </div>
  </div>
  <div class="ovi-pop-ftr">
    <button mat-button class="cancle-btn"  mat-dialog-close>{{"Cancel"|translate}}</button>
    <button *ngIf="!data" mat-button class="active-btn" appDebounceClick (debounceClick)="createSupplier()"
      [disabled]="supplierForm.invalid" [debounceTime]="300" cdkFocusInitial>{{"Create"|translate}}</button>
    <button *ngIf="data" mat-button class="active-btn" appDebounceClick (debounceClick)="modifySupplier()"
      [debounceTime]="300" [disabled]="supplierForm.invalid" cdkFocusInitial>{{"Modify"|translate}}</button>
  </div>
</div>
