@import  '../../../../../theme/configcolour.scss';

.card-management{
    .tower-view{
        display: flex;
        flex-direction: row;
        gap: 10px;
        flex-wrap: wrap;
    }
    .card-outline{
        border: 2px solid #d9d5d5;
        border-radius: 8px;
        width: 350px;
        background: var(--primary-bg-hghl-color);
    }
    .card-header{
        color: #585858;
        font-size: 16px;
        padding: 5px;
        background: #EEEFF1;
        border-radius: 8px 8px 0px 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-weight: 600;
    }
    .ovi-ot-card{
        border: 2px solid #d9d5d5;
        border-radius: 6px;
        display: flex;
        background-color: var(--primary-bg-hghl-color);
        transition: box-shadow 0.3s ease, border-color 0.3s ease;
        position: relative;
        min-height: 67px;
    }
    .card-label {
        font-weight: 700;
        border: 2px solid #d9d5d5;
        height: 14px;
        position: absolute;
        top: -10px; /* Adjusts vertical positioning */
        left: 7px; /* Adjusts horizontal positioning */
        border-radius: 6px;
        display: flex;
        background-color: var(--primary-bg-hghl-color);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
        transition: box-shadow 0.3s ease, border-color 0.3s ease;
        padding: 2px 6px;
        font-size: 10px;
    }
    
    .time-circle {
        border: 2px solid #1e8fca;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        margin-right: 4px;
        align-items: center;
        justify-content: center;
        display: flex;
        border-block-start-color: var(--primary-bg-hghl-color);
    }
    .status-custom-checkbox {
      width: 46%;
      height: 20px;
      margin-bottom: 12px;
      font-size: 13px;
        input#queueStatus {
          display: none;
          
          // Unchecked State
          + label {
            height: 100%;
            width: 100%;
            > .status-switch {
              cursor: pointer;
              width: 100%;
              height: 100%;
              position: relative;
              background-color: #02afa0;
              color: var(--primary-bg-hghl-color);
              transition: all 0.5s ease;
              padding: 3px 7px;
              border-radius: 50px;
              border: 3px solid #02afa0;    
              &:before,
              &:after {
                border-radius: 2px;
                height: calc(100% - 5px);
                display: flex;
                align-items: center;
                position: absolute;
                justify-content: center;
                transition: all 0.3s ease;
              }
              
              &:before {
                background-color: var(--primary-bg-hghl-color);
                color: #02afa0;
                box-shadow: 0 0 4px 4px rgba(#000, 0.2);
                border-radius: 25px;
                font-weight: 800;
                width: 90px;
                font-size: 13px;
                z-index: 10;
                content: attr(data-completed);
              }
              
              &:after {
                right: 3px;
                width: 63px;
                content: attr(data-pending);
              }
            }
          }
      
          // Checked state
          &:checked + label > .status-switch {
            background-color: var(--primary-bg-color);
            border: 3px solid var(--primary-bg-color);    
            &:after {
              content: attr(data-pending);
              background-color: var(--primary-bg-hghl-color);
              color: var(--primary-bg-color);
              box-shadow: 0 0 4px 4px rgba(#000, 0.2);
              border-radius: 25px;
              font-weight: 800;
              width: 71px;
              font-size: 13px;
              z-index: 10;
            }
       
            &:before {
              background-color: var(--primary-bg-color);
              color: var(--primary-bg-hghl-color);
              box-shadow: none;
              font-weight: 500;
              width: 74px;
              content: attr(data-completed);
            }
          }
        }
      }

    .loc-tooltip{
      top: 30px;
      right: 0px;
      position: absolute;
      max-width: 250px;
      font-size: 12px;
      text-align: center;
      color: #f8f8f2;
      padding: 3px 8px;
      background: #95969e;
      border-radius: 4px;
      z-index: 1000;
      opacity: 1;
      font-family: 'Open Sans', sans-serif;
    }
    .loc-tooltip:after {
      content: "";
      position: absolute;
      border-style: solid;
    }
    .loc-tooltip-bottom:after {
      bottom: 100%;
      left: 82%;
      margin-left: -5px;
      border-width: 5px;
      border-color: transparent transparent #95969e transparent;
    }
    .form-field-ht{
      .mat-form-field-wrapper{
        height: 100%;
      }
      .mat-form-field-appearance-outline .mat-form-field-flex {
        height: 100%;
      }
      .mat-form-field-appearance-outline .mat-form-field-outline{
        top: 1em;
      }
    }
}

.crd-mng-sts-cnt {
  display: flex;
  border: 1px solid var(--primary-bg-color);
  border-radius: 5px;
  column-gap: 4px;
  align-items: center;
}

.crd-mng-sts-cnt-indx {
  display: flex;
  border: 1px solid  var(--primary-bg-color);
  border-radius: 5px;
  align-items: center;
  cursor: pointer;
}
