.bottom-sheet-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white; 
  z-index: 1100;
  height: 91%;
  border-radius: 10px;
  margin-top: 70px;
}
.bottom-sheet-content {
    height: 85vh !important;
    border-radius: 20px 20px 0 0;
    padding: 16px;
    overflow: hidden;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

.sheet-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #0c6a97;
}

.close-icon {
  cursor: pointer;
}

.section-title {
  gap: 8px;
  font-weight: 600;
  display: flex;
  align-content: center;
  align-items: center;
  margin-bottom: 8px;
  color:#086284
}


.title{
    font-size: 16px;
    font-weight: 600;
    color:#086284
}

.context-btn {
    padding: 7px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: #00000026 0px 1px 3px;
    cursor: pointer;
    
}


.close-slider {
    height: 5px;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.close-slider-act-btn {
    display: block;
    height: 5px;
    background: grey;
    border-radius: 10px;
    width: 150px;
}

.pwa-cancel-btn{
    width: 90%;
    border-radius: 10px;
    background: #eaf4f6;
    color:#086284
}

.pwa-active-btn {
    width: 90%;
    border-radius: 10px;
    background: #086284;
    color: white;
}

.pwa-footer {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.pwa-custome-icon-style {
    padding: 0;
    font-size: 18px;
    height: fit-content;
    width: fit-content;
    cursor: pointer;
}

.upload-close-circle {
    display: flex;
    height: 18px;
    width: 19px;
    align-items: center;
    justify-content: center;
    border: solid 2px #086284;
    border-radius: 50%;
}




