    
  @media (max-width: 700px) {
    .input-container {
      margin:2% 5%;
      text-align: center;
    }
    mat-form-field{
      height: 65px;
      width: 100%;
  }
    .forgotpasswordForm {
      width:100%;
    }
  }
  .input-footer{
    position: relative;
  }

  /* // Forgot password CSS */
  
  /* Border */
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: white;
}

/* Font color */
input.mat-input-element {
  color: black;
}

:host ::ng-deep .this-feels-better div.mat-input-wrapper.mat-form-field-wrapper{
  padding: 5px;
  width:8%;
}


::ng-deep.mat-form-field-appearance-outline .mat-form-field-flex {
  padding: 0px 0px 0.2em 0.75em;
  margin-top: -0.25em;
  position: relative;
}

::ng-deep.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.4em 0 0.4em 0;
}

.two-col .col1,
.two-col .col2 {
  width: 40%;
  font-size: 15px;
}

.two-col .col1 {
  float: left;
  font-size: 15px
}

.two-col label {
  display: block;
}

#otpresend{
  border:none;
  font-size: 12px;
  color:blue;
  background: white;
}

#otpresend ::ng-deep:hover{
  text-decoration: underline;
  text-decoration-color: blue;
  background:transparent;
}

input::placeholder {
  font-size:12px;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #E0E0E0	!important;
}

.label{
  font-size : 15px;
  color: gray;
}

.fp-mg-styl{
  margin-top:10%;
}
.fp-mg-styl_1{
  margin-top:38%;
}
.fp-lbl-styl{
  text-align: center; color:red;
}
.fp-lbl-styl_1{
margin-top: 2%;
}
.fp-lbl-styl_2{
  margin-right:48%;
  color: gray;
 }
.fp-disp-styl{
  display: inline-block;
}
.fp-wd-styl{
  width: 40%;
}
.fp-btn-bodr{
border:1px solid#dce7ef;
}
 /*------------------ Introduced to achieve a better view in IE 11 ------------------*/
 @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
/* close button icon for IE 7-11 */
  .ie-close-icon{
  padding-bottom: 60%;
  }
}