<div fxFlex class="input-component-holder">
        <mat-toolbar class="input-header">
                <div class="header-name" >{{"Account recovery"|translate}} </div>
                <div class="header-close">
                        <button mat-icon-button mat-dialog-close close-button class="ie-close-icon">
                                <mat-icon class="icon-style">highlight_off</mat-icon>
                        </button>
                </div>
        </mat-toolbar>

        <form class="input-container" [formGroup]="forgotpasswordForm" (ngSubmit)="onSubmit();" novalidate>
               <div class="form_body">
                        <div class="text-center fp-mg-styl">
                                <div *ngIf="!hide_main_block">
                                        <mat-label  class="ovi-lbl-text-size label fp-mg-styl_1">{{"Email or Mobile"|translate}}</mat-label>
                                        <br>
                                        <mat-form-field class="login-input this-feels-better" appearance="outline">
                                                <input matInput placeholder="{{'Email or'|translate}}  +9195XXXXXX95"
                                                        formControlName="usernameorphone" [errorStateMatcher]="matcher"
                                                        autocomplete="off">

                                                <mat-error *ngIf="forgotpasswordForm.controls.usernameorphone.invalid">
                                                        <span
                                                                [hidden]="!forgotpasswordForm.controls['usernameorphone'].errors.required">
                                                                {{"Add +91 before mobile number"|translate}}</span>

                                                        <span
                                                                [hidden]="!forgotpasswordForm.controls['usernameorphone'].errors.usernameorphone">
                                                                {{"Enter valid email or Phone number"|translate}}</span>
                                                </mat-error>

                                        </mat-form-field>
                                        <br>
                                        <span class="fp-lbl-styl">{{errorMsg}}</span>

                               <!---------------------  SEND OTP /  RESEND OTP --------------------->

                                        <div class="text-center">
                                                <button mat-button class="active-btn fp-lbl-styl_1"
                                                        *ngIf="!data && !isDisabled"
                                                        [disabled]="!forgotpasswordForm.controls.usernameorphone.valid || loading"
                                                        (click)="forgetPassword(data);">{{"Send OTP"|translate}}</button>&nbsp;&nbsp;

                                        </div>
                                </div>

                                <!---------------------  R E S E T Password Block --------------------->


                                <div class="text-center" *ngIf="hideotp">
                                        <div class="fp-disp-styl">
                                                <mat-label  class="label ovi-lbl-text-size fp-lbl-styl_2">{{"Enter OTP"|translate}}</mat-label>
                                                <br>
                                                <mat-form-field class="login-input this-feels-better fp-wd-styl"
                                                        appearance="outline">
                                                        <input matInput placeholder="{{'Enter OTP'|translate}}"
                                                                [type]="hide ? 'code' : 'text'" formControlName="code"
                                                                (keypress)="keyPress($event)" minlength=6 maxlength=6
                                                                [errorStateMatcher]="matcher" 
                                                                required autocomplete="off">

                                                        <mat-error
                                                                *ngIf="forgotpasswordForm.controls.code.invalid || submitted">
                                                                <span
                                                                        [hidden]="!forgotpasswordForm.controls['code'].errors.required">
                                                                        Invalid OTP</span>
                                                        </mat-error>
                                                </mat-form-field>&nbsp;&nbsp;

                                                <button mat-flat-button id="otpresend" *ngIf="resendOTP"
                                                        (click)="forgetPassword(data);">Resend OTP </button>
                                        </div><br>
                                        <br><br>
                                        <div class="two-col">
                                                <div class="col1">
                                                        <mat-label  class="label ovi-lbl-text-size">{{"New password"|translate}}</mat-label>
                                                </div>

                                                <div class="col1">
                                                        <mat-label  class="label ovi-lbl-text-size">{{"Confirm password"|translate}}</mat-label>
                                                </div>
                                        </div>

                                        <div class="text-center fp-disp-styl">
                                                <mat-form-field class="login-input this-feels-better fp-wd-styl"
                                                        appearance="outline">

                                                        <input matInput required type="password" 
                                                                placeholder="{{'New Password'|translate}}" formControlName="password"
                                                                [errorStateMatcher]="matcher" autocomplete="off">

                                                        <mat-error
                                                                *ngIf="forgotpasswordForm.hasError('required', 'password')">
                                                                <span
                                                                        [hidden]="!forgotpasswordForm.controls['password'].errors.required">
                                                                        {{"must have at least 8 characters (one Capital
                                                                        letter /lower case / number /special character)"|translate}}
                                                                </span>
                                                        </mat-error>
                                                </mat-form-field>&nbsp;&nbsp;

                                                <mat-form-field class="login-input this-feels-better fp-wd-styl"
                                                        appearance="outline">

                                                        <input matInput required type="password"
                                                                placeholder="{{'Confirm Password'|translate}}"
                                                                formControlName="newPassword"
                                                                [errorStateMatcher]="matcher" autocomplete="off">

                                                        <mat-error *ngIf="forgotpasswordForm.hasError('notSame')">
                                                                <span
                                                                        [hidden]="!forgotpasswordForm.controls['newPassword'].errors.required">
                                                                </span>
                                                        </mat-error>
                                                </mat-form-field>
                                                <br>
                                                <span class="fp-lbl-styl">{{OTPErrorMsg}}</span>
                                        </div>
                                </div>
                        </div>
                </div>
        </form>


        <div class="input-footer">
                <button mat-button class="active-btn margin-r-1 text-center fp-btn-bodr"
                        *ngIf="!forgotpasswordForm.controls.code.invalid" [disabled]="!forgotpasswordForm.valid"
                        (click)="verifyCode();" [disabled]="valid">{{"Submit"|translate}}</button>
        </div>