@import '../../theme/configcolour.scss';

$bp : (
  mobile_s:480px,
  mobile: 600px,
  tab : 768px,
  tab_m: 959px,
  laptop : 1200px,
  desktop: 1440px,
  );
$mh:(
  h1:320px,
  h2:325px,
  h3:425px,
  h4:475px,
  h5:535px,
);
@mixin query($display){
  @each $key,$value in $bp{
    @if ($display==$key){
     @media(max-width:$value){@content;}
    }
  }
}
@mixin query_min($display){
  @each $key,$value in $bp{
    @if ($display==$key){
      @media(min-width:$value){@content;}  
    }
  }
}
@mixin disp_height($display){
  @each $key,$value in $mh{
    @if ($display==$key){
      @media(max-height:$value){@content;}  
    }
  }
}
.login-content-kings {
  display: flex;
  flex-direction: row;
  gap: 12%;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: bottom;
  background-image: url("/assets/Alert/common_icons/kings-login.jpg");
  @include query(tab){
    flex-direction: column;
  }
}
.login-content-new {
  display: flex;
  flex-direction: row;
  gap: 12%;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: bottom;
  background-image: url("/assets/Alert/common_icons/abstract-triangle-hlogram.png");
  @include query(tab){
  flex-direction: column;    
  }  
}
.login-content-aig {
  display: flex;
  flex-direction: row;
  gap: 5%;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: 0px;
  background-image: url("/assets/Alert/common_icons/aig-building.png");
  @include query(tab){
    flex-direction: column;
  } 
}

.tw-form-header{
  display: flex;
  flex-direction: column;
  gap:25%;
  width: 48%;
  @include query(tab){
    
    gap:0%;
    width:100%;
  }
}
.tw-form-content{
  width:40%;
  @include query(tab){
    width: 100%;
    height: 90%;
    justify-content: center;
  }
  @include query(mobile){
    height: 75%;
    justify-content: center;
  } 
}
.ovilogo{
   
  @include query(tab){
    margin-left: 5%;
    margin-right: 5%;
  }
}
.disableDiv{
    pointer-events:none;
    color: var(--primary-bg-color);
}
.fpwd-styl{
  cursor:pointer;
  color: var(--primary-bg-color);
}

.btn-mrgn{
    border-radius: 20px;
    font-size: 12px;
}
.spnr-styl{
    color: 'accent'; margin-left: 48%;margin-top: 2px;
}
.fotr-styl{
    text-align: left;
}
a {
    cursor: pointer;text-decoration:none;color:$quaternary-color ;
}
.spn-styl-1{
    width:50%;    
}
.bar {
    font-size: 13px;
    color:$quaternary-color ;
}
a:link{
    text-decoration:none;color:$quaternary-color ; cursor: pointer;
}
  /* Code witch overwrites input background-color 
  Removing input background colour for Chrome  */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fbfbfb inset;
    /*To fix Warning : “Also define the standard property 'box-shadow' for compatibility”*/
    box-shadow: 0 0 0px 1000px var(--primary-bg-hghl-color) inset;
}
  
.lang-nav{
    width: 100%;
    text-align: center; 
    font-size: 11px; 
    margin-top: 24px;
    margin-bottom: 12px;
  
  span a{
    margin-right: 10px;
  }    
    
   .line {
    padding-bottom: 5px;
    }
  .button {
    padding: 5px;
    width: 10%;
    margin: 5px;
    text-decoration: none;
    cursor: pointer;
  }  
}
.footer-class-new {
  width: 100%;
  height: 40%;
  margin-top: -7px;
  font-size:12px;
  color:$quaternary-color ;
  @include query(tab){
    font-size: 12px;
  }
  }
.login-footer-new {
  height: 12%;
  }
.login-input-new{
  width: 80%;
  height: 40%;
  margin-top: 1px;
  font-size: 13px;
  padding: 2% 5% 0% 5%;
  background-color: var(--primary-bg-hghl-color);
  @include query(tab)
  {
    width: 80%;
  }
}
.forgot-input-new {
  width:90%;
  text-align: right;
  font-size: 13px;
  position:0;  
  @include query(tab)
  {
    text-align: center;
    padding-left: 8%;
    }
}
.login-section {
  width: 100%;
  height: 100%;
  display: block; 
}

.iot-details {
  display: inline-block;
  margin: 5% 5% 25% 5%;
  width: 35%;
}
.ovi-logo-new {
  width:52%; 
  margin-top:37%;
  @include query(tab){
    margin-top: 1%;
    width:150px;
  }
}
.login-header-iot {
  color:#078DBA;
  font-size:33px ;
  @include query(tab){
    font-size:33px ;
  }
}
.project-name {
  display: flex;
  margin-left: 16%;
  @include query(tab){
    margin-left: 0%;
    justify-content: center;
  }
}
.line-iot {
  width: 260px;
  height: 1px;
  background-color: var(--primary-bg-hghl-color);
  @include query(tab){
    width: 250px;
  }
}
.iot-circle {
  width: 13px;
  height: 15px;
  border-radius: 50px;
  font-size: 20px;
  padding-right: 2px;
  margin-top: -7px;
  background: var(--primary-bg-hghl-color);
}
.login-header-new {
  color: #000000;
  font-size: 14px;
  padding-left: 7px;
  span {
    font-size: 45px;color: var(--primary-bg-hghl-color);
  @include query(mobile){
    font-size:8px ;
  }
  }
  @include query(tab){
    font-size: 10px;
  }
  @include query(tab_m){
    font-size: 16px;
  }
}
.details-labels {
  margin-top: 10%;
  margin-left: 40%;
  display: inline-flex;
  @include query(tab){
    display: none;
  }
  @include query(tab_m) {
    margin-top: 7%;
  }
  @include query(desktop)
  {
    margin-top: 8%;
  }
  @include query('1440px'){
    margin-top: 10%;
  }
}
.icon-label {
  padding: 0px 10px 10px 10px;
  text-align: -webkit-center;
}
.icon-bg {
  height: 35px;
  background-color: lightblue;
  width: 38px;
  border-radius: 25px;
  padding: 5px;
}
.label-image-new {
  height: 30px;
  width: 30px;
  background-color: lightblue;
}
.fotr-styl-new {
  color: #078DBA;
  font-size: 14px;
  font-weight: 600;
}

.login-text
{
font-size: 67px;
text-align: center;
letter-spacing: 0px;
color: #5F5F5F;
opacity: 100%;
}

.login-text-new {
  font-size: 15px;
  margin-top:15px;
  margin-bottom: 5px; 
  letter-spacing: 0px;
color: #000000;
opacity: 0.8;
  @include query(tab){
    margin-top: -30px;
    margin-bottom: 5px;
    font-size: 14px;
  }
  @include query(mobile){
    margin-top: -20px;
  }
  }
.track-logo-new{
  width: 50%;
  padding:4%;
  @include query(tab)
  {
    width: 25%;
    padding: 4%;
  } 
  @include query(mobile){
    width: 40%;
    padding:5%;
  }
  @include query(tab_m){
    padding: 15%;
  }
  @include query(laptop){
    padding: 4%;
  }
  @include query('1440px'){
    padding: 10%;
  }
}
.login-name {
  font-size: 67px;
  padding: 25px;
}
.text-left {
  text-align: left;
  padding-left: 50px;
}
.forget-name {
  font-size: 45px;
  padding: 15px;
}
.login-body-new {
  background-color: var(--primary-bg-hghl-color);
  
  width:80%;
  border-radius: 20px 1px 1px 20px;
  border-left: 1px solid #cccccc;
  align-items: center;
  height: calc(100% - 80px);
  margin: 40px 0px 40px 10px;
}
.login-line-iot {
  
  background-color: #08BFE6;
  height: calc(100% - 80px);
  margin: 40px 0px 40px 0px;
  width: 5%;
  border-radius: 1px 20px 20px 1px;
}
.text-center {
  text-align:center;
}
.fgt-Pwd{
  padding: 0 10%;
  display: flex;
  font-size: 15px;
  letter-spacing: 0px;
  color: #000000;
  opacity: 0.8;
}


// ---------------------mob
.inputtext{
input.mat-input-element {
  font-size: 20px !important;
  font-family: 'Open Sans', sans-serif;
}
.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 1.25em;
  max-width: 300px !important;
}
}

.mob-timer {
  font-size: 14px; 
  color:var(--primary-bg-color);
  font-weight: bold;
  display: flex; 
  justify-content: center; 
  margin-top: 15px;
}
.mob-img-size {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

@media (max-width: 376px) and (min-width: 370px) {
  .mob-img-size  {
        margin-top: 0px;
    }
}
.logo-box-1{
  width: 100%;
  padding-right: 4px;
}

//mob-captcha//    

.captcha{
  #captcahCanvas{
    height: 59px;
    width: 80%;
    padding: 0 24px;
  }
  .cpt-btn{
    display: none;
  }
  .reload{
    display: inline-block;
  }
  .captcha-container {
    box-shadow: unset !important;
  }
  .captcha-actions{
    padding: 0 25px;
    font-size: 17px;
  }
}

.login-header-iot-txt{
  color: #58575a;font-size: 25px;font-weight: 700;
}

.login-header-iot-sub-txt{
  font-weight: bold; font-size: 38px
}

.login-pwa-pwd{
  font-size: 14px;
}

.login-pwa-lbl{
  color: black;font-size: 18px;
}

.act-space-ttl{
  font-size: smaller;padding: 5px 35px 5px 35px;text-align: center;
}