@import '../../../../../theme/configcolour.scss';

.check-align{
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.date-picker-btn {
    height: 27px;
    width: 27px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.date-menu {
    height: 280px;
    min-width: 220px !important;
}

.my-selected-date {
    .mat-calendar-body-cell-content.mat-focus-indicator{
        background-color: var(--primary-bg-color) !important;
        color: var(--primary-bg-hghl-color) !important;
    }
}

.chips-card {
    gap: 5px;
    display: flex;
    height: 18px !important;
    width: 90px;
    align-items: center;
    padding: 3px 5px;
    background: #edf4f7 !important;
    color: #090a0a !important;
    border-radius: 40px;
    justify-content: center;
    font-size: 10px !important;
    flex-wrap: nowrap;
}

.act-mand {
    font-size: 13px;
    .mat-checkbox-inner-container {
        height: 14px;
        width: 14px;
    }
  }