@import '../../../../../theme/configcolour.scss';

//Add Profile page CSS
.prof{
.text-center {
  text-align:center;
  }

::ng-deep .mat-form-field-underline {
  display: none;
}

::ng-deep.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 1.5px;
}

.cir_img{
  position: relative;
}

.blue-button{
  border:1px solid #284255; 
  background-color: #284255;
  color: var(--primary-bg-hghl-color);
  cursor: pointer;
}
.white-button{
  background-color:var(--primary-bg-hghl-color); 
}
::ng-deep.custom-dialog-container1 .mat-dialog-container .input-container {
  height: 340px;
  overflow: auto;
}
}
.custom-dialog-container1 .mat-dialog-container .input-header .header-name {
  background-color: #F4F7FC;
  height: 100%;
  width: 100%;
}
.bg-colr{
  background-color: #F4F7FC;
}
.icn-styl{
  cursor:pointer;color: #284255;font-size:24px;position: relative;top:-25px;
}
.img-styl{
  width:150px; height:150px; border-radius: 70%; margin-top: 2%;
}
.mrgn-styl{
  margin-top:1%
}
.edt-icn-styl{
  cursor:pointer;color: #284255;font-size:20px;
}
.disp-styl{
  display: none;
}
::ng-deep.input-header{
  background-color: #F4F7FC;
  width: 100%;
}
.btn-styl_{
  color:var(--primary-bg-hghl-color); margin: 2%;
}
::ng-deep.custom-dialog-container1 .mat-dialog-container .input-header {
  background-color: #F4F7FC;
  color: var(--primary-bg-hghl-color);
  height: 35px;
  padding: 0px 0px 0px 15px;
}