@import '../../../../../theme/configcolour.scss';

$bp : (
  desktop:1440px,
  lap:1024px,
   tab : 768px,
   mob: 565px,
   mob_m:425px,
   mob_s: 320px
  
);
@mixin query($display){
  @each $key, $value in $bp{
    @if ($display == $key){
      @media (max-width: $value){@content;}
    }
  }
}
.sidebar-menu-wid{
  width: 20%;
  z-index: 1000;
  position: absolute;
  background: var(--primary-bg-hghl-color);
  border-radius: 0px 16px 16px 0px;
  box-shadow: 0px 0px 4px 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: 1px;
  margin-left: 60px;
  @include query(lap){
    margin-left: 50px;
  }
  @include query(tab){
    width: 30%;
    margin-left: 44px;
  }
  @include query(mob){
    display: none;
  }
}
.sidebar-menu-wid-all{
  width: 18%;
  overflow: hidden;
  z-index: 1000;
  position: absolute;
  background: var(--primary-bg-hghl-color);
  border-radius: 0px 16px 16px 0px;
  box-shadow: 0px 0px 4px 0px;
  overflow-x: hidden;
  margin-top: 1px;
  margin-left: 60px;
  @include query(lap){
    margin-left: 50px;
  }
  @include query(tab){
    width: 25%;
    margin-left: 44px;
  }
}
.all-menu {
  width: 80%;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
.all-main-menu {
  display: inline-grid;
  width: 45%;
  padding: 10px 5px 5px 5px;
}
.help-menu {
  text-align: center;
  padding: 10px;
  height: 60px;
  cursor: pointer;
}
.help-menu-styl {
  position: absolute;
}
.help-menu-styl-1 {
  position: relative;
}
.help-txt {
  color: #000000;
  font-size: 12px;
  font-weight: 600;
  text-decoration:none;
}
.main-menu-select {
  background-color:#484a4c;
  color: var(--primary-bg-hghl-color);
  .svg-icon {
    filter: invert(1);
  }
}
.menu-line {
  height: 90%;
  display: inline-block;
  margin-top: 20px;
  position: absolute;
  border-left: solid 1px #0000001c;
}
.mat-nav-list .mat-list-item .mat-list-item-content {
  padding: 0px;
}
.sidenav-dropdown-indicator {
  transition: transform .25s;
  &.indicateOpen {
      transform: rotate(180deg);
  }
  mat-nav-list {
      overflow: hidden;
      padding-top: 0px;
  }
  
  .primary{
      transition: max-height .4s cubic-bezier(.35, 0, .25, 1);  
      padding-top: 0px;
  }
  .secondaryMenu {
      transition: max-height .4s cubic-bezier(.35, 0, .25, 1);  
      padding-top: 0px;
  }
}
.mat-list-item.active{
  background: #646567 !important;
      border-right: 7px solid#646567;
      .mat-divider{
          background-color: #646567;
      }
      .mat-icon, h3{
          color:var(--primary-bg-hghl-color) !important;  }
          .menu-icon {
            height: 48px;width: 18%;background-color:#484a4c;
          }
          .svg-icon {
            filter: invert(1);
          }
}
.sidemenu-divider-new {
  .sidemenu {
      color: black;
  }
}

.sidemenu-footer{
    color: var(--primary-bg-hghl-color);
    text-align: center;
    font-size: 14px;
    bottom: 0em;
    position: fixed;
    width: 15.5%;
    margin: 0 auto;
}
.menu-name {
  height: 48px;width: 60%;padding: 10px;font-size: 14px;
}
.header-menu-name {
  height: 20px;
  font-weight: 600;
  font-size: 16px;
  padding: 10px;
  background-color: #0000002e;
  text-align: center;
}
.menu-icon {
  height: 48px;
  width: 18%;
  background-color: #00000026;
}
.submenu-name {
  height: 48px;
  width: 80%;
  padding: 0px;
  font-size: 14px;
  display: inline-flex;
}
.menu-name-styl {
  font-size: 12px;font-weight: 600;
}

.mat-drawer {
  top:14.5%;
  @include query(mob){
    top: 0%;
  }
}