@import '../../../../../theme/configcolour.scss';

$bp : (
    4k_xl: 4100px,
    4k_l:3840px,
    4k_m2:2880px,
    4k:2560px,   
    4k_s1:2050px, 
    4k_s: 1948px,
    desktop_l:1920px,  
    desktop_m2:1822px,
    desktop_m1:1732px,
    desktop_m:1720px,
    desktop_s1:1625px,
    desktop_s:1600px,
    desktop_2:1520px,
    desktop_1:1445px,
    desktop:1440px,
    desktop_xs1:1370px,
    desktop_xs:1300px,
    lap_xl:1280px,
    lap_l1:1180px,
    lap_l:1165px,
    lap_m:1101px,
    lap:1024px,
    tab : 768px,
    mob: 565px,
    mob_m:425px,
    mob_s: 320px,
    tab_m:801px,
);
@mixin query($display){
  @each $key, $value in $bp{
    @if ($display == $key){
      @media (max-width: $value){@content;}
    }
  }
}

$mh:(                           //LANDSCAPE 
  h0:280px,
  h1:321px,
  h2:356px,
  h3:376px,
  h4:426px,
  h5:476px,
);
@mixin disp_height($display){
  @each $key,$value in $mh{
    @if ($display==$key){
      @media(max-height:$value){@content;}  
    }
  }
}

.patient-align{
    margin-right: 64px;
    padding-right: 5px;
    @include query (desktop_l){margin-right: 92px;}
    @include query (desktop_s){margin-right: 64px;}
    @include query(lap){margin-right: 48px;}
    @include query(tab){margin-right: 26px; padding-right: 0px;}
    @include query(mob){margin-right: 19px;}
    @include query(mob_m){margin-right: 16px;}
    @include query(mob_s){margin-right: 15px;}
}
.div-styl_5{
    width: 96%; height: 36px; font-size: 19px; font-weight: 600;
    background-color: var(--primary-bg-color); color: var(--primary-bg-hghl-color);
    @include query(4k){width: 97.8%}
    @include query(desktop_l){width:97.1%}
    @include query(desktop_m){width:96.9%}
    @include query(desktop_s){width:96.5%} 
    @include query(desktop){width:96%}
    @include query(desktop_xs){width:95.5%}
  }
.title-bar {
    width: 100%;
    height: 5%;
    font-size: 19px;
    font-weight: 600;
    background-color: var(--primary-bg-color);
    color: var(--primary-bg-hghl-color);
}

dialog-container {
    max-height: 93%;
    overflow: auto;
    .mat-list .mat-list-item {
        height: 25px !important; 
        font-size: 14px !important;
    }
}

.left-container {
    height: 100%;
    width: 29.9%;
    float: left;
    border-right: 0.1px solid #e6e6e6;
}

.div-shadow {
    box-shadow: 0px 1px 8px -1px rgba(40, 66, 85, 0.2) !important;
}
.custom-input {
    margin: 4% 2.5%;
    height: 32px;
    width: 92%;
    border: solid 0.5px #28425560;
    color: #23374A;
    font-size: 14px;
    font-weight: 600;
    border-radius: 3px;
    padding-left: 3%;
}
.custom-input:focus{
    outline: none;
   }
   .selectPatient{
    background-color: #F1F1F3;
   }
   .mat-list .mat-list-item {
       font-size: 15px;
   }

.mat-lst-style{
    width:100%; height: 90%; overflow: auto;
}


.pat-style_2{
    height: 30px; font-weight: 600; font-size: 17px; padding-bottom: 8px; color: #3f4858; padding-left: 16px;
}
.frm-style {
    width: 100%;height: 100px;
}
.frm-cmn-styl_{
    line-height: 25px; float: left; width: 38%; padding-left: 2%; font-size: 15px; color: #23374A;
  }


  

.refresh-icon{
text-align: center;
    i.material-icons {
          font-size: 1.5rem;
          color: var(--primary-bg-hghl-color);
          position: relative; 
          border-radius: 50%;
          padding: 5px;
          margin: 3px;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
  }
  
  i.material-icons:after {
          content: "";
          width: 100%;
          height: 100%;
          border: solid 2px;
          transform: scale(0.8);
          position: absolute;
          top: -2px;
          left: -2px;
          border-radius: 50%;
          transition: all 0.3s ease;
  }
  
  i.material-icons:active:after {
          transform: scale(1);
          box-shadow: 10px 0 20px rgba(0, 0, 0, 0.19), 6px 0 6px rgba(0, 0, 0, 0.23);
  }
  
  i.material-icons:nth-of-type(1) {
        background-color: var(--primary-bg-color);
  }
  
  i.material-icons:nth-of-type(1):active {
          color: var(--primary-bg-color);
  }
  
  i.material-icons:nth-of-type(1):after {
          border-color: var(--primary-bg-color);
  }
  
  
  i.material-icons:active{
          background-color: transparent;
          transform: rotate(360deg);
          cursor: pointer;
          box-shadow: none;
  }
  
  p {
          color: #999;
          font-weight: 300;
          margin-top: 20px;
  }
  
 
  }


.hidden-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    box-sizing: border-box;
}

  
.test-status {
    .mat-form-field-appearance-outline .mat-form-field-flex {
        
        padding: 0px 0px 0.2em 0.75em;
        font-size: 12px;
        margin-top: 1.30em;
        position: relative;
        color: #707070;
        width: 70%;
    }
    .mat-form-field-appearance-outline .mat-form-field-infix {
        padding: 0.2em 0 0.2em 0;
    }
    .mat-form-field-appearance-outline .mat-form-field-wrapper {
        margin: -1.75em 0;
    }
   
}

  


.patient-footer{
    display:flex; 
    float:right;
    margin-right: 15px;
}
.patient-footer-cancel{
    display:flex; 
    float:left;
    margin-right: 15px;
}
.cst-mgn_1{
    margin:0px 5px;
  }
.generate-token {
    width:65%;
}
.patient-away {
    background-image: url("/assets/Alert/IP/Moved-out-icon.svg");
    background-size: 26px 26px;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: left center;
    cursor: pointer;
    padding: 0px 2px;
}
.nurse-call {
    background-image: url("/assets/Alert/IP/nurse-call.svg");
    background-size: 26px 26px;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: left center;
    cursor: pointer;
    padding: 0px 2px;
}
.porter-request {
    background-image: url("/assets/Alert/IP/Porter-request-Icon.svg");
    background-size: 26px 26px;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: left center;
    cursor: pointer;
    padding: 0px 2px;
}
.fall-risk {
    background-image: url("/assets/Alert/IP/fall.svg");
    background-size: 26px 26px;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: left center;
    cursor: pointer;
    padding: 0px 2px;
}
.patient-missing {
    background-image: url("/assets/Alert/IP/patient-missing.svg");
    background-size: 26px 26px;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: left center;
    cursor: pointer;
    padding: 0px 2px;
}
.geofence {
    background-image: url("/assets/Alert/IP/geofence.svg");
    background-size: 26px 26px;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: left center;
    cursor: pointer;
    padding: 0px 2px;
}
.sensor {
    background-image: url("/assets/Alert/IP/sensor.svg");
    background-size: 26px 26px;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: left center;
    cursor: pointer;
    padding: 0px 2px;
}
.call {
    background-image: url("/assets/Alert/IP/nurse-call.svg");
    background-size: 26px 26px;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: left center;
    cursor: pointer;
    padding: 0px 2px;
}
.food {
    background-image: url("/assets/Alert/IP/food.svg");
    background-size: 26px 26px;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: left center;
    cursor: pointer;
    padding: 0px 2px;
}
.aid {
    background-image: url("/assets/Alert/IP/aid.svg");
    background-size: 26px 26px;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: left center;
    cursor: pointer;
    padding: 0px 2px;
}
.housekeeping {
    background-image: url("/assets/Alert/IP/housekeeping.svg");
    background-size: 26px 26px;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: left center;
    cursor: pointer;
    padding: 0px 2px;
}
.sos {
    background-image: url("/assets/Alert/IP/sos.svg");
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: left center;
    cursor: pointer;
    padding: 0px 2px;
}
.medicine {
    background-image: url("/assets/Alert/IP/medicine.svg");
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: left center;
    cursor: pointer;
    padding: 0px 2px;
}
.tamper {
    background-image: url("/assets/Alert/CE-TAM.svg");
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: left center;
    cursor: pointer;
    padding: 0px 2px;
}

 

.patient-details {
    height:95%;
    @include query(mob){height:85%;}
    .patient-list {
        height:100%;
        width:25%;
        float: left;
        border-right: 0.1px solid #e6e6e6;
        cursor: pointer;
        .selectPatient {
            background-color: #F1F1F3;
        }
        .mat-list .mat-list-item {
            height: 50px !important;
        }
        .mat-list-style {
            width:100%;
            height: 90%;
            overflow: auto;
            .patient-name {
                height: 25px;
                padding-top: 5px;
                font-weight: 600;
                font-size: 14px !important;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: block;
                box-sizing: border-box;
            }
            .patient-uhid {
                height: 25px;
                color: #b8b7b7;
                font-size: 12px !important;
            }
        }
    }
    
    .mobile {
        height: 25px;
        font-size: 14px !important;
        overflow: hidden;
        display: block;
        padding: 3px 24px 0px 8px;
        float: right;
        .mat-checkbox-inner-container-no-side-margin {
            margin-left: 0px;
            margin-top: -3px;
        }
    }
    .mobile-event {
        margin-top:3px;
        font-weight:600;
        padding-left: 7px;
    }

    .patient-info{
        overflow: hidden;
        @include query(mob){overflow-x: hidden;}
        .mat-list .mat-list-item {
            height: 45px !important;
            border-top: 1px solid #0000000A !important;
        }
        height:calc(100% - 4px);
        @include query(tab){
            height: 90%;
        }
        @include query(mob){
            height: 100%;  
        }
        .mat-expansion-panel-body {
          padding: 0 24px 16px !important;
          overflow: auto !important;
          max-height: 160px !important;
          max-width: 2300px !important;
        }
        .patient-name {
            font-weight: 600;
            font-size: 16px !important;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
            box-sizing: border-box;
            padding: 5px 5px 2px 5px;
        }
        .patient-uhid {
            font-size: 12px !important;
            padding: 2px 5px 5px 5px;
        }

        .btn-styl{
            display: flex;
            flex-direction: row;
            float: right;
            margin: auto;
            padding: 0 5px;
            height: 40px;
        }
       
        .font-styl{
            font-size: 15px;
            color: #23374A;
            white-space: nowrap;
            overflow:auto;
        }
            .info-space-around{
                font-size: 13px;
                color: #23374A;
                padding-right: 15px;
              }
        

    
        .patient-test-status {
            
            .package-name {
                height: 27px;
                font-size: 16px !important;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: block;
                box-sizing: border-box;
                padding: 5px 5px 2px 20px;
            }
            .in-time {
                height: 25px;
                font-size: 15px !important;
                overflow: hidden;
                display: block;
                padding: 5px 5px 2px 20px;
            }
            .diabetic {
                height: 25px;
                font-size: 15px !important;
                overflow: hidden;
                display: block;
                padding: 5px 5px 2px 20px;
                float: right;
                .mat-checkbox-inner-container-no-side-margin {
                    margin-left: 0px;
                    margin-top: -4px;
                }
            }
            .diabetic-event {
                margin-top:3px;
                font-weight:600;
                padding-left: 8px;
            }
            .location-name {
                height: 39px;
                font-size: 16px !important;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: block;
                box-sizing: border-box;
                padding: 5px 5px 2px 20px;
            }
            .test-name {
                height: 50px;
                font-size: 15px !important;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: block;
                box-sizing: border-box;
                padding: 5px 5px 3px 20px;
            }
            .status-waiting {
                font-size: 15px !important;
                height: 25px;
                color: #FF6F15;
                padding: 2px 5px 5px 20px;
            }
            .font-weight {
                font-weight: 600;
            }
            .status {
                height: 35px;
                .current-status{
                    float: left;
                    width: 60%;
                    height: 100%;
                }
                .change-status{
                    float: right;
                    width: 40%;
                    height: 100%;
                    text-align: right;
                    .checkin-left {
                        padding-left: 2%;
                        float: left;
                        width: 60%;
                        height: 100%;
                        .checkin-name {
                          font-size:  15px;
                          font-weight: 600;
                          padding-top: 8px;
                        }
                        .checkin-time {
                          font-size: 12px;
                          font-style: italic;   
                        }
                      }
                    .checkin-toggle {
                      float: right;
                      width: 38%;
                      height: 100%;
                    }
                }
    
            }
            .edit {
                margin-left: 15px;
                margin-top: -10px;
                cursor: pointer;
            }
            .material-icons {
                font-family: 'Material Icons', sans-serif;
                font-weight: normal;
                font-style: normal;
                font-size: 20px;
                line-height: 1;
                letter-spacing: normal;
                text-transform: none;
                display: inline-block;
                white-space: nowrap;
                word-wrap: normal;
                direction: ltr;
                padding-top: unset !important; 
            }

            .mat-form-field-appearance-outline .mat-form-field-flex {
                padding: 0px 0px 0.2em 0.75em;
                margin-top: -0.25em;
                position: relative;
                color: #707070;
                font-size: 12px;
              }
              
              .mat-form-field-appearance-outline .mat-form-field-infix {
                padding: 0.2em 0 0.2em 0;
              }
        }
        .mat-expansion-panel:not([class*=mat-elevation-z]) {
            margin: 5px !important;
        }
        .mat-expansion-panel-spacing {
            margin: 16px 5px !important;
        }
        .div-shadow[_ngcontent-c36] {
            box-shadow: 0px 1px 8px -1px $secondary-color !important;
            border: 1px solid $secondary-color !important;
        }
        .cmn-lnr-grad-styl {
            color: #23374A;
            margin-top: 15px;
            margin-bottom: 15px;
            border: 1px solid $secondary-color;
        }
    
        .patient-view-list {
            width:100%;
            .patient-name {
                font-weight: 600;
                font-size: 16px !important;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: block;
                box-sizing: border-box;
                width:50%;
                float: left;
                padding: 15px 0px 3px 5px;
            }
            .patient-dob {
                font-size: 15px !important;
                float: right;
                padding: 13px 8px 0px 0px;
            }
            .patient-uhid {
                padding: 3px 0px 3px 5px;
                font-size: 15px !important;
                width:50%;
                float: left;
            }
            .patient-gender {
                font-size: 15px !important;
                float: right;
                padding-right: 8px;
            }
            .patient-location {
                font-size: 15px !important;
                width:50%;
                float: left;
                padding: 0px 0px 7px 5px;
            }
            .patient-visit-type {
                font-size: 15px !important;
                float: right;
                padding-right: 8px;
            }
        }

        .patient-info-widget {
            width:99.2%;height: 130px;
            @include query(tab){
                width:99.2%;height: 230px;
            }
            @include query(mob){
                width:99.2%;height: 290px;  
            }
            .patient-info-widget-left {  
                height: 150px;
                float: left;
                margin: 9px 0px 0px 8px;
                border: 1px solid $secondary-color;
                width: 48%;
                box-shadow: 0px 1px 8px -1px rgba(40, 66, 85, 0.2) !important; 
                @include query(lap){
                    height: 150px;
                }            
                @include query(mob){
                    height: 215px; width: 88%;
                }
                @include query(tab){
                    height: 215px;                   
                }                
                
                .patient-general-info {
                    width: 100%;
                .patient-name {
                    font-weight: 600;
                    font-size: 13px !important;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: inline-block;
                    box-sizing: border-box;
                    padding: 8px 0px 0px 8px;
                    color: var(--primary-bg-color);
                }
                    
                .patient-token-no {
                    color:var(--primary-bg-color);
                    font-weight: 800;
                    font-size: 13px;
                    overflow: hidden;
                    display: inline-block;
                }
                .patient-age {
                    font-size: 15px !important;
                    font-style: italic;
                    padding: 5px 0px 0px 8px;
                    display: inline;
                }
                .patient-gender {
                    font-size: 12px !important;
                    font-style: italic;
                    display: inline;
                    padding: 0px 0px 0px 3px;
                }
            }
                .patient-uhid {
                    font-size: 12px !important;
                    padding: 5px 0px 0px 8px;
                }
                
                .patient-device {
                    font-size: 12px !important;
                    padding: 5px 0px 0px 8px;
                    display: inline-block
                }
                
                .patient-ward {
                    font-size: 12px !important;
                    padding: 5px 0px 0px 8px;
                }
                .patient-view-more {
                    font-style: italic;
                    text-decoration: none;
                    padding: 6px 10px 8px 8px;
                    
                    .view-more {
                        font-size: 12px !important;
                        float: right;
                        cursor: pointer;
                        color: var(--primary-bg-color);
                    }
                }
            }
            .patient-info-widget-right {
                height: 150px;
                    float: right;
                    margin: 9px 0px 0px 8px;
                    border: 1px solid $secondary-color;
                    width: 48%;
                    box-shadow: 0px 1px 8px -1px rgba(40, 66, 85, 0.2) !important;
                    @include query(lap){
                        height: 145px;
                        float: left;
                        width: 47%;
                    }
                    @include query(tab){
                        height: 215px;
                        float: left;
                        width: 47%;
                    }
                    @include query(mob){
                                  
                        width: 88%;
                        
                    }             
                
                .clinical-details {
                    font-size: 13px !important;
                    overflow: hidden;
                    display: block;
                    padding: 10px 0px 8px 8px;
                    font-style: italic;
                    font-weight: 600;
                    .mat-checkbox-inner-container-no-side-margin {
                        margin-left: 0px;
                        margin-top: -4px;
                    }
                }
                .diabetic-event {
                    margin-top:3px;
                    font-weight:600;
                    padding: 8px 0px 0px 8px;
                }
                .package-name {
                    font-size: 13px !important;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: block;
                    box-sizing: border-box;
                    padding: 17px 20px 10px 9px;
                }
                .patient-location {
                    font-size: 15px !important;
                    font-style: italic;
                    text-decoration: none;
                    text-align: center;
                    color: var(--primary-bg-color);
                    border-top: 1px solid $secondary-color;
                    padding: 6px 0px 7px 5px;
                    font-weight: 600;
                }
            }
        }
        .patient-test-details {
           
            width: 99.5%;
            height: 80px;
            margin: 10px 0px 10px 6px;
            border: 1px solid $secondary-color;
            box-shadow: 0px 1px 8px -1px rgba(40, 66, 85, 0.2) !important;
            @include query(lap){
                height: 130px;
            }
            @include query(mob){
                overflow-x: auto;
            }
            
            .patient-test {
                width: 25%;
                padding: 6px 0px 0px 5px;
                float: left;
                @include query(lap){
                    width: 34%;
                }

                .patient-test-lable {
                    font-size: 13px;
                    color: gray;
                    padding: 2px 0px 5px 10px;
                }
                .patient-test-name {
                    float: left;
                    width: 100%;
                    .patient-test-select-box {
                        font-weight: 600;
                        font-size: 12px !important;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: block;
                        box-sizing: border-box;
                        padding: 0px 0px 0px 10px;
                    }
                    .edit-icon {
                        width: 25%;
                        float: right;
                    }
                    .edit-icon-with-select-box {
                        width: 5%;
                        float: right;
                        line-height: 3;
                    }
                }
            }
            .patient-location {
                width: 25% !important;
                padding: 6px 0px 0px 5px;
                float: left;
                @include query(lap){
                    width: 29% !important;
                }
                .location-label {
                    color: gray;
                    padding: 2px 0px 5px 10px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    font-size: 13px;
                }
                .location-name {
                    font-weight: 600;
                    font-size: 12px !important;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: block;
                    box-sizing: border-box;
                    padding: 0px 0px 0px 10px;
                }
                .patient-location-select-box {
                    font-weight: 600;
                    font-size: 12px !important;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: block;
                    box-sizing: border-box;
                    padding: 0px 0px 0px 10px;
                }
            }
            .patient-test-status {
                width: 20%;
                padding: 15px 0px 7px 5px;
                float: left;
                color: #FF6F15;
                line-height: 4;
                font-size: 12px;
            }
            .patient-test-wait-time {
                padding: 6px 0px 0px 5px;
                float: left;
                font-size: 14px !important;
                .wait-time-label {
                    color: gray;
                    font-size: 13px;
                    padding: 2px 0px 5px 10px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
                .wait-time-value {
                    font-weight: 600;
                    font-size: 14px !important;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: block;
                    box-sizing: border-box;
                    padding: 0px 0px 0px 10px;
                }
            }
            .save-bth {
                
                width: 18%;
                padding: 5px 0px 0px 0px;
                float: left;
                text-align: center;
                line-height: 4;
            }
            .refresh {
                float: right;
                text-align: center;
                cursor: pointer;
                color: var(--primary-bg-color);
                margin-top: 15px;
            }
        }
        .mat-expansion-panel-header-description, .mat-expansion-panel-header-title {
            display: flex;
            flex-grow: 1;
            margin-right: 16px;
            color: var(--primary-bg-color);
            font-size: 11px;
        }
        .email-icon-active {
            cursor: pointer !important;
            .resent {
              padding-left: 15px !important;
              padding-top: 15px !important;
            }
            .receiver {
              padding-left: 8px !important;
              padding-top: 15px !important;
            }
          }
          .email-icon-inactive {
            cursor: pointer !important;
           
            .resent {
            
              padding-left: 15px !important;
              padding-top: 15px !important;
            }
            .receiver {
           
              padding-left: 8px !important;
              padding-top: 15px !important;
            }
          }
        .edit-icon-resize {
            .material-icons {
                font-size: 20px !important;
                padding: 0px 10px 0px 0px !important;
            }
            .mat-form-field-appearance-outline .mat-form-field-flex {
               font-size: 12px;
                padding: 0px 0px 0.2em 0.75em;
                margin-top: -0.25em;
                position: relative;
                color: #707070;    
                width: 120%;            
            }
            .mat-form-field-appearance-outline .mat-form-field-infix {
                padding: 0.1em 0 0.1em 0;
            }
            .mat-form-field-wrapper {
                padding-bottom: 0em !important;
            }
        }
    }
}

.row-field-info{
    
    
    @include query(tab){
      width: 45% !important;
    }
    @include query(mob){
      width: 95% !important; 
    }
  }

  .row-field-info-1{
    width:16% !important;
    
    @include query(tab){
      width: 32% !important;
    }
    @include query(mob){
      width: 95% !important; 
    }
  }
.tab-3{
    overflow-y: auto;
    overflow-x:hidden;
}
.vitals-height-ip{
    height: 150px;
    @include query(tab){
        height: 182px;
    }
}
.vitals-height{
    height: 110px;
    @include query(tab){
        height: 182px;
    }
}
.refresh-btn{
    @include query(tab){
        margin-top: 0px !important;
    }
    @include query(mob){
        margin-top: 100px !important;
        margin-left: -110px;
    }
}
.list-align{ 
    @include query(desktop){
      max-width: 1420px;
    }
    @include query(lap){
      max-width: 974px;
    }
    @include query(tab){
      max-width: 718px !important;
    }
    @include query(mob){
      max-width: 376px;
    }
    @include query(mob_m){
      max-width: 325px;
    }
    @include query(mob_s){
      max-width: 270px;
    }
  }
.mat-tab-align{
    margin: 35px 0px 0px 6px;
    @include query(mob){
        margin: 70px 0px 0px 6px;
    }
}
.mbl-view{
    @include query(mob){
        display: none;
    }
    @include disp_height(h5){
        display: none;
    }
}
.block-test{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @include query(mob){
     flex-direction: column;
    }
  }

  .load-align{
    @include query(4k_xl){margin-left: 1786px !important;}
    @include query(4k_l){margin-left: 1665px !important;}
    @include query(4k_m2){margin-left: 1195px !important;}
    @include query(4k){margin-left: 1140px !important;}
    @include query(4k_s1){margin-left: 880px !important;}
    @include query(desktop_l){margin-left: 835px !important;}
    @include query(desktop_m2){margin-left: 790px  !important;}
    @include query(desktop_m1){margin-left: 760px !important;}
    @include query(desktop_m){margin-left: 750px !important;}
    @include query(desktop_s1){margin-left:712px !important;}
    @include query(desktop_s){margin-left: 706px !important;}
    @include query(desktop_2){margin-left: 640px !important;}
    @include query(desktop_1){margin-left:628px !important;}
    @include query(desktop_xs1){margin-left: 580px !important;}
    @include query(desktop_xs){
        margin: 20vh auto 0 !important;
        margin-left: 545px !important;
    }
    @include query(lap_l1){margin-left: 506px !important;}
    @include query(lap_l){
        margin-left: 506px !important;
    }
    @include query(lap){
        margin-left: 435px !important;
    }
    @include query(tab){ 
        margin: 5vh auto 0 !important; 
        margin-left: 310px !important;
    }
  }
  #alert.loading-spinner1{
    background-color: var(--primary-bg-hghl-color);
    backdrop-filter: blur(1px) brightness(9);
    width: 75%;
    height: 8%;
    z-index: 2000;
    position: fixed;
  }
.mat-column-Add {
    flex: none;
}
.mat-column-Child {
    flex: none;
}
mat-header-cell {
    justify-content: inherit;
}
.exp-colp-style{
    font-size:20px;
    cursor: pointer;
}
.report-dispatch {
    display: inherit;
    font-style: normal;
    font-weight: normal;
    padding-left: 0px;
    padding-right: 5px;
    font-size: 13px !important;
}
.widmax{
    display: inline-flex;
    width: 35%;
}
.radio-btn-margin {
  margin-top: 3px !important;
}
.dq-container {
    .mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
        display: contents;
        margin-top: 2px;
    }

    .not-selected-list .mat-list-item-content,
    .not-selected-list .mat-list-option .mat-list-item-content {
    padding: 6px 10px 10px 10px;
    border-style: groove;
    border-radius: 10px;
    border: 2px solid #d9d5d5;
    margin: 3px;
    }
    .selected-list .mat-list-item-content,
    .selected-list .mat-list-option .mat-list-item-content {
    padding: 6px 10px 10px 10px;
    border-style: groove;
    border-radius: 10px;
    border: 2px solid #d9d5d5;
    margin: 3px;
    margin-bottom: 8px;
    margin-top: 6px;
    box-shadow: 5px -3px 7px 3px rgba(0, 0, 0, 0.2), -6px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    }


    .mat-list-item {
        transition: background-color 0.3s ease; 
      }
      
     .mat-list-item:hover {
        background-color: #e0e0e0; 
      }
}