<div class="input-component-holder ovi-font-family" style="height:100% ;width:100%;">
    <div class="ovi-pop-hdr">
        <div>{{"Edit Task"|translate}}</div>
        <div mat-dialog-close><mat-icon>highlight_off</mat-icon></div>
    </div>
    <div class="ovi-matfrmfld ovi-matfrmfld-box-top-btm-pdg popup-margin" style="overflow: auto;height:calc(100% - 80px);">
            <div class="form-row" style="padding: 10px;">
                <div class="ovi-popup-title-text-size top-styl">{{"TASK DETAILS"|translate}}</div>
            </div>
            <mat-divider class="divider"></mat-divider>
            <div [formGroup]="taskForm">
                <div class="ovi-row-gap">
                    <div class="ovi-row-three-clmn ovi-matfrmfld-input-box-pdg">
                            <mat-label class="ovi-lbl-text-size"> {{"Type"|translate}} </mat-label>
                            <mat-form-field class="ovi-row-frmfld-wdh " appearance="outline">
                                <input matInput appPlaceholder [showPlaceholder]="false" [placeholderText]="'Type'|translate" autocomplete="off" [readonly]="true" formControlName="srcIdentifyingId">
                            </mat-form-field>
                    </div>
                    <div class="ovi-row-three-clmn ovi-matfrmfld-input-box-pdg">
                            <mat-label class="ovi-lbl-text-size"> {{"Task Detail"|translate}} </mat-label>
                            <mat-form-field class="ovi-row-frmfld-wdh " appearance="outline">
                                <input matInput appPlaceholder [showPlaceholder]="false" [placeholderText]="'Task Detail'|translate" autocomplete="off" formControlName="taskDetail">
                            </mat-form-field>
                    </div>
                    <div class="ovi-row-three-clmn ovi-matfrmfld-type-datetime-local">
                            <mat-label class="ovi-lbl-text-size"> {{"Schedule Time"|translate}} </mat-label>
                            <mat-form-field class="ovi-row-frmfld-wdh " appearance="outline">
                                <input matInput type="datetime-local" id="scheduleDatepicker" [readonly]="true" formControlName="scheduleDate" 
                                appPlaceholder [showPlaceholder]="false" [placeholderText]="'Schedule Time'|translate">
                            </mat-form-field>
                    </div>
                    <div class="ovi-row-three-clmn ovi-matfrmfld-input-box-pdg">
                            <mat-label class="ovi-lbl-text-size"> {{"Assigned To"|translate}} </mat-label>
                            <mat-form-field class="ovi-row-frmfld-wdh " appearance="outline">
                                <input matInput appPlaceholder [showPlaceholder]="false" [placeholderText]="'Assigned To'|translate" autocomplete="off" [readonly]="true" formControlName="assignedToId">
                            </mat-form-field>
                    </div>
                    <div class="ovi-row-three-clmn ovi-matfrmfld-type-datetime-local">
                            <mat-label class="ovi-lbl-text-size"> {{"Event Time"|translate}} </mat-label>
                            <mat-form-field class="ovi-row-frmfld-wdh " appearance="outline">
                                <input matInput type="datetime-local" id="eventDatepicker" [readonly]="true" formControlName="eventDate"
                                  appPlaceholder [showPlaceholder]="false" [placeholderText]="'Event Time'|translate" >
                            </mat-form-field>
                    </div>
                    <div class="ovi-row-three-clmn ovi-matfrmfld-drpdwn-top-box">
                            <mat-label class="ovi-lbl-text-size"> {{"Status"|translate}} </mat-label>
                            <mat-form-field class="ovi-row-frmfld-wdh " appearance="outline">
                                <mat-select appPlaceholder [showPlaceholder]="false" [placeholderText]="'Status'|translate" formControlName="statusCode">
                                    <mat-option *ngFor="let data of requestStatus" [value]="data.code">{{data.value}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                    </div>
                    <div class="ovi-row-three-clmn ovi-matfrmfld-textarea-top-box">
                            <mat-label class="ovi-lbl-text-size">{{"Remarks"|translate}} </mat-label>
                            <mat-form-field class="ovi-row-frmfld-wdh " appearance="outline">
                                <textarea  input matInput appPlaceholder [showPlaceholder]="false" [placeholderText]="'Remarks'|translate" rows=2 formControlName="remarks">
                                </textarea>
                            </mat-form-field>
                    </div>
                </div>
            </div>
        
    </div>
    <div class="ovi-pop-ftr" >
        <button mat-button class="cancle-btn"  mat-dialog-close>{{"Cancel"|translate}}</button>
        <button  mat-button class="active-btn" appDebounceClick (debounceClick)="updateTask(data)" [debounceTime]="300" cdkFocusInitial>{{"Save"|translate}}</button>
    </div>
</div>
