.mat-toolbar-single-row{
    height: 35px;
  }
  .heading{
    color: #4B4B4B; 
    font-size: 13px;font-weight: 600;
  }
  $bp : (
    4k:2560px,
    desktop_m:1920px,
    desktop:1440px,
    desktop_xl:1423px,
    desktop_xxl:1280px,
    desptop_l:1164px,
    lap:1024px,
     tab : 768px,
     mob: 565px,  
  );
  @mixin query($display){
    @each $key, $value in $bp{
      @if ($display == $key){
        @media (max-width: $value){@content;}
      }
    }
  }
  
  $mh:(
    h0:280px,
    h1:321px,
    h2:356px,
    h3:376px,
    h4:426px,
    h5:476px,
    h6:536px,
    h7:590px,
  );
  @mixin disp_height($display){
    @each $key,$value in $mh{
      @if ($display==$key){
        @media(max-height:$value){@content;}  
      }
    }
  }
  .popup-form-container{                                        //final with verify small-popup-19-12-22
    @include query(4k){
      height: 390px;
    }
    @include query(desktop_m){
      height: 390px;
    }
    @include query(desktop){                               
      height: 433px;
    }
    @include query(desktop_xxl){                               
      height: 433px;
    } 
    @include query(desktop_xl){                               
      height: 400px;
    }
    @include query(desptop_l){                               
      height: 353px;
    }
    @include query(lap){
      height: 410px;
    }
    @include disp_height(h5){height:295px;}
    @include disp_height(h4){height:275px;}
    @include disp_height(h3){height:270px;}
    @include disp_height(h2){height:230px;}
    @include disp_height(h1){height:187px;}
    @include disp_height(h0){height:140px;}
  }