<div *ngIf="title !== undefined" class="notification-box">
    <div style="display: flex; justify-content: space-between;">
        <div class="tw-content">
            <img class="tw-logo" alt="ovitag-logo" src="/assets/Alert/common_icons/1TW_Logo.svg"/>
            <span class="ovi-fnt-sze11">{{"TrackerWave"|translate}}</span>
        </div>
        <mat-icon class="ovi-fnt-sze16" style="height: fit-content; width: fit-content; padding: 0; cursor: pointer;" click="reject.emit()">close</mat-icon>
    </div>
    <strong class="ovi-fnt-sze13" style="padding: 5px 0;">{{ title }}</strong>
    <div class="call-content">
        <div class="user-logo">
            <mat-icon *ngIf="type.hasOwnProperty('isCalling') && type.isCalling === true" class="ovi-fnt-sze60" style="height: fit-content; width: fit-content; padding: 0;">person</mat-icon>
            <mat-icon *ngIf="!type.isCalling" class="ovi-fnt-sze60" style="height: fit-content; width: fit-content; padding: 0;">close</mat-icon>
        </div>
        <div class="ovi-fnt-sze12">{{ message }}</div>
    </div>
    

    <div *ngIf="type.hasOwnProperty('isCalling') && type.isCalling === true" class="button-group">
      <button mat-button (click)="accept.emit()">{{"Accept"|translate}}</button>
      <button mat-button (click)="reject.emit()">{{"Reject"|translate}}</button>
    </div>
</div>
