@import '../../../../../theme/configcolour.scss';

.notification-box {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--primary-bg-color);
    color: var(--primary-bg-hghl-color);
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    font-family: 'Segoe UI', sans-serif;
    z-index: 9999;
  }

  .button-group {
    padding-top: 5px;
    display: flex;
    justify-content: center;
    gap:18px
  }

  button:first-child {
    background-color: #28a745; /* Green for Accept */
    color: var(--primary-bg-hghl-color);
  }

  button:last-child {
    background-color: #dc3545; /* Red for Reject */
    color: var(--primary-bg-hghl-color);
  }

  .tw-logo {
    padding: 2px;
    background-color: #edf4f7;
    border-radius: 3px;
    height: 12px;
    width: 12px;
  }

  .tw-content {
    display: flex;
    align-items: center;
    gap: 3px
  }

  .user-logo {
    background: #edf4f7;
    height: fit-content;
    width: fit-content;
    border-radius: 50%;
    padding: 5px;
    color: #636363;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .call-content {
    display: flex; justify-content: center; align-items: center;flex-direction: column; gap: 5px; padding: 10px 0 5px;
  }