<div class="manage-body container-fluid">
  <div class="ot-tab-content">
    <tw-header-new-component [component]="'consumer'" [permission]="null" [dateFilter]="null" [rowFilter]="null" [manageAction]="showActions" [selectDropdown]="selectDropdown" [selectedName]="selectedName !== null ? selectedName : true"
  [locationId]="null" [selectedView]="null" [multiView]="false" (selectedViewAction)="null" (headerEventAction)="headerEventAction($event)"></tw-header-new-component>
   <div>
     <tw-table-component [component]="'consumer'" [columns]="consumerDisplayedColumns" [tableData]="tableData" [iconHeader]="iconHeader" [iconColumn]="iconColumn" [sortColumn]="sortColumn"
      [eventColumn]="eventColumn" (eventAction)="eventAction($event)" [applyFilter]="applyFilterValue" [permissionControl]="permissionControl" [pagination]="null"></tw-table-component>
   </div>
 </div>
</div>