@import '../../../../../../theme/configcolour.scss';

.ovi-patient-tab {
    .mat-tab-body-content {
        overflow: hidden !important;
    }
}

.ovi-patient-tab-1 {
   .mat-tab-body-content {
        overflow: auto !important;
    }
}

.ovi-mat-field-qut {
  .mat-form-field-infix {
    display: flex !important;
  }
}

input.no-spinner::-webkit-outer-spin-button,
input.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input.no-spinner {
  -moz-appearance: textfield;
}

.ovi-schl-custom-select {
    display: flex;
    width: 44px;
    align-items: center;
    justify-content: space-between;
    padding-right: 5px;
    position: relative;
    bottom: 4px;
}

.ovi-ptntdtls-ot-loc{
.mat-form-field-suffix .mat-icon-button {
    position: relative;
    bottom: 7px !important;
}
}

.ovi-schl-custom-dec {
    width: 19px;
    font-size: 16px;
    height: 19px;
    display: flex;
    justify-content: center;
    border-radius: 50% 50%;
    color: var(--primary-bg-hghl-color);
    background: var(--primary-bg-color);
    cursor: pointer;
}

.ovi-schl-custom-incre {
    font-size: 16px;
    height: 19px;
    width: 19px;
    display: flex;
    justify-content: center;
    border-radius: 50% 50%;
    color: var(--primary-bg-hghl-color);
    background: var(--primary-bg-color);
    cursor: pointer;
}

.hide-tab-header .mat-tab-header {
  display: none !important;
}

.show-tab-header .mat-tab-header {
  display: flex !important;
}

.ovi-row-patient-wdh {
  width: 87% !important;
  top: 3px;
}

.error-schedule-text {
  font-size: 10px;
  position: relative;
  top: 2px;
}

:host ::ng-deep .mat-checkbox-inner-container {
  height: 15px !important;
  width: 15px !important;
}
::ng-deep .custom-checkbox .mat-checkbox-inner-container {
  height: 17px !important;
  width: 17px !important;
}
table {
    width: 100%;
    table-layout: fixed;
}
.custom-mat-column-width-check-box {
    overflow: hidden;
    width: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.custom-mat-column-header-width {
    overflow: hidden;
    width: 60px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.custom-mat-column-width {
    overflow: hidden;
    width: 80px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
