<div style="height: 100%;" class="ovi-font-family dynamic-form">
    <mat-toolbar class="input-header">
        <div  class="header-name">{{"Manage Table"|translate}}</div>
        <div class="header-close">
            <button mat-icon-button mat-dialog-close close-button class="ie-close-icon">
                <mat-icon class="icon-style">highlight_off</mat-icon>
            </button>
        </div>
    </mat-toolbar>
    <div style="width: 98%;height: 80%;padding: 1%;display: flex;flex-direction: column;">
        <div class="card">
            <div class="selection-list">
                <div class="custom-list-option"
                     *ngFor="let item of formTemplateData"
                     [ngClass]="{'button-like': true, 'selected': selectedOptions?.includes(item)}"
                     (click)="toggleSelection(item)" (keydown.enter)="fixClick()">
                  {{ item.labelName }}
                </div>
              </div>
        </div>
        <div class="action-options">
            <span>
                <mat-checkbox  [formControl]="edit">{{"Enable Edit"|translate}}</mat-checkbox>
            </span>
            <span>
                <mat-checkbox  [formControl]="delete">{{"Enable Delete"|translate}}</mat-checkbox>
            </span>
        </div>
    </div>
    <div class="input-footer">
        <button  mat-button class="cancle-btn" mat-dialog-close>{{"Cancel"|translate}}</button>
        <button mat-button class="active-btn" (click)="selectedColumns()">{{"Update"|translate}}</button>
    </div>
</div>
