<div class="manage-body">
  <lazy-loader *ngIf="isloading"></lazy-loader>
  <tw-header-new-component [component]="'item-master'" [permission]="null" [dateFilter]="null" [selectFilter]="selectFilter" [rowFilter]="rowFilter" [manageAction]="showActions" [selectDropdown]="selectDropdown" [selectedName]="selectedName !== null ? selectedName : true"
    [locationId]="filterData" [selectedView]="selectedView" [multiView]="false" (selectedViewAction)="null" (headerEventAction)="headerEventAction($event)"></tw-header-new-component>
  <div>
    <tw-table-component [component]="'item-master'" [columns]="displayedColumns" [tableData]="tableData" [iconHeader]="iconHeader" [iconColumn]="iconColumn" [sortColumn]="sortColumn" [dateTimeColumns]="DatetimeColumns"
      [eventColumn]="eventColumn" (eventAction)="eventAction($event)" [applyFilter]="applyFilterValue" [permissionControl]="permissionControl" [pagination]="[{length: length, pageSize: pageSize, pageStart: pageStart}]" [tableClass]="'table-with-header'"></tw-table-component>
  </div>
</div>
