@import '../../../../theme/configcolour.scss';
 
 
 mat-card {
    padding: 1px;
    margin: 1px;
  }
  .dash-bar-graph-holder {
    margin: 10px 10px 15px 15px;
    background-color: var(--primary-bg-hghl-color);
    border-radius: 8px !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  .import-body{
    height: 170px; 
    width: 70%; 
    margin: 15px 15% 15px 15%;
  }
  .import-top {
    height: 25%; 
    width: 100%; 
    text-align: center;
    font-size: 14px;
  }
  .import-middle {
    height: 37%; 
    width: 100%;
  }
  .import-down {
    height: 37%; 
    width: 100%;

  }
  .download-temp {
    background: var(--primary-bg-color);
    margin:10px;
    width:90%;
    border-radius: 5px;
    font-weight: 600;
    font-size: 12px;
  }
  .upload-temp {
    margin:10px;
    width:90%;
    height:26px;
    background:#636A6D;
    text-align: center;
    padding-top: 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
  }
  .import-btn-styl{
    color:var(--primary-bg-hghl-color);
     cursor: pointer;
  }
  .disp-non{
    display: none;
  }

  $bp : (
  desktop:1440px,
  lap:1024px,
   tab : 768px,
   mob: 565px,  
);
@mixin query($display){
  @each $key, $value in $bp{
    @if ($display == $key){
      @media (max-width: $value){@content;}
    }
  }
}
.row-field-import{
  width:25%;
  
  @include query(tab){
    width: 35%;
  }
  @include query(mob){
    width: 80%;
  }
}
.container{
  overflow:auto;
  height:calc(100% - 80px)
}
