<div id="import-settings" class="loading-spinner" *ngIf="loading">
  <div class="spinnerload">
      <div class="spin1"></div>
      <div class="spin2"></div>
      <div class="spin3"></div>
  </div>
</div>
<div class ="container">
<div class="block-3 ovi-font-family">
  <div class="dash-bar-graph-holder tw-mat-elevation row-field-import "
    [ngStyle]="{'height':'184px'}"
    *ngIf="activate_btn && activate_btn.indexOf('BT_HPISDT') > -1 || activate_btn && activate_btn.indexOf('BT_HPISUT') > -1">
    <div class="import-body">
      <div class="import-top">{{"Tag Import / Export"|translate}}</div>
      <div class="import-middle" *ngIf="activate_btn && activate_btn.indexOf('BT_HPISDT') > -1">
          <button mat-flat-button color="primary" class="download-temp" (click)="downloadTag()"> {{"Download Template"|translate}} </button>
      </div>
      <div class="import-down" *ngIf="activate_btn && activate_btn.indexOf('BT_HPISUT') > -1">
        <div class="upload-temp">
          <label mat-button class="import-btn-styl"> {{"Upload Tags"|translate}}
            <input type="file" id="File" (change)='tagImport($event)' class="disp-non" #input accept=".xlsx">
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="dash-bar-graph-holder tw-mat-elevation row-field-import "
    [ngStyle]="{'height':'184px'}"
    *ngIf="activate_btn && activate_btn.indexOf('BT_HPISDU') > -1 || activate_btn && activate_btn.indexOf('BT_HPISUU') > -1">
    <div class="import-body">
      <div class="import-top">{{"User Import / Export"|translate}}</div>
      <div class="import-middle" *ngIf="activate_btn && activate_btn.indexOf('BT_HPISDU') > -1">
          <button mat-flat-button color="primary" class="download-temp" (click)="downloadUser()"> {{"Download Template"|translate}} </button>
      </div>
      <div class="import-down" *ngIf="activate_btn && activate_btn.indexOf('BT_HPISUU') > -1">
        <div class="upload-temp">
          <label mat-button class="import-btn-styl"> {{"Upload User"|translate}}
            <input type="file" id="File" (change)='userImport($event)' class="disp-non" #input accept=".xlsx">
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="dash-bar-graph-holder tw-mat-elevation row-field-import "
    [ngStyle]="{'height':'184px'}"
    *ngIf="activate_btn && activate_btn.indexOf('BT_HPISDR') > -1 || activate_btn && activate_btn.indexOf('BT_HPISUR') > -1">
    <div class="import-body">
      <div class="import-top">{{"Reader Import / Export"|translate}}</div>
      <div class="import-middle" *ngIf="activate_btn && activate_btn.indexOf('BT_HPISDR') > -1">
        <button mat-flat-button color="primary" class="download-temp" (click)="downloadReader()"> {{"Download Template"|translate}} </button>
      </div>
      <div class="import-down" *ngIf="activate_btn && activate_btn.indexOf('BT_HPISUR') > -1">
        <div class="upload-temp">
          <label mat-button class="import-btn-styl"> {{"Upload Readers"|translate}}
            <input type="file" id="File" (change)='readerImport($event)' class="disp-non" accept=".xlsx">
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="dash-bar-graph-holder tw-mat-elevation row-field-import "
    [ngStyle]="{'height':'184px'}"
    *ngIf="activate_btn && activate_btn.indexOf('BT_HPISDG') > -1 || activate_btn && activate_btn.indexOf('BT_HPISUG') > -1">
    <div class="import-body">
      <div class="import-top">{{"Gateway Import / Export"|translate}}</div>
      <div class="import-middle" *ngIf="activate_btn && activate_btn.indexOf('BT_HPISDG') > -1">
        <a href='/assets/Downloads/download - gateway.xlsx' download>
          <button mat-flat-button color="primary" class="download-temp"> {{"Download Template"|translate}} </button>
        </a>
      </div>
      <div class="import-down" *ngIf="activate_btn && activate_btn.indexOf('BT_HPISUG') > -1">
        <div class="upload-temp">
          <label mat-button class="import-btn-styl"> {{"Upload Gateway"|translate}}
            <input type="file" id="File" (change)='gatewayImport(input)' class="disp-non" #input accept=".xlsx">
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="dash-bar-graph-holder tw-mat-elevation row-field-import "
    [ngStyle]="{'height':'184px'}"
    *ngIf="activate_btn && activate_btn.indexOf('BT_HPISDA') > -1 || activate_btn && activate_btn.indexOf('BT_HPISUA') > -1">
    <div class="import-body">
      <div class="import-top">{{"Asset Create Import / Export"|translate}}</div>
      <div class="import-middle" *ngIf="activate_btn && activate_btn.indexOf('BT_HPISDA') > -1">
        <button mat-flat-button color="primary" class="download-temp" (click)="downloadAsset()"> {{"Download Template"|translate}} </button>
      </div>
      <div class="import-down" *ngIf="activate_btn && activate_btn.indexOf('BT_HPISUA') > -1">
        <div class="upload-temp">
          <label mat-button class="import-btn-styl"> {{"Upload Asset"|translate}}
            <input type="file" id="File" (change)="assetImport($event)" class="disp-non" accept=".xlsx">
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="dash-bar-graph-holder tw-mat-elevation row-field-import "
  [ngStyle]="{'height':'184px'}"
  *ngIf="activate_btn && activate_btn.indexOf('BT_HPISDMA') > -1 || activate_btn && activate_btn.indexOf('BT_HPISUA') > -1">
  <div class="import-body">
    <div class="import-top">{{"Asset Modify Import / Export"|translate}}</div>
    <div class="import-middle" *ngIf="activate_btn && activate_btn.indexOf('BT_HPISDMA') > -1">
      <button mat-flat-button color="primary" class="download-temp" (click)="downloadBulkAsset()"> {{"Download Template"|translate}} </button>
    </div>
    <div class="import-down" *ngIf="activate_btn && activate_btn.indexOf('BT_HPISUMA') > -1">
      <div class="upload-temp">
        <label mat-button class="import-btn-styl"> {{"Upload Asset"|translate}}
          <input type="file" id="File" (change)="uploadBulkAsset($event)" class="disp-non" accept=".xlsx">
        </label>
      </div>
    </div>
  </div>
</div>
  <div class="dash-bar-graph-holder tw-mat-elevation row-field-import "[ngStyle]="{'height':'184px'}"
  *ngIf="activate_btn && activate_btn.indexOf('BT_HPISDC') > -1 || activate_btn && activate_btn.indexOf('BT_HPISUC') > -1">
  <div class="import-body">
    <div class="import-top">{{"Consumables Import / Export"|translate}}</div>
    <div class="import-middle" *ngIf="activate_btn && activate_btn.indexOf('BT_HPISDC') > -1">
      <button mat-flat-button color="primary" class="download-temp" (click)="downloadItems('consumables')"> {{"Download Template"|translate}} </button>
    </div>
    <div class="import-down" *ngIf="activate_btn && activate_btn.indexOf('BT_HPISUC') > -1">
      <div class="upload-temp">
        <label mat-button class="import-btn-styl"> {{"Upload Consumables"|translate}}
          <input type="file" id="File" (change)="itemsImport($event)" class="disp-non" accept=".xlsx">
        </label>
      </div>
    </div>
</div>
</div>
  <div class="dash-bar-graph-holder tw-mat-elevation row-field-import "[ngStyle]="{'height':'184px'}"
  *ngIf="activate_btn && activate_btn.indexOf('BT_HPISDI') > -1 || activate_btn && activate_btn.indexOf('BT_HPISUI') > -1">
  <div class="import-body">
    <div class="import-top">{{"Implants Import / Export"|translate}}</div>
    <div class="import-middle" *ngIf="activate_btn && activate_btn.indexOf('BT_HPISDI') > -1">
      <button mat-flat-button color="primary" class="download-temp" (click)="downloadItems('implants')"> {{"Download Template"|translate}} </button>
    </div>
    <div class="import-down" *ngIf="activate_btn && activate_btn.indexOf('BT_HPISUI') > -1">
      <div class="upload-temp">
        <label mat-button class="import-btn-styl"> {{"Upload Implants"|translate}}
          <input type="file" id="File" (change)="itemsImport($event)" class="disp-non" accept=".xlsx">
        </label>
      </div>
    </div>
</div>
</div>
  <div class="dash-bar-graph-holder tw-mat-elevation row-field-import "[ngStyle]="{'height':'184px'}"
  *ngIf="activate_btn && activate_btn.indexOf('BT_HPISDOTP') > -1 || activate_btn && activate_btn.indexOf('BT_HPISUOTP') > -1">
  <div class="import-body">
    <div class="import-top">{{"OT Procedure Import / Export"|translate}}</div>
    <div class="import-middle" *ngIf="activate_btn && activate_btn.indexOf('BT_HPISDOTP') > -1">
      <button mat-flat-button color="primary" class="download-temp" (click)="downloadOTProcedure()"> {{"Download Template"|translate}} </button>
    </div>
    <div class="import-down" *ngIf="activate_btn && activate_btn.indexOf('BT_HPISUOTP') > -1">
      <div class="upload-temp">
        <label mat-button class="import-btn-styl"> {{"Upload OT Procedure"|translate}}
          <input type="file" id="File" (change)="OTProcedureImport($event)" class="disp-non" accept=".xlsx">
        </label>
      </div>
    </div>
</div>
</div>
  <div class="dash-bar-graph-holder tw-mat-elevation row-field-import "
    [ngStyle]="{'height':'184px'}"
    *ngIf="activate_btn && activate_btn.indexOf('BT_HPISDSS') > -1 || activate_btn && activate_btn.indexOf('BT_HPISUSS') > -1">
    <div class="import-body">
      <div class="import-top">{{"SurgicalSets Import / Export"|translate}}</div>
      <div class="import-middle" *ngIf="activate_btn && activate_btn.indexOf('BT_HPISDSS') > -1">
        <button mat-flat-button color="primary" class="download-temp" (click)="downloadsurgicalSets()"> {{"Download Template"|translate}} </button>
      </div>
      <div class="import-down" *ngIf="activate_btn && activate_btn.indexOf('BT_HPISUSS') > -1">
        <div class="upload-temp">
          <label mat-button class="import-btn-styl"> {{"Upload SurgicalSets"|translate}}
            <input type="file" id="File" (change)="surgicalSetsImport($event)" class="disp-non" accept=".xlsx">
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="dash-bar-graph-holder tw-mat-elevation row-field-import "
    [ngStyle]="{'height':'184px'}"
    *ngIf="activate_btn && activate_btn.indexOf('BT_HPISDE') > -1 || activate_btn && activate_btn.indexOf('BT_HPISUE') > -1">
    <div class="import-body">
      <div class="import-top">{{"Employee Import / Export"|translate}}</div>
      <div class="import-middle" *ngIf="activate_btn && activate_btn.indexOf('BT_HPISDE') > -1">
        <a href='/assets/Downloads/download - employee.xlsx' download>
          <button mat-flat-button color="primary" class="download-temp"> {{"Download Template"|translate}} </button>
        </a>
      </div>
      <div class="import-down" *ngIf="activate_btn && activate_btn.indexOf('BT_HPISUE') > -1">
        <div class="upload-temp">
          <label mat-button class="import-btn-styl"> {{"Upload Employee"|translate}}
            <input type="file" id="File" (change)='employeeImport($event)' class="disp-non" #input accept=".xlsx">
          </label>
        </div>
      </div>
    </div>
    </div>
    <div class="dash-bar-graph-holder tw-mat-elevation row-field-import "
    [ngStyle]="{'height':'184px'}"
    *ngIf="activate_btn && activate_btn.indexOf('BT_HPISDHT') > -1 || activate_btn && activate_btn.indexOf('BT_HPISUHT') > -1">
    <div class="import-body">
      <div class="import-top">{{"Health Test Import / Export"|translate}}</div>
      <div class="import-middle" *ngIf="activate_btn && activate_btn.indexOf('BT_HPISDHT') > -1">
        <button mat-flat-button color="primary" class="download-temp" (click)="downloadHealthTest()"> {{"Download Template"|translate}} </button>
      </div>
      <div class="import-down" *ngIf="activate_btn && activate_btn.indexOf('BT_HPISDHT') > -1">
        <div class="upload-temp">
          <label mat-button class="import-btn-styl"> {{"Upload Health Test"|translate}}
            <input type="file" id="File" (change)='healthTestImport($event)' class="disp-non" #input accept=".xlsx">
          </label>
        </div>
        </div>
      </div>
    </div>
    <div class="dash-bar-graph-holder tw-mat-elevation row-field-import "
    [ngStyle]="{'height':'184px'}"
    *ngIf="activate_btn && activate_btn.indexOf('BT_HPISDHP') > -1 || activate_btn && activate_btn.indexOf('BT_HPISUHP') > -1">
    <div class="import-body">
      <div class="import-top">{{"Health Package Import / Export"|translate}}</div>
      <div class="import-middle" *ngIf="activate_btn && activate_btn.indexOf('BT_HPISDHP') > -1">
        <button mat-flat-button color="primary" class="download-temp" (click)="downloadHealthPackage()"> {{"Download Template"|translate}} </button>
      </div>
      <div class="import-down" *ngIf="activate_btn && activate_btn.indexOf('BT_HPISUHP') > -1">
        <div class="upload-temp">
          <label mat-button class="import-btn-styl"> {{"Upload Health Package"|translate}}
            <input type="file" id="File" (change)='healthPackageImport($event)' class="disp-non" #input accept=".xlsx">
          </label>
        </div>
        </div>
      </div>
    </div>
    <div class="dash-bar-graph-holder tw-mat-elevation row-field-import "
    [ngStyle]="{'height':'184px'}"
    *ngIf="activate_btn && activate_btn.indexOf('BT_HPISDIM') > -1 || activate_btn && activate_btn.indexOf('BT_HPISUIM') > -1">
    <div class="import-body">
      <div class="import-top">{{"Item Master Import / Export"|translate}}</div>
      <div class="import-middle" *ngIf="activate_btn && activate_btn.indexOf('BT_HPISDIM') > -1">
        <button mat-flat-button color="primary" class="download-temp" (click)="downloadItems('itemMaster')"> {{"Download Template"|translate}} </button>
      </div>
      <div class="import-down" *ngIf="activate_btn && activate_btn.indexOf('BT_HPISUIM') > -1">
        <div class="upload-temp">
          <label mat-button class="import-btn-styl"> {{"Upload Item Master"|translate}}
            <input type="file" id="File" (change)='itemsImport($event)' class="disp-non" #input accept=".xlsx">
          </label>
        </div>
        </div>
      </div>
    </div>
    <div class="dash-bar-graph-holder tw-mat-elevation row-field-import "
    [ngStyle]="{'height':'184px'}"
    *ngIf="activate_btn && activate_btn.indexOf('BT_HPISDIN') > -1 || activate_btn && activate_btn.indexOf('BT_HPISUIN') > -1">
    <div class="import-body">
      <div class="import-top">{{"Inventory Import / Export"|translate}}</div>
      <div class="import-middle" *ngIf="activate_btn && activate_btn.indexOf('BT_HPISDIN') > -1">
        <button mat-flat-button color="primary" class="download-temp" (click)="downloadInventory()"> {{"Download Template"|translate}} </button>
      </div>
      <div class="import-down" *ngIf="activate_btn && activate_btn.indexOf('BT_HPISUIN') > -1">
        <div class="upload-temp">
          <label mat-button class="import-btn-styl"> {{"Upload Inventory"|translate}}
            <input type="file" id="File" (change)='inventoryImport($event)' class="disp-non" #input accept=".xlsx">
          </label>
        </div>
        </div>
      </div>
    </div>
</div>
</div>
