.input-header {
	h1 {
		padding: 0px;
	}
}

#block_container{
    text-align:left;
    padding-left: 0%;
    padding-right: 1.2%;
    padding-top: 1.2%;
    padding-bottom: 0.5%;
    }

    #box1 {
    width: 35%;
    padding: 8px 2px 8px 4px;
    border:1px solid #E2E9ED;
    color: #92A1B1;
    background-color: #F2F7FA;
    font-size: 12px;
    border-right: none;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    }
    #box2 {
    width: 65%;
    border-color: #E2E9ED;
    margin-top: 5%;
    color: #4B4B4B;
    }
    #box1, #box2{
    display:inline;
    padding-right: 5px;
    }
    select {
    width: fit-content;
    height:35px;
    color: #4b4b4b;
    text-shadow: none;
    display: inline-block;
    align-items: center;
    background-color: white;
    border:1px solid #E2E9ED;
    border-color: #E2E9ED;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    }



.heading{
    color: #4B4B4B;
    font-size: 13px;font-weight: 600;
    }
.main-heading{
      color: #284255;
      font-size: 16px;font-weight: 600;
  }

.top-styl{
  margin-top: 1%;
}
.can-btn{
    color: #636A6D;
    font-size:14px;
}

 table tr.highlight {
    background-color: #ffffff !important;
    color: #fff;
  }


.divider_{
  padding: 4px;
  margin: 0;
  color: #E2E9ED;
  border-top-width: 1px;
  border-top-style: solid;
}
.location-name {
  color: #284255;
  font-size:  13px;
  font-weight: 600;
  text-align: center;
  height: 40%;
  margin-top: 24%;
}
.location-desc {
  color: #284255;
  font-size: 12px;
  font-style: italic;
  text-align: center;
  height: 30%;
}

#grid-cl-r-2-2 {
  width: 92%;
  height: 92%;
  margin: 4% 4% 4% 4%;
}

.mat-expansion-panel {
  margin-top: 15px !important;
}
.mat-expansion-panel:not([class*=mat-elevation-z]) {
  border-radius: 3px;
  box-shadow: 0px 1px 8px -1px rgba(40, 66, 85, 0.2) !important;
}
.picker-right{
  width: 11%;
  float: right;
  height: 0.1px;
  margin-top: -24px;
  margin-bottom: 26px;
}