<div class="loading-spinner" *ngIf="isloading">
    <div class="spinnerload">
        <div class="spin1"></div>
        <div class="spin2"></div>
        <div class="spin3"></div>
    </div>
</div>
<div class="manage-body">
        <tw-header-new-component [component]="'audit-management'" [permission]="null" [dateFilter]="null" [multiView]="false" [rowFilter]="null"
            [manageAction]="showActions" [selectDropdown]="selectDropdown"
            [selectedName]="selectedName !== null ? selectedName : true"  [selectedView]="null" (selectedViewAction)="null"
            (headerEventAction)="headerEventAction($event)"></tw-header-new-component>
    <div>
    <mat-tab-group (selectedTabChange)="tabChanged($event)">
      <mat-tab label="{{'Asset'|translate}}">
        <tw-table-component [component]="'audit-management'" [columns]="displayedColumns" [tableData]="tableData"
            [iconHeader]="iconHeader" [iconColumn]="iconColumn" [sortColumn]="sortColumn" [eventColumn]="eventColumn" [dateColumns]="dateColumns"
            [rowId]="'id'" [rowClick]="true" (rowClickAction)="rowClick($event)" [rowDbClick]="false" (rowDbClickAction)="manageAction($event)" (eventAction)="eventAction($event)" [applyFilter]="applyFilterValue"
            [permissionControl]="permissionControl" [pagination]="[{length: length, pageSize: pageSize, pageStart: pageStart}]">
        </tw-table-component>
        </mat-tab>
        <mat-tab label="{{'Location'|translate}}">
        <tw-table-component [component]="'audit-management'" [columns]="displayedColumns" [tableData]="tableData"
            [iconHeader]="iconHeader" [iconColumn]="iconColumn" [sortColumn]="sortColumn" [eventColumn]="eventColumn" [dateColumns]="dateColumns"
            [rowId]="'id'" [rowClick]="true" (rowClickAction)="rowClick($event)" [rowDbClick]="false" (rowDbClickAction)="manageAction($event)" (eventAction)="eventAction($event)" [applyFilter]="applyFilterValue"
            [permissionControl]="permissionControl" [pagination]="[{length: length, pageSize: pageSize, pageStart: pageStart}]">
        </tw-table-component>
        </mat-tab>
    </mat-tab-group>
    </div>
</div>
