@import '../../../../theme/configcolour.scss';

.mat-dialog-container{
    width: 90%;
    height: 83%;
}

.tw-manage-table-header-row {
    background: #EEEFF1 0% 0% no-repeat padding-box !important;
    min-height: 48px !important;
    justify-content: left;
}

.manage-table-header {
    justify-content: left;
}
.mat-header-cell {
    font-size: 12px;
    font-weight: bold;
}
.mat-column-locName {
    flex: none;
    width: 280px;
}
.mat-cell{
    text-align: center;
}
.display-contents {
    display: contents;
}

.chev-styl_1{
    padding-top:7px;font-size:20px;margin-left: -25px;transform: rotate(90deg);cursor: pointer;
}

  
.inactive-row {
  color: #cfced5;
  background: $quaternary-color;
}