@import '../../../../theme/configcolour.scss';

.clickToEnlarge{
  width:600px; 
  height: 500px;
  padding: 10px;
  margin-bottom: 10px; 
  border-radius: 12px; 
  border: 1px solid #ddd;
  object-fit: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

table tr.highlight {
  background-color:  var(--primary-bg-hghl-color) !important;
  color:  var(--primary-bg-hghl-color);
}

$bp : (
  lap_50:2560px,
  lap_67:1920px,
  lap_75:1707px,
  lap_80:1600px,
  lap_90:1423px,
  lap_100:1280px,
  lap_110:1164px,
  lap_125:1024px,
  tab:896px,
  land_scape:695px,
  mob: 565px,
  mob_m:425px,
  mob_s: 320px
);
  @mixin query($display){  
    @each $key, $value in $bp{
      @if ($display == $key){
        @media (max-width: $value){@content;}
      }
    }
  }
  .form_body-1 {
    @include query(lap_50){height: 972px;} 
    @include query(lap_67){height: 691px;}
    @include query(lap_75){height: 604px;}
    @include query(lap_80){height: 562px;}
    @include query(lap_90){height: 485px;}
    @include query(lap_100){height: 429px;}
    @include query(lap_110){height: 376px;}
    @include query(lap_125){height: 316px;}

  height: 420px;
  overflow: auto;
}
.img-hover-zoom--slowmo img {
  transform-origin: 50% 65%;
  transition: transform 5s, filter 3s ease-in-out;
  filter: brightness(150%);
}

/* The Transformation */
.img-hover-zoom--slowmo:hover img {
  filter: brightness(100%);
  transform: scale(3);
}
.fld_mrgn{
  margin-top:3%;
}
.pad-styl{
  padding: 10px
}
.lt-box-bgcolr{
  background-color: #F4F7FC;
}
.lt-box-bgcolr_1{
  background-color: #F4F7FC; color:#F4F7FC;margin-left:95%
}
.mrgn-styl{
  margin-top: 2%;
}
.icn-colr{
  color: #019F96;
}
.file-name{
  color:#4B4B4B;
  font-size: 12px;
}
.upload-btn{
  background-color: #141D2E;
  color:  var(--primary-bg-hghl-color);
  border-radius: 4px;
}
.tw-event-action-btn {
  background: var(--primary-bg-color);
  color:  var(--primary-bg-hghl-color);
  border-radius: 2px;
  min-width: 10px !important;
}
