@import '../../../../../theme/configcolour.scss';

.rdr-frame{
    height:100%;width:98%;
}
.leaf-tool-labels {
    background-color: transparent !important;
    border: transparent !important;
    box-shadow: none !important;
    color: #A9A9A9 !important;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    line-height: 1.2;
}
// .control-buttons{
   .ndg-control-btn{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 7px 3px 0px 3px;
    width: 90%;
    color: var(--primary-bg-hghl-color);
    border-radius : 5px;
   }
// }
.countPosition{
    color: var(--primary-bg-hghl-color);
    margin-left: -3px;
    margin-top: -8px;
    font-size: 10px;
}
.popup-marker {
  min-width: 85px;
  padding-top: 3px;
  top: -13px;
  left: -13px;
  font-size: 9px;
  font-weight: 800;
  min-height: 28px;
  color: black;
  background-color: #ffffffab;
  border: 3px solid #3673DA;
  border-radius: 25px 0px 25px 0px;
  padding-left: 31px;
}
.input-form-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
    width: 90%;
    height: 95%;
}
.form-div1{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin: 5px 0px;
}
.form-div2{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}
.img-span{
    float: left;
    display: flex;
    align-items: center;
    margin: 5px;
    .icon-img{
        width: 16px;
        height: 16px;
    }
    .icon-text{
        color: black;
        margin-left: 5px;
    }
}
.pop-up-margin{
    margin: auto;
}


.node-inactive {
  background: #dddddd;
  color: black;
}

.node-disabled {
  background: #dddddd;
  color: '';
}

.node-no-links {
  background: #dddddd;
}