@import '../../../../theme/configcolour.scss';


.tw-mol-del-col {
    padding-top: 10px;
    font-weight: 600;
    display: flex;
    align-items: flex-end;
}

.tw-list-layout {
  display: flex;
  height: calc(100vh - 190px);
  padding-top: 5px;
}

.tw-left-panel {
  width: 280px;
  border-right: 1px solid #e0e0e0;
  padding: 3px 5px 0px 1px;
  display: flex;
  justify-content: center;
}

.tw-right-panel {
  flex: 1;
  padding: 16px;
  overflow: auto;
}

.selected-entity-list {
  font-weight: 500 !important;
  font-size: 13px !important;
  margin-bottom: 5px !important;
  height: 40px !important;
  border-radius: 5px !important;
  border: 1px solid var(--quinary-color);
  cursor: pointer;
  transition: all 0.25s ease;
}

.selected-entity-list.active {
  background-color: var(--primary-bg-color)!important;
  font-weight: 600 !important;
  box-shadow: 0 4px 10px var(--drkgry-color);
  transform: scale(1.03);
}

.selected-mat-list .mat-list-item.active {
  background: var(--primary-bg-color) !important;
  border-right: 0px solid #fff !important;
  color: #ffffff !important;
}

.schedule-card {
  background: #ffffff;
  border-radius: 7px;
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
  overflow: hidden;
  transition: 0.3s ease;
}

.schedule-trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 22px;
  cursor: pointer;
  background: linear-gradient(135deg, var(--primary-bg-color), var(--primary-menu-bg-color));
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  transition: 0.3s ease;
}

.schedule-trigger:hover {
  filter: brightness(1.05);
}

.schedule-trigger .left {
  display: flex;
  align-items: center;
  // gap: 10px;
}

.arrow {
  transition: 0.3s ease;
}

.rotate {
  transform: rotate(180deg);
}

.schedule-body {
  padding: 25px;
  animation: slideFade 0.3s ease-in-out;
}

@keyframes slideFade {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.recipient-card {
  background: #ffffff;
  border-radius: 7px;
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.06);
  margin-top: 20px;
  overflow: hidden;
  transition: 0.3s ease;
}

.recipient-trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 22px;
  cursor: pointer;
  background: linear-gradient(135deg, var(--primary-bg-color), var(--primary-menu-bg-color));
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.recipient-trigger:hover {
  filter: brightness(1.05);
}

.recipient-trigger .left {
  display: flex;
  align-items: center;
  // gap: 10px;
}

.recipient-body {
  padding: 20px 25px;
  animation: slideFade 0.25s ease-in-out;
}

.recipient-content {
  margin-top: 10px;
}

.recipient-btn-wrap {
  display: flex;
  align-items: center;
  margin-top: 6px;
}

.recipient-table {
  margin-top: 10px;
  padding-top: 10px;
}

.mail-card {
  background: #ffffff;
  border-radius: 7px;
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.06);
  margin-top: 20px;
  overflow: hidden;
  transition: 0.3s ease;
}

.mail-trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 22px;
  cursor: pointer;
  background: linear-gradient(135deg, var(--primary-bg-color), var(--primary-menu-bg-color));
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.mail-trigger:hover {
  filter: brightness(1.05);
}

.mail-trigger .left {
  display: flex;
  align-items: center;
  // gap: 10px;
}

.mail-body {
  padding: 20px 25px;
  animation: slideFade 0.25s ease-in-out;
}

.mail-content {
  margin-top: 10px;
}

.mail-btn-wrap {
  display: flex;
  align-items: center;
  margin-top: 6px;
}

.mail-table {
  margin-top: 10px;
  padding-top: 10px;
}

.schedule-item {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  width: 100%;
}

.schedule-time {
  display: flex;
  align-items: center;
  gap: 6px;
  min-width: 110px;
  justify-content: flex-start;
}

.schedule-icon {
  font-size: 14px;
  line-height: 1;
}

.schedule-text {
  font-size: 13px;
  line-height: 1;
  width: 89px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.schedule-title {
  min-width: 127px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


