@import '../../../../theme/configcolour.scss';

.select-cell{
  background-size: 23px 23px;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: left center;
  cursor: pointer;
}
.patient-away{
  padding: 0px 10px 0px 10px;
  margin-right:4px;
  background-image: url("/assets/Alert/IP/Moved-out-icon.svg");
  background-size: 26px 26px;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: left center;
  cursor: pointer;
}
.nurse-call{
  padding: 0px 10px 0px 10px;
  margin-right:4px;
  background-image: url("/assets/Alert/IP/nurse-call.svg");
  background-size: 26px 26px;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: left center;
  cursor: pointer;
}
.fall-risk {
  padding: 0px 10px 0px 10px;
  margin-right:4px;
  background-image: url("/assets/Alert/IP/fall.svg");
  background-size: 26px 26px;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: left center;
  cursor: pointer;
}
.patient-missing {
  padding: 0px 10px 0px 10px;
  margin-right:4px;
  background-image: url("/assets/Alert/IP/patient-missing.svg");
  background-size: 26px 26px;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: left center;
  cursor: pointer;
}
.geofence {
  padding: 0px 10px 0px 10px;
  margin-right:4px;
  background-image: url("/assets/Alert/IP/geofence.svg");
  background-size: 26px 26px;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: left center;
  cursor: pointer;
}
.sensor {
    padding: 0px 10px 0px 10px;
    margin-right:4px;
    background-image: url("/assets/Alert/IP/sensor.svg");
    background-size: 26px 26px;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: left center;
    cursor: pointer;
}
.blink {
  animation: blink 2s steps(5, start) infinite;
  -webkit-animation: blink 1s steps(5, start) infinite;
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}
.blink-border {
  width: 98%;
  height: 90%;
  overflow: hidden;
  margin: 1% 1% 1% 1%;
  border: 5px solid #C6C6C6;
  background: var(--primary-bg-hghl-color);
  border-radius: 10px;
  box-shadow: 1px 3px 6px #00000029;
  opacity: 1;
  -webkit-animation: blink-color 1s infinite; /* Safari 4+ */
  -moz-animation: blink-color 1s infinite; /* Fx 5+ */
  -o-animation: blink-color 1s infinite; /* Opera 12+ */
  animation: blink-color 1s infinite; /* IE 10+, Fx 29+ */
}
@keyframes blink-color { 50% { border-color: #ff4000; }  }
.ip-grid-cl-r-2-2 {
width: 98%;
height: 90%;
overflow: hidden;
margin: 1% 1% 1% 1%;
border: 1px solid #C6C6C6;
background: var(--primary-bg-hghl-color);
border-radius: 10px;
box-shadow: 1px 3px 6px #00000029;
opacity: 1;
}
#ip:hover {
border: 8px solid #C6C6C6;
border-radius: 10px;
}
.ip-gender{
height: 20px;
width: 20px;
}
.ip-other-gender{
height: 16px;
width: 16px;
}
.ip-woman-gender{
height: 20px;
width: 18px;
}
.ip-tagid{
width:65%;
font-size: 10px;
}
.ip-patient-header {
color: #284255;
font-family: 'Open Sans', sans-serif;
font-size:  15px;
font-weight: 600;
padding: 5px 5px 5px 10px;

.ip-patient-name {
  width:120%;//85%;                       cardview
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  float:left;
  font-size: 14px;
  font-weight: 600;
}

.ip-patient-stay {
  margin-left: 20px;
  float:right;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
}
.ip-patient-basic {
font-family: 'Open Sans', sans-serif;
font-size:  13px;
font-weight: 600;
.ip-basic-details {
  height: 225px;
  width: 16%;
  color:var(--primary-bg-hghl-color);
  background-color: #0000001a;
  text-align: center;
  border: 1px solid #0000001a;
  border-radius: 4px;
  float: left;
}
}
$bp : (
  
   tab : 768px,
   mob: 565px,
   
);
@mixin query($display){
  @each $key, $value in $bp{
    @if ($display == $key){
      @media (max-width: $value){@content;}
    }
  }
}
.ip-circle {
text-align: center;
position: relative;
border-radius: 50%;
margin: 10px 2px 15px 2.6px;
width: 42px;
height: 42px;
font-size: 14px;
display: inline-flex;
align-items: center;
justify-content: center;
background: var(--primary-bg-hghl-color);
color: black;
cursor: pointer;
@include query(tab){
  width: 33px;
  height: 36px;
}
@include query(mob){
  width: 42px;
  height: 42px;
}
}
.ip-patient-doctor {
color: #284255;
font-family: 'Open Sans', sans-serif;
font-weight: 600;
font-size: 12px;
padding: 7px 0px 0px 10px;
width:100%;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
}
.ip-nurse-alert {
  padding : 5px 0px 0px 0px;
  height: 15%;
  width: 100%;
  text-align: center;
}
.ip-vital{
  padding: 5px 0px 0px 0px;
  height: 30%;
  text-align: center;
}
.ip-patient-alert {
padding : 10px 0px 0px 0px;
height: 10%;
width: 100%;
text-align: center;
}
.vital-view {
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  width: 23%;
  display: inline-block;
  border: 2px solid lightgrey;
  border-radius: 10px;
  margin-right: 5px;
}

.pharmacy-custom-filter{
  margin-top: 3px;
  margin-bottom: 15px;
  padding-left: 10px;
}
#pharmacy-box1 {
  width: 40%;
  padding:7.5px;
  border:1px solid $secondary-color;
  font-weight: 600;
  color: var(--primary-bg-hghl-color);
  background-color: var(--primary-bg-color);
  font-size: 12px;
  border-right: none;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
#pharmacy-box1, #pharmacy-box2{
  display:inline;
  padding: 8px;
}
#pharmacy-box2{
  background: var(--primary-bg-hghl-color);
  border: 1px solid $secondary-color;
  padding-top: 2px;
  padding-bottom: 6px;
  border-radius: 4px 4px 4px 4px
}
.pharmacy-select{
  height: 30px;
  width: 10%;
  font-size: 14px;
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
  margin-right: 10px;
}
#porter-box1 {
  width: 40%;
  padding:9px;
  border:1px solid $secondary-color;
  font-weight: 600;
  color: var(--primary-bg-hghl-color);
  background-color: var(--primary-bg-color);
  font-size: 11px;
  border-right: none;
  border-radius: 4px 0px 0px 4px;
}
#porter-box1, #porter-box2{
  display:inline;
  padding-left: 8px;
}
#porter-box2{
  background: var(--primary-bg-hghl-color);
  border: 1px solid $secondary-color;
  padding-top: 2px;
  padding-bottom: 6px;
  border-radius: 4px 4px 4px 4px;
}
.porter-select{
  height: 30px;
  width: 10%;
  font-size: 11px;
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
}
