<lazy-loader *ngIf=loading></lazy-loader>
<div>
    <tw-header-new-component [type]="'new'" [component]="'task-management'" [permission]="null" [dateFilter]="null" [toDateFilter]="null" [rowFilter]="null"
     [manageAction]="null" [selectDropdown]="null" [selectedName]="true" [selectedView]="selectedView" [multiDateEnable]="false"
     [multiView]="enableMultiView" (selectedViewAction)="selectedViewAction($event)" [groupFilter]="groupFilter" [isDateClear]="false"
     (headerEventAction)="headerEventAction($event)"></tw-header-new-component>

    <tw-table-component *ngIf="selectedView === 'table'"
        [component]="'task-management'" [columns]="displayedColumns" [tableData]="tableData" [iconHeader]="iconHeader" [dateColumns]="dateColumns" [dateTimeColumns]="dateTimeColumns"
        [iconColumn]="iconColumn" [sortColumn]="sortColumn" [eventColumn]="eventColumn" (eventAction)="eventAction($event)"
        [rowClick]="true" [rowId]="'requestId'" [applyFilter]="applyFilterValue" [permissionControl]="permissionControl" [rowDbClick]="false" (rowDbClickAction)="null"
        [pagination]="[{length: length, pageSize: pageSize, pageStart: pageStart}]" [tableClass]="'tab-table'"></tw-table-component>

    <app-task-management-card-view *ngIf="selectedView === 'card'"
        [tableData]="tableData" [loading]="loading" [totalCount]="length"
        (cardEventAction)="handleCardEvent($event)" (loadMore)="loadMoreTasks()">
    </app-task-management-card-view>
</div>