$prefix: 'toolbar-notification';

@import '../../../theme/configcolour.scss';

.badge {
	position: absolute;
	top: -3px;
	left: 70%;
	font-size: 10px;
	line-height: 18px;
	height: 14px;
	padding-left: 4px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 5px;
	border-radius: 50%;
	width: auto;
	background-color: red;
	color: var(--primary-bg-hghl-color);
	border-color: red;
}

.#{$prefix} {
	&-container {
		position: relative;
		display: flex;
		align-items: center;
	}

	&-btn {
		height: 28px;
		width: 28px;
		background: #dedede;
		display: flex;
		justify-content: center;
	}
}

.dropdown {
	background: var(--primary-bg-hghl-color);
	position: absolute;
	top: 42px;
	right: 28px;
	min-width: 350px;
	z-index: 2;
	transform: translateY(0) scale(0);
	transform-origin: top right;
	visibility: hidden;
	transition: transform .4s cubic-bezier(.25, .8, .25, 1), visibility .4s cubic-bezier(.25, .8, .25, 1);

	@media screen and (max-width: 599px) {
		min-width: 50vw;
		right: 5px;
		transform: translateY(0);
		visibility: hidden;
		transition: transform .4s cubic-bezier(.25, .8, .25, 1), visibility .4s cubic-bezier(.25, .8, .25, 1);
	}

	&.open {
		transform: translateY(0) scale(1);
		visibility: visible;
	}

	.card {

		.header {
			background: var(--primary-bg-hghl-color);
			min-height: 54px;
			padding-left: 10px;
			padding-right: 10px;
			color: #555;
			display: flex;
			align-items: center;
			align-content: center;
			border-bottom: 1px solid #e0e0e0;

			.extra {
				font-size: 12px;
				color: #888;
			}
		}
	}
	.content {
		overflow: hidden;
		max-height: 256px;

		.notification {
			min-height: 64px;
			padding: 0 16px 0 14px;
			position: relative;
			color: #4D4F5C;
			background-color: #FAFAFA;
			cursor: pointer;

			.icon {
				height: 30px;
				width: 20px;
				line-height: 28px;
				font-size: 18px;
				margin-right: 13px;
				background: var(--primary-bg-hghl-color);
				color: #888;
			}

			.title {
				font-weight: 500;
				font-size: 14px;
				height: 60px;
			}

			.time {
				font-size: 12px;
				height: 30px;
			}

			.close {
				font-size: 18px;
				width: 18px;
				height: 18px;
				line-height: 18px;
			}

			&.primary {
				.icon {
					background: #ccc;
					color: #ddd;
				}
			}

			&.accent {
				.icon {
					background: #aaa;
					color: #bbb;
				}
			}

			&.warn {
				.icon {
					background: #eee;
					color: #ddd;
				}
			}

			&.read {
				color: #999;

				.name {
					font-weight: normal;
					height: 30px;
				}
			}
		}
	}

	.footer {
		min-height: 42px;
		border-top: 1px solid #EEE;

		.action {
			cursor: pointer;
			color: #AAA;
			text-align: center;
			font-size: 13px;
		}
	}

	.divider {
		width: calc(100% - 30px);
		height: 1px;
		background: #EEE;
		margin: 0 16px 0 14px;
	}
}
.grd-lst-style{
	width: 100%; font-size: 12px;
}
.svg-style{
	width:30px;height:30px;
}
$bp : (
   mob: 565px,
	mob_m:425px,
   mob_s: 320px
);
@mixin query($display){
  @each $key, $value in $bp{
    @if ($display == $key){
      @media (max-width: $value){@content;}
		}
	}
}

$mh:(                           //LANDSCAPE 
	h4:426px,
	h5:476px,
);
@mixin disp_height($display){
  @each $key,$value in $mh{
    @if ($display==$key){
      @media(max-height:$value){@content;}  
		}
	}
}


.toolbar-notification-btn{			//LAND-SCAPE MENU
	@include disp_height(h5){
		display: block;
	}
}
