@import '../../../../../theme/configcolour.scss';

.map-table-filter {
    width: 180px;
    border: 1px solid $tertiary-color !important;
    background: $tertiary-color;
    height: 28px;
    display: flex;
    border-radius: 4px;
  }