@import '../../../../theme/configcolour.scss';
  
  .groupHeaderClass {
      height: 40px;
      font-size: 14px;
      font-weight: 600;
      color: #23374A;
      border-radius: 1px 1px 0px 0px;
      .header {
        padding-top: 13px;
        padding-left: 15px;
      }
    }
      
      .category-header {
       
        font-family: 'Open Sans', sans-serif;
        border-radius: 10px 10px 0px 0px;
        box-shadow: 0px 1px 8px -1px rgba(40, 66, 85, 0.2);
      }
    .dig-q-styl{
      font-family:'Open Sans', sans-serif; padding: 0px 8px 0px 6px;
    }
    .mrgn-styl{
      margin:5px
    }
    .fnt-styl_{
      font-weight: 600;
      cursor: pointer;
    }
     .hdr-styl{
       background-color: var(--primary-bg-hghl-color) ;
     }   
    .circle {
      text-align: center;
      position: relative;
      border-radius: 50%;
      margin-left: 2.6px;
      margin-right: 5px;
      min-width: 30px;
      font-size: 19px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background: #F2F7FA;
      color: grey;
      cursor: pointer;
    }
    .circle:after {
      content: '';
      padding-top: 100%;
      display:table;
    }
    .sm-circle-bl {
      width:6px;
      height:8px;
      border-radius:50px;
      font-size:20px;
      padding-right:2px;
      background: var(--primary-bg-color);
      display: inline-block;
    }
    .sm-circle-red {
      background: #F25454;
      padding-right:2px;
    }
    .sm-circle-green {
      background: #1ABF20;
      padding-right:2px;
    }
    #colr1{
      color: var(--primary-bg-color);
      font-family: 'Open Sans', Arial, sans-serif;
      font-weight: 600;
    }
    #colr2{
      color: #F25454;
      font-family: 'Open Sans', Arial, sans-serif;
      font-weight: 600;
    }
    #colr3{
      color: #1ABF20;
      font-family: 'Open Sans', Arial, sans-serif;
      font-weight: 600;
      margin-right:8px;
    }
    .header_{
      display: inline-block; 
      width: 100%;
    }
    .right_ {
      float: right;
      margin-right: 18px;
      padding-right: 2px;
      font-size:15px;
      .clear-all-btn{
        font-family: 'Open Sans, Semibold';
        font-size: 12px;
        font-weight: 600;
        background-color: #EAEAEA;
        color: #4B4B4B;
        border-radius: 18px;
        height:24px;
        width:66px;
        padding: 6px 8px 18px 8px;
        cursor: pointer;
        border: none;
        }
      i.material-icons {
        font-size: 1.5rem;
        color: var(--primary-bg-hghl-color) ;
        position: relative; 
        border-radius: 50%;
        padding: 5px;
        margin: 3px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
    }
    
    i.material-icons:after {
        content: "";
        width: 100%;
        height: 100%;
        border: solid 2px;
        transform: scale(0.8);
        position: absolute;
        top: -2px;
        left: -2px;
        border-radius: 50%;
        transition: all 0.3s ease;
    }
    
    i.material-icons:active:after {
        transform: scale(1);
        box-shadow: 10px 0 20px rgba(0, 0, 0, 0.19), 6px 0 6px rgba(0, 0, 0, 0.23);
    }
    
    i.material-icons:nth-of-type(1) {
        background-color: var(--primary-bg-color);
    }
    
    i.material-icons:nth-of-type(1):active {
        color: var(--primary-bg-color);
    }
    
    i.material-icons:nth-of-type(1):after {
        border-color: var(--primary-bg-color);
    }
    
    
    i.material-icons:active{
        background-color: transparent;
        transform: rotate(360deg);
        cursor: pointer;
        box-shadow: none;
    }
    
    p {
        color: #999;
        font-weight: 300;
        margin-top: 20px;
    }
    @media(max-width: 360px) and (min-width:300px){
      i.material-icons{
        font-size: 1.5rem;
        color: var(--primary-bg-hghl-color) ;
        position: relative; 
        border-radius: 50%;
        padding: 5px;
        margin-top: 13px;
        margin-left: 14px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
      }
    }
    @media(max-width: 499px) and (min-width:360px){
      i.material-icons{
        font-size: 1.5rem;
        color: var(--primary-bg-hghl-color) ;
        position: relative;
        border-radius: 50%;
        padding: 4px;
        margin-top: 15px;
        margin-left: 0px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
      }
    }
    @media(max-width: 600px) and (min-width:500px){
      i.material-icons{
        margin-top: 15px;
      }
    }
    
    @media (min-width:601px) {
      i.material-icons {
        padding:10px;
        margin: 12px 0px 6px 0px;
        font-size:1.3rem;
      }
    }
    
    
    @media (min-width:993px) {
      i.material-icons {
        padding:6px;
        margin: 13px 0px 6px 0px;
        font-size:1.6rem;
      }
      i.material-icons:after {
        border-width:3px;
        top:-3px;
        left:-3px;
      }
    }
    }
    .left_ {
      float: left;
      margin-left: 2px;
    }
    #block_container{
      text-align:left;
      padding-left: 0%;
      padding-right: 0%; 
      padding-top: 8px;
      padding-bottom: 0%;
    }
    .border-styl_{
      border: 2px solid $secondary-color;
    }
    .enroll{
      float: right;
    }
    .custom-mat-grid-tile {
        height: 97% !important;     
    }
    .footer{
      font-family: 'Open Sans', sans-serif;
      font-size: 11px;
      color:#636A6D;
      bottom: 0em;
      left: 50%;
      z-index: 1;
      position: fixed;
     }
