@import '../../../../../theme/configcolour.scss';

.add-btn-wrap {
  display: flex;
  align-items: center;
  margin-top: 6px;
}

.schl-tbl-view {
  position: relative;
  top: 30px;
  width: 99%;
}

.page-container {
  display: flex;
  height: 100%;
}

.left-panel {
  width: 280px;
  transition: 0.3s;
  border-right: 1px solid var(--quinary-color);
  overflow: hidden;
}

.left-panel.collapsed {
  width: 42px;
  border-right: 0px;
}

.left-header {
  display: flex;
  align-items: center;
  border: 1px solid var(--quinary-color);
  background: linear-gradient(135deg, var(--primary-bg-color), var(--primary-menu-bg-color));
  color: var(--primary-bg-hghl-color);
  justify-content: space-between;
  // margin-right: 3px;
  border-radius: 2px;
  height: 35px;
}

.right-panel {
  flex: 1;
  padding: 16px;
  overflow: auto;
}

.secondary {
  font-size: 12px;
  opacity: 0.6;
}

.selected-entity-list {
  font-size: 13px !important;
  margin-bottom: 5px !important;
  height: 40px !important;
  border-radius: 5px !important;
  border: 1px solid var(--quinary-color);
  cursor: pointer;
  transition: all 0.25s ease;
}

.selected-entity-list.active {
  background-color: linear-gradient(135deg, var(--primary-bg-color), var(--primary-menu-bg-color));
  box-shadow: 0 4px 10px var(--drkgry-color);
  transform: scale(1.03);
}

.selected-mat-list .mat-list-item.active {
  background: var(--primary-bg-color) !important;
  border-right: 0px solid #fff !important;
  color: #ffffff !important;
}

 .selected-mat-list .mat-list-item-content {
  padding: 5px !important;
 }

.schedule-card {
  background: #ffffff;
  border-radius: 7px;
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
  overflow: hidden;
  transition: 0.3s ease;
}

.schedule-trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 8px;
  cursor: pointer;
  background: linear-gradient(135deg, var(--primary-bg-color), var(--primary-menu-bg-color));
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s ease;
}

.schedule-trigger:hover {
  filter: brightness(1.05);
}

.schedule-trigger .left {
  display: flex;
  align-items: center;
  gap: 2px;
}

.arrow {
  transition: 0.3s ease;
}

.rotate {
  transform: rotate(180deg);
}

.schedule-body {
  padding: 25px;
  animation: slideFade 0.3s ease-in-out;
}

@keyframes slideFade {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.schedule-item {
  font-size: 11px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  min-width: 220px;
}
