.intro-desc{
    line-height: 1.5;
    padding:1px;
    text-align:justify;
}
.b{
    color:#0f1a83;
}

#myFrame{
    font-family: 'Open Sans', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    text-align-last:left;
}

.hdr-frm{
    width:100%;
}
.frm-styl{
    margin-top: 10px;padding-left:10px;
}
.fnt-clr_{
    color:#0f1a83;
}