@import '../../../../../theme/configcolour.scss';

input.no-spinner::-webkit-outer-spin-button,
input.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input.no-spinner {
  -moz-appearance: textfield;
}

.ovi-mat-field-qut {
  .mat-form-field-infix {
    display: flex !important;
  }
}

.ovi-schl-custom-select {
    display: flex;
    width: 44px;
    height: 21px;
    align-items: center;
    justify-content: space-between;
    padding-right: 5px;
    position: relative;
    bottom: 4px;
}

.ovi-schl-custom-dec {
    width: 19px;
    font-size: 16px;
    height: 19px;
    display: flex;
    justify-content: center;
    border-radius: 50% 50%;
    color: var(--primary-bg-hghl-color);
    background: var(--primary-bg-color);
    cursor: pointer;
}

.ovi-schl-custom-incre {
    font-size: 16px;
    height: 19px;
    width: 19px;
    display: flex;
    justify-content: center;
    border-radius: 50% 50%;
    color: var(--primary-bg-hghl-color);
    background: var(--primary-bg-color);
    cursor: pointer;
}