<div class="mat-tab-content" *ngIf="documentForm">
    <div [formGroup]="documentForm">
        <div class="ovi-row-gap ">
            <div class="ovi-row-four-clmn  ovi-matfrmfld-drpdwn-top-box">
                <mat-label class="ovi-lbl-text-size">{{"Document Type"|translate}} <span class="mandatory-field">*</span></mat-label>
                <mat-form-field class="ovi-row-frmfld-wdh ovi-matfrmfld-err" appearance="outline">
                    <mat-select appPlaceholder [showPlaceholder]="false" [placeholderText]="'Document Type'|translate" formControlName="documentTypeId" matSelectSearch>
                        <mat-option *ngFor="let docType of documentType" [value]="docType.code">
                            {{docType.value}}
                        </mat-option>
                    </mat-select>
                <mat-error *ngIf="documentForm.controls.documentTypeId.invalid" class="error-txt-1">
                    <span [hidden]="!documentForm.controls['documentTypeId'].errors.required">{{"DocumentType
                        is required"|translate}}</span>
                    <span [hidden]="!documentForm.controls['documentTypeId'].errors.maxlength">{{"Please select a valid location documentType from the list"|translate}}. </span>
                </mat-error>
                </mat-form-field>

            </div>
            <div class="ovi-row-four-clmn ovi-matfrmfld-input-box-pdg ">
                <mat-label class="ovi-lbl-text-size">{{"Document Name"|translate}}</mat-label>
                <mat-form-field class="ovi-row-frmfld-wdh " appearance="outline">
                    <input matInput appPlaceholder [showPlaceholder]="false" [placeholderText]="'Document Name'|translate"  formControlName="documentName" autocomplete="off">
                </mat-form-field>
            </div>

            <div class="ovi-row-four-clmn ovi-font-family">
                <ng-container *ngIf="documentForm.controls['documentTypeId'].value !== 'DT-LI'; else linkField">
                <div style="margin-top:9px">
                    <button [ngClass]="!documentForm.controls['documentTypeId'].value ? 'file-upload-button-disabled' : 'file-upload-button'"
                        [disabled]="!documentForm.controls['documentTypeId'].value">
                        <input type="file"
                            *ngIf="documentForm.controls['documentTypeId'].value"
                            multiple #fileInput accept="image/x-png,image/jpeg, .pdf, .txt" title=""
                            class="custom-file-input" id="file3"
                            (change)="handleFileSelect($event); onFileSelect(fileInput)" />
                        {{"Choose File"|translate}}
                    </button>
                    <span class="file-info"
                        *ngIf="documentForm.controls['documentTypeId'].value && !isFileSelected">{{"Please
                        select .jpeg / .png / .pdf / .txt file format only"|translate}}</span>
                    <span class="file-info" *ngIf="isFileSelected">{{fileInfo}}</span>
                </div>
                </ng-container>
                <ng-template #linkField>
                <mat-label class="ovi-lbl-text-size">{{ "Link" | translate }}</mat-label>
                <mat-form-field class="ovi-row-frmfld-wdh" appearance="outline">
                    <input matInput appPlaceholder [showPlaceholder]="false" [placeholderText]="'Enter Link' | translate"
                    formControlName="documentLink"autocomplete="off"/>
                </mat-form-field>
                </ng-template>
            </div>
            <div style="height:55px; display: flex;align-items: center; justify-content: center;margin-top: 10px; gap:10px">
                <button *ngIf="!isEditDocRow" mat-button class="active-btn"
                    [disabled]="((!documentForm.controls['documentTypeId'].value &&(isFileSelected || !documentForm.controls['documentLink'].value)) || !documentForm.controls['documentTypeId'].value)|| (documentForm.controls['documentTypeId'].value === 'DT-LI'? !documentForm.controls['documentLink'].value: !isFileSelected)"
                    (click)="addDocRow()">{{ ('Add' | translate) }}
                </button>
                <button *ngIf="isEditDocRow" mat-button class="active-btn"
                    [disabled]="!documentForm.valid || (!documentForm.dirty && !fileChanged)"
                    (click)="addEditRow()">{{ ('Update' | translate) }}
                </button>
                <button *ngIf="isEditDocRow" mat-button class="active-btn"
                    (click)="resetForm()">
                    {{('Cancel' | translate) }}
                </button>
            </div>
        </div>
    </div>
    <div *ngIf="isDocTable === false" class="no-shift">{{"No records Found"|translate}}</div>
    <div class="ast-styl-1 mat-tab-content"  style="padding-top:20px;"*ngIf="isDocTable">
        <mat-table #table [dataSource]="docSourceIdentifier" class="document-tbl">

            <ng-container matColumnDef="identifyingTypeValue" *ngIf="entityData?.entityType !== 'Request'">
                <mat-header-cell *matHeaderCellDef class="mat-sort-header-button mat-tbl-styl_1">
                    {{"Event Type"|translate}}
                </mat-header-cell>
                <mat-cell *matCellDef="let element" class="tbl-width">
                    {{element.entityType !== 'Request' ? element.entityType : element.identifyingTypeValue }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="eventId" *ngIf ="entityData?.entityType !== 'Request'" >
                <mat-header-cell *matHeaderCellDef class="mat-sort-header-button mat-tbl-styl_1">
                    {{"Event Id"|translate}}
                </mat-header-cell>
                <mat-cell *matCellDef="let element" class="tbl-width">
                    <ng-container *ngIf="element?.entityType === 'Request'; else entityColumn">
                    <a href="javascript:void(0)" class="eventColumn" (click)="openEntityEvent(element)">
                        {{element.entityId}}
                    </a>
                    </ng-container>
                    <ng-template #entityColumn>
                    {{element.entityId}}
                    </ng-template>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="type">
                <mat-header-cell *matHeaderCellDef class="mat-sort-header-button mat-tbl-styl_1">
                    {{"Document Type"|translate}}
                </mat-header-cell>
                <mat-cell *matCellDef="let element" class="tbl-width">
                    {{element.documentTypeName}}
                </mat-cell>
            </ng-container>


            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef class="mat-sort-header-button mat-tbl-styl_1">
                    {{"Document Name"|translate}} </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{element.fileName}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="createdby">
                <mat-header-cell *matHeaderCellDef class="mat-sort-header-button mat-tbl-styl_1">
                    {{"Created By"|translate}}</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{element.createdBy}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="createdOn">
                <mat-header-cell *matHeaderCellDef class="mat-sort-header-button mat-tbl-styl_1">
                    {{"Created Time"|translate}}</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{this.dateFormat.transform(element.createdOn, "hh:mm a, d MMM")}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="modifyByName">
                <mat-header-cell *matHeaderCellDef class="mat-sort-header-button mat-tbl-styl_1">
                    {{"Modified By"|translate}}</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{element.modifyByName}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="modifiedOn">
                <mat-header-cell *matHeaderCellDef class="mat-sort-header-button mat-tbl-styl_1">
                    {{"Modified Time"|translate}}</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{this.dateFormat.transform(element.modifiedOn, "hh:mm a, d MMM")}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="preview">
                <mat-header-cell *matHeaderCellDef class="mat-sort-header-button mat-tbl-styl_1">
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <mat-icon *ngIf="element.fileType != 'Link'" class="ovi-prmry-clr ovi-fnt-sze20" style="cursor: pointer;" 
                    appTooltip tooltipText="{{'Preview'|translate}}" (click)="getFileDownload(element)"  (keydown.enter)="fixClick()">launch
                    </mat-icon>

                <mat-icon *ngIf="element.fileType != 'Link'" class="ovi-prmry-clr ovi-fnt-sze20" style="cursor: pointer;" appTooltip
                    tooltipText="{{ 'Download' | translate }}" (click)="downloadFile(element)"  (keydown.enter)="fixClick()">download
                </mat-icon>

                <a href="javascript:void(0)" appTooltip  tooltipText="{{ element.fileUrl | translate }}"  *ngIf="element.fileType == 'Link'" class="eventColumn" (click)="previewLink(element)">
                    {{element.fileUrl}}
                </a>

                <mat-icon class="ovi-prmry-clr ovi-fnt-sze20" style="cursor: pointer;" 
                    appTooltip tooltipText="{{'Edit'|translate}}" (click)="editRowSelection(element)"  (keydown.enter)="fixClick()">edit
                </mat-icon>

                <mat-icon  mat-icon-button color="warn" style="cursor: pointer;" 
                    appTooltip tooltipText="{{'Delete'|translate}}" (click)="removeRowSelection(element)"  (keydown.enter)="fixClick()">delete
                </mat-icon>
                </mat-cell>                
            </ng-container>

            <mat-header-row *matHeaderRowDef="docDisplayedColumns">
            </mat-header-row>
            <mat-row *matRowDef="let row; columns: docDisplayedColumns;">
            </mat-row>
        </mat-table>
    </div>
</div>