@import '../../../../../theme/configcolour.scss';


.selected-tree {
	color: #f5f8f8;
	background: var(--primary-bg-color);
}
.img-styl{
	width: 100%;height: 100%;padding:2px;
}
.img-styl_1{
	height:60px;width:90%;margin:-10px 5px;border:1px solid black
}
.img-styl_2{
	max-width: 150px;height: 100%;float: left;
}
.img-styl_3{
    border:1px solid black; margin-top:25px; margin-left: 5px; border-radius: 5px; padding: 5px;position: relative;transform: translateY(-50%);cursor: pointer;
}
.parent-img{
	height:98%;width: 100%;
}

.disp-none{
	display: none;
}
.tree-hide {
	display: none;
}
.collapse-icon {
    font-size: 13px  !important;
	margin-top: -10px !important;
    color: #838383;
}
.expand-icon {
	font-size: 13px !important;
	margin-top: -10px !important;
    color: #838383;
}
.location-tab {
	.mat-tab-body-wrapper {
		height: 100%;
	}
}

.mat-slider.mat-slider-horizontal {
	height: 48px;
    min-width: 80%;
}

.mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
background-color: var(--primary-bg-hghl-color);
}
.mat-slider-horizontal .mat-slider-wrapper {
	height: 2px;
	top: 18px !important;
	left: 8px;
	right: 8px;
}
.mat-slider.mat-slider-horizontal .mat-slider-track-wrapper {
	height: 12px;
	border-radius: 10px
}

.mat-slider.mat-slider-horizontal .mat-slider-track-background,
.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
	height: 100%;
}

.mat-accent .mat-slider-thumb {
	height: 30px;
	width: 30px;
	border: solid 2px var(--primary-bg-color);
	bottom: -20px;
	right: -20px;
}
.custom-manage-loc-autocomplete{
    @media (max-width: 965px){
      display: none;
    }
    background: var(--primary-bg-hghl-color);
    margin-top: 2px;
    margin-left: 5px;
	height: calc(100vh - 50vh) !important;
	max-height: calc(100vh - 50vh) !important;
    box-shadow: 0px 0px 2px 0px !important;
    border-radius: 15px;
	visibility: visible !important;
}
 /* remove label background elements */
 .leaflet-tooltip.polytooltip {
	background-color: transparent;
	border: transparent;
	box-shadow: none;
	font-weight: bold;
	line-height: 1.2;
}
.block-floor-header {
	width: 50%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.block-floor-header-name {
	font-weight: 600;
	color: #837d7d;
}
.selected-block-floor-name {
	font-weight: 700;
	color: #837d7d;
}
.selected-add-box {
	color: var(--primary-bg-color);
}
.add-selected-tree {
	background: #f5f8f8;
	color: var(--primary-bg-color);
	border: 1px solid var(--primary-bg-color);
}
.unselected-add-box{
	color: #000;
}