$bp : (
  desktop:1440px,
  lap:1024px,
   tab : 768px,
   mob: 565px,
   mob_m:425px,
   mob_s: 320px
  
);
@mixin query($display){
  @each $key, $value in $bp{
    @if ($display == $key){
      @media (max-width: $value){@content;}
    }
  }
}
.close-align-ack {
  width: 100% !important;
}
.remarks-label-styl {
  width: 15%;
  @include query(mob){
    width: 28%;
  }
}
.remarks-styl {
  width: 75%;
  @include query(mob){
    width: 55%;
  }
}