@import '../../../../../theme/configcolour.scss';

.alert-list{
    height: 100%;
    overflow: auto;
    .Critical {
        margin-top: 2px; 
        border-radius: 3px; 
        border-left: 10px solid #284255;
        border-top: 0.5px solid #f4f7fc;
        border-bottom: 0.5px solid #f4f7fc;
        border-right: 0.5px solid #f4f7fc;
    }
    .Warning {
        margin-top: 2px; 
        border-radius: 3px; 
        border-left: 10px solid #284255;
        border-top: 0.5px solid #f4f7fc;
        border-bottom: 0.5px solid #f4f7fc;
        border-right: 0.5px solid #f4f7fc;
    }
    .Reminder {
        margin-top: 2px; 
        border-radius: 3px; 
        border-left: 10px solid #284255;
        border-top: 0.5px solid #f4f7fc;
        border-bottom: 0.5px solid #f4f7fc;
        border-right: 0.5px solid #f4f7fc;
    }
    .Info {
        margin-top: 2px; 
        border-radius: 3px; 
        border-left: 10px solid #284255;
        border-top: 0.5px solid #f4f7fc;
        border-bottom: 0.5px solid #f4f7fc;
        border-right: 0.5px solid #f4f7fc;
    }
    .TAT-AS {
        background-color: #B1EBEB;
    }
    .TAT-CP {
        background-color: #9DEAC9;
    }
    .TAT-IN {
        background-color: #E2AAEF;
    }
    .TAT-PA {
        background-color: #A397E6;
    }
    .TAT-PO {
        background-color: #8EB6D8;
    }
    .TAT-ST {
        background-color: #B1EBEB;
    }
    .TAT-US {
        background-color: #BCEBB1;
    }
    .mat-list-item:hover {
        background-color: #eceff5 !important;
        .alert-track {
            display: block;
        }
    }
    .alert-body {
        width: 90%;
    }
    .alert-action {
        width: 10%;
        .alert-track{
            display: none;
            cursor: pointer;
            float: left;
            width: 45px;
            font-size: 15px;
            padding: 9px 5px;
            font-weight: 600;
            height: 22px;
            border-radius: 3px;
            border: 0.5px solid #80808030;
            text-align: center;
            color: var(--primary-bg-hghl-color);
            background-color: #284255;
        }
        img {
            float: right;
            height: 40px; 
            width: 40px;
        }
    }
    .alert-name{
        font-size: 14px; 
        font-weight: 700;
        color: #284255;
    }
    .alert-msg {
        font-size: 10px;
        color: #284255;
        span {
            font-size: 12px;
            color: $quaternary-color;
        }
    }
    
}
.alert-time {
    font-size: 10px;
    color: #284255;
    float: right;
   }
a {
    cursor: pointer;
    text-decoration: none;
    color: #0494E0;
}
.no-alert {
    color: black;
    text-align: center;
    padding: 25%;
    font-size: 16px;
 }
.mat-list .Info .mat-list-item-content {
    padding: unset;

}
.mat-list .Info .mat-line {
    padding-left: 5px;

}
.mat-list .Warning .mat-list-item-content {
    padding: unset;

}
.mat-list .Warning .mat-line {
    padding-left: 5px;

}
.mat-list .Reminder .mat-list-item-content {
    padding: unset;

}
.mat-list .Reminder .mat-line {
    padding-left: 5px;

}
.mat-list .Critical .mat-list-item-content {
    padding: unset;

}
.mat-list .Critical .mat-line {
    padding-left: 5px;

}

.dash-alert-refresh-icon{
    i.material-icons {
        font-size: 1.5rem;
        color: var(--primary-bg-hghl-color);
        position: relative; 
        border-radius: 50%;
        padding: 5px;
        margin: 3px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
        }
        
        i.material-icons:after {
        content: "";
        width: 100%;
        height: 100%;
        border: solid 2px;
        transform: scale(0.8);
        position: absolute;
        top: -2px;
        left: -2px;
        border-radius: 50%;
        transition: all 0.3s ease;
        }
        
        i.material-icons:active:after {
        transform: scale(1);
        box-shadow: 10px 0 20px rgba(0, 0, 0, 0.19), 6px 0 6px rgba(0, 0, 0, 0.23);
        }
        
        i.material-icons:nth-of-type(1) {
        background-color: #019F96;
        }
        
        i.material-icons:nth-of-type(1):active {
        color: #019F96;
        }
        
        i.material-icons:nth-of-type(1):after {
        border-color: #019F96;
        }
        
        
        i.material-icons:active{
        background-color: transparent;
        transform: rotate(360deg);
        cursor: pointer;
        box-shadow: none;
        }
        
        p {
        color: #999;
        font-weight: 300;
        margin-top: 20px;
        }
        @media (max-width:767px) and (min-width:601px) {
            i.material-icons {
            padding:5px;
            margin: 2px 0px 6px 0px;
            font-size:1.6rem;
            }
            }
        @media (min-width:768px) {
        i.material-icons {
            padding: 3px;
            margin: 3px 0px 6px 0px;
            font-size: 1.6rem
        }
        }
        
        @media (min-width:993px) {
          i.material-icons {
            padding:0px;
            margin: 6px 0px 6px 0px;
            font-size:1.6rem;
          }
        i.material-icons:after {
        border-width:3px;
        top:-3px;
        left:-3px;
        }
        }
}

.alert {
    height:calc(100% - 115px);
    .mat-list >  .mat-list-item:nth-child(2n+1){
        background-color:var(--primary-bg-hghl-color);
    }
    .mat-list >  .mat-list-item:nth-child(2n){
        background-color:#f4f7fc;
    }
} 
.widHeaderClass {
    height: 35px; 
    padding: 5px 10px 0px 10px; 
    font-size: 16px; 
    font-weight: 600;
    color: #284255;
}
.custom-select {
    height: 21px;
    width: 150px;
    float: right;
    border: solid 0.1px #28425530;
    color: #284255;
    font-size: 13px;
    font-weight: 600;
    border-radius: 3px;
    padding: 5px 0px 0px 5px;
}
.wid-hd-style{
    width: 80%; font-size: 9px; float: left
}
@media (max-width:450px) and (min-width:300px){
.cust-style{
    width: 35%; padding: 0.5px; float: right;
}
}
@media (max-width:767px) and (min-width:451px){
    .cust-style{
        width: 22%; padding: 0.5px; float: right;
    }
    }
.mt-lst-style{
    height: 98%; width: 200px;  max-width: 155px; color: var(--primary-bg-hghl-color); font-size: 13px; font-weight: 600
}
.img-style{
    width: 20px;
    padding-left: 0px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
    height: 100%; float: left;
}
.pad-style{
    padding-top: 15px;
}
.alrt-style{
    width:100%; height: 10%; text-align: center; cursor:pointer;
}

 /*------------------ Introduced to achieve a better view in IE 11 ------------------*/
 @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  

.mat-list .mat-list-item .mat-list-item-content, .mat-list .mat-list-option .mat-list-item-content, .mat-nav-list .mat-list-item .mat-list-item-content, .mat-nav-list .mat-list-option .mat-list-item-content, .mat-selection-list .mat-list-item .mat-list-item-content, .mat-selection-list .mat-list-option .mat-list-item-content{
display: flex;
flex-direction: row;
align-items: center;
box-sizing: border-box;
position: relative;
height: inherit;
padding: 0px 2px 0px 0px;
}
}
 /*------------------ Introduced to achieve a better view in IE 11 ------------------*/
