@import '../../../../../theme/configcolour.scss';

.mat-toolbar-single-row{
  height: 35px;
}
.cert-upload{
  margin-top:2px;
  width:100%;
  height:30px;
  border: 1px solid #0000007a;
  text-align: center;
  padding-top: 2%;
  border-radius: 5px;
  font-size: 14px;
}
.gateway-cert{
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}
.no-broker{
  padding: 10px 0px 45px 0px;
  text-align: center;
  font-size: 16px;
}

.act-space-around{
  font-size: 14px;
  color: #23374A;
  padding-right: 10px;
}
.selected-entity-list {
  background-color: var(--primary-bg-color);
  color: var(--primary-bg-hghl-color);
}
.non-selected-entity-list {
  background-color: var(--primary-bg-hghl-color);
  color: black;
}
.no-task {
  padding: 50px 0px 45px 0px;
  text-align: center;
  font-size: 16px;
  color: $quaternary-color;
  font-style: italic;
  font-weight: 600;
}
.job-tree {
  width: 250px;
  float: left;
  border-right: 2px solid lightgray;
  overflow: auto;
}
