<div class="container ovi-font-family">
    <mat-toolbar class="block-1" style="height: 50px;">
        <div class="close-Btn">
            <mat-icon class="icon-style ovi-fnt-sze25" style="padding: 5px 15px; cursor: pointer;"
                (click)="close('close', false)" (keydown.enter)="fixClick()">close</mat-icon>
        </div>
        <div style="width: calc(55% - 25px);">
            <div style="font-weight: 600;overflow: hidden;text-overflow: ellipsis; cursor: pointer;">
                {{"Video Library"|translate}}
            </div>
        </div>
        <span class="search-align">
            <mat-icon class="ovi-fnt-sze20" style="padding: 5px 7px 0px;">search</mat-icon>
            <input matInput style="padding: 5px;" (keyup)="applyFilter($event.target.value)"
                appPlaceholder [showPlaceholder]="true" [placeholderText]="'Search'|translate" autocomplete="off">
        </span>
    </mat-toolbar>
    <div style="height: calc(100% - 58px); overflow-x: hidden; overflow-y: auto;">
        <mat-list *ngFor="let data of aproverList" (click)="postschedule(data)" (keydown.enter)="fixClick()">
            <mat-list-item class="approve-item">
                <div style="display: flex; align-items: center">
                    <div style="display: block">
                        <img [src]="data.thumbnailUrl != ''? data.thumbnailUrl : '/assets/Alert/black.png'" class="thumbnail-img" alt="thumbnail-img">
                        <span class="duration">{{data.duration}}</span>
                    </div>
                    <span>
                        <div class="list-title">{{data.title}}</div>
                        <div class="ovi-fnt-sze11" style="padding: 1px 10px;">{{"Type"|translate}}
                            - <span class="live"></span>
                         <span style="color: red">Live</span>
                        </div>
                        <div class="ovi-fnt-sze11" style="padding: 1px 10px;">{{"Requested
                            slot"|translate}}<span>{{data.telecastValue}}</span></div>
                    </span>
                </div>
            </mat-list-item>
        </mat-list>
    </div>
</div>