@import '../../../../theme/configcolour.scss';

.input-header {
	h1 {
		padding: 0px;
	}
}
.mat-column-ID {
    flex: none;
    width: 10px;
}
.mat-column-Add {
    flex: none;
    width: 0px;
}
.mat-column-Tag-ID {
    flex: none;
    width: 10px;
}
.mat-column-Timer {
    flex: none;
    width: 10px;
}
.mat-column-UHID {
    flex: none;
    width: fit-content;
    min-width: 60px;
}
.mat-column-Porter {
    flex: none;
    width: 20px;
}
.mat-column-Alert {
    flex: none;
    width: 60px;
}
.mat-column-Age {
    flex: none;
    width: 40px;
}
.mat-column-Gender {
    flex: none;
    width: 5px;
}
.mat-column-Visit-Status {
    flex: none;
    width: 60px;
}
.mat-column-Length-Of-Stay {
    flex: none;
    width: 70px;
}
.header-cont-style {
    flex: none;
    width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.cont-style {
    flex: none;
    max-width: 200px;
    width: 180px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.header-pad {
    padding: 0px 0px 0px 18px;
    flex: none;
    min-width: 100px;
    width: 180px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
mat-header-cell {
    display:flex;
    justify-content:left;
}
.oflw-style{
    overflow: hidden;
}
.pad-style{
    padding-right:5px;
}
.bg-colr-style{
    background:var(--primary-bg-hghl-color);
}

.exp-colp-style{
    font-size:20px;
    cursor: pointer;
}
.male {
    color: #00cccb;
    font-size: 11px;
    font-weight: 600;
}
.female {
    font-size: 11px;
    color: #ff00fe;
    font-weight: 600;
}

.engage {
    border: 2px solid #EF9A9A;
}
.spinner-container {
    position: relative;
  }
  .spinner-background {
    position: absolute;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    overflow: hidden;
    border-color: rgba(103,58,183,0.12);
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    font-size: 10px;
    font-weight: 400;
    top: 1px;
  }
  .sm-circle-col {
    width:6px;
    height:8px;
    border-radius:50px;
    font-size:20px;
    padding-right:2px;
    background: #5c6bc0;
    display: inline-block;
  }

  .tw-infant-submenu-pad {
      .mat-menu-content:not(:empty) {
          padding-top: 0px !important;
          padding-bottom: 0px !important;
      }
  }

.disabled-row {
  color: #d1d1d1;
  cursor: auto;
}
.patient-away {
    background-image: url("/assets/Alert/IP/Moved-out-icon.svg");
    background-size: 26px 26px;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: left center;
    cursor: pointer;
    padding: 0px 2px;
}
.fall-risk {
    background-image: url("/assets/Alert/IP/fall.svg");
    background-size: 26px 26px;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: left center;
    cursor: pointer;
    padding: 0px 2px;
}
.patient-missing {
    background-image: url("/assets/Alert/IP/patient-missing.svg");
    background-size: 26px 26px;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: left center;
    cursor: pointer;
    padding: 0px 2px;
}
.geofence {
    background-image: url("/assets/Alert/IP/geofence.svg");
    background-size: 26px 26px;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: left center;
    cursor: pointer;
    padding: 0px 2px;
}
.sensor {
    background-image: url("/assets/Alert/IP/sensor.svg");
    background-size: 26px 26px;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: left center;
    cursor: pointer;
    padding: 0px 2px;
}
.medicine {
    background-image: url("/assets/Alert/CE-MD.svg");
    background-size: 26px 26px;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: left center;
    cursor: pointer;
    padding: 0px 2px;
}
.housekeeping {
    background-image: url("/assets/Alert/CE-HK.svg");
    background-size: 26px 26px;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: left center;
    cursor: pointer;
    padding: 0px 2px;
}
.aid {
    background-image: url("/assets/Alert/IP/nurse-call.svg");
    background-size: 26px 26px;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: left center;
    cursor: pointer;
    padding: 0px 2px;
}
.sos {
    background-image: url("/assets/Alert/CE-SOS.svg");
    background-size: 26px 26px;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: left center;
    cursor: pointer;
    padding: 0px 2px;
}
.food {
    background-image: url("/assets/Alert/CE-FD.svg");
    background-size: 26px 26px;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: left center;
    cursor: pointer;
    padding: 0px 2px;
}
.call {
    background-image: url("/assets/Alert/IP/nurse-call.svg");
    background-size: 26px 26px;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: left center;
    cursor: pointer;
    padding: 0px 2px;
}
.tamper {
    background-image: url("/assets/Alert/CE-TAM.svg");
    background-size: 26px 26px;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: left center;
    cursor: pointer;
    padding: 0px 2px;
}
.icon-style {
    width: 26px;
    min-width: 26px;
    height: 26px;
    min-height: 26px;
}
.activity-edit1 {
    font-size: 20px;
    cursor: pointer;
}
.activity-edit {
    font-size: 13px;
}
.table-h-50 {
    .mat-table {
        max-height: 100%;
    }
}
.manage-component {
    overflow: hidden;
}
.mat-table-overflow {
    overflow-x: auto;
    overflow-y: auto;
}
.manage-table-header-row {
    background: var(--primary-bg-color-2);
}
.alert-table-header {
    color: #1a1a1a;
    font-size: 12px !important;
    font-weight: 600;
}
