/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

/* part of your SCSS file
//$FontPathOpenSans: "../fonts/open-sans";**/
@import '../node_modules/npm-font-open-sans/open-sans.css';
.m-r-8 {
    margin-right: 8px;
}

.m-t-3 {
    margin-top: 3px;
}
.mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button {
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 88px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
}
.mat-drawer-backdrop.mat-drawer-shown {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.16);
}
.dash-alert-refresh-icon{
    i.material-icons {
        font-size: 1.5rem;
        color: white;
        position: relative; 
        border-radius: 50%;
        padding: 5px;
        margin: 3px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
        }
        
        i.material-icons:after {
        content: "";
        width: 100%;
        height: 100%;
        border: solid 2px;
        transform: scale(0.8);
        position: absolute;
        top: -2px;
        left: -2px;
        border-radius: 50%;
        transition: all 0.3s ease;
        }
        
        i.material-icons:active:after {
        transform: scale(1);
        box-shadow: 10px 0 20px rgba(0, 0, 0, 0.19), 6px 0 6px rgba(0, 0, 0, 0.23);
        }
        
        i.material-icons:nth-of-type(1) {
        background-color: #019F96;
        }
        
        i.material-icons:nth-of-type(1):active {
        color: #019F96;
        }
        
        i.material-icons:nth-of-type(1):after {
        border-color: #019F96;
        }
        
        
        i.material-icons:active{
        background-color: transparent;
        transform: rotate(360deg);
        cursor: pointer;
        box-shadow: none;
        }
        
        p {
        color: #999;
        font-weight: 300;
        margin-top: 20px;
        }
        @media (max-width:767px) and (min-width:601px) {
            i.material-icons {
            padding:5px;
            margin: 2px 0px 6px 0px;
            font-size:1.6rem;
            }
            }
        @media (min-width:768px) {
        i.material-icons {
            padding: 3px;
            margin: 3px 0px 6px 0px;
            font-size: 1.6rem
        }
        }
        
        @media (min-width:993px) {
          i.material-icons {
            padding:0px;
            margin: 6px 0px 6px 0px;
            font-size:1.6rem;
          }
        i.material-icons:after {
        border-width:3px;
        top:-3px;
        left:-3px;
        }
        }
}
