@import '../../../../theme/configcolour.scss';

.comming-soon-body {
    height: 100%;
    width: 100%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.logo {
    margin-top: 50px;
    height: 80px;
}
.message {
    height: 100px;
    color: #019F96;
    font-size: 44px;
    font-weight: bold;
}
.action {
    height: 100px;
}

.create-but{
	height: 40px;
	margin: 5px 0px 0px 5px;
	background-color: #019F96;
	border-radius: 3px;
	color: var(--primary-bg-hghl-color);
}