@import '../../../../../theme/configcolour.scss';

.list-option{
    height: 30px !important;
}

.list-opt-1{
    overflow: auto;
    height: calc(100% - 269px);
}

.row-field-group{
    width: 35%;
}

.row-field-map{
    width: 70%;
}

.side-bar{
    height: 100%;
    max-width: 340px;
    border-right: solid 2px #acacac;
}
.row-field-group-map{
    width: 95%;
}

.mat-resources-permission-list{
    height: calc(100vh - 337px);
    overflow-x: hidden;
    overflow-y: auto;
}
.mat-resources-group-list{
    height: calc(100vh - 255px);
    overflow-x: hidden;
    overflow-y: auto;
}
.mat-resources-list{
    height: calc(100vh - 380px);
    overflow-x: hidden;
    overflow-y: auto;
}

.mat-resources-dep-user-list{
    height: calc(100vh - 380px);
    overflow-x: hidden;
    overflow-y: auto;
}

.mat-resources-dep-user-group-list{
    height: calc(100vh - 282px);
    overflow-x: hidden;
    overflow-y: auto;
}

.list-heading{
    display: flex;
    background: var(--primary-bg-color);
    font-size: 13px;
    height: 32px;
    font-weight: 600;
    align-items: center;
    padding: 0 10px;
    color: var(--primary-bg-hghl-color);
    margin: 5px 0 2px;
    justify-content: space-between;
}

.map-footer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 15px;
}

.expand{
    display: flex;
    width: 20px;
    height: 20px;
    border-radius: 50px 0px 0px 50px;
    align-items: center;
    justify-content: center;
    background: var(--primary-bg-color);
    position: relative;
    top: 5px;
}

.tw-filter-res-search {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    width: 160px;
    border: 1px solid $tertiary-color !important;
    background: var(--primary-bg-hghl-color);
    height: 23px;
    display: flex;
    border-radius: 4px;
}

.map-table-filter {
    width: 180px;
    border: 1px solid $tertiary-color !important;
    background: $tertiary-color;
    height: 28px;
    display: flex;
    border-radius: 4px;
}

.map-field{
    .mat-form-field-wrapper {
        padding-bottom: 0.84375em;
    }
}

.filter-option{
    display: flex;
    gap: 10px;
    align-items: center;
}

.table-option {
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    padding: 3px 10px;
  }
  
  .options {
    height: 20px;
    background: #f1f2f6;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 1px 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 1px 2px 6px #d3d3d3;
  }
  
  .options.selected {
    background-color: var(--primary-bg-color);
    color: var(--primary-bg-hghl-color);
  }
  
  .option-icon {
    height: fit-content;
    width: fit-content;
    padding: 0 5px !important;
    font-size: 15px !important;
  }
  .option-icon.selected {
    color: var(--primary-bg-hghl-color);
  }
  .res-name {
    max-width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
