<div class="loading-spinner" *ngIf="isloading">
    <div class="spinnerload">
        <div class="spin1"></div>
        <div class="spin2"></div>
        <div class="spin3"></div>
    </div>
</div>
<div class="manage-body">
    <div>
        <tw-header-new-component [type]="'new'" [component]="'entity-group'" [permission]="null" [dateFilter]="null" [rowFilter]="null"
            [manageAction]="showActions" [selectDropdown]="selectDropdown"
            [selectedName]="selectedName !== null ? selectedName : true" [locationId]="null"
            [selectedView]="selectedView" [multiView]="false" (selectedViewAction)="null" [groupFilter]="parentFilter"
            (headerEventAction)="headerEventAction($event)"></tw-header-new-component>
    </div>
    <div>
        <div *ngIf="tableVersion === 1">
            <tw-table-component [component]="'entity-group'" [columns]="displayedColumns" [tableData]="tableData"
                [iconHeader]="iconHeader" [iconColumn]="iconColumn" [sortColumn]="sortColumn" [eventColumn]="['Name']"
                [rowId]="'id'" [rowClick]="true" (rowClickAction)="rowClick($event)" (eventAction)="eventAction($event)" [applyFilter]="applyFilterValue"
                [permissionControl]="permissionControl" [pagination]="[{length: length, pageSize: pageSize, pageStart: pageStart}]" [tableClass]="'table-icon-header'">
            </tw-table-component>
        </div>
        <div *ngIf="tableVersion === 2">
            <tw-data-table [columns]="manageEntityGroupTwColumns" [data]="tableData" [loading]="isloading"
                [pagination]="manageEntityGroupPaginationConfig" [rowClickable]="true" [rowId]="'id'"
                [applyFilter]="applyFilterValue" [permissionControl]="permissionControl" tableClass="table-icon-header"
                (cellAction)="onCellAction($event)" (rowClick)="rowClick($event)" (pageChange)="onPageChange($event)">
            </tw-data-table>
        </div>
    </div>
</div>
