<div class="manage-body tw-new-digital-queue ovi-font-family">
    <div>
        <mat-tab-group [selectedIndex]="selectedTabIndex" (selectedIndexChange)="tabChanged($event)">
            <mat-tab  label="{{'Overall'|translate}}" [disabled]="activate_btn && !activate_btn.includes('TB_WFDQOVRL')">
                <div style="height: calc(100vh - 100px) !important; overflow: hidden;">
                    <app-overall-queue *ngIf="matTabIndex == 0" [type]="'overall'" [matTabIndex]="matTabIndex" [enableCountClick]="enableCountClick"></app-overall-queue>
                </div>
            </mat-tab>
            <mat-tab label="{{'Floor'|translate}}" [disabled]="activate_btn && !activate_btn.includes('TB_WFDQFLR')">
                <div style="height: calc(100vh - 100px) !important; overflow: hidden;">
                    <app-overall-queue *ngIf="matTabIndex == 1" [type]="'floor'" [matTabIndex]="matTabIndex" [enableCountClick]="enableCountClick"></app-overall-queue>
                </div>
            </mat-tab>
            <mat-tab label="{{'Location'|translate}}" [disabled]="activate_btn && !activate_btn.includes('TB_WFDQLOC')">
        
            </mat-tab>
            <mat-tab label="{{'Worklist'|translate}}" [disabled]="activate_btn && !activate_btn.includes('TB_WFDQWRL')">
                <div style="height: calc(100vh - 100px) !important; overflow: hidden;">
                    <app-patient-worklist-queue *ngIf="matTabIndex === 3" [matTabindex]="matTabIndex" [showEnrollPatient]="this.showEnrollPatient"
                     [enableCountClick] = "enableCountClick" [changeLocation]="this.changeLocation"></app-patient-worklist-queue>
                </div>
            </mat-tab>
            <mat-tab label="{{'Waiting List'|translate}}" [disabled]="activate_btn && !activate_btn.includes('TB_WFDQWTL')">
                <div class="hc-padd">
                    <app-health-checkup [matTabindex]="matTabIndex" *ngIf="matTabIndex == 4"></app-health-checkup>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
