<div class="manage-body">
    <div>
        <tw-header-new-component  [component]="'resource-template'" [permission]="null" [dateFilter]="null" [rowFilter]="null"
            [manageAction]="showActions" [selectDropdown]="selectDropdown"
            [selectedName]="selectedName !== null ? selectedName : true" [locationId]="null"
            [selectedView]="selectedView" [multiView]="false" (selectedViewAction)="null"
            (headerEventAction)="headerEventAction($event)"></tw-header-new-component>
    </div>
    <div>
        <div *ngIf="tableVersion === 1">
            <tw-table-component [component]="'resource-template'" [columns]="displayedColumns" [tableData]="tableData"
                [iconHeader]="iconHeader" [iconColumn]="iconColumn" [sortColumn]="sortColumn" [eventColumn]="eventColumn"
                [rowClick]="true" [rowId]="'id'" (rowClickAction)="rowClick($event)"  [rowDbClick]="true" (rowDbClickAction)="createResourceTemplate($event, 'rowClick')"
                (eventAction)="eventAction($event)" [applyFilter]="applyFilterValue" [permissionControl]="permissionControl"
                [pagination]="[{length: length, pageSize: pageSize, pageStart: pageStart}]" [tableClass]="'table-with-header'">
            </tw-table-component>
        </div>
        <div *ngIf="tableVersion === 2">
            <tw-data-table [columns]="resourceTemplateTwColumns" [data]="tableData"
                [pagination]="resourceTemplatePaginationConfig" [rowClickable]="true" [rowDblClickable]="true" [rowId]="'id'"
                [applyFilter]="applyFilterValue" [permissionControl]="permissionControl" tableClass="table-with-header"
                (cellAction)="onCellAction($event)" (rowClick)="rowClick($event)" (rowDblClick)="createResourceTemplate($event, 'rowClick')" (pageChange)="onPageChange($event)">
            </tw-data-table>
        </div>
    </div>
</div>