@import '../../../../../theme/configcolour.scss';



/* profile.component.css */
.profile-comp
{
.profile-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: var(--primary-bg-hghl-color);
    padding: 6px;
  }
   
  .profile-header {
    width: calc(100% - 40px);
    background-color: var(--primary-bg-hghl-color);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
   
  .back-button, .settings-button, .logout-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
   
  .profile-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
  }
   
  .profile-section {
    width: calc(100% - 40px);
    background-color: var(--primary-bg-hghl-color);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
   
  .user-details {
    display: flex;
    align-items: center;
    gap: 20px;
  }
   
  .user-avatar {
    background-color: #ccc;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
  }
   
  .user-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 4px;
    padding: 0px 14px 0px 0px;
  }
   
  .user-info h2 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
  }

  // --------------------------------
  .profile-details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .name {
    font-weight: bold;
  }
  
  .company {
    font-size: 12px;
    margin-top: -12px;
  }
  .first-letter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px; 
    border-radius: 50%;
    background-color: var(--primary-bg-color); 
    color: var(--primary-bg-hghl-color);
    font-size: 24px; 
    font-weight: bold;
    margin-right: 5px; 
  }


  // ------------------------------------------------------------example
  .card {
    width: calc(100% - 15px);
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: var(--primary-bg-hghl-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card-avatar {
    flex: 0 0 auto;
    margin-right: 16px;
  }
  
  .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: var(--primary-bg-color);
    color: var(--primary-bg-hghl-color);
    font-size: 24px;
    font-weight: bold;
  }
  
  .card-details {
    flex: 1 1 auto;
  }
  
  .user-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .user-info-container {
    display: flex;
    justify-content: space-between;
  }
  
  .user-info-column {
    flex: 1;
  }
  
  
  .user-info .label {
    font-weight: bold;
    font-size: 12px;
  }
  
  .card-action {
    flex: 0 0 auto;
    margin-left: 16px;
  }
  
  .card-action .material-icons {
    font-size: 24px;
    color: #ccc;
  }
}
  