.profile-photo {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
    background: #EEEFF1
  }

  .status-rqt{
    display: flex;
    width: 65px;
    height: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
  }

  .title-col{
    display: block;
    width: 205px;
    text-overflow: ellipsis;
    overflow: hidden;
  }