@import '../../../../../theme/configcolour.scss';

.svg-icon {
    height: 16px;
    width: 16px;
    filter: brightness(0) saturate(100%);
}

.svg-icon.active {
  filter: brightness(0) invert(1);
}

.tab-buttons {
    width: fit-content;
    padding: 10px 40px;
    border: solid 1px #e4e4e7;
    border-radius: 6px;
    font-size: 12px;
    min-width: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    gap: 5px;
    cursor: pointer;
}

.tab-buttons.active {
    background-color: var(--primary-bg-color);
    color:var(--primary-bg-hghl-color);
}