<div class="input-component-holder container-fluid" style="height: 100%;">
    <mat-toolbar class="input-header block-1" style="height: 35px;padding-right: 0px;">
        <div class="header-name" style="width: calc(100% - 70px);"> {{"Edit External Role"|translate}} </div>
        <div class="header-close"><button mat-icon-button mat-dialog-close close-button class="ie-close-icon">
                <mat-icon class="icon-style">highlight_off</mat-icon>
            </button></div>
    </mat-toolbar>
    <div class="sub-head">
        <div style="display: flex;">
            <div matLine class="user-title">
                <div>{{"UserName"|translate}} :</div>{{data.Name}}
            </div>
        </div>
    </div>
    <div class="mat-custom-form-field-box" style="height: calc(100% - 120px);">
        <div class="form-row block-3">
            <div class="row-field-1" style="width: 60%">
                <div class="example-form">
                    <mat-label class="ovi-lbl-text-size">{{"Role"|translate}}</mat-label>
                    <mat-form-field class="example-full-width form-field" appearance="outline">
                        <mat-select appPlaceholder [showPlaceholder]="true" [placeholderText]="'Role'|translate" [formControl]="roleId">
                            <mat-option *ngFor="let user of userRoles" (click)="UserInfo(user)" [value]="user.key" (keydown.enter)="fixClick()">
                                {{user.value}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    <div class="input-footer" style="float: right; width: 200px">
        <button mat-button class="cancle-btn" style="margin: 5px;" mat-dialog-close>{{"Cancel"|translate}}</button>
        <button mat-button class="active-btn margin-r-1" appDebounceClick (debounceClick)="updateRole()"
            [debounceTime]="300">{{"Update"|translate}}</button>
    </div>
</div>