.user-title{
    font-size: 14px;
    font-weight: 600;
    display: flex;
    gap: 5px;
  }

  .sub-head{
    padding: 10px 15px;
    display: flex;
    gap: 3%;
    font-family: sans-serif;
  }

  .profile-photo {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
    background: #EEEFF1
  }