@import '../../../../../theme/configcolour.scss';

$bp : (
  desktop:1440px,
  lap:1024px,
   tab : 768px,
   mob: 565px,
   mob_m:425px,
   mob_s: 320px
  
);
@mixin query($display){
  @each $key, $value in $bp{
    @if ($display == $key){
      @media (max-width: $value){@content;}
    }
  }
}

.mat-raised-button{
@include query(mob_s){
        min-width: 70px;
    }
}
.cf-dlg-frm_{
    @include query(mob){
        font-size:12px;
    }
}
.cf-dlg{
    @include query(tab){
        font-size: 12px;
        padding:1px;

    }
}
.content-item
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    overflow: hidden;
  }
  .go-label{
    color: var(--primary-bg-hghl-color);
    padding: 15px 15px 10px 12px;
    border-radius: 0px 4px 4px 0px;
    margin-top: 3px;
    margin-left: -13px;
    height: 20px;
    box-shadow: 1px 2px 6px #00000029;
  }
  .mat-select-panel {
    max-height: 150px !important;
  }
    .pwd-disabled {
      opacity: 30%;
      background: #707070;
      cursor: auto;
    }

    .pwd-enabled {
      opacity: 1; /* optional: explicitly set for clarity */
      cursor: pointer;
    }
