@import '../../../../../theme/configcolour.scss';

.side-draw-option {
    background: #faf9fd;
    border-right: solid 1.5px #c4c6d0;
    width: 280px;
    min-width: 260px;
    overflow: hidden;
    height: 100%;
}

.heading {
    font-size: 13px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
}

.routine-list {
    max-height: 100px;
    cursor: pointer;
    font-size: 12px !important;
    min-height: 25px;
    height: 25px !important;
    padding: 5px 0;
}

.routine-list.active {
    background: var(--primary-bg-color) !important;
    color: var(--primary-bg-hghl-color)
}

.list-container {
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100% - 65px);
}

.mat-list-column {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.svg-icon {
  filter: brightness(0) saturate(100%);
}

.svg-icon.active {
  filter: brightness(0) invert(1);
}

.mat-drawer-content {
    flex: 1;
    min-width: 0;
    overflow: auto;
}

.title {
    display: block;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.long-text {
    width: 235px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}