.dash-wid-search-input {
    position: relative;
    float: left;
    width: 23%;
    margin-top: 20px;
    margin-left: 15px;
    border: 1px solid black;
    border-radius: 24px;
    height: 40px;
    background: #e4edf8;
  }
.dash-wid-search-icon{    
    height: 34px;
    margin-left: 20px;
    vertical-align: top;
    margin-top: 2px;
    border: 1px solid #e4edf8;
    outline: 0px solid #e4edf8;
    background-color: #e4edf8;
    width: 90%;
}
.dash-header-menu{
  margin-top: 35px;
  margin-left: 10px;
  box-shadow: 0px 1px 5px 0px;
  background: #f3f3f3;
}
.layout-type-css {
  border: 1px solid;
  border-radius: 10px;
}
.mat-nav-list .mat-list-item .mat-list-item-content {
    padding: 0px !important;
}
.bg-disabled {
  background: #c0c3c5;
}