<lazy-loader *ngIf=loading></lazy-loader>
<div class="manage-body">
    <tw-header-new-component [component]="'ambulance'" [permission]="null" [dateFilter]="null" [rowFilter]="null"
        [manageAction]="showActions" [selectDropdown]="selectDropdown" [selectedName]="true" [locationId]="null"
        [selectedView]="null" [multiView]="false" (selectedViewAction)="null"
        (headerEventAction)="headerEventAction($event)"></tw-header-new-component>
    <div *ngIf="selectedView == 'table'" class="tw-content1">
        <mat-tab-group [selectedIndex]="selectedTabIndex" (selectedTabChange)="tabChanged($event)">
            <mat-tab  label="{{'Manage Bus'|translate}}">
                <ng-template mat-tab-label >{{"Manage Bus"|translate}}</ng-template>
                <tw-table-component [component]="'manage-amb'" [columns]="MTDisplayedColumns" [tableData]="tableData" [iconHeader]="iconHeader" [iconColumn]="['Alerts']" [sortColumn]="sortColumn"
                  [eventColumn]="['Schedule', 'Asset Name']" (eventAction)="eventAction($event)" [rowClick]="true" [rowId]="'assetId'" (rowClickAction)="rowClick($event)"
                  [applyFilter]="applyFilterValue" [permissionControl]="permissionControl" [pagination]="null" [tableClass]="'tab-table'"></tw-table-component>
            </mat-tab>
            <mat-tab  label="{{'Manage View'|translate}}">
                <ng-template mat-tab-label >{{"Manage View"|translate}}</ng-template>
                <app-google-map *ngIf="showMap"></app-google-map>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
