.device-popup-container {
  position: fixed;
  top: 35%;
  left: 0;
  right: 0;
  bottom: 35%;
  background-color:white; 
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.device-popup{
  min-width: 200px;
  max-width: 600px;
  width: 100%;
  height: 100%;
  background-color: white;
}
.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  color:#0c6a97
}

.device-name {
  font-weight: bold;
}

.device-type {
  color: gray;
}


.popup-footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.close-icon {
  cursor: pointer;
}

.device-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon-box {
  background-color: #0c6a97;                    
  border-radius: 8px;           
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;             
  height: 32px;
}

.icon-box mat-icon {
  color: white;   
  margin-top: -8px; 
  margin-left: 0px !important                           
}

.popup-title{
  font-size: 18px;
  font-weight:700;
}

.active-btn-device.enabled{
   background-color:#0c6a97;
   color:white;
   min-width: 70px;
   max-width: 350px;
}


