@import '../../../../../theme/configcolour.scss';

:host {
  height: 100%;
}

.toolbar-user-container {
    height: 100%;
    position: relative;
    z-index: 999;
    .toolbar-user-btn {
        display: flex;
        justify-content: center;
        height: 100%;
        

    .avatar {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    .name {
        margin: 8px 0px 0px 10px;
        font-size: 70%;
        font-weight: 600;
        cursor: pointer;
    }


  }

    .dropdown {
        background: var(--primary-bg-hghl-color);
        z-index: 2;
        position: absolute;
        width: 100%;
        min-width: 350px;
        opacity: 0;
        visibility: hidden;
        transition: all .25s linear, max-height .25s linear, opacity .25s linear;

        @media screen and (max-width: 599px) {
            min-width: 65px;
        }

        &.open {
            opacity: 1;
            border-radius: 10px;
            box-shadow: 0px 0px 8px -3px;
            visibility: visible;
        }
    }
}

@media (max-width: 500px) and (min-width: 300px){
    .toolbar-user-container {
        height: 100%;
        position: relative;
        z-index: 999;
            .toolbar-user-btn {
                display: flex;
                justify-content: center;
                height: 100%;

        
            .name{
                margin: 8px 0px 0px 10px;
                font-size: 70%;
                font-weight: 600;
                cursor: pointer;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
        .dropdown {
            background: var(--primary-bg-hghl-color);
            z-index: 2;
            position: absolute;
            width: 100%;
            min-width: 350px;
            opacity: 0;
            visibility: hidden;
            transition: all .25s linear, max-height .25s linear, opacity .25s linear;
    
            &.open {
                opacity: 1;
                border-radius: 1px 1px 1px 1px;
                visibility: visible;
                min-width: 286px;
            }
            
        }
    }
}
.mrgn-styl{
    margin-top: 10px;
}
.tlbr-styl{
    height: 0px; width: 0px; margin: 0; padding: 0px; cursor: pointer; padding-right: 10px;
}
.algn-txt{
    text-align: center;
    margin-bottom: 10px;
}
.mrgn-styl_{
    margin-left: 15px;
}

$bp : (
  desktop:1440px,
  lap:1024px,
   tab : 768px,
   mob_x: 735px,
   mob: 565px,
);
@mixin query($display){
  @each $key, $value in $bp{
    @if ($display == $key){
      @media (max-width: $value){@content;}
    }
  }
}

.icn-styl{
    padding-top:8px; font-size: 20px;
    color: #636363;
    @include query(lap){
        padding-top: 0px;
        padding-left: 2px;
    }
}
.show-facility{
    @include query(mob_x){
        display: none;
    }
}
.mobile-view-show-cust{
    display: none;
   
    @include query(mob_x){
        font-size: 11px;
        display: block;
    }
    @include query(mob){
        margin-right: -5px;
        max-width:120px;
        min-width: 23px;
        white-space: nowrap;
        overflow:hidden;
        text-overflow: ellipsis;
    }
}
.mng-ctrl-dropdown{
    width: 350px;right: -12px;
    @include query(mob){
        right: -31px;
    }
}
