<lazy-loader *ngIf=loading></lazy-loader>
<div class="manage-body container-fluid">
    <tw-header-new-component [type]="'new'" [component]="'activities'" [permission]="permission" [dateFilter]="null" [rowFilter]="null" [manageAction]="showActions" [selectDropdown]="selectDropdown" [selectedName]="selectedName !== null ? selectedName : true"
  [locationId]="null" [selectedView]="null" [multiView]="false" (selectedViewAction)="null" (headerEventAction)="headerEventAction($event)" [groupFilter]="parentFilter"></tw-header-new-component>
    <div>
      <tw-table-component [component]="'activities'" [columns]="displayedColumns" [tableData]="tableData" [iconHeader]="iconHeader" [iconColumn]="iconColumn" [sortColumn]="sortColumn"
       [eventColumn]="eventColumn" (eventAction)="eventAction($event)" [applyFilter]="applyFilterValue" [permissionControl]="permissionControl" [pagination]="[{length: length, pageSize: pageSize, pageStart: pageStart}]"
       [tableClass]="'table-icon-header'"></tw-table-component>
    </div>
</div>
