@import '../../../../theme/header.scss';
@import '../../../../theme/configcolour.scss';

.mat-table-overflow{
  overflow: auto;
}

 .custom-dialog-container1 .mat-dialog-container {
  .input-container {
  
   .table {
      height: 100%; 
   }
 }

 }
 $mh:(                           //LANDSCAPE 
  h0:280px,
  h1:321px,
  h2:356px,
  h3:376px,
  h4:426px,
  h5:476px,
  h6:536px,
  h7:590px,
);
@mixin disp_height($display){
  @each $key,$value in $mh{
    @if ($display==$key){
      @media(max-height:$value){@content;}  
    }
  }
}

.form-body-cre-use {
  @include disp_height(h6){height:390px;
    height: 73%;}
  @include disp_height(h5){height:345px;}
  @include disp_height(h4){height:295px;}
  @include disp_height(h3){height:275px;}
  @include disp_height(h2){height:240px;}
  @include disp_height(h1){height:200px;}
  @include disp_height(h0){height:160px;}
  height: 83%;
  overflow: auto;
}
.user-padd {
  padding: 25px 0px 10px 0px
}
.no-shift {
  padding: 50px 0px 45px 0px;
  text-align: center;
  font-size: 16px;
  color: grey;
  font-style: italic;
  font-weight: 600;
}
.user-time-input{
  font-size: 16px;
  color: black;
  font-family: 'Open Sans', sans-serif;
}
.user-add-padd {
  padding: 25px 60px 10px 60px;
}
.user-edit-padd {
  padding: 0px 30px 0px 30px;
}
.edit-shift-icon{
  height: 25px;
  width: 25px;
  padding: 35px 15px 25px 15px;
}
.custom-mat-column-header-width {
  overflow: hidden;
  width: 60px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.custom-mat-column-width {
  overflow: hidden;
  width: 80px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.example-user-radio-button{
  padding:12px !important;
}
$bp : (              
  desktop_l:2900px,           //RESPONSIVE 
  desktop_m:1920px,
  desktop:1440px,
  lap_m:1101px,
  lap:1024px,
  tab : 768px,
  mob: 565px,
  mob_m:425px,
  mob_s: 320px,
  tab_m:801px,
);
@mixin query($display){  
  @each $key, $value in $bp{
    @if ($display == $key){
      @media (max-width: $value){@content;}
    }
  }
}
.row-field-phn{                          //code&phone num
  @include query(desktop_l){
   width:36%;
  }
  @include query(desktop_m){
    width:31%;
  }
  @include query(desktop){
    width:31%;
  }
  @include query(tab){
    width:36%;
  }
  @include query(mob){
    width:100%;
  }
}
.row-field-cod{
  @include query(desktop_l){
    width:9%;
  }
  @include query(desktop_m){
    width:14%;
  }
  @include query(desktop){
    width:14%;
  }
  @include query(tab){
    width:10%;
  }
  @include query(mob){
    width:100%;
  }
}
.row-field-5-radio{
  @include query(desktop_l){
    margin-top:20px;
  }
  @include query(mob){
  margin-top:-8px;
  }
}
.tw-event-action-btn {
  background: var(--primary-bg-color);
  color: var(--primary-bg-hghl-color);
  border-radius: 2px;
  min-width: 10px !important;
}

.user-unlock-cell {
  border-radius: 5px;
  background: #7ec18f;
  display: inline-flex;
  cursor: pointer;
  color: white;
  border: 0;
  width: 80px;
  height: 29px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 6px #1c7031;
  transition: all 0.3s ease;
}

.user-unlock-cell:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(28, 112, 49, 0.5);
}

.user-unlock-cell:active {
  transform: translateY(1px);
  box-shadow: 0 2px 6px rgba(28, 112, 49, 0.4);
}