<div class="loading-spinner" *ngIf="isloading">
    <div class="spinnerload">
        <div class="spin1"></div>
        <div class="spin2"></div>
        <div class="spin3"></div>
    </div>
</div>
<div class="manage-body">
    <div>
        <tw-header-new-component [type]="'new'" [component]="'so-routine'" [permission]="null" [dateFilter]="null" [toDateFilter]="null"
            [manageAction]="null" [selectDropdown]="selectDropdown" [groupFilter]="[]" [multiDateEnable]="false"
            [selectedName]="selectedName !== null ? selectedName : true" [selectedView]="null" [multiView]="false"
            (selectedViewAction)="null" (headerEventAction)="headerEventAction($event)"></tw-header-new-component>
    </div>
    <div>
        <tw-table-component [component]="'so-routine'" [columns]="displayedColumns" [tableData]="tableData"
            [iconHeader]="iconHeader" [iconColumn]="iconColumn" [sortColumn]="sortColumn" [eventColumn]="eventColumn"
            [rowId]="'id'" [rowClick]="true" (rowClickAction)="rowClick($event)" (eventAction)="eventAction($event)" [applyFilter]="applyFilterValue"
            [permissionControl]="permissionControl" [pagination]="null" [tableClass]="'table-with-header'"
            [rowDbClick]="true" (rowDbClickAction)="productionPlan($event)">
        </tw-table-component>
    </div>
</div>

