
 <div class="loading-spinner" *ngIf="isloading">
     <div class="spinnerload">
         <div class="spin1"></div>
         <div class="spin2"></div>
         <div class="spin3"></div>
     </div>
 </div>
 <div class="manage-body">
     <div>
         <tw-header-new-component [component]="'channel-template'" [permission]="null" [dateFilter]="null" [rowFilter]="null"
             [manageAction]="showActions" [selectDropdown]="selectDropdown"
             [selectedName]="selectedName !== null ? selectedName : true" [locationId]="null"
             [selectedView]="selectedView" [multiView]="false" (selectedViewAction)="null"
             (headerEventAction)="headerEventAction($event)"></tw-header-new-component>
     </div>
     <div>
          <div *ngIf="tableVersion === 1">
              <tw-table-component [component]="'channel-template'" [columns]="displayedColumns" [tableData]="tableData"
                  [iconHeader]="iconHeader" [iconColumn]="iconColumn" [sortColumn]="sortColumn" [eventColumn]="eventColumn"
                  [rowId]="'id'" [rowClick]="true" (rowClickAction)="rowClick($event)" [rowDbClick]="true"
                 (rowDbClickAction)="createChannelTemp($event)"  (eventAction)="eventAction($event)" [applyFilter]="applyFilterValue"
                  [permissionControl]="permissionControl" [pagination]="[{length: length, pageSize: pageSize, pageStart: pageStart}]" [tableClass]="'table-with-header'">
              </tw-table-component>
          </div>
          <div *ngIf="tableVersion === 2">
              <tw-data-table [columns]="channelTemplateTwColumns" [data]="tableData" [loading]="isloading"
                  [pagination]="channelTemplatePaginationConfig" [rowClickable]="true" [rowDblClickable]="true" [rowId]="'id'"
                  [applyFilter]="applyFilterValue" [permissionControl]="permissionControl" tableClass="table-with-header"
                  (cellAction)="onCellAction($event)" (rowClick)="rowClick($event)" (rowDblClick)="createChannelTemp($event)" (pageChange)="onPageChange($event)">
              </tw-data-table>
          </div>
     </div>
 </div>