.pwa-full-container {
    height: 100%;
    width: 100%;
}

.header-container {
    height: 80px;
    background: #1e8fc8;
    color: white;
    flex-direction: column;
    align-items: flex-start;
}

.header-text {
    font-size: 16px;
    height: 35px;
    display: flex;
    align-items: center;
    padding: 5px 15px;
    gap: 8px;
}

.back-to-menu-btn {
    background: #006e9a;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    padding: 1px;
    justify-content: center;
    cursor: pointer;
}

.pwa-tab-container {
    display: flex; 
    gap: 5px; 
    padding: 5px 16px; 
    background: #1e8fc8; 
    color: white;
    justify-content: space-between;
    align-items: center;
}

.pwa-tabs {
    font-size: 12px;
    padding: 2px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background: #006e9a;
    cursor: pointer;
    height: 25px;
}

.pwa-search {
    padding: 0;
    position: relative;
    bottom: 4px;
    font-size: 18px;
    color: #7f8482;
}

.pwa-task-container {
    background: #eaf4f6;
}

.content-container {
    padding: 8px 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: calc(100vh - 175px);
    overflow: auto;
}

.card-list {
    box-shadow: none !important;
    padding: 6px !important;
}

.pwa-custome-icon-style {
    padding: 0;
    font-size: 18px;
    height: fit-content;
    width: fit-content;
    cursor: pointer;
}

.icon-text{
    display: flex; gap: 3px; align-items: center;
}

.card-label {
    font-size: 12px;
    font-weight: 600;
    color: #818382;
}

.content-texts {
    display: flex;
    flex-direction: column;
}

.task-data-text {
    max-width: 150px;
    font-weight: 600;
    font-size: 13px;
}

.search-field {
    .mat-form-field-appearance-outline .mat-form-field-outline {
    background: white !important;
    }
}
