@import '../theme/configcolour.scss';

// --------------new commn-css for over all module-----------------------------------

//over  all font-size for all label-name
.ovi-lbl-text-size {
  font-family: 'Open Sans', sans-serif;
  color: #1a1a1a;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}

.mandatory-field {
  color: red;
  font-weight: bold;
}

//over  all font-size for popup inside tittle
.ovi-popup-title-text-size {
  font-size: 12px;
  font-weight: 600;
  font-family: Open Sans, Semibold;
  color: #4B4B4B;
}

// over all margin for inside-popup
.popup-margin {
  margin: 5px 0px 0px 10px;
  max-width: 1500px;
}

.cancle-btn {
  background: var(--primary-bg-color);
  color: var(--primary-bg-hghl-color);
  font-weight: 600;
  border-radius: 8px;
  margin-right: 5px !important;
}
.block-3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3%;
}

//gap between tableheader & filter key or action
.bottom-margin {
  margin-bottom: 3px;
}

// over all font-size for mat-form-field [outline -appearance] BOX   
.mat-custom-inputs {
 
  //matformfield input-element text-size
  input.mat-input-element {
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
  }
 //matselect input text-size 
  .mat-select {
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
  }
  .mat-form-field-wrapper {
      padding-bottom: 15px;
  }
  .mat-form-field-appearance-outline .mat-form-field-flex {
    padding: 0px 0px 5px 5px;
    position: relative;
    color: #707070;
  }

  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 5px;
    width: 200px !important;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline-start { 
    border-radius: 0px 0px 0px 0px; 
    border-right-style: none; 
  }
  .mat-form-field-appearance-outline .mat-form-field-outline-end { 
    border-radius: 0px 0px 0px 0px; 
    border-left-style: none; 
  }

  .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: rgba(0, 0, 0, 0.87);
  }
  .mat-select-value {
    color: #707070;
  }

  .mat-form-field.mat-form-field {
    color: #707070;
    .mat-form-field-subscript-wrapper {
      padding: 0px 5px !important;
      font-size: 11px;
    } 
  }
  
  .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: var(--primary-bg-color)
  }
  .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: var(--primary-bg-color) !important;
  }
  mat-input-element[type=date]::after, .mat-input-element[type=datetime]::after, .mat-input-element[type=datetime-local]::after, .mat-input-element[type=month]::after, .mat-input-element[type=week]::after, .mat-input-element[type=time]::after {
    content: " ";
    width: 7px;
  }
  
}

// over all font-size for mat-form-field [outline -appearance] BOX   
.mat-custom-form-template-field-box {
  //matformfield outline bg-color
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #707070;
  }
  //matformfield input-element text-size
  input.mat-input-element {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    padding: 0px 5px 5px 0px !important;
    margin-top: 1em;
  }
 //matselect input text-size 
  .mat-select {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    padding: 0px 5px 5px 0px !important;
    margin-top: 1em;
  }

  .mat-form-field-appearance-outline .mat-form-field-flex {
    padding: 0px 0px 0px 0.75em;
    margin-top: -0.5em;
    position: relative;
    color: #707070;
  }

  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.2em 0 0.2em 0;
    width: 200px !important;
  }

  .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: rgba(0, 0, 0, 0.87);
  }
  .mat-select-value {
    color: rgba(0, 0, 0, 0.87);
  }

  .mat-form-field.mat-form-field {
    color: #707070;
  }
}


// over all font size for radio-button
.mat-radio-button {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
}
// over all font size for input element
input.mat-input-element {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
}
//over all font size for mat-select-value-text
.mat-select-value-text {
  font-size: 13px;
  font-family:'Open Sans', sans-serif;
}
//tree structure font-size in manage-location
.mat-tree-node,
.mat-nested-tree-node {
  font-weight: 400;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

/// started 2 recruit 29-6-23
.mat-radio-outer-circle {
  border-color: rgba(0, 0, 0, 0.3);
}

.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: var(--primary-bg-color);
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: var(--primary-bg-color);
}

.mat-accent .mat-slider-track-fill,
.mat-accent .mat-slider-thumb,
.mat-accent .mat-slider-thumb-label {
  background-color: var(--primary-bg-color);
}
.mat-slider-min-value.mat-slider-thumb-label-showing .mat-slider-thumb
{
  background-color: var(--primary-bg-color);
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: var(--primary-bg-color);
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: var(--primary-bg-color);
}
.mat-button.mat-button-disabled.mat-button-disabled {
  background: rgba(0, 0, 0, 0.26);
}

.req-slide .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: #10a984;
}

.req-slide .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #ffffff;
}

.mat-toolbar-single-row {
  display: flex;
  box-sizing: border-box;
  padding: 0px !important;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}

.mat-form-field-prefix .mat-icon,
.mat-form-field-suffix .mat-icon {
  font-size: 17px;
}

.mat-tab-label {
  padding: 0px !important;
}
.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: var(--primary-bg-color)
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: var(--primary-bg-color)
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: var(--primary-bg-color) !important;
}
.datepicker{
  height: 30px;
  background: var(--primary-bg-hghl-color);
  border-radius: 0px;
}

.custom-name {
  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 15px 5px 0px 5px;
    border-top: 0 solid transparent !important;
    height: 25px;
  }

  .mat-form-field-appearance-outline .mat-form-field-flex {
    padding: 0 !important;
    margin-top: 0 !important;
    position: relative;
  }

  .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0 !important;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0.9em !important;
  }

 .mat-select {
   font-size: 13px;
   font-family: 'Open Sans', sans-serif;
 }
 
  .mat-form-field-appearance-outline .mat-form-field-subscript-wrapper {
    padding: 0.3em 0em;
  }
  .mat-checkbox-frame {
        border-color: #19191969 !important;
  }
}

.mat-list-base .mat-list-item {
  font-size: 13px !important;
}

.mat-paginator-container {   //overall matpagination height adjustment
  min-height: 40px !important;
}

.ovi-inp-wdt {
  max-width: 350px !important;
}
.dd-post-icon {
  .mat-form-field{
    display: block !important;
  }
}
.mat-expansion-panel-header.mat-expanded {
  height: 50px;
}
.mob-costomize-popup {
  width: calc(100% - 1px) !important;
  height: 81vh !important;
  margin-top: 180px !important
}
.mob-costomize-popup-task {
  width: calc(100% - 1px) !important;
  height: 93vh !important;
  margin-top: 60px !important
}
.mob-costo-popup {
  width: calc(100% - 1px) !important;
  height: 92vh !important;
  margin-top: 60px !important;
}
.mob-formdetails-popup {
  height: 92vh !important;
  margin-top: 60px !important;
}
.custom-tooltip {
  background-color: rgb(122, 118, 118); 
  color: var(--primary-bg-hghl-color); 
}
.mat-slider.mat-accent .mat-slider-track-fill, 
.mat-slider.mat-accent .mat-slider-thumb, 
.mat-slider.mat-accent .mat-slider-thumb-label{
	background-color: var(--primary-bg-color);
}
.mat-slider.mat-slider-min-value.mat-slider-thumb-label-showing .mat-slider-thumb{
	background-color: var(--primary-bg-color);
}

     //---------------- ngx-mat-search-highlight-icon ------//
.tw-ngx-search-icon {
  .mat-option[aria-disabled=true].contains-mat-select-search .mat-icon {
    margin-bottom: 9px !important;
    background: var(--primary-bg-color) !important;
    border-radius: 50% 50% !important;
    width: 22px !important;
    height: 22px !important;
    padding-top: 0px !important;
    color: var(--primary-bg-hghl-color) !important;
    font-size: 17px !important;
  }
}
// ------------------datepicker common colour----------------
.mat-calendar-body-selected {
    background-color: var(--primary-bg-color) !important;
    color: var(--primary-bg-hghl-color) !important;
}

//-----------------facility selected name---------------
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: var(--primary-bg-color) !important;
}

//---------------checkbox selected dropddown-----------
.mat-primary .mat-pseudo-checkbox-checked, .mat-primary .mat-pseudo-checkbox-indeterminate {
    background: var(--primary-bg-color) !important;
}

//----------------selectdropdown values---------
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color:  var(--primary-bg-color) !important; 
}

//--------------customer selectdropdown----------
.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: var(--primary-bg-color) !important;
}
.mat-form-field {
  .mat-form-field-ripple {
    background-color: var(--primary-bg-color) !important; // line color on focus
  }
  .mat-form-field-label {
     color: var(--primary-bg-color) !important;
  }
}
