@import '../theme/configcolour.scss';
// ------------------------------------mobile view --------------------------------------------------------------

$bp : (
  tab_m:1000px,
  tab : 769px,
  mob_l: 426px,
  mob_m: 376px,
  mob_s: 320px,
);

@mixin query($display) {

  @each $key,
  $value in $bp {
    @if ($display ==$key) {
      @media (max-width: $value) {

        @content;
      }
    }
  }
}

// ------------------------------------mobile view --------------------------------------------------------------
.filter-container-gap {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .filter-item-box {
    display: flex;
  }
  .filter-box1-box2
  {
    display: flex;
  }
  
  #filter-box1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    min-width: 60px;
    width: auto;
    padding: 0px 4px 0px 4px;
    border:1px solid $secondary-color;
    font-weight: 600;
    color: var(--primary-bg-hghl-color);
    background-color: var(--primary-bg-color);
    font-size: 11px;
    border-right: none;
    border-radius: 4px 0px 0px 4px;
  }
  
  #filter-box2{
    height: 30px !important;
    width: 100px;
    background: var(--primary-bg-hghl-color);
    border: 1px solid $tertiary-color;
    border-radius: 4px 4px 4px 4px;
    display: flex;
    align-items: center;
  }
  
  .filter-select{
    height: 30px;
    width: 100% !important;
    font-size: 11px;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    padding: 0px 0px 10px 3px !important;
  }

  .select-drpdwn-arw {
    .mat-form-field-infix {
      padding-right:
       5px !important;
    }
  }
  

// ------- popup header start--------------------------
.ovi-pop-hdr {
  background-color: var(--primary-bg-color);
  color: var(--primary-bg-hghl-color);
  font-weight: 600;
  height: 35px;
  padding: 0px 10px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}


// ------- popup header end--------------------------

// ------- popup footer start--------------------------
.ovi-pop-ftr {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 10px;
  gap:5px;
  max-width: 1500px
}

.ovi-pop-dvd{
  max-width: 1447px;
}

// ------- popup footer end--------------------------

// ------- popup body input gap start--------------------------
.ovi-row-gap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px 40px;
  max-width: 1500px;
}

.ovi-row-gap-four-fld {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  padding: 0px 10px 0px 0px;
}

// ------- popup body input gap end--------------------------

// ------- popup body input row gap like two or three or four filds in single row start--------------------------
.ovi-row-one-clmn {
  width: 100%;
}
.ovi-row-two-clmn {
  width: 45%;
  min-width: 250px;
}

.ovi-row-three-clmn {
  width: 30%;
  @include query(mob_s) { width: 95%; }
  @include query(mob_l) { width: 95%; }
  @include query(mob_m) { width: 95%; }
}

.ovi-row-four-clmn {
  width: 22%;
}

.ovi-row-five-clmn {
  width: 20%;
}

.ovi-row-mob2-clmn{
  width: 100%;
  @include query(tab_m) { width: 66%; }
  @include query(tab) { width: 66%; }
  @include query(mob_m) { width: 75%; }
  @include query(mob_l) { width: 75%; }
  @include query(mob_s) { width: 75%; }
}

.ovi-row-mob3-clmn{
  width: 100%;
  @include query(tab_m) { width: 76%; }
  @include query(tab) { width: 76%; }
  @include query(mob_m) { width: 80%; }
  @include query(mob_l) { width: 80%; }
  @include query(mob_s) { width: 80%; }
}
// ------- popup body input row gap like two or three or four filds in single row end--------------------------

// ------- matformfield width for each input start--------------------------

.ovi-row-frmfld-wdh {
  width: 100% !important;
  top: 3px;
}

// ------- matformfield width for each input end--------------------------

// -------mat-form-field top & bottom for each field start ------------------------------------
.ovi-matfrmfld-top-btm-hght {
  .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 1px 0;
  }

  .mat-form-field-wrapper {
    padding-bottom: 4px;
  }
}
// -------mat-form-field top & bootom for each field end ------------------------------------
// -------------------------------------------- common formatform field start------------------------
.ovi-matfrmfld {

  .mat-form-field-appearance-outline .mat-form-field-flex {
    padding: 0px 0px 0px 10px;
    margin-top: -8px;
    position: relative;
  }

  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 3.2px 0 3.2px 0 !important;
    width: 200px !important;
    border-top: 10px solid transparent;
  }

  .mat-select {
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    padding: 0px 5px 5px 0px !important;
  }

  .mat-select-value-text {
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
  }



  .mat-form-field-appearance-outline .mat-form-field-outline-start {
    border-radius: 5px 0 0 5px;
  }

  .mat-form-field-appearance-outline .mat-form-field-outline-end {
    border-radius: 0 5px 5px 0;
  }

.mat-form-field-appearance-outline .mat-form-field-suffix {
    position: relative;
    top: 4px;
  }

  .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
    transform: translateY(0);
        height: 0px;
   }
  .mat-form-field-appearance-outline .mat-form-field-subscript-wrapper {
    padding: 0px 0px 10px 5px;
   }

}

// -------------------------------------------- common formatform field end------------------------
//border-radius
.ovi-matfrmfld-brdrds-left {
  .mat-form-field-appearance-outline .mat-form-field-outline-start {
    border-radius: 5px 0 0 5px;
  }

  .mat-form-field-appearance-outline .mat-form-field-outline-end {
    border-radius: 0;
  }
}

.ovi-matfrmfld-brdrds-right {
  .mat-form-field-appearance-outline .mat-form-field-outline-start {
    border-radius: 0;
  }

  .mat-form-field-appearance-outline .mat-form-field-outline-end {
    border-radius: 0 5px 5px 0;
  }
}

//border-radius

// -------------------------------------------- textarea box  matforfield start-----------------------
.ovi-matfrmfld-textarea-top-box {

  .mat-form-field-appearance-outline .mat-form-field-outline {
    top: 4px;
  }

  textarea.mat-input-element {
    padding: 1px 0 0 0;
    margin: 0;
    font-size: 13px;
  }
}

// -------------------------------------------- textarea box  matforfield end-----------------------

// -------------------------------------------- dropdown box  matforfield start-----------------------
.ovi-matfrmfld-drpdwn-top-box {
  .mat-form-field-appearance-outline .mat-form-field-outline {
    top: 6px;
  }
}

// -------------------------------------------- dropdown box  matforfield end-----------------------


// -------------------------------------------- input box  matforfield start-----------------------
.ovi-matfrmfld-input-box-pdg {
  input.mat-input-element {
    padding: 4px 0px 4px 0px;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
  }

  input.mat-input-element {
    margin-top: 0.5px;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline {
    top: 6px;
  }
}

// -------------------------------------------- input box  matforfield end-----------------------
// ------------------------------------------------------datetime start-----------------------

.ovi-matfrmfld-type-datetime-local {
  input[type="date"],input[type="datetime-local"]  {
    height: 5px;
    font-size: 13px;
    padding: 18px 0px 0px 0px;
  }


  input[type="date"]::-webkit-calendar-picker-indicator,input[type="datetime-local"]::-webkit-calendar-picker-indicator
  {
    zoom: 2.0;
  }

  .mat-input-element[type=datetime-local], .mat-input-element[type=date] {
    line-height: 1.5 !important;
  }
}

// ------------------------------------------------------datetime end -----------------------


//----------------------------------------mat-error start-------------
.ovi-matfrmfld-err {
  .mat-form-field-appearance-outline .mat-form-field-subscript-wrapper {
    padding: 0 5px;
  }

  .mat-form-field-subscript-wrapper {
    font-size: 10px;
    margin-top: 0px;
    top: 35px;
  }
}

//----------------------------------------mat-error-end-------------

//-----------------------------------------matfrmfld-top&bottom-----
.ovi-matfrmfld-box-top-btm-pdg {
  .mat-form-field-wrapper {
    margin: 1px 0 !important;
    padding-bottom: 10px;
  }
}

//---------------------------------------matfrmfld-top&bott0m-----

//-----------------------------------------mat-epansional-panel for asset start-----
.ovi-mat-epansional-hdr {
  .mat-expansion-panel-header {
    padding: 0 24px 0 17px;
  }

  .mat-expansion-panel-body {
    padding: 0 0 10px 20px;
  }

  .mat-expansion-panel-content {
    ////using expansional panel that time box size will be difference for input & dropdown
    font: 400 16px / 20px 'Open Sans', sans-serif;
    letter-spacing: normal;
  }
}

//-----------------------------------------mat-epansional-panel for asset end-----

// -----------------------------------popup tab margin start------------------------------------
.popup-tab-margin
 {
  margin: 5px 5px 5px 10px;
}
// -----------------------------------popup tab margin end------------------------------------


.ovi-mat-hint{
  .mat-form-field-appearance-outline .mat-form-field-subscript-wrapper {
  padding: 3px 5px 3px 5px;
}
}

.ovi-img-size{
  width: 20px;
  height: 20px;
  object-fit: contain;
}
//----------------------------------------------Overall font-size----------------------------------------------

.ovi-fnt-sze60 {
  font-size: 60px !important;
}

.ovi-fnt-sze55 {
  font-size: 55px !important;
}

.ovi-fnt-sze50 {
  font-size: 50px !important;
}


.ovi-fnt-sze48 {
  font-size: 48px !important;
}

.ovi-fnt-sze45 {
  font-size: 45px !important;
}

.ovi-fnt-sze40 {
  font-size: 40px !important;
}

.ovi-fnt-sze35 {
  font-size: 35px !important;
}

.ovi-fnt-sze32 {
  font-size: 32px !important;
}

.ovi-fnt-sze31 {
  font-size: 31px !important;
}

.ovi-fnt-sze30 {
  font-size: 30px !important;
}

.ovi-fnt-sze28 {
  font-size: 28px !important;
}

.ovi-fnt-sze27 {
  font-size: 27px !important;
}

.ovi-fnt-sze26 {
  font-size: 26px !important;
}

.ovi-fnt-sze25 {
  font-size: 25px !important;
}

.ovi-fnt-sze24 {
  font-size: 24px !important;
}

.ovi-fnt-sze23 {
  font-size: 23px !important;
}

.ovi-fnt-sze22 {
  font-size: 22px !important;
}

.ovi-fnt-sze21 {
  font-size: 21px !important;
}

.ovi-fnt-sze20 {
  font-size: 20px !important;
}

.ovi-fnt-sze19 {
  font-size: 19px !important;
}

.ovi-fnt-sze18 {
  font-size: 18px !important;
}

.ovi-fnt-sze17 {
  font-size: 17px !important;
}

.ovi-fnt-sze16 {
  font-size: 16px !important;
}

.ovi-fnt-sze15 {
  font-size: 15px !important;
}

.ovi-fnt-sze14 {
  font-size: 14px !important;
}

.ovi-fnt-sze13 {
  font-size: 13px !important;
}

.ovi-fnt-sze12 {
  font-size: 12px !important;
}

.ovi-fnt-sze11 {
  font-size: 11px !important;
}

.ovi-fnt-sze10 {
  font-size: 10px !important;
}

.ovi-fnt-sze9 {
  font-size: 9px !important;
}

.ovi-fnt-sze8 {
  font-size: 8px !important;
}

.ovi-fnt-sze7 {
  font-size: 7px !important;
}

.ovi-fnt-sze-sml {
  font-size: small !important;
}

.ovi-fnt-sze-xxlrg {
  font-size: xx-large !important;
}

.ovi-fnt-sze-75-per {
  font-size: 75% !important;
}

.ovi-fnt-sze-60-per {
  font-size: 60% !important;
}

.tw-no-records-header {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: center;
}

.tw-no-records-text {
  font-size: 13px;
  font-style: italic;
  color: var(--drkgry-color);
}