
@import '../theme/configcolour.scss';

.ovi-prmry-bg-clr{
 background-color: var(--primary-bg-color) !important;
}

.ovi-prmry-clr{
  color: var(--primary-bg-color) !important;
}

.ovi-prmry-wht-clr{
  color: var(--primary-bg-hghl-color) !important;
}

.ovi-grey-clr{
  color: $quaternary-color !important;
}

// -------------------------------------------------------------------
// .manage-body {
// 	height: 100%;
// 	width: 100%;
//     
// }
.manage-action {
    .manage-btn {
        float: right;
        align-content: center;
        .action-btn {
           margin-right: 10px;
            margin-top: 15px;
            border-radius: 3px;
            background: var(--primary-bg-color);
            color:var(--primary-bg-hghl-color);
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            font-weight: 600;
        }
        .default-btn {
            margin-top: 20px;
            min-width: 35px !important;
            height: 30px;
            cursor:pointer;
            img {
                height: 22px;
                width: 22px;
            }
        }
        .action-select-btn {
            background:#019f96;
            width:150px;
            padding:5px 0px 0px 10px;
            margin-top: 15px;
            min-width: 35px !important;
            height: 31px;
            border-radius: 5px;
            cursor:pointer;
            .mat-select-value {
                color:var(--primary-bg-hghl-color);
                display: table-cell;
                max-width: 0;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 14px;
                .mat-select-placeholder {
                    color:var(--primary-bg-hghl-color) !important;
                    font-size: 14px;
                }
            }
            .mat-select-arrow-wrapper {
                .mat-select-arrow{
                    width: 0;
                    height: 0;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-top: 5px solid;
                    margin: 0 15px;
                    color: var(--primary-bg-hghl-color);
                }
            }            
        }
    }
}
.manage-component {
    background-color: var(--primary-bg-hghl-color);
    .manage-table-header {
        @media(max-width: 1024px){
            color: #000000;
            font-size: 12px;
            font-weight: 600;
            padding-right:25px;
        }
        color: #000000;
        font-size: 12px;
        font-weight: 600;
    }
    .manage-table-header-row {
        background: #EEEFF1 0% 0% no-repeat padding-box !important;
        min-height: 35px !important;
    }
    .manage-cnt{
        justify-content:initial;
    }
}
      





.widget-class {
    font-family: 'Open Sans', sans-serif;
    border-radius: 3px;
    box-shadow: 0px 1px 8px -1px rgba(40, 66, 85, 0.2);
    overflow: auto;
  }
.grid-item {
    border-radius: 15px;
    box-shadow: 1px rgba(40, 66, 85, 0.2);
}
.grid-item2 {
    background: #e7e7e7;
}
   /*  row 0 */
   #grid-cl-r-0-0 { width: 100%; height: 100%; margin: 0%; }

  /* col 1to8 row 1 */
  #grid-cl-r-1-1 { width: 96%; height: 96%; margin: 2% 2% 2% 2%; }
  #grid-cl-r-2-1 { width: 98%; height: 96%; margin: 2% 1% 2% 1%; }
  #grid-cl-r-3-1 { width: 98.6%; height: 96%; margin: 2% 0.7% 2% 0.7%; }
  #grid-cl-r-4-1 { width: 99%; height: 96%; margin: 2% 0.5% 2% 0.5%; }
  #grid-cl-r-5-1 { width: 99.2%; height: 96%; margin: 2% 0.4% 2% 0.4%; }
  #grid-cl-r-6-1 { width: 99.3%; height: 96%; margin: 2% 0.35% 2% 0.35%; }
  #grid-cl-r-7-1 { width: 99.4%; height: 96%; margin: 2% 0.3% 2% 0.3%; }
  #grid-cl-r-8-1 { width: 99.5%; height: 96%; margin: 2% 0.25% 2% 0.25%; }
  
  /* col 1to8 row 2 */
  #grid-cl-r-1-2 { width: 96%; height: 94%; margin: 1% 2% 1% 2%; }
  #grid-cl-r-2-2 { width: 98%; height: 98%; margin: 1% 1% 1% 1%; }
  #grid-cl-r-3-2 { 
                 width: 98.6%; height: 94%; margin: 1% 2% 1% 2%;
                 }
  #grid-cl-r-4-2 { width: 99%; height: 98%; margin: 1% 0.5% 1% 0.5%; }
  #grid-cl-r-5-2 { width: 99.2%; height: 98%; margin: 1% 0.4% 1% 0.4%; }
  #grid-cl-r-6-2 { width: 99.3%; height: 98%; margin: 1% 0.35% 1% 0.35%; }
  #grid-cl-r-7-2 { width: 99.4%; height: 98%; margin: 1% 0.3% 1% 0.3%; }
  #grid-cl-r-8-2 { width: 99.5%; height: 98%; margin: 1% 0.25% 1% 0.25%; }
  
  /* col 1to8 row 3 */
  #grid-cl-r-1-3 { width: 96%; height: 98.6%; margin: 0.7% 2% 0.7% 2%; }
  #grid-cl-r-2-3 { width: 98%; height: 98.6%; margin: 0.7% 1% 0.7% 1%; }
  #grid-cl-r-3-3 { width: 98.6%; height: 98.6%; margin: 0.7% 0.7% 0.7% 0.7%; }
  #grid-cl-r-4-3 { width: 99%; height: 98.6%; margin: 0.7% 0.5% 0.7% 0.5%; }
  #grid-cl-r-5-3 { width: 99.2%; height: 98.6%; margin: 0.7% 0.4% 0.7% 0.4%; }
  #grid-cl-r-6-3 { width: 99.3%; height: 98.6%; margin: 0.7% 0.35% 0.7% 0.35%; }
  #grid-cl-r-7-3 { width: 99.4%; height: 98.6%; margin: 0.7% 0.3% 0.7% 0.3%; }
  #grid-cl-r-8-3 { width: 99.5%; height: 98.6%; margin: 0.7% 0.25% 0.7% 0.25%; }
  
  /* col 1to8 row 4 */
  #grid-cl-r-1-4 { width: 96%; height: 99%; margin: 0.5% 2% 0.5% 2%; }
  #grid-cl-r-2-4 { width: 98%; height: 99%; margin: 0.5% 1% 0.5% 1%; }
  #grid-cl-r-3-4 { width: 98.6%; height: 99%; margin: 0.5% 0.7% 0.5% 0.7%; }
  #grid-cl-r-4-4 { width: 99%; height: 99%; margin: 0.5% 0.5% 0.5% 0.5%; }
  #grid-cl-r-5-4 { width: 99.2%; height: 99%; margin: 0.5% 0.4% 0.5% 0.4%; }
  #grid-cl-r-6-4 { width: 99.3%; height: 99%; margin: 0.5% 0.35% 0.5% 0.35%; }
  #grid-cl-r-7-4 { width: 99.4%; height: 99%; margin: 0.5% 0.3% 0.5% 0.3%; }
  #grid-cl-r-8-4 { width: 99.5%; height: 99%; margin: 0.5% 0.25% 0.5% 0.25%; }
  
  
  /* col 1to8 row 4 */
  #grid-cl-r-1-5 { width: 96%; height: 99.2%; margin: 0.4% 2% 0.4% 2%; }
  #grid-cl-r-2-5 { width: 98%; height: 99.2%; margin: 0.4% 1% 0.4% 1%; }
  #grid-cl-r-3-5 { width: 98.6%; height: 99.2%; margin: 0.4% 0.7% 0.4% 0.7%; }
  #grid-cl-r-4-5 { width: 99%; height: 99.2%; margin: 0.4% 0.5% 0.4% 0.5%; }
  #grid-cl-r-5-5 { width: 99.2%; height: 99.2%; margin: 0.4% 0.4% 0.4% 0.4%; }
  #grid-cl-r-6-5 { width: 99.3%; height: 99.2%; margin: 0.4% 0.35% 0.4% 0.35%; }
  #grid-cl-r-7-5 { width: 99.4%; height: 99.2%; margin: 0.4% 0.3% 0.4% 0.3%; }
  #grid-cl-r-8-5 { width: 99.5%; height: 99.2%; margin: 0.4% 0.25% 0.4% 0.25%; }
  
  

  //Report styles

  .report-content {
    font-family: 'Open Sans', sans-serif;
    .report-content-header {
        width: 98%; 
        height: 34px; 
        font-size: 18px; 
        padding-left: 0.5%; 
        font-weight: 600;
    }
    .rs-header {
        height: 15%; 
        width: 100%;
    }
    .rs-body {
        height: 70%; 
        width: 100%;
        .rs-body-content {
            height: 55%; 
            width: 100%; 
            padding: 6% 0%;
            img {
                height: 55px; width: 109px; float: left;
            }
            .rs-body-content-name {
                height: 100%; width: 53%; text-align: left; float: left; color: #019f96; font-size: 18px;
                span {
                    font-size:32px; font-weight: 600;
                }
            }
        }
    }
    .rs-footer {
        height: 15%; 
        width: 98%; 
        text-align: right; 
        margin-right: 2%; 
        font-size: 14px;
    }
    .widget-header {
        height: 11%; 
        padding: 5px 0px 0px 10px; 
        font-size: 18px; 
        font-weight: 600;
    }

    .custom-select {
        height: 35px;
        width: 100%;
        border: solid 0.5px #28425560;
        color: #284255;
        font-size: 14px;
        font-weight: 600;
        border-radius: 3px;
        font-family: 'Open Sans', sans-serif;
    }
    .custom-input {
        height: 32px;
        width: 97%;
        border: solid 0.5px #28425560;
        color: #284255;
        font-size: 14px;
        font-weight: 600;
        border-radius: 3px;
        font-family: 'Open Sans', sans-serif;
        padding-left: 10px;
    }
    .custom-input-date {
        height: 32px;
        width: 44%;
        margin: 0% 0.5%;
        border: solid 0.5px #28425560;
        color: #284255;
        font-size: 14px;
        font-weight: 600;
        border-radius: 3px;
        font-family: 'Open Sans', sans-serif;
        padding-left: 10px;
    }
    
    .search-icon{
        width: 35px;
       height: 35px;
        left: 0%;
       border-radius: 20px;
        background-color: #284255;
        border: solid 0.5px #28425560;
        
      }
    .button-icon {
        width: 140px;
        height: 32px;
        left: 0%;
        border-radius: 3px;
        background-color: #284255;
        border: solid 0.5px #28425560;
        flex-direction: row;
        box-sizing: content-box !important;
        display: flex;
    }
    .custom-button{
        color: var(--primary-bg-hghl-color);
        padding-top: 5px;
        text-transform: uppercase;
        font-size: 14px;
        text-align: center;
        height: 33px;
        cursor: pointer;
        flex: 1 1 100%;
        box-sizing: border-box;
        max-width: 100%;
    }
  }


