@import '../theme/configcolour.scss';

$bp : (desktop_l:2561px,
  desktop_s:1920px,
  desktop:1441px,
  lap_1:1706.67px,
  lap_2:1600px,
  lap_3:1425px,
  lap_xl:1280px,
  lap_l:1164px,
  lap_s:1093px,
  lap:1025px,
  tab_m:1000px,
  tab : 769px,
  mob_l: 426px,
  mob_m: 376px,
  mob_s: 320px,
);

@mixin query($display) {

  @each $key,
  $value in $bp {
    @if ($display ==$key) {
      @media (max-width: $value) {

        @content;
      }
    }
  }
}

$mh: (
  //LANDSCAPE
  h0:280px,
  h1:321px,
  h2:356px,
  h3:376px,
  h4:426px,
  h5:476px,
  h6:536px,
  h7:590px,
);

@mixin disp_height($display) {

  @each $key,
  $value in $mh {
    @if ($display==$key) {
      @media(max-height:$value) {
        @content;
      }
    }
  }
}
.input-header {
  background-color: var(--primary-bg-color);
  color: var(--primary-bg-hghl-color);
  font-weight: 600;
  height: 35px;
  padding: 0px 0px 0px 15px;
  font-size: 14px;

  .header-name {
    @media(max-width: 600px) {
      height: 100%;
      width: 85%;
      float: left;
    }

    @media(max-width: 767px)and (min-width:601px) {
      height: 100%;
      width: 92%;
      float: left;
    }

    height: 100%;
    width: calc(100% - 30px);
    padding: 10px;
    float: left;
  }

  .header-close {
    height: 100%;
    width: 30px;
    float: right;
    padding:10px;
  }
}

.input-container {
  height: 88%;
  overflow: auto;

  .table {
    height: 100%;
  }
}

.small-popup
{  
  height: 565px;
  width: 75%;                  //final with verify small-popup-19-12-22
 

  .mat-toolbar-single-row {
    display: flex;
    box-sizing: border-box;
    padding:0px !important;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
}
.form-body-xs {                                                    // DQ register
    height: 274px;
    overflow: auto;
  }

.form_body {                                                       // forgot-password,create & edit-healthcheck, create rule, create-bill,create-patient,reader-config,software-update,create-support-ticket
    @media(max-width:600px) {
      height: 460px;
      overflow: auto;
    }

    height: 475px;
    overflow: auto;
  }

.res-content-body {                                                //create resource
    @include disp_height(h6) { height: 300px; }
    @include disp_height(h5) { height: 276px; }
    @include disp_height(h4) { height: 225px; }
    @include disp_height(h3) { height: 192px; }
    @include disp_height(h2) { height: 150px; }
    @include disp_height(h1) { height: 178px; }
    @include disp_height(h1) { height: 139px; }
    height: 410px;
    overflow: auto;
  }

  .form-body-manageass {                                             // asset-transfer
    @include disp_height(h9) { height: 460px; }
    @include disp_height(h6) { height: 370px; }
    @include disp_height(h5) { height: 276px; }
    @include disp_height(h4) { height: 270px; }
    @include disp_height(h3) { height: 263px; }
    @include disp_height(h2) { height: 233px; }
    @include disp_height(h1) { height: 178px; }
    height: 453px;
    overflow: auto;
  }

  .form-body-mrd {                                                //no-use
    overflow: auto;
    height: 460px;
    @include query(mob) { height: 460px; }
    @include disp_height(h9) { height: 445px; }
    @include disp_height(h6) { height: 390px; }
    @include disp_height(h5) { height: 345px; }
    @include disp_height(h4) { height: 290px; }
    @include disp_height(h3) { height: 270px; }
    @include disp_height(h2) { height: 235px; }
    @include disp_height(h1) { height: 190px; }
    @include disp_height(h0) { height: 115px; }
  }

  .form-body-medium {                                        //gateway-inside content-height and mobile-view land-scape
    @include disp_height(h6) { height: 380px; }
    @include disp_height(h5) { height: 330px; }
    @include disp_height(h4) { height: 280px; }
    @include disp_height(h3) { height: 263px; }
    @include disp_height(h2) { height: 225px; }
    @include disp_height(h1) { height: 178px; }
    @include disp_height(h0) { height: 139px; }
    height: 420px;
    overflow: auto;
    overflow-x: hidden;
  }

  .form-body-default {                                             // edit-package
    @media(max-width:767px) {
      height: 460px;
      overflow: auto;
    }

    height: 490px;
    overflow: auto;
  }

  .form-body-small {                                             // no-use
    height: 500px;
    overflow: auto;
  }

  .form-body-large {                                             // upgrade-version,create-widget,create-schedule,
    height: 82%;
    overflow: auto;
    @include disp_height(h6) { height: 75%; }
    @include disp_height(h4) { height: 70%; }
    @media(max-width:600px) {
      height: 81%;
      overflow: auto;
    }
  }

  .input-footer {
    color: var(--primary-bg-hghl-color);
    padding: 0 4px;
    text-align: right !important;
    margin-bottom: 5px;

    @include query(mob) {
      margin-bottom: 0px;
    }
  }

  .mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button {
    min-width: 88px;
    border-radius: 6px;
  }

  .mat-icon-button {
    padding: 0;
    min-width: 0;
  }

  .cancle-btn {
    margin-right: 5px;
  }

  .mat-toolbar h1 {
    padding-top: 10px;
  }


  .mat-paginator .mat-icon-button {
    height: 45px;
    width: 30px;
  }

  .material-icons {
    padding-top: 4px;
    font-size: 24px;
  }

  .input-component-holder {
    background-color: var(--primary-bg-hghl-color);
    overflow: hidden; //common inline styles

    h4 {
      color: #327ebd;
      margin: 14px 0;
    }

    mat-divider {
      margin-bottom: 10px;
    }

  }

  .mat-dialog-container {
    padding: 0px !important;
  }

  .small-popup .mat-dialog-container .input-header .header-close {
    @include query(4k) { margin-left: 22%; }
    @include query(desktop_l) { margin-left: 1%; }
  }
}
.medium-popup {                                                           //mediumpopup
  max-width: 100vw !important;
  width: 98.9%;
  height: 100%;
  margin-left: 50px;
  margin-top: 110px;
  @include query(desktop_l) { width: 97.8%; }
  @include query(desktop_s) { width: 97.3%; }
  @include query(desktop) { width: 96.3%; }
  @include query(lap_1) { width: 97.1%; }
  @include query(lap_3) { width: 96.4%; }
  @include query(lap_xl) { width: 96.1%; }
  @include query(lap_l) { width: 96.1%; }
  @include query(lap){ width: 97.1%; }
  @include query(tab){ width: 100% }
  @include query(mob_l) { margin-top: 98px; margin-right: 43px}
  @include query(mob_m) { margin-top: 98px; margin-right: 45px}
  @include query(mob_s) { margin-top: 98px; margin-right: 45px}
  .medium-popup .mat-dialog-container {
    padding: 5px 0px 15px 0px;
    overflow: hidden;
    .input-header {
      height: 6%;
      background-color: var(--primary-bg-hghl-color) !important;
      color: #000000 !important;
      text-align: center;
      padding: 0px 0px 0px 15px;
      font-size: 14px;
      .header-name {
        height: 100%;
        width: 93%;
        float: left;
      }
      .header-close {
        height: 100%;
        width: 7%;
        float: right
      }
    }
    .input-container {
      height: 94%;
      overflow: auto;
    }
    .mat-icon-button {
      height: 0px;
      width: 0px;
    }
    .material-icons {
      padding-top: 5px;
      font-size: 27px;
    }
    @media (max-width: 767px) {
      .input-header {
        .header-name {
          height: 100%;
          width: 80%;
          float: left;
          overflow: hidden;
        }
        .header-close {
          height: 100%;
          width: 20%;
          float: right
        }
      }
    }
    .mat-dialog-container {
      padding: 0px !important;
    }
  }
  .custom-dialog-container-tag .mat-dialog-container {
    padding: 0px;
    .input-header {
      height: 10%;
      background-color: var(--primary-bg-hghl-color) !important;
      color: #000000 !important;
      text-align: center;
      padding: 0px 0px 0px 15px;
      .header-name {
        height: 100%;
        width: 80%;
        float: left;
      }
      .header-close {
        height: 100%;
        width: 20%;
        float: right
      }
    }
    .input-container {
      height: 90%;
      overflow: auto;
    }
    .mat-icon-button {
      height: 0px;
      width: 0px;
    }
    .material-icons {
      padding-top: 5px;
      font-size: 20px;
    }
    .mat-dialog-container {
      padding: 0px !important;
    }
  }
  .mat-form-field-appearance-outline .mat-form-field-prefix, .mat-form-field-appearance-outline .mat-form-field-suffix {
    top: 0.18em;
   }
  .mat-form-field-prefix, .mat-form-field-suffix {
    white-space: nowrap;
    flex: none;
    position: static;
    }
  .material-icons {                                       //medium-popup close icon
    padding-top: 7px;
    font-size: 24px;
  }
}



.large-popup {
  //large-popup
  max-width: calc(100% - 54px) !important;
  margin-left: 50px;
  height: 100%;
  width: 100%;
  
  .custom-dialog-container .mat-dialog-container {
    padding: 5px 0px 15px 0px;
    overflow: hidden;
  }

  .custom-dialog-container-map .mat-dialog-container {

    padding: 0px;

    .input-header {
      height: 6%;
      background-color: var(--primary-bg-hghl-color) !important;
      color: #000000 !important;
      text-align: center;
      padding: 0px 0px 0px 15px;
      font-size: 14px;

      .header-name {
        height: 100%;
        width: 93%;
        float: left;
      }

      .header-close {
        height: 100%;
        width: 7%;
        float: right
      }
    }

    .input-container {
      height: 94%;
      overflow: auto;
    }

    .mat-icon-button {
      height: 0px;
      width: 0px;
    }

    .material-icons {
      padding-top: 5px;
      font-size: 27px;
    }

    @media (max-width: 767px) {
      .input-header {
        .header-name {
          height: 100%;
          width: 80%;
          float: left;
          overflow: hidden;
        }

        .header-close {
          height: 100%;
          width: 20%;
          float: right
        }
      }
    }

    .mat-dialog-container {
      padding: 0px !important;
    }
  }

  .custom-dialog-container-tag .mat-dialog-container {

    padding: 0px;

    .input-header {
      height: 10%;
      background-color: var(--primary-bg-hghl-color) !important;
      color: #000000 !important;
      text-align: center;
      padding: 0px 0px 0px 15px;

      .header-name {
        height: 100%;
        width: 80%;
        float: left;
      }

      .header-close {
        height: 100%;
        width: 20%;
        float: right
      }
    }

    .input-container {
      height: 90%;
      overflow: auto;
    }

    .mat-icon-button {
      height: 0px;
      width: 0px;
    }

    .material-icons {
      padding-top: 5px;
      font-size: 20px;
    }

    .mat-dialog-container {
      padding: 0px !important;
    }
  }

  .popup-dialog-container3 {
    //patient
    max-width: 100% !important;
  }

  .header-close {
    .material-icons {
      padding-top: 10px;
      font-size: 24px;
    }
  }
}

.confirmation-popup {
  width: 400px;
  height: 210px;

  @include query(desktop_l) {
    width: 400px;
    height: 210px;
  }

  @include query(desktop) {
    width: 400px;
    height: 210px;
  }

  @include query(lap) {
    width: 400px;
    height: 210px;
  }

  @include query(tab) {
    width: 400px;
    height: 210px;
  }

  @include query(mob_l) {
    width: 400px;
    height: 210px;
  }
  @include query(mob_m) {
    width: 400px;
    height: 210px;
  }

  @include query(mob_s) {
    width: 400px;
    height: 210px;
  }

  .cf-dlg_1 {
    background: var(--primary-bg-color);
    color: var(--primary-bg-hghl-color);
    font-size: 12px;
    border-radius: 3px;
    line-height: 30px !important;
  }

  .material-icons {
    padding-top: 8px;
    font-size: 24px;
    margin-left: 20px;
  }

  .cf-dlg-frm_ {
    height: 28px;
    font-size: 14px;
    padding: 5px 10px 0px 10px;
    background-color: var(--primary-bg-color);
    color: var(--primary-bg-hghl-color);
  }

  .cf-dlg {
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-weight: 600;
    padding: 10px;
    overflow: auto;
    height: calc(100% - 115px);
    width: 93%;
  }

  .input-footer {
    display: flex;
    justify-content: center;
    color: var(--primary-bg-hghl-color);
    padding: 0 4px;
    text-align: right !important;
    margin-bottom: 5px;
  }
}


.mdm-Confirmation-popup {
  width: 450px;
  height: 250px;

  @include query(desktop_l) {
    width: 450px;
    height: 250px;
  }

  @include query(desktop) {
    width: 450px;
    height: 250px;
  }

  @include query(lap) {
    width: 450px;
    height: 250px;
  }

  @include query(tab) {
    width: 450px;
    height: 250px;
  }

  @include query(mob_l) {
    width: 450px;
    height: 250px;
  }
  @include query(mob_m) {
    width: 450px;
    height: 250px;
  }

  @include query(mob_s) {
    width: 450px;
    height: 250px;
  }

  .cf-dlg_1 {
    background: var(--primary-bg-color);
    color: var(--primary-bg-hghl-color);
    font-size: 12px;
    border-radius: 3px;
    line-height: 30px !important;
  }

  .material-icons {
    padding-top: 8px;
    font-size: 24px;
    margin-left: 20px;
  }

  .cf-dlg-frm_ {
    height: 28px;
    font-size: 14px;
    padding: 5px 10px 0px 10px;
    background-color: var(--primary-bg-color);
    color: var(--primary-bg-hghl-color);
  }

  .cf-dlg {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 12px;
    font-weight: 600;
    padding: 2px 1px 10px 6px;
    height: calc(100% - 107px);
    width: 93%;
  }

  .input-footer {
    display: flex;
    justify-content: center;
    color: var(--primary-bg-hghl-color);
    padding: 0 4px;
    text-align: right !important;
    margin-bottom: 5px;
  }
}
