@import '../../../../../theme/configcolour.scss';

// .dialog-header {
//     height: 30px;
//     padding: 5px 5px 0px 5px;
//     font-size: 16px;
//     color: var(--primary-bg-color);
//     font-weight: 800;
//     background: whitesmoke;
//     display: flex;
//     justify-content: space-between;

// }
// .dialog-header-noti {
//   height: 30px;
//   padding: 5px 5px 0px 5px;
//   font-size: 16px;
//   color: var(--primary-bg-hghl-color);
//   font-weight: 800;
//   background:  var(--primary-bg-color);
// }
// .hightlight-sty {
//   // float: right;
// }
// .hightlight-sty-noti {
//   // float: right;
//   color: whitesmoke;
// }
.leaflet-content{
    height: calc(100% - 60px);
}

.porterhis{
    height: calc(100% - 75px);
    overflow:hidden;
    padding: 0px 15px;
    position: relative;
    top: 25px;
}

#porter-box1, #porter-box2{
    display:inline;
    padding: 8px;
  }
#porter-box2 {
    background: var(--primary-bg-hghl-color);
    border: 1px solid $secondary-color;
    padding-top: 2px;
    padding-bottom: 6px;
  }
.porter-select{
    height: 30px;
    width: 250px;
    font-size: 14px;
    border-radius: 3px;
    margin-right: 10px;
  }
/* webcam.component.css */
.webcam-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  video {
    border: 1px solid #ddd;
    width: 280px;
    height: 210px;
  }
  
  button {
    margin: 10px 0;
  }
  
  img {
    margin-top: 10px;
    max-width: 280px;
    border: 1px solid #ddd;
  }
}
