@import '../../../../../theme/configcolour.scss';

$bp : (
  tab : 768px,
  mob: 565px,
);
@mixin query($display){
  @each $key, $value in $bp{
    @if ($display == $key){
      @media (max-width: $value){@content;}
    }
  }
}
.create-shadow {
    border: 1px solid $tertiary-color !important;
    background: var(--primary-bg-hghl-color);
    box-shadow: 1px 2px 6px #00000029, 1px 2px 6px #00000029;
    border-radius: 4px;
    margin: 1%;
  }
  .config-close {
    height: 20px;
    font-size: 18px !important;
    float: right;
    padding-top: 10px !important;
    padding-right: 10px;
    color: gray;
    cursor: pointer;
  }
  .selected-list {
    background-color: var(--primary-bg-color);
    color: var(--primary-bg-hghl-color);
  }
  .non-selected-list {
      background-color: var(--primary-bg-hghl-color);
      color: black;
  }
  .slider-width{
    width: 80% !important;
    @include query(tab){
      width: 40% !important;
    }
    @include query(mob){
      width: 85% !important;
    }
  }
