.container {
    width: 82%;
    height: 85%;
    float: right;
    background: white;
    padding: 0.5% 1% 0% 1%;
  
.footer{
    font-size: 11px;
    color:#636A6D;
    bottom: 0em;
    left: 50%;
    position: fixed;
   }
}

