@import '../../../../theme/configcolour.scss';

$bp : (
  desktop:1440px,
  lap:1024px,
   tab : 768px,
   mob: 565px,
   mob_m:425px,
   mob_s: 320px
  
);
@mixin query($display){
  @each $key, $value in $bp{
    @if ($display == $key){
      @media (max-width: $value){@content;}
    }
  }
}
.icon-style{
    padding-right: 3px;
}
.vital-view {
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  width: 23%;
  display: inline-block;
  border: 2px solid lightgrey;
  border-radius: 10px;
  margin-right: 5px;
}
.ip-vital {
  padding : 5px 0px 0px 0px;
  height: 30%;
  text-align: center;
  }
.patient-away{
  padding: 0px 10px 0px 10px;
  margin-right:4px;
  background-image: url("/assets/Alert/IP/Moved-out-icon.svg");
  background-size: 26px 26px;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: left center;
  cursor: pointer;
}
.nurse-call{
  padding: 0px 10px 0px 10px;
  margin-right:4px;
  background-image: url("/assets/Alert/IP/nurse-call.svg");
  background-size: 26px 26px;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: left center;
  cursor: pointer;
}
.fall-risk {
  padding: 0px 10px 0px 10px;
  margin-right:4px;
  background-image: url("/assets/Alert/IP/fall.svg");
  background-size: 26px 26px;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: left center;
  cursor: pointer;
}
.patient-missing {
  padding: 0px 10px 0px 10px;
  margin-right:4px;
  background-image: url("/assets/Alert/IP/patient-missing.svg");
  background-size: 26px 26px;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: left center;
  cursor: pointer;
}
.geofence {
  padding: 0px 10px 0px 10px;
  margin-right:4px;
  background-image: url("/assets/Alert/IP/geofence.svg");
  background-size: 26px 26px;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: left center;
  cursor: pointer;
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}
.day-care-grid-cl-r-2-2 {
width: 98%;
height: 95%;
overflow: hidden;
margin: 1% 1% 1% 1%;
border: 1px solid #C6C6C6;
background: var(--primary-bg-hghl-color);
border-radius: 10px;
box-shadow: 1px 3px 6px #00000029;
opacity: 1;
}
.ip-gender{
height: 20px;
width: 20px;
}
.ip-other-gender{
height: 16px;
width: 16px;
}
.ip-woman-gender{
height: 20px;
width: 18px;
}
.ip-tagid{
width:65%;
font-size: 10px;
}
.ip-patient-header {
color: #284255;
font-family: 'Open Sans', sans-serif;
font-size:  15px;
font-weight: 600;
padding: 5px 5px 5px 10px;
float: left;

.ip-patient-name {
  max-width: 100%;//85%;            cardview
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  float:left;
  font-size: 14px;
  font-weight: 600;
}

.ip-patient-stay {
  margin-left: 20px;
  float:right;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
}
.day-care-patient-basic {
font-family: 'Open Sans', sans-serif;
font-size:  13px;
font-weight: 600;
.day-care-basic-details {
  height: 235px;
  width: 16%;
  color:var(--primary-bg-hghl-color);
  background-color: #0000001a;
  text-align: center;
  border: 1px solid #0000001a;
  border-radius: 4px;
  float: left;
}
}
.ip-patient-basic-present{
font-family: 'Open Sans', sans-serif;
font-size:  13px;
font-weight: 600;
.ip-basic-details {
  height: 132px;
  width: 15%;
  color:var(--primary-bg-hghl-color);
  background-color: #873EF6;
  text-align: center;
  border: 1px solid #873EF6;
  border-radius: 4px;
  float: left;
}
}
$bp : (
  
   tab : 768px,
   mob: 565px,
   
);
@mixin query($display){
  @each $key, $value in $bp{
    @if ($display == $key){
      @media (max-width: $value){@content;}
    }
  }
}
.ip-circle {
text-align: center;
position: relative;
border-radius: 50%;
margin: 10px 2px 15px 2.6px;
width: 42px;
height: 42px;
font-size: 14px;
display: inline-flex;
align-items: center;
justify-content: center;
background: var(--primary-bg-hghl-color);
color: black;
cursor: pointer;
@include query(tab){
  width: 33px;
  height: 36px;
}
@include query(mob){
  width: 42px;
  height: 42px;
}
}
.ip-patient-doctor {
color: #284255;
font-family: 'Open Sans', sans-serif;
font-weight: 600;
font-size: 12px;
padding: 10px 0px 0px 10px;
width:100%;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
}
.ip-nurse-alert {
  padding : 5px 0px 0px 0px;
  height: 15%;
  width: 100%;
  text-align: center;
}
.ip-patient-alert {
padding : 10px 0px 0px 0px;
height: 9%;
width: 100%;
text-align: center;
}

.day-care-event {
  float: right;
  height: 100%;
  text-align: center;
  .in-button {
      height: 20px;
      border: 2px solid #2a3d50;
      color: #2a3d50;
      border-radius: 5px;
      font-size: 16px;
      margin: 2px 15px;
      cursor: pointer;
      font-weight: 600;
      padding: 2px 12px 2px 12px;
  }
  .out-button {
      height: 20px;
      border: 2px solid #F25454;
      color: #F25454;
      border-radius: 5px;
      font-size: 16px;
      margin: 2px 15px;
      cursor: pointer;
      font-weight: 600;
      padding: 2px 13px 2px 13px;
  }
}