@import '../../../theme/configcolour.scss';

.toolmenu{
  background-color: #284255;
  color: var(--primary-bg-hghl-color);
}
:host {
  z-index: 4;
}

.mat-toolbar-single-row {
  height: 60px !important;
  padding-left: 0px !important;
}
.mat-toolbar {
  background-color: var(--primary-bg-hghl-color) !important;
}
.ovitag-img{
   height: 60px; 
   padding-top: 3px;
}

.more-btn {
  height: 100%;
  min-width: 70px;
}

.mat-icon-button {
  margin-right: 10px;
}

.mat-elevation-z5 {
  height: 50px;
  background-color: #019F96;
  padding: 0%;
}
.mat-elevation-z5-tab {
  height: 48px;
  background-color: $tertiary-color !important;
  padding: 0%;
}
.search_box{
  display: inline;
}
@media (max-width: 767px){
  .mat-elevation-z5 {
    display: none;
  }
  .mat-elevation-z5-tab {
    display: flex;
  }
  .search_box{
    display: none;
  }
  
}
@media (min-width: 767px){
  .menu-button{
    display: none;
  }
}
@media (max-width: 900px){
  .mat-elevation-z5 {
    display: none;
  }
  .search_box{
    display: none;
  }
}
@media (min-width: 900px){
  .mat-elevation-z5 {
    display: none;
  }
}

@media(max-width:2100px) and (min-width: 500px){
  .tab-header {
    height: 100%;
    width: 100%;
  }}
  @media(max-width:500px) and (min-width: 300px){
  .tab-header{
    height:100%;
    width:100%;
    .tl-br-nav-styl{
      float: left;
      height: 38px;
      width: 50%;
      padding: 6px 20px 5px 20px;
      cursor: pointer;
    }
  }
  }
  @media(max-width:767px) and (min-width: 501px){
    .tab-header{
      height:100%;
      width:100%;
      .tl-br-nav-styl{
        float: left;
        height: 38px;
        width: 50%;
        padding: 6px 20px 5px 20px;
        cursor: pointer;
      }
    }
    }
  
  .tab-header-area {
    color: #284255;
    height: 100%;
    width: 96.8%;
    float: right;
    font-size: 18px;
    font-weight: 600;
    @media(max-width:2100px) and (min-width: 768px){
    .header-area{
      width: 50%;
      height: 100%;
      float: left;
    } }
    .search-area{
      width: 50%;
      height: 85%;
      float: right;
    }
  }
  @media(max-width:1024px) and (min-width: 767px){
  .tab-header-area {
    color: #284255;
    height: 100%;
    width: 96%;
    float: right;
    font-size: 18px;
    font-weight: 600;
    @media(max-width:1024px) and (min-width: 767px){
    .header-area{
      width: 50%;
      height: 100%;
      float: left;
    } }
    .search-area{
      width: 50%;
      height: 85%;
      float: right;
    }
  }}
  
  @media(max-width: 767px){
    .tab-header-button{
      display: none;
    }
  }
  @media(max-width: 1024px) and (min-width: 768px){
    .tab-header-button {
      color:var(--primary-bg-hghl-color);
      height: 100%;
      width: 4%;
      float: left;
      overflow: hidden;
      background-color: #243048;
      text-align: center;
    }
  }
  @media(max-width: 2200px) and (min-width:1025px){
  .tab-header-button {
    color:var(--primary-bg-hghl-color);
    height: 100%;
    width: 3.2%;
    float: left;
    overflow: hidden;
    background-color: #243048;
    text-align: center;
  }}
.search-area-m-5{
  margin: 5px 0px;
}
.search-area-h-w{
  height: 85%;
  width:380px;
  float:right;
}
.search-area-input-w-h-100{
  width:100%;height:100%
}
.search-area-input-style{
  width: 10%;
  height: 36px;
  margin-right: 5%;
  border-radius: 0px 5px 5px 0px;
  background-color: #284255;
  float: right;
  border: solid 0.5px #28425560; 
}
.drop-down-select{
  @media(min-width:1024px ){ height: 80%; width:60px;}
  height: 82%;
  width:60px;
  float:right;
  font-size: 14px;
  border: solid 0.5px #284255;
  padding: 0px 8px 0px 10px;
  border-radius: 5px 0px 0px 5px;
}
.search-input-box {
  height: 100%;
  width: 85%;
  border-radius: 0px;
  border-style: none;
  font-size: 14px;
  padding: 0px 10px 0px 10px;
  border: solid 0.5px #284255;
  color:black ;
}

.search-input-box::placeholder{
  color:#bbbbbb;
}

.search-input-box:focus{
 outline: none;
}
.close-icon{
  width: 35px;
  height: 35px;
  margin-right: 5px;
  border-radius: 0px 5px 5px 0px;
  background-color: #284255;
  float: right;
  border: solid 0.5px #28425560; 
}

.search-input{
  width: 351px;
  float: right;
  padding-right: 15px;
}
.search-icon{
  width: 10%;
  margin-top: 8px;
  height: 35px;
  margin-right: 5%;
  border-radius: 20px;
  background-color: #284255;
  border: solid 0.5px #28425560;
  float: right; 
}

.search-result{
  min-height: 9px;
  position: absolute;
  max-height: 200px;
  background-color: var(--primary-bg-hghl-color);
  width: 362px;
  border: solid 1px #28425560;
  overflow: auto;
  margin-top: 0.5px;
  margin-left: -2px;
  border-radius: 6px;
  overflow-x: hidden;
  z-index: 9999;
}

.search-result-body{
  width: 100%;
  height: 35px;
}
.search-result-body:hover {
 background-color: #f3f9f8;
}
.flx-styl{
  display: flex;
}
.logo-styl{
  max-width:100%;max-height:30px;padding: 0px 0px 4px 2px;
}
.app-icn-style{
  width: 30px; height: 30px; padding-top: 10px; font-size: 30px; cursor: pointer;
}
.men-styl{
  padding: 9px 0px 0px 10px;
}
.pad-styl{
  padding-top: 5px;
}
.fnt-colr-style{
  font-size:16px; color:#848484;
}
.fnt-colr-style_1{
  font-size:18px; color:#019f96;
}
@media(max-width:2100px) and (min-width: 500px){
  .tl-br-nav-styl{
    height: 34px; padding: 8px 10px; cursor: pointer;
  }
}
.srch-styl{
  color: var(--primary-bg-hghl-color); text-align: center;  height: 60px;
}
.srch-styl_1{
  width: 100%; padding-top: 3px !important; font-size: 30px; cursor: pointer;
}
.srch-styl_2{
  width: 100%; padding-top: 5px !important; font-size: 24px;
}
.srch-list-style{
  float: left; height: 35px; width: 13%; text-align: center;cursor: pointer;
}
.search-dropdown-box-style{
  float: right; width: 87%;color: #284255; font-size: 14px; font-weight: 600;cursor: pointer;
  z-index:99;
}
.search-data{
  font-size: 14px;
  font-weight: 600;
  color: #284255;
}
.tl-br-styl{
  height: 30px; 
  width: 100%; background-color: #eeeeee;  text-align: center;
}
.tl-br-styl_1{
  text-decoration:none;color:#284255;cursor:pointer;
}
.tl-br-styl_2{
  height: 30px; width: 100%; background-color: #eeeeee; text-align: center; font-size: 12px;
}

 /*------------------ Introduced to achieve a better view in IE 11 ------------------*/
 @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
  .ovitag-img{
       height: 70px; 
       padding-top: 3px;
    }
  }
/*------------------ Introduced to achieve a better view in IE 11 ------------------*/