@import '../../../../theme/configcolour.scss';

.ip-header {
  padding-top: 1%;
  margin-bottom: 10px;
}
.male {
  
  color: #00cccb;
  font-size: 11px;
  font-weight: 600;
}

.female {
 
  font-size: 11px;
  color: #ff00fe;
  font-weight: 600;
}
.icon-style{
    padding-right: 3px;
}
.vital-view {
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  width: 23%;
  display: inline-block;
  border: 2px solid lightgrey;
  border-radius: 10px;
  margin-right: 5px;
}
.ip-vital {
  padding : 5px 0px 0px 0px;
  height: 30%;
  text-align: center;
  }
.select-cell{
  
  background-size: 23px 23px;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: left center;
  cursor: pointer;
}
.patient-away{
  padding: 0px 10px 0px 10px;
  margin-right:4px;
  background-image: url("/assets/Alert/IP/Moved-out-icon.svg");
  background-size: 26px 26px;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: left center;
  cursor: pointer;
  
}
.nurse-call{
  padding: 0px 10px 0px 10px;
  margin-right:4px;
  background-image: url("/assets/Alert/IP/nurse-call.svg");
  background-size: 26px 26px;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: left center;
  cursor: pointer;
  
}
.porter-request{
  background-image: url("/assets/Alert/IP/Porter-request-Icon.svg");
  background-size: 26px 26px;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: left center;
  cursor: pointer;
}
.fall-risk {
  padding: 0px 10px 0px 10px;
  margin-right:4px;
  background-image: url("/assets/Alert/IP/fall.svg");
  background-size: 26px 26px;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: left center;
  cursor: pointer;
}
.patient-missing {
  padding: 0px 10px 0px 10px;
  margin-right:4px;
  background-image: url("/assets/Alert/IP/patient-missing.svg");
  background-size: 26px 26px;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: left center;
  cursor: pointer;
}
.geofence {
  padding: 0px 10px 0px 10px;
  margin-right:4px;
  background-image: url("/assets/Alert/IP/geofence.svg");
  background-size: 26px 26px;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: left center;
  cursor: pointer;
}

.blink {
  animation: blink 2s steps(5, start) infinite;
  -webkit-animation: blink 1s steps(5, start) infinite;
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}
.ip-routine-icon{
width:44px;
height:44px;
margin-top:-3px;
}
.ip-grid-cl-r-2-2 {
width: 98%;
height: 90%;
overflow: hidden;
margin: 1% 1% 1% 1%;
border: 1px solid #C6C6C6;
background: var(--primary-bg-hghl-color);
border-radius: 10px;
box-shadow: 1px 3px 6px #00000029;
opacity: 1;
}
#ip:hover {
border: 8px solid #C6C6C6;
border-radius: 10px;
}
.ip-gender{
height: 20px;
width: 20px;
}
.ip-other-gender{
height: 16px;
width: 16px;
}
.ip-woman-gender{
height: 20px;
width: 18px;
}
.ip-tagid{
width:65%;
font-size: 10px;
}
.ip-routine-action{
font-size: 10px;
margin-left: 10px;
font-weight: 600;
}
.ip-routine-action-icon{
height: 12px;
width: 12px;
margin-right: 3px;
}
.ip-patient-header {
color: #284255;
font-family: 'Open Sans', sans-serif;
font-size:  15px;
font-weight: 600;
padding: 5px 5px 5px 10px;

.ip-patient-name {
  width:85%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  float:left;
  font-size: 14px;
  font-weight: 600;
}

.ip-patient-stay {
  margin-left: 20px;
  float:right;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
}
.ip-patient-basic {
font-family: 'Open Sans', sans-serif;
font-size:  13px;
font-weight: 600;
.ip-basic-details {
  height: 180px;
  width: 16%;
  color:var(--primary-bg-hghl-color);
  background-color: #0000001a;
  text-align: center;
  border: 1px solid #0000001a;
  border-radius: 4px;
  float: left;
}
}
.ip-patient-basic-present{
font-family: 'Open Sans', sans-serif;
font-size:  13px;
font-weight: 600;
.ip-basic-details {
  height: 132px;
  width: 15%;
  color:var(--primary-bg-hghl-color);
  background-color: #873EF6;
  text-align: center;
  border: 1px solid #873EF6;
  border-radius: 4px;
  float: left;
}
}
.ip-circle {
text-align: center;
position: relative;
border-radius: 50%;
margin: 10px 2px 2px 2.6px;
width: 42px;
height: 42px;
font-size: 14px;
display: inline-flex;
align-items: center;
justify-content: center;
background: var(--primary-bg-hghl-color);
color: black;
cursor: pointer;
}
.ip-patient-details {
font-family: 'Open Sans', sans-serif;
font-size:  13px;
font-weight: 600;
padding: 25px 0px 0px 10px;
.ip-gender {
  width: 10%;
  color:var(--primary-bg-hghl-color);
  background-color: #019F96;
  text-align: center;
  border: 1px solid #019F96;
  border-radius: 4px;
  float: left;
}
.ip-age {
  width: 10%;
  color:var(--primary-bg-hghl-color);
  background-color: #019F96;
  text-align: center;
  border: 1px solid #019F96;
  border-radius: 4px;
  float: left;
  margin-left: 5px;

}
}
.ip-patient-doctor {
color: #284255;
font-family: 'Open Sans', sans-serif;
font-weight: 600;
font-size: 12px;
padding: 10px 0px 0px 10px;
width:100%;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
}
.ip-patient-alert {
padding : 10px 0px 0px 0px;
height: 15%;
width: 100%;
text-align: center;
}
.ip-circle-bl {
width:6px;
height:8px;
border-radius:50px;
font-size:20px;
padding-right:2px;
background: var(--primary-bg-color);
display: inline-block;
}
.ip-circle-red {
background: #F25454;
padding-right:2px;
}
.ip-label01{
  background: var(--primary-bg-color);
  color: var(--primary-bg-hghl-color);
  padding: 9px 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
}
.ip-select01{
  width: 100px;
  padding:5px 8px 7px 8px;
  border: 1px solid $tertiary-color !important;
  background: var(--primary-bg-hghl-color);
  box-shadow: 1px 2px 6px #00000029;
  font-family: 'Open Sans', sans-serif;
}
.ip-label02{
  background: var(--primary-bg-color);
  color: var(--primary-bg-hghl-color);
  padding: 10px 10px 4px;
  font-family: 'Open Sans', sans-serif;
}
.ip-select02{
  padding:10px 8px 4px 8px;
  border: 1px solid $tertiary-color !important;
  background: var(--primary-bg-hghl-color);
  box-shadow: 1px 2px 6px #00000029;
  font-family: 'Open Sans', sans-serif;
}
.ip-routine-incharge{
  background: var(--primary-bg-color);
  color: var(--primary-bg-hghl-color);
  position: inherit;
  padding: 10px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-weight: 600;
}
.select-view{
  background: var(--primary-bg-color);
  color: var(--primary-bg-hghl-color);
  box-shadow: 1px 3px 6px #00000029;
  min-width: 60px !important;
  border-top-right-radius: 4px!important;
  border-top-left-radius: 4px!important;
}
.unselect-table-view{
  background:  var(--primary-bg-hghl-color);
  color: #707070;
  box-shadow: 1px 3px 6px #00000029;
  min-width: 60px !important;
  border-top-right-radius: 4px!important;
  border-top-left-radius: 4px!important;
}
.unselect-card-view{
  background:  var(--primary-bg-hghl-color);
  color: var(--primary-bg-color);
  box-shadow: 1px 3px 6px #00000029;
  min-width: 60px !important;
  border-top-right-radius: 4px!important;
  border-top-left-radius: 4px!important;
}
.ip-add-user {
background: var(--primary-bg-hghl-color);
margin-left: 10px;
font-size: 12px;
font-weight: 600;
width: 230px !important;
padding-top: 2px;
padding-left: 15px;
}
.ip-routine-list {
width: 120px;
text-overflow: ellipsis;
white-space: nowrap;
}
