<lazy-loader *ngIf=loading></lazy-loader>
<div class="manage-body">

  <tw-header-new-component [component]="'medicalRecord'" [type]="'new'" [permission]="null" [dateFilter]="selectedDate" [selectFilter]="selectFilter" [rowFilter]="rowFilter" [manageAction]="showActions" [selectDropdown]="selectDropdown" [selectedName]="true"
    [locationId]="locationId" [selectedView]="null" [multiView]="false" (selectedViewAction)="null" (headerEventAction)="headerEventAction($event)" [groupFilter]="parentFilter"></tw-header-new-component>

  <div *ngIf="selectedView == 'table'" class="tw-content1" appWindowResize (resizedWidth)="onWindowResizedWidth($event)" [component]="'MR'">
		<mat-tab-group (selectedTabChange)="onTabChanged($event)" [selectedIndex]="selectedIndex">
			<mat-tab label="{{'MR Requests'|translate}}">
        <ng-template mat-tab-label >{{"MR Requests"|translate}}</ng-template>
          <tw-table-component *ngIf="this.selectedTab === 'MR Requests'" [component]="'medicalRecord'" [columns]="displayedColumns" [tableData]="tableData" [iconHeader]="iconHeader" [iconColumn]="iconColumn" [sortColumn]="sortColumn" [dateColumns]="dateColumns"
            [eventColumn]="eventColumn" (eventAction)="eventAction($event)" [rowClick]="true" [rowId]="'mrRequestId'" (rowClickAction)="rowClick($event)"
            [applyFilter]="applyFilterValue" [permissionControl]="permissionControl" [pagination]="null" [tableClass]="'tab-table'"></tw-table-component>
      </mat-tab>
			<mat-tab label="{{'MR History'|translate}}">
        <ng-template mat-tab-label >{{"MR History"|translate}}</ng-template>
          <tw-table-component *ngIf="this.selectedTab === 'MR History'" [component]="'medicalRecord'" [columns]="displayedColumns" [tableData]="tableData" [iconHeader]="iconHeader" [iconColumn]="iconColumn" [sortColumn]="sortColumn" [dateColumns]="dateColumns"
            [eventColumn]="eventColumn" (eventAction)="eventAction($event)" [rowClick]="true" [rowId]="'mrRequestId'" (rowClickAction)="rowClick($event)"
            [applyFilter]="applyFilterValue" [permissionControl]="permissionControl" [pagination]="null" [tableClass]="'tab-table'"></tw-table-component>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
