<div class="loading-spinner" *ngIf="loading">
    <div class="spinnerload">
        <div class="spin1"></div>
        <div class="spin2"></div>
        <div class="spin3"></div>
    </div>
</div>
<div>
    <tw-header-new-component [component]="'holiday-scheduler'" 
        [permission]="null" [dateFilter]="null" [rowFilter]="null" 
        [manageAction]="showActions" [selectDropdown]="selectDropdown" 
        [selectedName]="selectedName !== null ? selectedName : true"
        [locationId]="null" [selectedView]="selectedView" [multiView]="false"
        (selectedViewAction)="null" (headerEventAction)="headerEventAction($event)">
    </tw-header-new-component>
</div>
<div>
    <tw-table-component [component]="'holiday-scheduler'" 
        [columns]="displayedColumns" [tableData]="tableData"
        [iconHeader]="iconHeader" [iconColumn]="iconColumn"
        [sortColumn]="sortColumn" [eventColumn]="[null]"
        [rowDbClick]="true" (rowDbClickAction)="manageScheduler($event)"
        [applyFilter]="applyFilterValue" [permissionControl]="permissionControl" [pagination]="null" [tableClass]="'table-with-header'">
    </tw-table-component>
</div>
