<div class="manage-body container-fluid">
    <tw-header-new-component [component]="'ticket'" [permission]="null" [dateFilter]="this.selectedDate"
        [rowFilter]="null" [manageAction]="showActions" [selectDropdown]="selectDropdown"
        [selectedName]="selectedName !== null ? selectedName : true" [selectedView]="null"
        (selectedViewAction)="null" (headerEventAction)="headerEventAction($event)">
    </tw-header-new-component>
    <div>
        <tw-table-component [component]="'ticket'" [columns]="displayedColumns" [tableData]="tableData" [dateColumns]="dateColumns"
            [iconHeader]="iconHeader" [iconColumn]="iconColumn" [sortColumn]="sortColumn" [eventColumn]="eventColumn"
            (eventAction)="eventAction($event)" [applyFilter]="applyFilterValue" [rowClick]="true" [rowId]="'requestId'"
            (rowClickAction)="rowClick($event)" [permissionControl]="permissionControl" [pagination]="null" [tableClass]="'table-with-header'">
        </tw-table-component>
    </div>
</div>