@import '../../../../../../theme/configcolour.scss';

.mat-nav-list .mat-list-item .mat-list-icon {
    border-radius: unset !important;
}
@media (max-width: 1024px) and (min-width: 767px){
:host ::ng-deep .mat-list-item-content { padding: 0 4px !important; }
}
.mat-list-item.active{
    background: var(--primary-bg-color) !important;
        border-right: 3px solid var(--primery_shadowColor1);
        .mat-divider{
            background-color: var(--primery_shadowColor1);
        }
        .mat-icon, h3{
            color:var(--primary-bg-hghl-color) !important;  }
}
.mat-divider{
    background-color: #fcfff9c4;
    border-top-width: 0.5px;
}
.new-menu {
    width: 50px;
    padding: 10px;
    font-size: 10px;
    text-align: center;
    margin-left: -15px;
    font-weight: 600;
    margin-bottom: 5px;
}
@mixin mat-list-icon($size: 24px) {
    font-size: $size;
    height: $size;
    width: $size;
}
@mixin mat-chip() {
    padding: 1px 7px;
}

@mixin sidemenu-item($theme,$icon-size) {
    .sidenav-dropdown-indicator {
        transition: transform .25s;
        &.indicateOpen {
            transform: rotate(180deg);
        }
    }
    mat-nav-list {
        overflow: hidden;
        padding-top: 0px;
        
    }
    .primary{
        transition: max-height .4s cubic-bezier(.35, 0, .25, 1);  
        padding-top: 0px;
    }
    .secondaryMenu {
        background:  $quinary-color  ;
        transition: max-height .4s cubic-bezier(.35, 0, .25, 1);  
        padding-top: 0px;
    }

    .mat-nav-list .mat-list-item .mat-list-icon{
        @include mat-list-icon($icon-size);
    }
    .mat-chip:not(.mat-basic-chip){
        @include mat-chip()
    }
    .mat-nav-list .mat-list-item {
        font-size: 14px;
    }

  
}
.mat-list, .mat-nav-list, .mat-selection-list {
    padding-top: 0px !important;
    display: block;
}

#snav.selected-submenu {
    background: var(--primary-bg-color) !important;
    border-right: 3px solid var(--primery_shadowColor1);
    .mat-icon, h3{
        color:var(--primary-bg-hghl-color) !important;
    }
}
#snav.selected-submenu:active{
    outline: none;
   }

.sidemenu-divider {
    .sidemenu {
        color: black;
    }
}
//******* Submenu list view support IE *******//
 @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
    mat-nav-list {
        overflow: auto !important;
        padding-top: 0px;
    }
    .new-menu {
        width: 50px;
        font-size: 10px;
        text-align: center;
        margin-left: -5px !important;
        font-weight: 600;
        margin-bottom: 5px;
    }
    .ie-sub-title{
        margin: -5px -25px -5px -10px !important;
    }

    .mat-list .mat-list-item .mat-list-item-content, .mat-list .mat-list-option .mat-list-item-content, .mat-nav-list .mat-list-item .mat-list-item-content, .mat-nav-list .mat-list-option .mat-list-item-content, .mat-selection-list .mat-list-item .mat-list-item-content, .mat-selection-list .mat-list-option .mat-list-item-content{
        padding: 12px !important;
    }
    .ie-icon{
        padding: 5px 5px 5px 0px !important;
    }
}
.mat-nav-list .mat-list-item {
    display: block;
    height: 40px !important;
}

.sid-menu-icon {
    height: 20px;
    width: 20px;
    object-fit: contain;
}

.sid-menu-icon-indent {
    padding-left: 36px;
}
