<div class="manage-body container-fluid ovi-font-family">
    <div style="padding-top: 10px;height: calc(100% - 70px); overflow: auto;">
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="100" fxFlex.xs="100">
                <div style="margin: 5px 48px 5px 60px;width: 90%;height: 35px;">
                    <div style="float: left;"><button mat-button class="black-Btn" (click)="uploadRequest('previous')">View all the past schedules</button></div>
                    <div style="float: right;"><button mat-button class="creat-Btn" (click)="uploadRequest(null)">+ Create new schedule</button></div>
                </div>
                <mat-card class="cardbox">
                    <mat-card-content>
                        <span
                            style="display: inline-block; width: calc(100% - 110px); font-weight: 600;">{{day}},&nbsp;{{selectedValue
                            | date:'d
                            MMM'}}</span>
                        <span>
                            <button mat-button class="black-Btn" (click)="uploadRequest('onlyView')"> view details</button>
                        </span>
                        <div style="margin-top: 10px; border: solid 1px #e4e4e4; height: 434px;">
                            <div style="margin: 5px; height: 424px; display: flex;">
                                <div style="height: 90%;">
                                    <video controls class="video-content" autoplay>
                                        <source *ngIf="play" [src]="launch" type="video/mp4">
                                    </video>
                                    <div class="video-title">{{contenTitle}}</div>
                                </div>
                                <span style="height: calc(100% - 10px); overflow-x: hidden; overflow-y: auto;">
                                    <mat-list>
                                        <mat-list-item *ngFor="let list of telecastList" class="tele-item"
                                            (click)="playVideo(list)"  (keydown.enter)="fixClick()">
                                            <div style="display: block">
                                                <img [src]="list.thumbnailUrl" class="thumbnail-img" alt="thumbnail-img">
                                                <span class="duration">{{list.duration}}</span>
                                            </div>
                                            <span>
                                                <div class="table-title">{{list.title}}</div>
                                                <div class="ovi-fnt-sze11" style="padding: 0px 10px;">{{list.timeSlot}}</div>
                                            </span>
                                        </mat-list-item>
                                    </mat-list>
                                </span>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>

                <mat-card class="cardbox">
                    <mat-card-content>
                        <span style="display: inline-block; width: calc(100% - 190px); font-weight: 600;">Upcoming</span>
                        <div style="margin-top: 10px; border: solid 1px #e4e4e4; height: 434px;">
                            <div style="margin: 5px; height: 424px; display: flex;">
                                <div style="height: 90%;">
                                    <video controls class="video-content" autoplay>
                                        <source *ngIf="upcomingPlay" [src]="upcomingLaunch" type="video/mp4">
                                    </video>
                                    <div class="video-title">{{upcomingContenTitle}}</div>
                                </div>
                                <span style="height: calc(100% - 10px); overflow-x: hidden; overflow-y: auto;">
                                    <mat-list>
                                        <mat-list-item *ngFor="let list of upcomingTelecastList" class="tele-item"
                                            (click)="upcomingPlayVideo(list)"  (keydown.enter)="fixClick()">
                                            <div style="display: block">
                                                <img [src]="list.thumbnailUrl" class="thumbnail-img" alt="thumbnail-img">
                                                <span class="duration">{{list.duration}}</span>
                                            </div>
                                            <span>
                                                <div class="table-title">{{list.title}}</div>
                                                <div class="ovi-fnt-sze11" style="padding: 0px 10px;">{{list.timeSlot}}</div>
                                            </span>
                                        </mat-list-item>
                                    </mat-list>
                                </span>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>