@import '../../../../theme/configcolour.scss';

.creat-Btn {
  height: 35px; // new
  margin: 0px 10px 0px 10px !important;
  background: #d61820;
  color: var(--primary-bg-hghl-color);
  font-weight: 400;
  border-radius: 3px;
  padding: 0 8px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.12), 0px 0px 5px 2px rgba(0, 0, 0, 0.24);
}

.ip-select01 {
  width: 100px;
  padding: 8px 8px 7px 8px;
  border: 1px solid #a0a0a0 !important;
  background: transparent;
  box-shadow: 1px 2px 6px #00000029;
  border-radius: 0px 4px 4px 0px;
  height: 16px;
  font-size: 11px;
}

.select-lable {
  font-size: 12px;
  display: inline-flex;
  height: 25px;
  position: relative;
  bottom: 4px;
  color: #a0a0a0;
}

.black-Btn {
  background: black;
  color: var(--primary-bg-hghl-color);
}

.cardbox {
  margin: 25px 48px;
  width: 90%;
  height: 480px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.12), 0px 0px 5px 2px rgba(0, 0, 0, 0.24)
}

.video-content {
  height: 100%;
  width: 90%;
  object-fit: contain;
}

.tele-item {
  border-bottom: 1px solid #ddd;
  height: 75px !important;
  width: 375px !important;
}

.mat-list-item:last-child {
  border-bottom: none;
}

.thumbnail-img {
  padding: 3px;
  width: 100px;
  height: 60px;
  object-fit: cover;
}

.table-title {
  font-size: 13px;
  padding: 5px 9px;
  width: 210px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  height: 31px;
  font-weight: 600;
}

.duration {
  width: 45px;
  display: flex;
  position: relative;
  margin-top: -23px;
  margin-left: 50px;
  background: #6d6d6d;
  color: var(--primary-bg-hghl-color);
  border-radius: 20px;
  font-weight: 600;
  padding-left: 4px;
  font-size: 10px;
}

.video-title{
  padding: 10px 20px 0;
    font-size: 16px;
    font-weight: 600;
    min-width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 65%;
}