  <div class="space ovi-font-family">
    <div class="stars"></div>
    <div class="astronaut">
      <img src="../../../assets/Menus/astronaut.png" alt="Astronaut">
    </div>
    <div class="message">
      <div class="msg-cnt ovi-fnt-sze60 oops-text">Oops!</div>
      <div class="msg-cnt ovi-fnt-sze22" style="padding: 15px 0px 15px 0px;">Error 404 - Page Not Found</div>
      <div class="msg-cnt ovi-fnt-sze18">The Page you requested Could not be found.</div>
      <div class="msg-cnt ovi-fnt-sze16">We're working on it :)</div>
      <div style="padding: 15px 0px 0px 0px;"> <button (click)="createRequest()"><a href="#">Go Home</a></button></div>
    </div>
  </div>