<div class="frame-styl-com ovi-font-family">
    <div *ngIf="data !== null" class="frame-styl-com_1">
        <div class="titl-styl">{{title}}</div>
        <button mat-icon-button mat-dialog-close class="btn-styl-com">            
            <mat-icon class="icon-style">highlight_off</mat-icon>
        </button>
    </div>

    <div class="input-container inner-frame-size">

    <div *ngIf="requestInfo" class="widget-class wid-styl">
        <mat-grid-list cols="5" rowHeight="28px">
            <mat-grid-tile colspan="1" rowspan="1">
                <div  class="grd-styl_">{{"Patient Name"|translate}}</div>
                <div class="grd-styl_1" *ngIf="requestDetails['nonPerformer']?.length > 0">: {{requestDetails['nonPerformer'][0].name}}</div><br>
            </mat-grid-tile>
            <mat-grid-tile colspan="1" rowspan="1">
                <div  class="grd-styl_">{{"From"|translate}}</div>
                <div class="grd-styl_1">: {{requestDetails.sourceLocationName}}</div><br>
            </mat-grid-tile>
            <mat-grid-tile colspan="1" rowspan="1">
                <div  class="grd-styl_">{{"Start Time"|translate}}</div>
                <div styclass="grd-styl_1">: {{requestDetails.startTime | date : 'hh:mm a'}}</div><br>
            </mat-grid-tile>
            <mat-grid-tile colspan="1" rowspan="1">
                <div  class="grd-styl_">{{"No. of Porter"|translate}}</div>
                <div class="grd-styl_1">: {{requestDetails.porterCount}}</div><br>
            </mat-grid-tile>
            <mat-grid-tile colspan="1" rowspan="2">
            </mat-grid-tile>

            <mat-grid-tile colspan="1" rowspan="1">
                <div  class="grd-styl_">{{"Status"|translate}}</div>
                <div class="grd-styl_1">: {{requestDetails.statusName}}
                </div><br>
            </mat-grid-tile>
            <mat-grid-tile colspan="1" rowspan="1">
                <div  class="grd-styl_">{{"To"|translate}}</div>
                <div class="grd-styl_1">: {{requestDetails.destinationLocationName}}</div><br>
            </mat-grid-tile>
            <mat-grid-tile colspan="1" rowspan="1">
                <div  class="grd-styl_">{{"End Time"|translate}}</div>
                <div class="grd-styl_1">: {{requestDetails.endTime | date : 'hh:mm a'}}</div><br>
            </mat-grid-tile>
            <mat-grid-tile colspan="1" rowspan="1">
                <div  class="grd-styl_">{{"No. of Asset"|translate}}</div>
                <div class="grd-styl_1">: {{requestDetails.assetCount}}</div><br>
            </mat-grid-tile>



        </mat-grid-list>
    </div>
    <div id="mapid" class="shared-floor-map"></div>
</div>
</div>
