
@media (max-width: 1000px) {
    .shared-floor-map{
        position: sticky !important;
        height:91%;
        width:98%;
        margin:0% 1%; 
    }
}

.shared-floor-map{
    position: sticky !important;
    height: 88%;
    width: 95%;
    margin: 2%;
}

.leaflet-container {
    background-color: #fcfdff;
    height: 80%;                    // Inorder to avoid the toolbar (while zoom) hiding, added height 
}

 /* remove label background elements */
 .leaflet-tooltip.leaflet-tool-labels {
    background-color: transparent;
    border: transparent;
    box-shadow: none;
    color: #A9A9A9 !important;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    line-height: 1.2;
}

.custom-select {
    height: 27px;
    width: 96%;
    float: right;
    border: solid 0.1px #28425530;
    color: #284255;
    font-size: 13px;
    font-weight: 600;
    border-radius: 3px;
  }
  .widget-class {
    border-radius: 3px;
    box-shadow: 0px 1px 8px -1px rgba(40, 66, 85, 0.2);
  }
  .wid-styl{
    height: 60px; margin: 10px 2%; font-size: 14px; font-weight: 600;
  }
  .compnt-hgt{
    height: 98%;
   }
  .grd-styl_1{
    width: 60%; float: right; color: #284255;
  }
  .frm-styl{
    height:100%;width:100%;
  }
  .inner-frame-size{
    height: 100% !important;
}