.dis-custom-select {
    border-radius: 5px;
    border: 1px solid black;
    height: 50px;
    @media (max-aspect-ratio: 1/1) {
        width: calc(100vw - 38vw) !important;
    }
}
.dis-custom-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 18px;
  color: #3a3a3a;
}

.dis-custom-select .mat-form-field-wrapper {
  padding: 0; /* Remove extra padding */
}

.dis-custom-select .mat-form-field-infix {
    border-top: 0.34375em solid red !important; 
}
.dis-custom-select .mat-form-field-flex {
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 40px; /* Adjust height */
  padding: 0 12px;
  align-items: center;
}

.dis-custom-select .mat-select-trigger {
  height: 100%;
  display: flex;
  align-items: center;
}
