@import '../../../../../theme/configcolour.scss';

$bp : (
  4k:2560px,
  desktop_m: 1920px,
  desktop_s: 1600px,
  desktop:1440px,
  lap_l:1165px,
  lap:1024px,
  tab : 768px,
  mob: 565px,
  mob_m:425px,
  mob_s: 320px,
);
@mixin query($display){
  @each $key, $value in $bp{
    @if ($display == $key){
      @media (max-width: $value){@content;}
    }
  }
}
.mat-button, .mat-flat-button, .mat-stroked-button {
  min-width: 88px;
  border-radius: 4px;
}
 .refresh-style{
    float:right;
    padding-right:8px;
    padding-top: 0px;
    margin-top: 10px;
    i.material-icons {
      font-size: 1.4rem;
      line-height: 20px;
      color: var(--primary-bg-hghl-color);
      position: relative;
      border-radius: 50%;
      padding: 5px;
      margin: 3px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
      }

      i.material-icons:after {
      content: "";
      width: 100%;
      height: 100%;
      border: 1em;
      transform: scale(0.8);
      position: absolute;
      top: -2px;
      left: -2px;
      border-radius: 50%;
      transition: all 0.3s ease;
      }

      i.material-icons:active:after {
      transform: scale(1);
      box-shadow: 10px 0 20px rgba(0, 0, 0, 0.19), 6px 0 6px rgba(0, 0, 0, 0.23);
      }

      i.material-icons:nth-of-type(1) {
      background-color: #019F96;
      }

      i.material-icons:nth-of-type(1):active {
      color: #019F96;
      }

      i.material-icons:nth-of-type(1):after {
      border-color: #019F96;
      }


      i.material-icons:active{
      background-color: transparent;
      transform: rotate(360deg);
      cursor: pointer;
      box-shadow: none;
      }

      p {
      color: #999;
      font-weight: 300;
      margin-top: 20px;
      }

  }
  .btn-style{
    @media(max-width: 599px){float:left; padding-right:8px; padding-top: 10px;}
    @media(max-width:1000px) and (min-width:600px){float:right; padding-right:8px; padding-top: 10px;}
    @media(max-width:1200px) and (min-width:991px){float:left; padding-right:8px; padding-top: 10px;}
    float:right;
    padding-right:8px;
    padding-top: 10px;
    .btn-color{
       background: #019f96;color: var(--primary-bg-hghl-color);
    }
  }
  .mat-table-overflow{
        overflow: auto;
    }
    .example-header{
        .mat-form-field{
            height: 65px;
            width: 100%;
        }
    }
  .custom-mat-column-width {
    overflow: hidden;
    width: 80px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .wrapper{
    display: inline-block;
    color: #4B4B4B;
    font-size:15px;
    }
  .add-activity-btn{
    text-align: center;
    padding: 25px 0px 50px 0px;
  }
  .rout-out-btn{
    min-width: 50px;
    border-radius: 20px;
    background: orange;
    color: var(--primary-bg-hghl-color);
    font-weight: 600;
    max-height: 33px;
  }
  .rout-in-btn{
    min-width: 62px;
    border-radius: 20px;
    background: mediumseagreen;
    color: var(--primary-bg-hghl-color);
    font-weight: 600;
    max-height: 33px;
  }
  .rout-add-btn{
    padding: 25px 10px 10px 10px;
  }
  .activity-edit{
    color: #284255;
  }
  .activity-edit1{
    color: #284255;
    opacity: 56%;
  }
  .edit-activity-icon{
    height: 20px;
    width: 20px;
    padding: 30px 25px 25px 10px;
  }
  .ngx-material-timepicker-toggle{
    opacity: 55%;
    width: 28px;
  }
  .time-input{
    font-size: 16px;
    color: black;
  }
  .no-activity{
    padding: 10px 0px 45px 0px;
    text-align: center;
    font-size: 16px;
    color: $quaternary-color;
    font-style: italic;
    font-weight: 600;
    margin-top: 40px;
  }
  .box-12,.box-13,.box-14{
    width: 100%;
  }
  .input-footer-1 {
		color: var(--primary-bg-hghl-color);
		padding: 0 4px;
		height: 60px;
		text-align: right !important;
	}
  .tw-popup-content-tbl {
    overflow: hidden;
  }

.routine-footer-pad {
  width: 100%
}
.mat-toolbar-single-row{
  height: 35px;
}
.form-row.block-edit-routine {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3%;
  row-gap: 20px;
}

.row-field-edit-routine {
  width: 45%;
}
.act-radio-button {
  line-height: 2;
  margin-left: -15px;
}
.act-radio{
  margin:0px 10px;
}

.tsk-body{
  @include query(tab){ width:94%}
}
.manage-rout-tsk-body{
  width:100%;
  @include query(tab){
    height: 95%;
  }
}
.create-task-body-fullpopup{
  width:100%;
  height: 93%;
  @include query(desktop_m){
    height: 89%;
  }
  @include query(desktop_s){
    height: 86%;
  }
}
.task-popup-body{
  width:100%;
  height: 75%;
}
.activity-border{
  border-left: 3px solid $drkgry-color;
}
.selected-task {
	color: var(--primary-bg-hghl-color);
	background: var(--primary-bg-color);
  overflow: auto;
  margin-top: 1px;
  border-radius: 2px;
  display: flex;
  font-size: 13px;
  cursor: pointer;
  .svg-icon {
    filter: invert(1);
  }
}
.unselected-task {
	color: #000000;
	background: var(--primary-bg-hghl-color);
  overflow: auto;
  margin-top: 1px;
  border-radius: 2px;
  font-size: 13px;
  display: flex;
  cursor: pointer;
}
.selected-task-act {
  height: 109px;
  width: 109px;
	color: var(--primary-bg-hghl-color);
	background: var(--primary-bg-color);
  text-align:center;
  overflow: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0.54px 0.84px 15px #0000003B;
  border: 1px solid #DADADA;
}
.unselected-task-act {
  height: 109px;
  width: 109px;
	color: #000000;
	background: var(--primary-bg-hghl-color);
  text-align:center;
  overflow: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0.54px 0.84px 15px #0000003B;
  border: 1px solid #DADADA;
}
.left-task {
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
.right-task {
  float: right;
  border-bottom: 3px solid $quinary-color ;
  border-right: 3px solid $quinary-color ;
}
.close-align-wrk {
  @include query(lap){
    width: 90% !important;
  }
  @include query(tab){
    width: 88% !important;
  }
}
.close-align-wrk-large{
  width: 100% !important;
  @include query(lap){
    width: 90% !important;
  }
  @include query(tab){
  width: 93% !important;
  }
}
.selected-tree {
	color: var(--primary-bg-hghl-color);
  background: #c1c2c2;
  font-size: 13px;
}
.unselected-tree {
	color: #000000;
  background: var(--primary-bg-hghl-color);
  font-size: 13px;
}
.rout-left {
  width:300px;
  float: left;
  border-bottom: 3px solid $quinary-color ;
  border-left: 3px solid $quinary-color ;
  border-top: 3px solid $quinary-color ;
  overflow-y: auto;
  margin-left: 5px;
}
.rout-right {
  float: right;
  border-bottom: 3px solid $drkgry-color;
  border-right: 3px solid $drkgry-color;
  border-top: 3px solid $drkgry-color;
}
.hidden {
  display: none;
}
.easy-pick-task {
  margin-top: 40px;
  margin-left: 5px;
  margin-right: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.act-mand{
  font-size: 15px;
  color: #23374A;
  padding-right: 10px;
}
.mat-expansion-panel-header.mat-expanded {
  height: 40px;
}
