@import '../../../../../theme/configcolour.scss';

$mh:(
  h1:248px,
  h2:356px,
  h3:198px,
  h4:426px,
  h5:525px,
);
$bp : (
  lap_50:2560px,
  lap_67:1920px,
  lap_75:1707px,
  lap_80:1600px,
  lap_90:1423px,
  lap_100:1280px,
  lap_110:1164px,
  lap_125:1024px,
  tab:896px,
  land_scape:695px,
  mob: 565px,
  mob_m:425px,
  mob_s: 320px
);
@mixin disp_height($display){
  @each $key,$value in $mh{
    @if ($display==$key){
      @media(max-height:$value){@content;}
    }
  }
}
@mixin query($display){
  @each $key, $value in $bp{
    @if ($display == $key){
      @media (max-width: $value){@content;}
    }
  }
}
.left-date
{
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-color: #707070;
  background-color:var(--primary-bg-color);
  font-size: 26px;
  margin-left: 10px;
  padding: 0px;
  height: 30px;
  color:var(--primary-bg-hghl-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-date
{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-color: #707070;
  background-color:var(--primary-bg-color);
  font-size: 26px;
  padding: 0px;
  height: 30px;
  color:var(--primary-bg-hghl-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
#date-box{
  display: inline;
  background: var(--primary-bg-hghl-color);
  border: 1px solid $secondary-color;
  padding-top: 5px;
  padding-bottom: 6px;
  border-radius: 4px 4px 4px 4px;
}

