<div class="loading-spinner" *ngIf="loading">
    <div class="spinnerload">
        <div class="spin1"></div>
        <div class="spin2"></div>
        <div class="spin3"></div>
    </div>
</div>
<div class="manage-body">
    <div>
        <tw-header-new-component [component]="'layout'" [permission]="null" [dateFilter]="null" [rowFilter]="rowFilter"
            [manageAction]="showActions" [selectDropdown]="selectDropdown" [selectFilter]="selectFilter"
            [selectedName]="selectedName !== null ? selectedName : true" [locationId]="null"
            [selectedView]="selectedView" [multiView]="false" (selectedViewAction)="null"
            (headerEventAction)="headerEventAction($event)"></tw-header-new-component>
    </div>
    <div>
        <tw-table-component [component]="'layout'" [columns]="displayedColumns" [tableData]="tableData"
            [iconHeader]="iconHeader" [iconColumn]="iconColumn" [sortColumn]="sortColumn" [eventColumn]="eventColumn"
            [rowClick]="true" (rowClickAction)="rowClick($event)" [rowId]="'id'" [rowDbClick]="true"
            (rowDbClickAction)="createLayout($event)" [applyFilter]="applyFilterValue" (eventAction)="eventAction($event)"
            [permissionControl]="permissionControl" [pagination]="null" (checkBoxAction) = "checkBoxAction($event)" [tableClass]="'table-with-header'">
        </tw-table-component>
    </div>
</div>