<div class="input-component-holder">
    <mat-toolbar class="input-header">
        <div  class="header-name">{{"Search"|translate}}</div>
        <div class="header-close"><button mat-icon-button mat-dialog-close close-button class="ie-close-icon">
                <mat-icon class="icon-style">highlight_off</mat-icon>
            </button></div>
    </mat-toolbar>
    <div style="width: calc(100% - 10px);padding: 5px;">
        <div>
            <tw-header-new-component [component]="'common-search'" [permission]="null" [dateFilter]="null"
                [rowFilter]="null" [manageAction]="[]" [selectDropdown]="null" [selectedName]="null" [locationId]="null"
                [selectedView]="null" [multiView]="false"
                (headerEventAction)="false"></tw-header-new-component>
        </div>
        <div>
            <tw-table-component [component]="'common-search'" [columns]="displayedColumns" [tableData]="tableData"
                [iconHeader]="iconHeader" [iconColumn]="iconColumn" [sortColumn]="sortColumn"
                [eventColumn]="eventColumn" [rowId]="null" [rowClick]="null" (rowClickAction)="null" [rowDbClick]="null"
                (eventAction)="eventAction($event)" [applyFilter]="applyFilterValue"
                [permissionControl]="permissionControl" [page]="false" [tableClass]="'table-with-header'">
            </tw-table-component>
        </div>
    </div>
</div>