
.clr-green {
  color:green;
  cursor: pointer;
}
.clr-red {
  color:red;
  cursor: pointer;
}
.clr-blue {
  color:blue;
  cursor: pointer;
}
.clr-orange {
  color:orange;
  cursor: pointer;
}

form{
  padding-bottom: 0px;
}

.filtr-styl{
  margin-top: -50px; 
  margin-bottom:-12px;
}
.patient{
  background-image: url('../../../../../assets/Alert/common_icons/patient.svg');
  background-size: 50px 30px;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: left center;
}
.patient-old{
  background-image: url('../../../../../assets/Alert/common_icons/patient_old.svg');
  background-size: 50px 30px;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: left center;
}
.asset{
  background-image: url('../../../../../assets/Alert/common_icons/asset.svg');
  background-size: 50px 30px;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: left center;
}
.asset-old{
  background-image: url('../../../../../assets/Alert/common_icons/asset_old.svg');
  background-size: 50px 30px;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: left center;
}
mat-header-cell {
  display:flex;
  justify-content:left;
}

.disabled-content {
  pointer-events: none;
  opacity: 0;
}

$bp : (
  desktop:1440px,
  lap:1024px,
   tab : 768px,
   mob: 565px,
);
@mixin query($display){
  @each $key, $value in $bp{
    @if ($display == $key){
      @media (max-width: $value){@content;}
    }
  }
}

.block-se{
  @include query(mob){
    display: flex;
    flex-direction: row;
  }
}