<div style="display: flex;width: 100%">
    <div style="width: -webkit-fill-available;height: 100%;" *ngIf= "type === 'TW-FD'">
        <div class="banner_class">
            <div style="display: flex;">
                <div style="padding: 2px;display:flex;width: max-content;flex-direction: column;row-gap: 5px;">
                    <div *ngFor="let data of bannerData[0]?.leftBanner" class="ovi-prmry-clr ovi-fnt-sze13" style="font-weight: 800;align-items: center;column-gap: 7px;">
                        <div *ngIf="data?.mainInfo && data?.type !== 'date'">{{data?.label}}</div>
                        <div *ngIf="data?.mainInfo && data?.type === 'date'">{{data?.label}}</div>
                        <div *ngIf="enableInfo && !data?.mainInfo && data?.type !== 'date'">{{data?.label}}</div>
                        <div *ngIf="enableInfo && !data?.mainInfo && data?.type === 'date'">{{data?.label}}</div>
                    </div>
                </div>
                <div style="padding-top: 2px;display:flex;width: max-content;flex-direction: column;row-gap: 8px;">
                    <div *ngFor="let data of bannerData[0]?.leftBanner" class="ovi-fnt-sze12" style="font-weight: 600;align-items: center;column-gap: 7px;">
                        <div *ngIf="data?.mainInfo && data?.type !== 'date' && data?.type !== 'time'">&nbsp;:&nbsp;&nbsp;{{data?.value}}</div>
                        <div *ngIf="data?.mainInfo && data?.type === 'date'">&nbsp;:&nbsp;&nbsp;{{data?.value | date:'yyyy-MM-dd'}}</div>
                        <div *ngIf="data?.mainInfo && data?.type === 'time'">&nbsp;:&nbsp;&nbsp;{{data?.value | date:'HH:mm'}}</div>
                        <div *ngIf="enableInfo && !data?.mainInfo && data?.type !== 'date' && data?.type !== 'time'">&nbsp;:&nbsp;&nbsp;{{data?.value}}</div>
                        <div *ngIf="enableInfo && !data?.mainInfo && data?.type === 'date'">&nbsp;:&nbsp;&nbsp;{{data?.value | date:'yyyy-MM-dd'}}</div>
                        <div *ngIf="enableInfo && !data?.mainInfo && data?.type === 'time'">&nbsp;:&nbsp;&nbsp;{{data?.value | date:'HH:mm'}}</div>
                    </div>
                </div>
            </div>
            <div style="display: flex;">
                <div style="padding: 2px;display:flex;width: max-content;flex-direction: column;row-gap: 5px;">
                    <div *ngFor="let data of bannerData[0]?.centerBanner" class="ovi-prmry-clr ovi-fnt-sze13" style="font-weight: 800;align-items: center;column-gap: 7px;">
                        <div *ngIf="data?.mainInfo && data?.type !== 'date'">{{data?.label}}</div>
                        <div *ngIf="data?.mainInfo && data?.type === 'date'">{{data?.label}}</div>
                        <div *ngIf="enableInfo && !data?.mainInfo && data?.type !== 'date'">{{data?.label}}</div>
                        <div *ngIf="enableInfo && !data?.mainInfo && data?.type === 'date'">{{data?.label}}</div>
                    </div>
                </div>
                <div style="padding-top: 2px;display:flex;width: max-content;flex-direction: column;row-gap: 8px;">
                    <div *ngFor="let data of bannerData[0]?.centerBanner" class="ovi-fnt-sze12" style="font-weight: 600;align-items: center;column-gap: 7px;">
                        <div *ngIf="data?.mainInfo && data?.type !== 'date' && data?.type !== 'time'">&nbsp;:&nbsp;&nbsp;{{data?.value}}</div>
                        <div *ngIf="data?.mainInfo && data?.type === 'date'">&nbsp;:&nbsp;&nbsp;{{data?.value | date:'yyyy-MM-dd'}}</div>
                        <div *ngIf="data?.mainInfo && data?.type === 'time'">&nbsp;:&nbsp;&nbsp;{{data?.value | date:'HH:mm'}}</div>
                        <div *ngIf="enableInfo && !data?.mainInfo && data?.type !== 'date' && data?.type !== 'time'">&nbsp;:&nbsp;&nbsp;{{data?.value}}</div>
                        <div *ngIf="enableInfo && !data?.mainInfo && data?.type === 'date'">&nbsp;:&nbsp;&nbsp;{{data?.value | date:'yyyy-MM-dd'}}</div>
                        <div *ngIf="enableInfo && !data?.mainInfo && data?.type === 'time'">&nbsp;:&nbsp;&nbsp;{{data?.value | date:'HH:mm'}}</div>
                    </div>
                </div>
            </div>
            <div style="display: flex;padding-right: 20px;">
                <div style="padding: 2px;display:flex;width: max-content;flex-direction: column;row-gap: 5px;">
                    <div *ngFor="let data of bannerData[0]?.rightBanner" class="ovi-prmry-clr ovi-fnt-sze13" style="font-weight: 800;align-items: center;column-gap: 7px;">
                        <div *ngIf="data?.mainInfo && data?.type !== 'date'">{{data?.label}}</div>
                        <div *ngIf="data?.mainInfo && data?.type === 'date'">{{data?.label}}</div>
                        <div *ngIf="enableInfo && !data?.mainInfo && data?.type !== 'date'">{{data?.label}}</div>
                        <div *ngIf="enableInfo && !data?.mainInfo && data?.type === 'date'">{{data?.label}}</div>
                    </div>
                </div>
                <div style="padding-top: 2px;display:flex;width: max-content;flex-direction: column;row-gap: 8px;">
                    <div *ngFor="let data of bannerData[0]?.rightBanner" class="ovi-fnt-sze12" style="font-weight: 600;align-items: center;column-gap: 7px;">
                        <div *ngIf="data?.mainInfo && data?.type !== 'date' && data?.type !== 'time'">&nbsp;:&nbsp;&nbsp;{{data?.value}}</div>
                        <div *ngIf="data?.mainInfo && data?.type === 'date'">&nbsp;:&nbsp;&nbsp;{{data?.value | date:'yyyy-MM-dd'}}</div>
                        <div *ngIf="data?.mainInfo && data?.type === 'time'">&nbsp;:&nbsp;&nbsp;{{data?.value | date:'HH:mm'}}</div>
                        <div *ngIf="enableInfo && !data?.mainInfo && data?.type !== 'date'">&nbsp;:&nbsp;&nbsp;{{data?.value}}</div>
                        <div *ngIf="enableInfo && !data?.mainInfo && data?.type === 'date'">&nbsp;:&nbsp;&nbsp;{{data?.value | date:'yyyy-MM-dd'}}</div>
                        <div *ngIf="enableInfo && !data?.mainInfo && data?.type === 'time'">&nbsp;:&nbsp;&nbsp;{{data?.value | date:'HH:mm'}}</div>
                    </div>
                </div>
                <span *ngIf="false" class="banner_arrow">
                    <mat-icon *ngIf="enableInfo" (click)="enableInfo = !enableInfo" (keydown.enter)="fixClick()">keyboard_arrow_down</mat-icon>
                    <mat-icon *ngIf="!enableInfo" (click)="enableInfo = !enableInfo" style="padding-top: 0px;" (keydown.enter)="fixClick()">keyboard_arrow_up</mat-icon>
                </span>
            </div>
        </div>
        <div *ngIf="enableInfo && bannerData[0]?.tableBanner[0]?.tableData?.length !== 0" fxLayout="column" class="tw-mat-elevation manage-component" [ngClass.lt-md]="'components-container-xs'" fxLayoutGap="5px">
            <div class="table-container mat-table-overflow">
                <mat-table #table [dataSource]="bannerData[0]?.tableBanner[0]?.tableData" matSort style="margin: 15px 30px 0px 25px;border: 1px solid lightgrey;border-radius: 8px;">
                    <ng-container *ngFor="let col of bannerData[0]?.tableBanner[0]?.displayedData" matColumnDef="{{col.colName}}">
                        <mat-header-cell *matHeaderCellDef mat-sort-header class="manage-table-header hdr-style" style="justify-content: start;"> 
                            {{col.colName}}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element" style="word-break: break-word;">
                            <span *ngIf="col.colName !== 'Value and Units' && col.colName !== 'Event Time'">{{element[col.dataName]}}
                                <span *ngIf="col.colName === 'Duration'">&nbsp;(hh:mm)</span>
                            </span>
                            <span *ngIf="col.colName === 'Value and Units'">{{element[col.dataName]}} {{element['units']}}</span>
                            <span *ngIf="col.colName === 'Event Time'">{{element[col.dataName] | date: 'HH:mm'}}&nbsp;(hh:mm)</span>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="bannerData[0]?.tableBanner[0]?.displayedColumns; sticky: true;" class="manage-table-header-row" style="background: #a5bac8 !important;border-radius: 5px 5px 0px 0px;"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: bannerData[0]?.tableBanner[0]?.displayedColumns;" class="element-row"></mat-row>
                </mat-table>
            </div>
        </div>
        <div *ngIf="bannerData[0]?.outerHeader[0]?.header" style="padding: 20px 0px 0px 10px;font-weight: bold;">{{bannerData[0]?.outerHeader[0]?.header}}</div>
        <div style="display: flex;padding: 10px 0px 0px 25px;width: 95%;">
                <div style="width: max-content;padding-right: 20px;" *ngFor="let data of bannerData[0]?.outerField">
                    <div class="ovi-fnt-sze14" style="font-weight: 600;align-items: center;column-gap: 7px;">
                        <span class="ovi-fnt-sze15" style="font-weight: 800;">{{data?.label}}</span>
                        <span>&nbsp;:&nbsp;&nbsp;{{data?.value}}
                            <span *ngIf="data?.type === 'time'">&nbsp;(hh:mm)</span>
                        </span>
                    </div>
                </div>
        </div>
    </div>

    <div *ngIf="type === 'new' && bannerData.length" style="width:100%">
        <div class="ovi-banner-container">
            <!-- Left Column -->
            <div class="ovi-banner-bth">
                <div *ngFor="let item of bannerData[0].left" style="position: relative;left: 10px;">
                    <span class="ovi-banner-lbl">{{ item.label }} : </span>
                    <span class="ovi-banner-val">{{ item.value }}</span>
                </div>
            </div>
            <!-- Right Column -->
            <div class="ovi-banner-bth">
                <div *ngFor="let item of bannerData[1].right" style="position: relative;left: 10px;">
                    <span class="ovi-banner-lbl">{{ item.label }} : </span>
                    <span class="ovi-banner-val">{{ item.value }}</span>
                </div>
            </div>
        </div>
    </div> 
    
    <div *ngIf="type == 'TW-PD' && (bannerData != null || bannerData != undefined)" style="width: 100%;">
        <div style="display: flex;background-color: #FFF6AA;padding: 5px;justify-content: space-between;">
            <div style="display: flex;flex-direction: column;row-gap: 5px;white-space: nowrap;width: 97%;">
                <div style="width: 100%;">
                    <div class="ovi-fnt-sze14" style="font-weight: 600;display: flex;align-items: center;column-gap: 7px;float: left;">
                        <span style="display: flex;align-items: center;column-gap: 3px;">{{bannerData['banners']['bannerFirstRow']['name'] | maskData: (bannerData['banners']['bannerFirstRow']['vipTypeId'] === null ||
                            bannerData['banners']['bannerFirstRow']['vipTypeId'] ==='General')}}
                            <span mat-line *ngIf="bannerData['banners']['bannerFirstRow']['vipTypeId'] !== null && bannerData['banners']['bannerFirstRow']['vipTypeId'] != 'General'" style="padding-top: 5px;">
                                <img src="/assets/Alert/common_icons/vip.svg" height="17px" width="13px" alt='VIP' appTooltip
                                    [tooltipText]="'VIP'|translate" placement="bottom">
                            </span>
                        </span>
                        <span style="display: flex;column-gap: 2px;">
                            <span style="cursor: pointer;" *ngIf="bannerData['banners']['bannerFirstRow'].gender" appTooltip
                                [tooltipText]="bannerData['banners']['bannerFirstRow'].gender" placement="bottom">
                                <img src="../../../../../assets/icons/gender-male.svg" alt="Male"
                                    *ngIf="bannerData['banners']['bannerFirstRow'].gender == 'Male'" style="width: 10px;">
                                <img src="../../../../../assets/icons/gender-female.svg" alt="Female"
                                    *ngIf="bannerData['banners']['bannerFirstRow'].gender == 'Female'" style="width: 8px;">
                            </span>
                            <span
                                *ngIf="bannerData['banners']['bannerFirstRow'].birthDate">{{calculateAge(bannerData['banners']['bannerFirstRow']['birthDate'])}}yrs</span>
                        </span>
                        <span *ngIf="bannerData['banners']['bannerFirstRow']['surgeryTypeId']== 'SGT-EM'" appTooltip
                            [tooltipText]="'Emergency'|translate" placement="bottom" style="padding-left: 2px;"><img
                                alt="Emergency" src="../../../../../assets/icons/emergency.png" height="18px"
                                width="18px"></span>
                        <span *ngIf="bannerData['banners']['bannerFirstRow']['isVulnerable']"><mat-icon class="ovi-fnt-sze17"
                                style="color: orange;padding-top: 4px;height: 16px;width: 18px;" appTooltip
                                [tooltipText]="'Vulnerable'|translate"
                                placement="bottom">{{bannerData.banners.bannerFisrtRowIcon[0].value}}</mat-icon></span>
                        <span *ngIf="bannerData['banners']['bannerFirstRow']['threats']!=null"><mat-icon  class="ovi-fnt-sze17"
                                style="color: red;padding-top: 4px;height: 16px;width: 18px;" appTooltip
                                [tooltipText]="bannerData['banners']['bannerFirstRow']['threatsTooltip'] || bannerData['banners']['bannerFirstRow']['threats']"
                                placement="bottom">{{bannerData.banners.bannerFisrtRowIcon[0].value}}</mat-icon></span>
                        <span *ngIf="bannerData['banners']['bannerFirstRow']['tokenNo']" style="display: flex;align-items: center;" appTooltip
                                [tooltipText]="'Token No' | translate">(<span class="ovi-prmry-clr">{{bannerData['banners']['bannerFirstRow']['tokenNo']}}</span>)</span>
                    </div>
                    <div  class="ovi-fnt-sze14" style="float: right;font-weight: 600;">
                        <span *ngIf="bannerData['banners']['bannerFirstLocRow'] != null && bannerData['banners']['bannerFirstLocRow'] != ''" appTooltip
                        [tooltipText]="'Location'|translate" placement="bottom" style="padding-right: 2px;"><img
                            alt="Emergency" src="/assets/Alert/common_icons/map_marker.svg" height="18px" width="18px"></span>
                        <span *ngIf="bannerData['banners']['bannerFirstLocRow'] !== null" appTooltip
                        [tooltipText]="bannerData['banners']['bannerFirstLocRow']" placement="bottom" style="padding-left: 2px;">{{bannerData['banners']['bannerFirstLocRow']}}</span>
                    </div>
                </div>

                <div *ngIf="enablePatInfo" style="display: flex ; justify-content: space-between; flex-wrap: wrap;">
                    <div  class="ovi-fnt-sze12" style="display: flex; gap: 5px; align-items: center;flex-wrap: wrap;">
                        <ng-template #defaultBlock let-item>
                            <div *ngIf="item">
                                <strong  class="ovi-fnt-sze11" style="color: #837d7d; font-weight: 600;">{{item.label === 'Resend' ? '' :
                                    item.label + ':' }}</strong>&nbsp;
                                <span style="color: #837d7d; font-weight: 700;" placement="bottom" appTooltip
                                    [tooltipText]="item.value">{{ item.label === 'Resend' ? '' : item.value }}</span>
                            </div>
                        </ng-template>
                        <div *ngFor="let item of mappedBannerData">
                            <div *ngIf="item?.label === 'Doctor'; else visitTagBlock" style="display: flex;">
                                <ng-container *ngTemplateOutlet="defaultBlock; context: { $implicit: item }" appTooltip
                                    [tooltipText]="item.value"></ng-container>
                                <img class="ovi-prmry-clr" style="cursor: pointer; margin-left: 5px;"
                                    src="/assets/Alert/common_icons/edit.svg" alt="edit" height="15px" width="15px"
                                    (click)="eventTrigger('doctor', bannerInfo)"  (keydown.enter)="fixClick()">
                            </div>
                            <ng-template #visitTagBlock>
                                <div *ngIf="item?.label === 'visitTag ID'; else dischargeBlock"
                                    style="display: flex;position: relative; right: 3px; align-items: center;">
                                    <ng-container *ngTemplateOutlet="defaultBlock; context: { $implicit: item }" appTooltip
                                        [tooltipText]="item.value"></ng-container>
                                    <span style="position: relative; left: 6px;">
                                        <span style="position: relative; right: 1px; top: 2px;"
                                            *ngIf="bannerData.banners.bannerSecondRow.mobileImg">
                                            <img src="/assets/Alert/common_icons/mobile_phone.svg" alt="mobile" width="20px"
                                                height="17px" appDebounceClick [debounceTime]="300"
                                                (debounceClick)="eventTrigger('disassociate', bannerInfo.patientVisitTagId)">
                                        </span>
                                        <span style="position: relative; right: 1px; top: 2px;"
                                            *ngIf="bannerData.banners.bannerSecondRow.coasterImg">
                                            <span *ngIf="bannerData.banners.bannerSecondRow.disassociate">
                                                <img [src]="'/assets/Alert/common_icons/coaster.svg'" alt="coaster" width="20px"
                                                    height="17px" appDebounceClick [debounceTime]="300"
                                                    (debounceClick)="eventTrigger('disassociate', bannerInfo.patientVisitTagId)">
                                            </span>
                                            <span *ngIf="!bannerData.banners.bannerSecondRow.disassociate">
                                                <img [src]="'/assets/Alert/common_icons/coaster-g.svg'" alt="coaster" width="20px"
                                                    height="17px">
                                            </span>
                
                                        </span></span>
                                    <span *ngIf="bannerData.banners.bannerSecondRow.languageName">
                                        <span style="color: #837d7d; font-weight: 700; margin-right: 5px;margin-left: 10px;"
                                            placement="bottom">
                                            {{ bannerData.banners.bannerSecondRow.languageName }}
                                        </span>
                                    </span>
                                </div>
                            </ng-template>
                            <ng-template #dischargeBlock>
                                <div *ngIf="item?.label === 'discharge'; else refchargeBlock" style="display: flex;">
                                    <span appTooltip [tooltipText]="item.label">
                                        <img style="cursor: pointer; margin-left: 5px;position: relative; top: 2px;"
                                            src="/assets/Alert/common_icons/patient-discharge.svg" alt="discharge" width="23px"
                                            height="21px" appDebounceClick [debounceTime]="300"
                                            (debounceClick)="eventTrigger('discharge', bannerInfo)">
                                    </span>
                                </div>
                            </ng-template>
                            <ng-template #refchargeBlock>
                                <div *ngIf="item?.label === 'Refresh'; else defaultBlockContent" style="display: flex;">
                                    <span class="refresh-icon" appTooltip [tooltipText]="item.label"><i class="material-icons"
                                             matTooltip="{{'Refresh'|translate}}" appDebounceClick [debounceTime]="300"
                                            (debounceClick)="eventTrigger('refresh')" style="cursor: pointer;">autorenew</i>
                                    </span>
                                </div>
                            </ng-template>
                            <ng-template #defaultBlockContent>
                                <div style="display: flex;">
                                    <ng-container *ngTemplateOutlet="defaultBlock; context: { $implicit: item }"></ng-container>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                    <div style="width: 30px; height: 25px;">
                        <div *ngIf="resendItem?.label === 'Resend'" style="display: flex;">
                            <span appTooltip [tooltipText]="resendItem?.label">
                                <img style="cursor: pointer; margin-left: 5px; position: relative; top: 2px;"
                                    src="/assets/Alert/common_icons/resend-message.svg" alt="resend" width="23px" height="21px"
                                    appDebounceClick [debounceTime]="300" (debounceClick)="eventTrigger('Resend', bannerInfo)">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <mat-icon (click)="enablePatInfo = !enablePatInfo" (keydown.enter)="fixClick()">{{enablePatInfo ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</mat-icon>
            </div>
        </div>
    </div>   
</div>