$bp : (
  lap_50:2560px,
  lap_67:1920px,
  lap_75:1707px,
  lap_80:1600px,
  lap_90:1423px,
  lap_100:1280px,
  lap_110:1164px,
  lap_125:1024px,
  lap_150:950px,
  tab:896px,
  land_scape:695px,
  mob: 565px,
  mob_m:425px,
  mob_s: 320px
);
@mixin query($display){
  @each $key, $value in $bp{
    @if ($display == $key){
      @media (max-width: $value){@content;}
    }
  }
}
.banner_class{
    display: flex;
    background-color: #FFF6AA;
    padding: 5px;
    justify-content: space-between;
    @include query(mob){
        display: block;
    }
}
.banner_arrow{
    padding-left: 30px;
    @include query(mob){
        padding-left: 90px;
    }
}
.ovi-banner-container
{
  display: flex; height: auto; background-color: #eaf8ff; justify-content: space-between; max-width: 1500px;
}
.ovi-banner-bth
{
  display: flex; flex-direction: column; padding: 5px;width: 100%;
}
.ovi-banner-lbl {
  font-size: 12px;
  font-style: oblique;
  color: #837d7d;
  font-weight: 600;
}

.ovi-banner-val {
  font-size: 12px;
  color: #5b5b5b;
  font-weight: 700;
}