@import url('../../../../../../node_modules/leaflet.markercluster/dist/MarkerCluster.css');
@import url('../../../../../../node_modules/leaflet.markercluster/dist/MarkerCluster.Default.css');
@import url('../../../../../../node_modules/leaflet.fullscreen/Control.FullScreen.css');
@import '../../../../../theme/configcolour.scss';

.leaf-toolbar2-menu{
    @media(min-width:320px) and (max-width: 600px){
        width: 41px !important;
    }
    float: left;
    background: radial-gradient(25px 400px ellipse at 50% 50%, var(--primary-bg-color), var(--primary-bg-color));
    border: 0.5px solid var(--primary-bg-hghl-color);
}
.leaf-toolbar2-blk{
    @media(min-width:320px) and (max-width: 600px){
        display: none;
    }
    float: left; 
    height: 100%;
    text-align: center;
}
.custom-tooltip {
    background-color: rgb(122, 118, 118); 
    color: var(--primary-bg-hghl-color); 
}
.leaf-toolbar2-flr{
    @media(min-width:320px) and (max-width: 600px){
        width: 130px; 
    }
    float: left; 
    height: 100%;
    text-align: center;
}
#blockSelect.mat-select {
    display: inline-block;
    width: 100%;
    height: 98%;
    outline: 0;
    border: 0.5px solid var(--primary-bg-hghl-color);
    background : radial-gradient(25px 400px ellipse at 50% 50%, var(--primary-bg-color), var(--primary-bg-color));
    color: var(--primary-bg-hghl-color);
}
#blockSelect .mat-select-trigger {
    display: inline-table;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    height: 100%;
}
#blockSelect .mat-select-value {
    @media(min-width:320px) and (max-width: 600px){
        width: 81%;
        font-size: 12px ;
    }
    display: table-cell;
    width: 84%;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    font-size: 12px;
    padding-left: 10px;
}
#blockSelect .mat-select-arrow-wrapper {
    display: table-cell;
    vertical-align: middle;
}

#floorSelect.mat-select {
    display: inline-block;
    width: 100%;
    height: 98%;
    outline: 0;
    border: 0.5px solid var(--primary-bg-hghl-color);
    background : radial-gradient(25px 400px ellipse at 50% 50%, var(--primary-bg-color), var(--primary-bg-color));
    border-radius: 0px 50px 50px 0px;
    color: var(--primary-bg-hghl-color);
}
#floorSelect .mat-select-trigger {
    display: inline-table;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    height: 100%;
}
#floorSelect .mat-select-value {
    @media(min-width:320px) and (max-width: 600px){
        width: 85%;
        font-size: 12px;
    }
    display: table-cell;
    width: 90%;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    font-size: 12px;
}
#floorSelect .mat-select-arrow-wrapper {
    display: table-cell;
    vertical-align: middle;
    padding: 0px 12px 0px 0px;
}
#search-icon .mat-icon-button{
    font-size: 25px;
}
.floormap-toggle-container {
    width: 100%;
    height: 100%;
  }
  
  .floormap-toggle-open {
    @media(min-width: 320px) and (max-width: 600px){
        width: 100%;
    }
    width: 20%;
    height: 100%;
    background-color: var(--primary-bg-hghl-color);
    top: 0% !important;
    transform: translate3d(-65px, 0px, 0px) !important;
    margin-left: 65px;
  }
  .floormap-toggle-close {
    @media(min-width: 320px) and (max-width: 600px){
        width: 100%;
    }
    width: 20%;
    height: 100%;
    background-color: var(--primary-bg-hghl-color);
    top: 0% !important;
  }
  
  .floormap-toggle-content {
    display: flex;
    height: 62px;
    align-items: center
  }
  .floormap-toggle-content1 {
    align-items: center;
    padding-left: 300px;
    margin-top: -5px;
  }

// toggle icon css **********
.social-icons{
    transform: translate(0%, 0%);
}
#checkDia:checked ~ label{
    left: 90%;
    transform: translateY(-2%);
}
#checkCon:checked ~ label{
    left: 90%;
    transform: translateY(-2%);
    bottom: 5px;
}
.social-icons label{
    z-index: 1;
    transition: .35s ease-in;
}
#checkDia{
    display: none;
}
#checkCon{
    display: none;
}
.social-icons label #button {
    display: flex;
    height: 30px;
    width: 30px;
    background: radial-gradient(25px 400px ellipse at 50% 50%, var(--primary-bg-color), var(--primary-bg-color));
    border: 0.1px solid var(--primary-bg-hghl-color);
    border-radius: 40px;
    cursor: pointer;
}
label #button .icon{
    margin: auto;
    font-size: 14px;
    color: #f5f5f5;
    transform: rotateZ(0turn);
    transition: transform .2s linear
}
#checkDia:checked ~ label #button i{
    transform: rotateZ(0.5turn);
}
#checkDia:checked ~ label #button i:before{
    content: '\f00d';
}
#checkCon:checked ~ label #button i{
    transform: rotateZ(0.5turn);
}

#checkCon:checked ~ label #button :before{
    content: 'close';
    font-weight: bold;
}
#checkCon:checked ~ label #button :before .icon{
    transform: rotateZ(0.5turn);
}
.social-icons .icon-list {
    padding-right: 10px;
    transform: scaleX(0);
    border: 2px solid whitesmoke;
    background: radial-gradient(25px 400px ellipse at 50% 50%, var(--primary-bg-color), var(--primary-bg-color));
    border-radius: 10px;
}
#checkDia:checked ~ .icon-list{
    transform: scaleX(1);
}
#checkCon:checked ~ .icon-list{
    transform: scaleX(1);
    transform: scaleY(0.8);
}
.icon-list ul {
    list-style: none;
    display: flex;
    padding: 8px 8px;
    margin: 0px;
}
.icon-list ul li a {
    color: #5f5f5f;
    font-size: 22px;
    margin: 0 10px;
    transition: 0.4s;
}
.icon-list ul li a:hover {
    color: blue;
}
//   ****************  //
.leaf-filter-button{
    margin-right: 7px;
    display: flex;
    height: 28px;
    width: 25px !important;
    border-radius: 40px;
    cursor: pointer;
}
.leaf-tool-labels {
    background-color: transparent !important;
    border: transparent !important;
    box-shadow: none !important;
    color: #A9A9A9 !important;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    line-height: 1.2;
}
.leaf-text-labels{
    background-color: transparent !important;
    border: transparent !important;
    box-shadow: none !important;
    margin-top: 0px !important;
    margin-left: 0px !important;
    width: 0px !important;
}
.leaf-bed-labels {
    padding-top: 50px;
    background-color: transparent;
    border: transparent;
    box-shadow: none;
    color: #A9A9A9 !important;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    line-height: 1.2;
}
.loc-polygon-highlight {
    stroke: #ffff8e;
    fill: #a8b014bd;
    opacity: 0.7;
    background-color: transparent;
    border: transparent;
    box-shadow: none;
    color: #A9A9A9 !important;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    line-height: 1.2;
}
.leaflet-tooltip.polygon-labels {
  background-color: transparent;
  border: transparent;
  box-shadow: none;
  color: #A9A9A9 !important;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  line-height: 1.2;
}
.mat-nav-list .mat-list-item .mat-list-item-content {
    padding: 0px !important;
}
.offer-tooltip {
  background: #fff3cd;
  border: 1px solid #ffeeba;
  color: #856404;
  border-radius: 6px;
  padding: 4px 6px;
  font-size: 12px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.antPath-styling{
    stroke:red;
    stroke-opacity: 0.5;
    stroke-width: 4;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: red;
    stroke-dasharray: 14;
    animation: dash 10s linear;
    animation-iteration-count: infinite;
    fill-opacity: 0.1;
}
@keyframes dash{
    to{
        stroke-dashoffset: 1000;
    }
}
.location-styling{
    stroke: transparent;
    stroke-opacity: 1;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: transparent;
    fill-opacity: 0.2;
}
.device-tab {
    .mat-tab-body-wrapper {
        height: 100%;
    }
}
.block-img{
    @media(min-width:320px) and (max-width: 440px){
        height: 268px;
        width: 360px;
    }
    height: 250px;
    width: 100%;
}
#blkImage.leaflet-container{
    background: var(--primary-bg-hghl-color);
    outline: 0;
}
.floorMap-img{
    @media(min-width:320px) and (max-width: 440px){
        height:100%;
        width: 94vw;
    }
    height:100%;
    width: 100%;
    background: #EDF4F7 !important;
} 
.floorMap-container{
    height: calc(100% - 90px);
    margin: 5px;
    position: relative;
}
.floorMap-container1{
    height: calc(100% - 10px);
    margin: 5px;
    position: relative;
}
.leaf-location-select {
    @media(min-width:320px) and (max-width: 440px){
        left: 26px;
        min-width: 245px;
    }
    top: 45px;
    left: 1%;
    background: var(--primary-bg-hghl-color);
    z-index: 1003 !important;
    height: 165px;
    position: absolute;
    min-width: 360px;
    opacity: 0;
    visibility: hidden;
    transition: all .25s linear, max-height .25s linear, opacity .25s linear;

    &.open {
        opacity: 1;
        visibility: visible;
    }
}
.leaf-filter-select {
    @media(min-width:320px) and (max-width: 440px){
        left: 40px;
    }
    top: 45px;
    left: 1%;
    margin-left: 36px;
    z-index: 1003 !important;
    position: absolute;
    border-radius: 15px;
    background: radial-gradient(25px 400px ellipse at 50% 50%, var(--primary-bg-color), var(--primary-bg-color));
    padding-bottom: 5px;
    min-width: 45px;
    opacity: 0;
    visibility: hidden;
    transition: all .25s linear, max-height .25s linear, opacity .25s linear;

    &.open {
        opacity: 1;
        visibility: visible;
    }
}
.leaf-filter-select-options{
    display: flex;
    height: 29px;
    width: 29px !important;
    margin-left: 8px;
    margin-top: 5px;
    border-radius: 40px;
    cursor: pointer;
}
.leaf-filter-content{
    height: 100%;
}

.leaf-tag-select {
    @media(min-width:320px) and (max-width: 440px){
        left: 77px;
    }
    top: 45px;
    left: 1%;
    margin-left: 71px;
    background: var(--primary-bg-hghl-color);
    z-index: 1003 !important;
    position: absolute;
    border-radius: 15px;
    background: radial-gradient(25px 400px ellipse at 50% 50%, var(--primary-bg-color), var(--primary-bg-color));
    padding-bottom: 5px;
    min-width: 45px;
    opacity: 0;
    visibility: hidden;
    transition: all .25s linear, max-height .25s linear, opacity .25s linear;

    &.open {
        opacity: 1;
        visibility: visible;
    }
}
.leaf-tag-select-options{
    display: flex;
    height: 29px;
    width: 29px !important;
    margin-left: 8px;
    margin-top: 5px;
    border-radius: 40px;
    cursor: pointer;
}
.leaf-tag-content{
    height: 100%;
}
.leaf-form-width {
    width: 100%;
  }
#leaf-placeholder-1::placeholder{
    color: whitesmoke;
    opacity: 1;
}
#leaf-placeholder-2::placeholder{
    color: whitesmoke;
    opacity: 1;
}
.leaf-f-loc-icon{
    @media(min-width:320px) and (max-width: 440px){
        padding: 0px 10px 0px 10px; 
    }
    width: 5%; 
    font-size: 15px; 
    padding: 0px 10px 0px 30px; 
    color: var(--primary-bg-hghl-color);
    line-height: 34px;
}
.leaf-f-loc-input{
    @media(min-width:320px) and (max-width: 440px){
        width: 75%; 
    }
    border-width: 0px 0px 2px 0px; 
    border-bottom-color: var(--primary-bg-hghl-color); 
    background: radial-gradient(25px 400px ellipse at 50% 50%, var(--primary-bg-color), var(--primary-bg-color)); 
    color: var(--primary-bg-hghl-color); 
    width: 70%; 
    outline: 0px;
}
.leaf-t-loc-icon{
    @media(min-width:320px) and (max-width: 440px){
        padding: 0px 10px 0px 10px; 
    }
    width: 5%; 
    font-size: 15px; 
    padding: 0px 10px 0px 30px; 
    color: var(--primary-bg-hghl-color);
    line-height: 34px;
}
.leaf-t-loc-input{
    @media(min-width:320px) and (max-width: 440px){
        width: 75%; 
    }
    border-width: 0px 0px 2px 0px; 
    border-bottom-color: var(--primary-bg-hghl-color); 
    background: radial-gradient(25px 400px ellipse at 50% 50%, var(--primary-bg-color), var(--primary-bg-color)); 
    text-overflow: ellipsis;
    color: var(--primary-bg-hghl-color); 
    width: 70%; 
    outline: 0px;
}
span.fa {
    @media(min-width:320px) and (max-width: 440px){
        left: 215px;
    }
    cursor: pointer;
    position: absolute;
    font-size: 14px;
    color: var(--primary-bg-hghl-color);
    padding-right: 10px;
    padding-left: 6px;
    top: 20%;
    left: 314px;
    transform: translateY(-50%);
}

.form-group {
    position: relative;
}
.font-colr-style{
    font-size: 15px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.87);
}
.reader-popup {
    min-width: 100px;
    padding-top: 3px;
    top: -13px;
    left: -13px;
    font-size: 9px;
    font-weight: 800;
    min-height: 28px;
    color: black;
    background-color: #ffffffab;
    border: 3px solid #3673DA;
    border-radius: 25px 0px 25px 0px;
    padding-left: 31px;  
    margin-left:-15px !important;
    margin-top:-15px !important
}
.material-icons-leaflet {
    font-family: 'Material Icons', sans-serif;
    font-size: 24px; /* Adjust the size as needed */
    color: #000; /* Adjust the color as needed */
}
.popup-marker {
  min-width: 85px;
  padding-top: 3px;
  top: -13px;
  left: -13px;
  font-size: 9px;
  font-weight: 800;
  min-height: 28px;
  color: black;
  background-color: #ffffffab;
  border: 3px solid #3673DA;
  border-radius: 25px 0px 25px 0px;
  padding-left: 31px;
}
.tag-marker {
    @media(min-width:320px) and (max-width: 600px){
        top: -100px;
        left: 0px;
    }
    min-width: 150px;
    top: -80px !important;
    left: -75px !important;
    font-size: 9px;
    font-weight: 800;
    min-height: 170px;
    color: black;
    background-color: var(--primary-bg-hghl-color);
    border: 3px solid #3673DA;
    border-radius: 15px 15px 15px 15px;
    padding: 5px;
    cursor: auto;
    z-index: 700 !important;
    box-shadow: 1px 2px 9px 3px $quaternary-color;
}
.remove-popup-marker{
    min-width: 0px;
    padding-top: 0px;
    min-height: 0px;
    padding-left: 0px;

}
.leaflet-tooltip.leaf1-device-sensor {
    
    background-color: transparent;
    border: transparent;
    box-shadow: none;
    text-align: center;
    color:#b8c2c0 !important;
    font-size: 12px;

}
.leaf-polyline-style{
    stroke: rgb(51, 136, 255);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 8px;
}
.leaf-alter-polyline-style {
    stroke: #bcbcbc;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 8px;
}
.leaf-performer-polyline{
    stroke: rgb(221, 13, 13);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 5px;
}
.leaf-path-highlight{
    stroke: gray;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 11px;
}
.leaf-path-polyline-style{
    stroke: #229ffff5;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 5px;
}
.leaf-start-location-icon{
    width: 31px;
    height: 35px;
    margin-top: -22px;
    margin-left: -15px;
}
.leaf-end-location-icon{
    width: 30px;
    height: 30px;
    margin-top: -30px;
    margin-left: -15px;
}
.leaf-end-port-location-icon{
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
}
.leaf-location-circle-icon{
    width: 25px;
    height: 25px;
    margin-top: -14px;
    margin-left: -13px;
}.leaf-enter-icon{
    width: 30px;
    height: 30px;
    margin-top: -14px;
    margin-left: -5px;
}.leaf-exit-icon{
    width: 30px;
    height: 30px;
    margin-top: -12px;
    margin-left: -5px;
}
#leaf .mat-tab-label{
    padding: 0 18px !important;
    min-width: 7px !important;
}
.leaf-blk-select-box {
    min-width: 100px !important;
    width: 140px;
    transform: translate(10px, 44px) !important;
}
.leaf-flr-select-box {
    min-width: 100px !important;
    width: 190px;
    transform: translate(15px, 44px) !important;
}
.grd-text_tack{
    width: 220px; 
    float: right; 
    color: #4664eb;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.grd-text_1{
    width: 50%; 
    float: right; 
    color: var(--primary-bg-color);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .custom-port-leaf-select {
    height: 27px;
    width: 96%;
    float: right;
    border: solid 0.1px #28425530;
    color: #284255;
    font-size: 13px;
    font-weight: 600;
    border-radius: 3px;
  }
  .porter-circleMarker{
    stroke: 'var(--primary-bg-color)';
    stroke-width: 0.8;
    fill: '#1e8fc899';
    fill-opacity: 0.2;
  }
  .leaflet-popup {
    bottom: 25px !important;
  }
  .clusterPopup {
    bottom: 20px !important;
    padding: 3px !important;
    border-radius: 50px !important;
    background: rgba(181, 226, 140, 0.6) !important;
 
  }
  .countPosition{
    color: var(--primary-bg-hghl-color);
    margin-left: -3px;
    margin-top: -8px;
    font-size: 10px;
  }
  .customPopup {
      bottom: -7px !important;
  }
  .customPopup .leaflet-popup-tip-container {
    margin-top: -5px;
    .leaflet-popup-tip{
        background: #d9e8ff;
        border: 1px solid #5d87de;
    }
} .customPopup .leaflet-popup-content-wrapper{
    background: transparent;
    box-shadow: 0px 0px 0px 0px transparent;
} .customPopup a.leaflet-popup-close-button{
    display: none;
}
.customPopup .leaflet-popup-content {
    margin: 13px 19px 3px 19px;
    line-height: 1.4;
}
.footer{
  font-size: 11px;
  color:#636A6D;
  bottom: 0em;
  left: 46%;
  z-index: 1;
  position: fixed;
 }
  .dropdown {
    background: var(--primary-bg-hghl-color);
    z-index: 2;
    position: absolute;
    width: 100%;
    min-width: 350px;
    opacity: 0;
    visibility: hidden;


    @media screen and (max-width: 599px) {
        min-width: 65px;
    }

    &.open {
        opacity: 1;
        border-radius: 1px 1px 1px 1px;
        visibility: visible;
    }
}
.dropdown-1{
    width: 350px;right: -12px;
}
.tlbr-styl{
    cursor: pointer; padding-right: 5px;
}

.Map-filter-container {
    display: flex;
    width: 90%;
    height: 0px;
    position: relative;
    z-index: 12;
    top: 15px;
    left: 60px;
    gap: 15%;
}

.input-with-icons {
    position: relative;
    display: inline-block;
    max-width: 310px;
    width: 100%; 
}


.location-search-input {
    @media(min-width:320px) and (max-width: 600px){
        width: calc(100% - 35px);
    }
    font-size: 13px !important;
    padding: 5px 65px 5px 15px !important;
    width: 230px !important;
    color: #000000c4 !important;
    background: #f0f8ff !important;
    height: 25px;
    box-shadow: 0 2px 4px #00000033,0 -1px 0px #00000005;
    border-radius: 20px;
}

.icon-block{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    display: flex;
    gap: 5px;
}

.f-icon {
    line-height: 30px !important;
    font-size: 20px;
    padding: 0;
    height: fit-content;
    width: fit-content;
    cursor: pointer;
}

.f-circle-icon{
    line-height: 30px !important;
    font-size: 20px;
    padding: 0;
    display: flex;
    height: 30px;
    width: 30px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease
}

.f-circle-icon:hover {
    -webkit-transform: scaleX(-1) rotate(10deg);
    transform: scaleX(-1) rotate(10deg);
     background: #e0e7ee;
}

.direction-container{
    @media(min-width:320px) and (max-width: 600px){
        width: calc(100% - 5px);
    }
    background: #f0f8ff;
    height: 130px;
    width: 310px;
    border-radius: 15px;
    top: -18px;
    position: relative;
    box-shadow: 0 2px 4px #00000033,0 -1px 0px #00000005;
    animation: animateHeight 0.3s ease forwards;
}

@keyframes animateHeight {
    from {
        height: 35px;
    }
    to {
        height: 130px;
    }
}

.new-leaf-f-loc-input{
    width: 80%;
    height: 20px;
    padding: 5px 25px 5px 10px;
    border-radius: 5px;
    border: solid 1px black;
}

#leaf-placeholder-new::placeholder{
    color: #70757a;
    opacity: 1;
}

.new-leaf-f-loc-input:focus {
    outline: none;
    border: 2px solid var(--primary-bg-color);
}

.direction-field-container{
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%;
}

span.fas {
    cursor: pointer;
    position: relative;
    font-size: 14px;
    top: 10px;
    right: 20px;
    width: 0;
    height: 0;
}

.loc-to-loc {
    display: flex;
    flex-direction: column;
    height: 0;
    position: relative;
    top: 10px;
    left: 5px;
    width: 17px;
}

.dot {
    border-left: dotted 3px #70757a;
    padding: 6px 0px;
    margin: 5px 0px;
    position: relative;
    left: 10px;
}

.scrollable-container {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    scroll-behavior: smooth;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    padding-bottom: 10px;
  }
  
  .scrollable-container::-webkit-scrollbar {
    display: none;
  }
  
  .filter-box {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px 15px;
    background: #f0f8ff;
    border-radius: 30px;
    box-shadow: 0 2px 4px #00000033, 0 -1px 0px #00000005;
    border: solid 2px #f0f8ff;
    cursor: pointer;
  }

  .filter-box:hover{
    border: solid 2px #eff8ff;
    background: #eff8ff;
  }

  .filter-box.active {
    border: solid 2px var(--primary-bg-color);
  }

  .filter-box.disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .scroll-btn {
    position: absolute;
    z-index: 2;
    background: var(--primary-bg-color);
    border: none;
    cursor: pointer;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    color: var(--primary-bg-hghl-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.scroll-btn:hover {
    background: #0066a3;
}

  .filter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: width 0.2s ease;
  }
  
  .filter-menu {
    max-width: 400px !important;
    overflow: hidden !important;
  }

  .group-filter-container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background: var(--primary-bg-hghl-color);
    padding-bottom: 5px;
    border-bottom: solid 2px #adadad9c;
  }
  
  .filter-header {
    padding: 0 15px;
    font-size: 15px;
    border-radius: 4px;
    font-weight: bold;
  }

  .filter-icon-block{
    height: 16px;
    width: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 2px;
  }

  .filter-box-container{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    font-size: 12px;
    gap: 10px;
  }

  .filter-box-2 {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 4px 10px;
    background: #edf4f7;
    border-radius: 25px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease;
    box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d;
  }

.filter-box-2.active {
    border: solid 2px var(--primary-bg-color);
    transform: scale(1.05);
    box-shadow: 0 1px 3px #1e8fc873, 0 1px 2px #1e8fc84d;
}

.filter-btns {
    height: 28px;
    width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: var(--primary-bg-color);
    transition: transform 0.2s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.filter-btns:hover {
    background-color: var(--primary-bg-color) !important;
    transform: scale(1.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.filter-btns.active {
    border: solid 2px #f0f8ff;
    background-color: #155a8a;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
}

// polygon edit fab menu

    .fab-container {
        position: relative;
        float: right;
        right: 25px;
        bottom: 110px;
    }
  
  .fab-option {
    position: absolute;
    right: 3px;
    display: flex;
    align-items: center;
    transition: bottom 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    pointer-events: none;
  }
  
  .fab-option[style*="bottom: 1.5rem"] {
    opacity: 0;
  }
  
  .fab-option[style*="bottom:"] {
    opacity: 1;
    pointer-events: auto;
  }
  
  .setting-button {
    left: 0;
    z-index: 1010;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sub-setting-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    z-index: 1010;
  }
  
  .disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  .fab-label {
    margin-right: 10px;
    font-size: 11px;
    color: #666;
    white-space: nowrap;
    text-align: right;
    font-weight: 600;
    z-index: 1010;
  }
  
  @media (max-width: 768px) {
    .Map-filter-container{
        flex-wrap: wrap; gap: 20px;
    }
  }
  .leaflet-marker-icon.highlight-icon {
    background-color: rgba(241, 194, 39, 0.644); 
    border: 2px solid red;
    border-radius: 100%;
}
.leaflet-marker-div{
    background-color:none;
    border:none;
    margin-top: 0px !important;
    margin-left: 0px !important;
    width: 0px !important;
}

.tag-disabled {
  background: #cacbcb;
}

.tw-stepmenu-template {
    width: calc(100% - 10px);
    max-height: 300px !important;
    min-width: 250px !important;
    max-width: 310px !important;
    margin-left: 10px !important;
    overflow: hidden !important;
}

.tw-stepmenu-template .tw-stepmenu-header {
    font-weight: 600;
    font-size: 16px;
    padding: 1px 8px;
    color: var(--primary-bg-color);
    border-bottom: 1px solid $quinary-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tw-stepmenu-event {
    display: flex;
    align-items: center;
}

.tw-stepmenu-event .tw-stepmenu-title {
    font-weight: 500;
    font-size: 13px;
    display: block;
    min-width: 250px;
    max-width: 320px;
    white-space: normal !important;
    word-break: break-all !important;
    overflow-wrap: break-word !important;
}

.tw-direction-icon-menu {
    font-size: 21px;
    height: 22px;
    width: 19px;
    padding-top: 3px;
    margin-right: 8px !important;
    color: var(--primary-menu-bg-color) !important;
}

.tw-path-direction{
    width: calc(100% - 30px);
    padding: 10px 10px;
    background: var(--primary-bg-color);
    text-align: center;
    border-radius: 10px;
    color: white;
    font-size: 16px;
}

.tw-viewSteps {
    width: calc(100% - 50px);
    padding: 10px 10px;
    background: var(--primary-bg-color);
    text-align: center;
    border-radius: 10px;
    color: white;
    font-size: 16px;
}

.tw-stepmenu-template {
    .mat-menu-item {
        line-height: 20px;
    }
}
 .tw-step-mat-divider {
     border-color: #1e8fc991 !important;
     margin: 0 19px 0px 43px !important;
     border-top-width: 1px !important;
}

.map-cust-logo {
    height: 96%;
    width: 55%;
    float: right;
    font-family: 'Open Sans';
    font-size: 12px;
    display: flex;
    justify-content: flex-start;

    .map-cust-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 600;
    }
}

.hover-text:hover {
    color: blue;
    cursor: pointer;
}

.map-cur-floor {
    font-size: 10px;
    font-weight: 600;
    margin-top: 2px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.map-mat-field {
    margin: 0px 10px 10px 10px;
    width: calc(100% - 15px);
    position: relative;

    .map-route-to {
        display: flex;
        background-color: #f0f0f0;
        width: 280px;
        border-radius: 4px;
        height: max-content;
        padding: 5px;

        .loc-icon {
            font-size: 18px;
            font-weight: 800;
            color: #2a7aed;
        }

        .map-flr-name {
            font-weight: 600;
            margin-top: 2px;color: #555;
            word-break: break-word;
            width: 250px;
        }
    }
}