<div class="manage-body container-fluid">
  <tw-header-new-component [type]="'new'" [component]="'activity-rule'" [permission]="permission" [dateFilter]="null"
    [rowFilter]="null" [manageAction]="showActions" [selectDropdown]="selectDropdown"
    [selectedName]="selectedName !== null ? selectedName : true" [locationId]="null" [selectedView]="null"
    [multiView]="false" (selectedViewAction)="null" (headerEventAction)="headerEventAction($event)"
    [groupFilter]="groupFilter"></tw-header-new-component>

  <tw-table-component [component]="'activity-rule'" [columns]="displayedColumns" [tableData]="tableData"
    [iconHeader]="iconHeader" [iconColumn]="iconColumn" [sortColumn]="sortColumn" [rowDbClick]="true"
    (rowDbClickAction)="createActivityRule($event)" [eventColumn]="eventColumn" (eventAction)="eventAction($event)"
    [applyFilter]="applyFilterValue" [permissionControl]="permissionControl" [pagination]="null"></tw-table-component>
</div>