@import '../../../../../theme/configcolour.scss';

$bp : (
  desktop:1440px,
  lap:1024px,
   tab : 768px,
   mob: 565px,
   mob_m:425px,
   mob_s: 320px
  
);
@mixin query($display){
  @each $key, $value in $bp{
    @if ($display == $key){
      @media (max-width: $value){@content;}
    }
  }
}
.icon-style{
    padding-right: 3px;
}
.vital-view {
  font-size: 17px;
  font-weight: 600;
  width: 23%;
  display: inline-block;
  border: 2px solid lightgrey;
  border-radius: 10px;
  margin-right: 5px;
}
.card-vital {
  padding : 5px 0px 0px 0px;
  height: 30%;
  text-align: center;
  }
.patient-away{
  padding: 0px 5px 0px 5px;
  margin-right:4px;
  background-image: url("/assets/Alert/IP/Moved-out-icon.svg");
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: left center;
  cursor: pointer;
}
.nurse-call{
  padding: 0px 5px 0px 5px;
  margin-right:4px;
  background-image: url("/assets/Alert/IP/nurse-call.svg");
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: left center;
  cursor: pointer;
}
.fall-risk {
  padding: 0px 5px 0px 5px;
  margin-right:4px;
  background-image: url("/assets/Alert/IP/fall.svg");
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: left center;
  cursor: pointer;
}
.patient-missing {
  padding: 0px 5px 0px 5px;
  margin-right:4px;
  background-image: url("/assets/Alert/IP/patient-missing.svg");
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: left center;
  cursor: pointer;
}
.geofence {
  padding: 0px 5px 0px 5px;
  margin-right:4px;
  background-image: url("/assets/Alert/IP/geofence.svg");
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: left center;
  cursor: pointer;
}
.sensor {
  padding: 0px 0px 0px 3px;
  margin-right:4px;
  background-image: url("/assets/Alert/IP/sensor.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: left center;
  cursor: pointer;
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}
.blink-border {
  width: 98%;
  height: 94%;
  overflow: hidden;
  margin: 1% 1% 1% 1%;
  border: 5px solid #C6C6C6;
  background: var(--primary-bg-hghl-color);
  border-radius: 10px;
  box-shadow: 1px 3px 6px #00000029;
  opacity: 1;
  -webkit-animation: blink-color 1s infinite; /* Safari 4+ */
  -moz-animation: blink-color 1s infinite; /* Fx 5+ */
  -o-animation: blink-color 1s infinite; /* Opera 12+ */
  animation: blink-color 1s infinite; /* IE 10+, Fx 29+ */
}
@keyframes blink-color { 50% { border-color: #ff4000; }  }
.card-grid-cl-r-2-2 {
width: 98%;
height: 94%;
overflow: hidden;
margin: 1% 1% 1% 1%;
border: 1px solid #C6C6C6;
background: var(--primary-bg-hghl-color);
border-radius: 10px;
box-shadow: 1px 3px 6px #00000029;
opacity: 1;
}
.card-gender{
  height: 15px;
  width: 15px;
  margin: 0px 5px 0px 5px;
}
.card-icon-circle{
  text-align: center;
  position: relative;
  margin: 2px;
  border-radius: 50%;
  border: 1px solid #CFCFCF;
  width: 25px;
  height: 25px;
  font-size: 13px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-bg-hghl-color);
  color: #29ff4c;
  cursor: pointer;
}
.card-other-gender{
  height: 15px;
  width: 15px;
  margin: 0px 0px -5px 10px;
}
.card-woman-gender{
  height: 15px;
  width: 15px;
  margin: 0px 0px -4px 10px;
}
.card-tagid{
width:65%;
font-size: 10px;
}
.card-patient-header {
color: #284255;
font-size:  14px;
font-weight: 600;
width: 42%;
padding: 20px 0px 15px 5px;

.card-patient-name {
  width:100%;//85%;                        cardview
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  float:left;
  font-size: 14px;
  font-weight: 600;
}
.card-location-name {
  width:100%;//85%;                        cardview
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  float:left;
  font-size: 20px;
  font-weight: 600;
}
.card-location-name:hover {
  width:100%;//85%;                        cardview
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  float:left;
  font-size: 20px;
  font-weight: 600;
  color: #2F6BDA;
  text-decoration: underline;
}

.card-bed-name {
  width:100%;//85%;                        cardview
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  float:left;
  font-size: 24px;
  padding: 15px 0px 0px 0px;
  font-style: italic;
}

.card-patient-stay {
  margin-left: 20px;
  float:right;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
}
.card-patient-basic {
font-size:  13px;
font-weight: 600;
}
.card-basic-details {
  height: 110px;
  width: 1%;
  color:var(--primary-bg-hghl-color);
  background-color: #2F6BDA;
  text-align: center;
  border: 1px solid #0000001a;
  border-radius: 0px;
  float: left;
}
.card-patient-basic-present{
font-size:  13px;
font-weight: 600;
.card-basic-details {
  height: 132px;
  width: 15%;
  color:var(--primary-bg-hghl-color);
  background-color: #873EF6;
  text-align: center;
  border: 1px solid #873EF6;
  border-radius: 4px;
  float: left;
}
}
$bp : (
  
   tab : 768px,
   mob: 565px,
   
);
@mixin query($display){
  @each $key, $value in $bp{
    @if ($display == $key){
      @media (max-width: $value){@content;}
    }
  }
}
.card-circle {
text-align: center;
position: relative;
word-break: break-word;
border-radius: 50%;
margin: 25px 5px 25px 15px;
width: 50px;
height: 45px;
font-size: 13px;
display: inline-flex;
align-items: center;
justify-content: center;
background-color: #F7F7F7;
color: black;
cursor: pointer;
@include query(tab){
  width: 33px;
  height: 36px;
}
@include query(mob){
  width: 42px;
  height: 42px;
}
}
.card-patient-doctor {
color: #284255;
font-weight: 600;
font-size: 12px;
padding: 10px 0px 0px 10px;
width:100%;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
}
.card-nurse-alert {
  float: right;
  padding-top: 15px;
  height: 110%;
  width: 55%;
  text-align: center;
}
.card-patient-alert {
  float: right;
  padding-top: 25px;
  height: 9%;
  text-align: center;
}