@import '../../../../theme/configcolour.scss';

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 20px;
    width: 350px;
    min-height: 300px;
    background: var(--primary-bg-hghl-color);
}

.card-img-top {
    width: 100%;
    height: auto;
}

.card-body {
    padding: 15px;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1rem;
    color: #555;
    margin-bottom: 15px;
}

.btn-primary {
    background-color: #007bff;
    color: var(--primary-bg-hghl-color);
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.groupHeaderClass {
    height: 40px;
    font-size: 11px;
    font-weight: 700;
    color: #23374A;
    border-radius: 1px 1px 0px 0px;

    .header {
        padding-top: 13px;
        padding-left: 8px;
    }
}

.dgGroupHeaderClass {
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px 5px 0px 0px;

    .header {
        padding-top: 15px;
        padding-left: 10px;
    }
}

.unselect-status {
    opacity: 50%;
}

.pending-btn {
    font-size: 11px;
    font-weight: 700;
    float: right;
    background-color: orange;
    color: var(--primary-bg-hghl-color);
    border-radius: 18px;
    height: 40px;
    margin: -13px 0px 0px 0px;
    border: none;
}

.complete-btn {
    font-size: 11px;
    font-weight: 700;
    float: right;
    background-color: #03b54d;
    color: var(--primary-bg-hghl-color);
    border-radius: 18px;
    height: 40px;
    margin: -14px 20px 0px 0px;
    border: none;
}

.add-btn {
    font-size: 10px;
    float: right;
    background-color: orange;
    color: var(--primary-bg-hghl-color);
    font-weight: 700;
    border-radius: 18px;
    height: 30px;
    width: 38px;
    margin: 5px 0px 0px 0px;
    border: none;
}

.op-btn {
    font-size: 12px;
    float: right;
    background-color: #FF9100;
    color: #000000;
    border-radius: 18px;
    height: 20px;
    width: 38px;
    margin: -8px -10px 0px 0px;
    border: none;
}

.test-details-right-btn {
    float: right;
    width: 15%;
    height: 100%;
    text-align: center;
    padding-top: 5px;

    .in-button {
        height: 20px;
        border: 2px solid #2a3d50;
        color: #2a3d50;
        border-radius: 3px;
        font-size: 10px;
        margin: 1px 20px;
        line-height: 23px;
        cursor: pointer;
        width: 30px;
        font-weight: 600;
    }
}

.test-details-right-btn1 {
    float: right;
    height: 100%;
    text-align: center;
    padding-top: 5px;

    .out-button {
        height: 20px;
        border: 2px solid #F25454;
        color: #F25454;
        border-radius: 3px;
        font-size: 10px;
        margin: 1px 15px;
        line-height: 23px;
        cursor: pointer;
        font-weight: 600;
        width: 30px;
    }
}

.drop-down-footer {
    display: flex;
    width: 75%;
    margin-left: 10%;

    .filter-btn {
        background-color: #284255;
        color: var(--primary-bg-hghl-color);
        min-height: 38px;
        padding: 2px;
        margin: 4px
    }
}

.drop-down-width {
    .mat-form-field-infix {
        border: 1px transparent;
        width: 5px !important;
        margin-top: -7px;
    }

    .mat-select-arrow-wrapper {
        visibility: hidden;
    }
}

.custom-select-box {
    padding: 8px;
    height: 18px;
    width: 250px;
    color: #284255;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid $secondary-color;
}

.select-box {
    height: 18px;
    width: 250px;
    color: #284255;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}

.categoryHeaderClass {
    height: 30px;
    padding-top: 5px;
    font-size: 16px;
    font-weight: 600;
    color: #284255;
    text-align: center;

}

.category-area {
    height: 100%;
    width: 100%;
    margin: 0%;
}

.location-area:hover {
    background: #E2EAFD;
}

.location-area {
    cursor: pointer;
    height: 100%;
    width: 100%;
    margin: 0%;
    background-color: var(--primary-bg-hghl-color);
    color: #284255;

    .patient {
        height: 50%;
        width: 100%;
        font-size: 25px;
        text-align: center;
        font-weight: 600;
    }

    .location {
        width: 100%;
        padding: 5px 10px;
        text-align: center;
        white-space: nowrap;
        font-weight: 600;
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .floor-class {
        width: 85%;
        padding: 5px 5px 7px 10px;
        font-size: 12px;
        white-space: nowrap;
        overflow: hidden;
        font-style: italic;
        text-align: left;
        text-overflow: ellipsis;
    }
}

.category-header {
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 1px 8px -1px rgba(40, 66, 85, 0.2);
}

@media (max-width: 345px) and (min-width:300px) {
    .groupHeaderClass {
        height: 40px;
        font-size: 11px;
        font-weight: 700;
        color: #23374A;
        border-radius: 1px 1px 0px 0px;

        .header {
            padding-top: 13px;
            padding-left: 5px;
        }
    }

    .complete-btn {
        font-size: 11px;
        font-weight: 700;
        float: right;
        background-color: #03b54d;
        color: var(--primary-bg-hghl-color);
        border-radius: 18px;
        height: 40px;
        margin: -14px 5px 0px 0px;
        border: none;
    }
}

@media (max-width: 1920px) {
    .location-area {
        cursor: pointer;
        height: 100%;
        width: 100%;
        background-color: var(--primary-bg-hghl-color);
        color: #284255;

        .patient {
            height: 16%;
            width: 100%;
            font-size: 20px;
            text-align: left;
            font-weight: 600;
        }

        .location {
            height: 25%;
            width: 100%;
            font-size: 15px;
            text-align: left;
        }
    }
}

.dig-q-styl {
    padding: 0px 8px 0px 6px;
}

.dig-q-styl_1 {
    color: #284255;
    font-size: 16px;
    font-weight: 600;
}

.dig-q-styl_2 {
    border: 1px solid #EAEAEA;
    background: #faf5e4;
    color: #284255;
    margin: 10px;
    font-size: 14px;
}

.min-hgt-styl {
    min-height: 40px;
    margin-left: 15px;
}

.flt-styl {
    float: left
}

.mrgn-styl {
    margin: 5px
}

.fnt-styl_ {
    font-weight: 600;
    cursor: pointer;
}

.hdr-styl {
    background-color: var(--primary-bg-hghl-color);
}

.hdr-styl_1 {
    background-color: var(--primary-bg-hghl-color);
}

.hdr-styl_2 {
    background-color: var(--primary-bg-hghl-color);
}

.hdr-styl_3 {
    background-color: var(--primary-bg-hghl-color);
}

.hdr-cls {
    color: #f98e22;
}

.hdr-cls_ {
    color: #03b54d;
}

.hdr-cls_2 {
    color: var(--primary-bg-color);
}

.hdr-cls_1 {
    float: right;
    margin-right: 15px;
}

.inr-frm-hgt-styl {
    height: 650px;
    overflow: auto;
}

.frame-styl {
    height: 800px;
    width: 1200px;
    overflow: auto;
}

.lst-styl {
    border: 1px solid #EAEAEA;
    color: #284255;
    font-size: 10px;
    height: 100px !important;
}

.lst-styl-test-group {
    border-bottom: 0.5px solid #EAEAEA;
    font-size: 10px;
    padding-left: 10px !important;
    overflow: auto;
    min-height: 50px !important;
    max-height: 150px !important;
}

.test-group-details {
    border: 0.5px solid #EAEAEA;
    color: #284255;

    .active-btn {
        padding-left: 10px !important;
        background: var(--primary-bg-color);
        color: var(--primary-bg-hghl-color);
        font-weight: 600;
        border-radius: 3px !important;
    }

    .mrgn-styl-test-group {
        margin: 10px !important;
        text-align: center;
    }

    .mat-button {
        min-width: 55px !important;
        line-height: 30px !important;
        padding: 0px 9px !important;
    }
}

.lst-styl-complete {
    border: 1px solid #EAEAEA;
    color: #284255;
    font-size: 10px;
    height: 95px !important;
}

.lst-styl-complete:hover {
    background-color: #eceff5 !important;
}

.lst-styl:hover {
    background-color: #eceff5 !important;
}

.flt-styl {
    float: right;
}

.row_ {
    display: flex;
    /* equal height of the children */
}

.col_ {
    flex: 1;
    /* additionally, equal width */
}

//circle

.circle {
    text-align: center;
    position: relative;
    border-radius: 50%;
    margin-left: 2.6px;
    margin-right: 5px;
    min-width: 2.0em;
    font-size: 19px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #F2F7FA;
    color: grey;
    cursor: pointer;
}

.circle:after {
    content: '';
    padding-top: 100%;
    display: table;
}

.sm-circle-bl {
    width: 6px;
    height: 8px;
    border-radius: 50px;
    font-size: 20px;
    padding-right: 2px;
    background: var(--primary-bg-color);
    display: inline-block;
}

.sm-circle-red {
    background: #F25454;
    padding-right: 2px;
}

.sm-circle-green {
    background: #1ABF20;
    padding-right: 2px;
}

.sm-circle-orange {
    background: #f98e22;
    padding-right: 2px;
}

///__<<ngThemingMigrationEscapedComment2>>__///
@media(min-width:300px) {
    #colr {
        color: #284255;
        padding-top: 8px;
        padding-left: 10px;
        font-size: 14px;
        font-weight: 600;
    }
}

@media(min-width:370px) {
    #colr {
        color: #284255;
        font-size: 11px;
        font-weight: 600;
    }
}

#colr0 {
    color: #F25454;
    font-weight: 600;
}

#colr1 {
    color: var(--primary-bg-color);
    font-weight: 600;
}

#colr2 {
    color: #f98e22;
    font-weight: 600;
}

#colr3 {
    color: #1ABF20;
    font-weight: 600;
    margin-right: 8px;
}

// top header tab 
.header_ {
    display: inline-block;
    width: 100%;
}

.refresh-icon {
    i.material-icons {
        font-size: 1.5rem;
        color: var(--primary-bg-hghl-color);
        position: relative;
        border-radius: 50%;
        padding: 5px;
        margin: 3px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
    }

    i.material-icons:after {
        content: "";
        width: 100%;
        height: 100%;
        border: solid 2px;
        transform: scale(0.8);
        position: absolute;
        top: -2px;
        left: -2px;
        border-radius: 50%;
        transition: all 0.3s ease;
    }

    i.material-icons:active:after {
        transform: scale(1);
        box-shadow: 10px 0 20px rgba(0, 0, 0, 0.19), 6px 0 6px rgba(0, 0, 0, 0.23);
    }

    i.material-icons:nth-of-type(1) {
        background-color: var(--primary-bg-color);
    }

    i.material-icons:nth-of-type(1):active {
        color: var(--primary-bg-color);
    }

    i.material-icons:nth-of-type(1):after {
        border-color: var(--primary-bg-color);
    }


    i.material-icons:active {
        background-color: transparent;
        transform: rotate(360deg);
        cursor: pointer;
        box-shadow: none;
    }

    p {
        color: #999;
        font-weight: 300;
        margin-top: 20px;
    }

    @media (min-width:601px) {
        i.material-icons {
            padding: 10px;
            margin: 20px 0px 6px 0px;
            font-size: 1.4rem;
        }
    }

    @media (min-width:993px) {
        i.material-icons {
            padding: 0px;
            margin: 15px 0px 6px 0px;
            font-size: 1.4rem;
        }

        i.material-icons:after {
            border-width: 3px;
            top: -3px;
            left: -3px;
        }
    }

}


.right_ {
    float: right;
    margin-right: 18px;
    padding-right: 2px;
    font-size: 15px;

    .clear-all-btn {
        font-size: 12px;
        font-weight: 600;
        background-color: #EAEAEA;
        color: #4B4B4B;
        border-radius: 18px;
        height: 24px;
        width: 66px;
        padding: 6px 8px 18px 8px;
        cursor: pointer;
        border: none;
    }

    i.material-icons {
        font-size: 19px !important;
        color: var(--primary-bg-hghl-color);
        line-height: 18px !important;
        position: relative;
        border-radius: 50%;
        padding: 4px !important;
        margin: 3px;
        box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
        transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease
    }

    i.material-icons:after {
        content: "";
        width: 100%;
        height: 100%;
        border: solid 2px;
        transform: scale(0.8);
        position: absolute;
        top: -2px;
        left: -2px;
        border-radius: 50%;
        transition: all 0.3s ease;
    }

    i.material-icons:active:after {
        transform: scale(1);
        box-shadow: 10px 0 20px rgba(0, 0, 0, 0.19), 6px 0 6px rgba(0, 0, 0, 0.23);
    }

    i.material-icons:nth-of-type(1) {
        background-color: var(--primary-bg-color);
    }

    i.material-icons:nth-of-type(1):active {
        color: var(--primary-bg-color);
    }

    i.material-icons:nth-of-type(1):after {
        border-color: var(--primary-bg-color);
    }


    i.material-icons:active {
        background-color: transparent;
        transform: rotate(360deg);
        cursor: pointer;
        box-shadow: none;
    }

    p {
        color: #999;
        font-weight: 300;
        margin-top: 20px;
    }

    @media(max-width: 360px) and (min-width:300px) {
        i.material-icons {
            font-size: 1.5rem;
            color: var(--primary-bg-hghl-color);
            position: relative;
            border-radius: 50%;
            padding: 5px;
            margin-top: 13px;
            margin-left: 14px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
        }
    }

    @media(max-width: 499px) and (min-width:360px) {
        i.material-icons {
            font-size: 1.5rem;
            color: var(--primary-bg-hghl-color);
            position: relative;
            border-radius: 50%;
            padding: 4px;
            margin-top: 15px;
            margin-left: 0px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
        }
    }

    @media(max-width: 600px) and (min-width:500px) {
        i.material-icons {
            margin-top: 15px;
        }
    }

    @media (min-width:601px) {
        i.material-icons {
            padding: 10px;
            font-size: 1.3rem;
        }
    }


    @media (min-width:993px) {
        i.material-icons {
            padding: 6px;
            font-size: 1.4rem;
        }

        i.material-icons:after {
            border-width: 3px;
            top: -3px;
            left: -3px;
        }
    }
}

.left_ {
    float: left;
    margin-left: 2px;
}


#outer {
    width: auto;
    padding: 4px;
}

.inner {
    display: inline-block;
    margin-left: 0px;
}

.filtr-styl {
    margin-top: -38px;
}

#block_container {
    text-align: left;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 8px;
    padding-bottom: 0%;
}

#box1 {
    width: 40%;
    padding: 8px;
    margin-left: 12px;
    border: 1px solid $secondary-color;
    color: #92A1B1;
    background-color: #F2F7FA;
    font-size: 12px;
}

/////__<<ngThemingMigrationEscapedComment3>>__////
@media(max-width: 499px) and (min-width: 300px) {
    .dq-filter {
        width: 100%;
        margin-bottom: 10px;

        .mat-form-field-infix {
            width: 198px !important;
        }

        #box-left {
            width: 20%;
            padding: 14px 8px 8px 8px;
            margin-left: 2px;
            border: 1px solid $secondary-color;
            color: var(--primary-bg-hghl-color);
            background-color: var(--primary-bg-color);
            font-size: 11px;
            border-radius: 8px 0px 0px 8px;
        }

        #box-right {
            width: 50%;
            border-color: $secondary-color;
            border: 1px solid $secondary-color;
            background: var(--primary-bg-hghl-color);
            padding: 14px 8px 8px 8px;
            font-size: 11px;
            font-weight: 600;
            border-radius: 0px 8px 8px 0px;
        }

        #box-left,
        #box-right {
            display: inline;
        }

        #box-left-test {
            width: 40%;
            padding: 14px 8px 8px 8px;
            margin-left: 12px;
            border: 1px solid $secondary-color;
            font-weight: 600;
            color: black;
            background-color: var(--primary-bg-hghl-color);
            font-size: 10px;
        }

        #box-right-test {
            width: 35%;
            border-color: $secondary-color;
            border: 1px solid $secondary-color;
            background: var(--primary-bg-hghl-color);
            padding: 0px 8px 4px 8px;
            font-size: 12px;
            font-weight: 600;
            float: right;
            margin-right: 12px;
        }

        #box-left-test,
        #box-right-test {
            display: inline-flex;
            flex-direction: column;
        }

        .mat-form-field-wrapper {
            padding-bottom: 0em !important;
        }

        .mat-form-field-flex {
            display: inline-flex;
            align-items: baseline;
            box-sizing: border-box;
            width: 100% !important;
        }
    }
}

////__<<ngThemingMigrationEscapedComment4>>__////

@media(max-width: 1709px) and (min-width: 500px) {
    .dq-filter {
        width: 100%;

        #box-left {
            width: 20%;
            padding: 14px 8px 8px 8px;
            margin-left: 12px;
            border: 1px solid $secondary-color;
            font-weight: 600;
            color: var(--primary-bg-hghl-color);
            background-color: var(--primary-bg-color);
            font-size: 11px;
            border-radius: 8px 0px 0px 8px;
        }

        #box-right {
            width: 50%;
            border-color: $secondary-color;
            border: 1px solid $secondary-color;
            background: var(--primary-bg-hghl-color);
            padding: 14px 8px 8px 8px;
            font-size: 11px;
            font-weight: 600;
            border-radius: 0px 8px 8px 0px;
        }

        #box-left,
        #box-right {
            display: inline;
        }

        #box-left-test {
            width: 40%;
            padding: 14px 8px 8px 8px;
            margin-left: 12px;
            border: 1px solid $secondary-color;
            font-weight: 600;
            color: black;
            background-color: var(--primary-bg-hghl-color);
            font-size: 10px;
        }

        #box-right-test {
            width: 40%;
            border-color: $secondary-color;
            border: 1px solid $secondary-color;
            background: var(--primary-bg-hghl-color);
            padding: 0px 8px 4px 8px;
            font-size: 12px;
            font-weight: 600;
            margin-right: 12px;
            float: right;
        }

        #box-left-test,
        #box-right-test {
            display: inline-flex;
            flex-direction: column;
        }

        .mat-form-field-wrapper {
            padding-bottom: 0em !important;
        }

        .mat-form-field-flex {
            display: inline-flex;
            align-items: baseline;
            box-sizing: border-box;
            width: 100% !important;
        }
    }
}

@media(min-width: 1710px) {
    .dq-filter {
        width: 100%;

        #box-left {
            width: 20%;
            padding: 14px 8px 8px 8px;
            margin-left: 12px;
            border: 1px solid $secondary-color;
            font-weight: 600;
            color: var(--primary-bg-hghl-color);
            background-color: var(--primary-bg-color);
            font-size: 11px;
            border-radius: 8px 0px 0px 8px;
        }

        #box-right {
            width: 50%;
            border-color: $secondary-color;
            border: 1px solid $secondary-color;
            background: var(--primary-bg-hghl-color);
            padding: 14px 8px 8px 8px;
            font-size: 11px;
            font-weight: 600;
            border-radius: 0px 8px 8px 0px;
        }

        #box-left,
        #box-right {
            display: inline;
        }

        #box-left-test {
            width: 43%;
            padding: 14px 8px 8px 8px;
            margin-left: 12px;
            border: 1px solid $secondary-color;
            font-weight: 600;
            color: black;
            background-color: var(--primary-bg-hghl-color);
            font-size: 10px;
        }

        #box-right-test {
            width: 43%;
            border-color: $secondary-color;
            border: 1px solid $secondary-color;
            background: var(--primary-bg-hghl-color);
            padding: 0px 8px 4px 8px;
            font-size: 12px;
            font-weight: 600;
            margin-right: 12px;
            float: right;
        }

        #box-left-test,
        #box-right-test {
            display: inline-flex;
            flex-direction: column;
        }

        .mat-form-field-wrapper {
            padding-bottom: 0em !important;
        }

        .mat-form-field-flex {
            display: inline-flex;
            align-items: baseline;
            box-sizing: border-box;
            width: 100% !important;
        }
    }
}

//////__<<ngThemingMigrationEscapedComment5>>__///////
///////***************query for Language, Gender and Room***************////////
/// 
$bp : (4k:2560px,
    desktop_l:1920px,
    desktop:1440px,
    lap_l:1165px,
    lap:1024px,
    tab : 768px,
    mob: 565px,
    mob_m:425px,
    mob_s: 320px,
);

@mixin query($display) {
    @each $key, $value in $bp {
        @if ($display ==$key) {
            @media (max-width: $value) {
                @content;
            }
        }
    }
}

///////__<<ngThemingMigrationEscapedComment6>>__////////

select {
    width: 80px;
    height: 34px;
    text-rendering: auto;
    color: #4b4b4b;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: menulist;
    appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    background-color: var(--primary-bg-hghl-color);
    cursor: default;
    margin: 0em;
    border: 1px solid $secondary-color;
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: $secondary-color;
    border-image: initial;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.manage-component {
    background-color: var(--primary-bg-hghl-color);

    .manage-table-header {
        color: #000000;
        font-size: 14px;
        font-weight: 600;
    }

    .manage-table-header-row {
        background: #EEEFF1 0% 0% no-repeat padding-box !important;
        min-height: 48px !important;
    }

    .manage-cnt {
        justify-content: initial;
    }
}

.example-radio-button {
    @media(min-width: 1200px) {
        margin: 8px 2px 8px 15px;
    }

    margin: 8px 2px;

}

//Grid-list border style
.border-styl {
    border: 1.2px solid $secondary-color;
    border-bottom: 0;
}

.border-styl_ {
    border: 2px solid $secondary-color;
}

.space {
    padding-left: 1px;
}

.list-cell:hover {
    border: 1px;
    background: #E2EAFD;
}

::-webkit-scrollbar {
    width: 5px;
}

.top_ {
    padding-bottom: 5px;
}

.mat-list .location-item .mat-list-item-content {
    padding: 0px 0px 0px 10px;
}

.queue-locations {
    .locations-list {
        height: 760px;
        background: var(--primary-bg-hghl-color);
        overflow: auto;
        overflow-x: hidden;

        .location-item {
            border: 1px solid $secondary-color;
            height: 70px !important;

            .location-info {
                float: left;
                width: calc((100% / 2) - 25px);
                color: #284255;

                .location-name {
                    font-size: 12px;
                    font-weight: 600;
                }

                .location-desc {
                    font-size: 12px;
                    font-style: italic;
                }
            }

            .location-queue-count {
                float: right;
                width: calc((100% / 2) + 25px);
                text-align: end;
            }

        }

        .single-location {
            border: 1px solid $secondary-color;
            height: 70px !important;

            .location-info {
                float: left;
                width: calc((100% / 2) - 25px);
                color: #284255;

                .location-name {
                    font-size: 12px;
                    font-weight: 600;
                }

                .location-desc {
                    font-size: 11px;
                    font-style: italic;
                }
            }

            .location-queue-count {
                float: right;
                width: calc((100% / 2) + 25px);
                text-align: end;
            }

        }

        .multi-location {
            .test-name {
                color: #284255;
                font-size: 15px;
                font-weight: 600;
            }

            .location-info {
                float: left;
                width: calc((100% / 2) - 25px);
                color: #284255;
                font-size: 12px;
                font-style: italic;
            }

            .location-queue-count {
                float: right;
                width: calc((100% / 2) + 25px);
                text-align: end;
            }
        }

        .mat-list-item:hover {
            background-color: #eceff5 !important;
        }

        .inporgress-details {
            .test-details:hover {
                background-color: #eceff5 !important;
            }

            .test-details {
                border: 1px solid $secondary-color;
                height: 90px !important;
                border-radius: 10px;

                .test-details-left {
                    padding-left: 2%;
                    float: left;
                    width: 68%; //OUT btn added
                    height: 100%;
                    color: #284255;

                    @include query(tab_m) {
                        width: 58%;
                    }

                    @include query(mob_m) {
                        width: 48%;
                    }

                    .patient-name {
                        font-size: 10px;
                        font-weight: 600;
                        padding-top: 10px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }

                    .patient-test-name {
                        font-size: 10px;
                        font-weight: 600;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        padding-top: 4px;
                    }

                    .location-desc {
                        font-size: 12px;
                        font-style: italic;
                        padding-top: 5px;
                    }
                }

                .test-details-right {
                    float: right;
                    padding-top: 10px;
                }
            }

            .test-controls {
                .checkin {
                    min-height: 40px !important;
                    .checkin-left {
                        padding-left: 2%;
                        float: left;
                        width: 83%;
                        height: 100%;
                        color: #284255;

                        @include query(mob_s) {
                            width: 80%;
                        }

                        .checkin-name {
                            font-size: 10px;
                            font-weight: 600;
                            padding-top: 8px;
                        }

                        .checkin-time {
                            font-size: 10px;
                            font-style: italic;
                        }
                    }

                    .checkin-toggle {
                        float: right;
                        height: 100%;
                        padding-right: 10px;
                    }

                    .parallel-tests {
                        .checkin-name {
                            padding-left: 2%;
                            float: left;
                            width: 80%;
                            height: 45px;
                            font-size: 15px;
                            font-weight: 600;
                            padding-top: 5px;
                            color: #284255;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                        }

                        .checkin-checkbox {
                            float: right;
                            width: 15%;
                            padding-top: 5px;
                        }
                    }
                }

                .test-group {
                    width: 94%;
                    margin-left: 1%;
                    padding: 0% 1% 0% 2.5%;
                    border: 1px solid $secondary-color;

                    .test-list {
                        min-height: 25px;
                        max-height: 65px;
                        overflow: auto;

                        .test-name {
                            font-size: 15px;
                        }
                    }

                    .test-complete {
                        text-align: center;
                        height: 50px;

                        .test-button {
                            margin-top: 7px;
                            background: #019f96;
                            color: var(--primary-bg-hghl-color);

                        }

                    }
                }
            }
        }
    }
}

.dq-partial-colour {
    background-color: #d9effc;
    border: 1px solid #e1dcdc !important;
}

.loc-patient-test-name {
    font-size: 10px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 120px;
}

.loc-patient-cur-test-name {
    font-size: 12px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: gray;
}

.patient-loc-name {
    font-size: 12px;
    font-style: italic;
}

.partial-complete-name {
    font-size: 12px !important;
    color: #1898F7 !important;
}

.btn-color {
    background: var(--primary-bg-color);
    color: var(--primary-bg-hghl-color);
    font-size: 14px;
}

@media only screen and (max-width: 700px) {
    .queue-locations {
        .locations-list {
            height: 550px;
            overflow: auto;
            background: var(--primary-bg-hghl-color);

            .location-item {
                border: 1px solid $secondary-color;
                height: 70px !important;

                .location-info {
                    width: calc((100% / 2) - 25px);
                    color: #284255;

                    .location-name {
                        font-size: 12px;
                        font-weight: 600;
                    }

                    .location-desc {
                        font-size: 11px;
                        font-style: italic;
                    }
                }

                .location-queue-count {
                    width: calc((100% / 2) + 25px);
                    text-align: end;
                }
            }

            .mat-list-item:hover {
                background-color: #eceff5 !important;
            }
        }
    }
}

.enroll {
    float: right;
}

.custom-mat-grid-tile {
    height: 97% !important;

    @include query(lap) {
        height: 102% !important;
    }

    @include query(mob) {
        height: 110% !important;
    }
}


@media screen and (max-width: 1400px) {
    .circle {
        font-size: 10px;
    }
}

@media screen and (min-width: 1401px) and (max-width: 1471px) {
    .circle {
        font-size: 10px;
    }
}

@media screen and (min-width: 1472px) and (max-width: 1536px) {
    .circle {
        font-size: 10px;
    }
}

@media screen and (min-width: 1536px) and (max-width: 1600px) {
    .circle {
        font-size: 10px;
    }
}

/*------------------ Introduced to achieve a better view in IE 11 ------------------*/
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .cc-color-override-688238583.cc-window {
        color: var(--primary-bg-hghl-color);
        background-color: var(--primary-bg-hghl-color);
    }

    // close button icon for IE 7-11
    .ie-close-icon {
        padding-bottom: 55%;
    }

    .dq-l-language {
        width: 25%;
        float: left;
        padding-top: 18px;
    }

    .dq-l-gender {
        width: 25%;
        float: left;
        padding-top: 18px;
    }

    .custom-mat-grid-tile {
        scrollbar-track-color: #fcfff9;
        scrollbar-darkshadow-color: #fcfff9;
        scrollbar-arrow-color: #fcfff9;
        scrollbar-shadow-color: #D0D0D0;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        scrollbar-width: thin;
    }

    .custom-select-box {
        scrollbar-track-color: #fcfff9;
        scrollbar-darkshadow-color: #fcfff9;
        scrollbar-arrow-color: #fcfff9;
        scrollbar-shadow-color: #D0D0D0;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        scrollbar-width: thin;
    }

    // To set 'width' of select panel
    .mat-select-panel {
        min-width: inherit !important;
    }

    .cdk-overlay-pane {
        display: block;
    }

    // To set 'width' of select panel
    .mat-select-panel {
        min-width: inherit !important;
    }

    .cdk-overlay-pane {
        display: block;
    }
}

/*------------------ Introduced to achieve a better view in IE 11 ------------------*/

.dq-img-style {
    cursor: pointer;
    height: 40px;
    width: 40px;
    margin: 8px 0px -10px 0px;
}

.dq-status-styl {
    margin: -10px 16px 0px 0px;
}

.example-radio-group {
    .active {
        .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
            border-color: #019f96;
        }

        .mat-radio-button.mat-accent .mat-radio-inner-circle {
            background-color: #03B54D;
        }
    }

    .inactive {
        .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
            border-color: #e60000;
        }

        .mat-radio-button.mat-accent .mat-radio-inner-circle {
            background-color: #e65100;
        }
    }
}

.example-slide-toggle-active {
    .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
        background-color: #019F96 !important;
    }

    .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
        background-color: $secondary-color !important;
    }
}

.example-slide-toggle-inactive {
    .mat-slide-toggle-thumb {
        background-color: #284255;
    }
}

.custom-slide-toggle-checkin-inactive {
    .mat-slide-toggle-thumb {
        background-color: #019F96;
    }
}

.dq-main-wrapper {
    border-radius: 4px;
    background-color: var(--primary-bg-hghl-color);
    padding: 0px;

}

.cur-ptr {
    cursor: pointer;
}

.footer {
    font-size: 11px;
    color: #636A6D;
    bottom: 0em;
    left: 50%;
    z-index: 1;
    position: fixed;
}

.blink-orange {
    -webkit-animation: blink-color 1s infinite;
    /* Safari 4+ */
    -moz-animation: blink-color 1s infinite;
    /* Fx 5+ */
    -o-animation: blink-color 1s infinite;
    /* Opera 12+ */
    animation: blink-color 1s infinite;
    /* IE 10+, Fx 29+ */
}

@keyframes blink-color {

    0%,
    49% {
        background-color: rgb(253, 194, 0);
        color: var(--primary-bg-hghl-color);
    }

}

.include-test {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 83%;
    display: inline-grid;

    @include query(mob_m) {
        width: 73%;
    }
}

.mat-slide-toggle-bar {
    position: relative;
    width: 32px !important;
    height: 11px !important;
    flex-shrink: 0;
    border-radius: 8px;
}

.mat-slide-toggle-thumb {
    height: 16px !important;
    width: 16px !important;
    border-radius: 50%;
}

.select-view {
    background: var(--primary-bg-color);
    color: var(--primary-bg-hghl-color) !important;
    box-shadow: 1px 3px 6px #00000029;
    min-width: 32px !important;
    border-top-right-radius: 4px !important;
    border-top-left-radius: 4px !important;
    line-height: 26px;
    padding: 0 10px;
}

.icon-box-blue {
    color: var(--primary-bg-hghl-color);
    display: inline-flex;
    height: 20px;
    margin-top: 0px;
    padding: 3px;
    background-color: var(--primary-bg-color);
    width: 32px;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.dq-l-clr {
    color: var(--primary-bg-color);
    cursor: pointer;
}

.dq-header-right {
    font-size: 11px;
    color: var(--primary-bg-color);
}

.dq-search-text-size {
    .mat-select-value-text {
        font-size: 11px !important;
    }
}

.step-marker {
  margin-top: 2px;
  position: relative;
  width: 20px;
  height: 20px;
  background: var(--primary-bg-color);
  border-radius: 50%;
  transform: rotate(-90deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-marker::before {
  content: '';
  position: absolute;
  width: 13px;
  height: 13px;
  background: #ffffff;
  border-radius: 50%;
}

.step-marker span {
  position: relative;
  transform: rotate(90deg);
  color: var(--primary-bg-color);
  font-size: 9px;
  font-weight: 600;
}
.speaker-icon{
    cursor: pointer;
    border-radius: 18px;
    height: 20px;
    width: 38px;
    margin: -8px -12px 0px 0px;
    border: none;
    float: right;
    margin-top: -25px;
    font-size: 20px;
}
.last-status-highlight {
    margin: 2px;
    border: 2px solid rgb(255, 136, 18);
    transform: translateY(2px);
    border-radius: 10px;
}
.last-status-non-highlight {
    margin: 2px;
    border: 2px solid #EAEAEA;
    transform: translateY(2px);
    border-radius: 10px;
}