<div class="ovi-font-family" style="height: 100%; width: 100%;">
  <div class="ovi-pop-hdr">
    <div>{{ "Event History" | translate }}</div>
    <div mat-dialog-close><mat-icon>highlight_off</mat-icon></div>
  </div>

  <div style="height: calc(100% - 90px); display: flex; flex-direction: column;">
    <div class="row-details" style="flex: 0 0 auto;">
      <div><span class="ovi-lbl-text-size">Name:</span> {{ doorName }}</div>
      <div><span class="ovi-lbl-text-size">Location:</span> {{ doorLocation }}</div>
      <div><span class="ovi-lbl-text-size">Current Status:</span> {{ currentStatus }}</div>
    </div>

    <div style="flex: 1 1 auto; overflow-y: auto; margin-top: 8px;">
      <angular-table-component
        [id]="'door-history'"
        [type]="'ng-table'"
        [tableData]="tableData"
        [columns]="displayColumns"
        [columnData]="column"
        (triggerAction)="null">
      </angular-table-component>
    </div>
  </div>
</div>