<div class="input-component-holder ovi-font-family" style="height:100% ;width:100%;">
    <div class="ovi-pop-hdr">
        <div>{{"Manage Permissions"|translate}}</div>
        <div mat-dialog-close><mat-icon>highlight_off</mat-icon></div>
    </div>
    <div class="ovi-matfrmfld ovi-matfrmfld-box-top-btm-pdg popup-margin" style="margin: 0; padding: 10px;">
        <div style="min-height: 100px;">
            <div class="ovi-row-one-clmn ovi-matfrmfld-drpdwn-top-box">
                <mat-label class="ovi-lbl-text-size" style="text-transform: capitalize;">{{data.type}}</mat-label>
                <mat-form-field class="ovi-row-frmfld-wdh ovi-matfrmfld-err" appearance="outline">
                    <mat-select [formControl]="permissionIds" multiple [disableOptionCentering]="true">
                        <mat-option *ngFor="let obj of selectionList" [value]="data['type'] !== 'user' ? obj.id : obj.loginId">{{data['type'] === 'user' ?
                            obj.userName : obj.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div style="text-align: center;">
            <button mat-button class="cancle-btn" mat-dialog-close>{{"Cancel"|translate}}</button>
            <button mat-button class="active-btn" appDebounceClick [debounceTime]="600" 
            (debounceClick)="updatePermission(this.data['type'])">{{"Update"|translate}}</button>
        </div>
    </div>
</div>