.permission-info-content {
    font-size: 13px;
    padding: 5px 10px;
    background: #c0e3f7;
}

.heading {
    font-weight: 600;
    color: #004C66;
    font-size: 22px;
    padding: 5px 0;
}

.tab-icon {
    height: 18px;
    width: 18px;
    padding: 0 5px;
    stroke-width: 10;
}

.tab-icon.active {
    filter: brightness(0) saturate(100%) invert(51%) sepia(62%) saturate(3565%) hue-rotate(176deg) brightness(94%) contrast(91%);
}

.no-data {
    height: calc(80vh - 115px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.permission-btn {
    height: 20px;
    background: #1e8fc8;
    padding: 5px;
    color: white;
    font-size: 12px;
    font-weight: 600;
    margin-top: 2.5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1000;
}