.widget-tab {
	.mat-tab-body-wrapper {
		height: 100% !important;
	}
}
.drawer-container {
  width: 100%;
  height:100%; 
  .drawer-left {
    width: 350px;
    max-width: 500px;
    height: 100%;
    background-color: white;
    top: 0% !important;
    transform: translate3d(-65px, 0px, 0px) !important;
    margin-left: 65px;
  }
  .drawer-toggle-open {
    width: 350px;
    max-width: 500px;
    height: 100%;
    background-color: white;
    top: 0% !important;
    transform: translate3d(-65px, 0px, 0px) !important;
    margin-left: 65px;
  }
  .drawer-toggle-close {
    width: 350px;
    max-width: 500px;
    height: 100%;
    background-color: white;
    top: 0% !important;
  }
  .drawer-content {
    #locationId.leaflet-container{
        background: white;
        outline: 0;
    }
    .floorMap-img{
        @media(min-width:320px) and (max-width: 440px){
            height:100%;
            width: 94vw;
        }
        height:100%;
        width: 100%;
        background: #ddd !important;
    } 
    .floorMap-container{
        height: calc(100% - 64px);
        margin: 0px 10px;
        position: relative;
        .floorMap-img{
          @media(min-width:320px) and (max-width: 440px){
              height:100%;
              width: 94vw;
          }
          height:100%;
          width: 100%;
          background: #ddd !important;
        }
    }
  }
}

.input-header {
	h1 {
		padding: 0px;
	}
}.rdr-frame{
  height:100%;width:100%;
}
.inner-frame{
  height:370px;margin:5px;
}

.form-body-config{
  height: 83%;
  overflow: auto;
}
.example-radio-group {
    padding: 8px 0px !important; width: 35%; float: left;
    .active {
        .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
          border-color: #019f96;
        }
        .mat-radio-button.mat-accent .mat-radio-inner-circle {
          background-color: #03B54D;
        }
        .mat-radio-label-content {
            display: inline-block;
            order: 0;
            line-height: inherit;
            padding-left: 8px;
            padding-right: 15px;
        }
     }
     .inactive {
        .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
          border-color: #e60000;
        }
        .mat-radio-button.mat-accent .mat-radio-inner-circle {
          background-color: #e65100;
        }
        .mat-radio-label-content {
            display: inline-block;
            order: 0;
            line-height: inherit;
            padding-left: 8px;
            padding-right: 15px;
        }
    }
  }
@media (max-height: 720px){
    .inner-frame{
        height:355px;margin:5px;
    }
}
.leaflet-container {
  background-color: #fcfdff;
}

 /* remove label background elements */
.leaflet-tooltip.reader-tooltip {
  background-color: transparent;
  border: transparent;
  box-shadow: none;
  text-align: center;
  color:#b8c2c0 !important;
  font-size: 12px;
}

mat-form-field {
    margin-right: 12px;
  }
  .active-mode{
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #019f96;
    padding: 2px;
    background-color: #019f96;
    color: #fff;
    font-size: larger;
  }
  .inactive-mode{
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #ddd;
    padding: 2px;
    color: #ddd;
    font-size: larger;
  }
  .text-below-marker {
    min-width: 85px;
    padding-top: 3px;
    top: -13px;
    left: -13px;
    font-size: 9px;
    font-weight: 800;
    min-height: 28px;
    color: teal;
    background-color: #ffffffab;
    border: 3px solid #bae4e2;
    border-radius: 25px 0px 25px 25px;
    padding-left: 31px;
  }
  .text-below-marker-hide {
    min-width: 27px;
    padding-top: 3px;
    top: -13px;
    left: -13px;
    font-size: 9px;
    min-height: 28px;
    color: teal;
    background-color: #ffffffab;
    border: 3px solid #bae4e2;
    border-radius: 25px 0px 25px 25px;
    padding-left: 27px;
  }


  $bp : (
  desktop:1440px,
  lap:1024px,
   tab : 768px,
   mob: 565px,
   mob_s:320px,
  
);
@mixin query($display){
  @each $key, $value in $bp{
    @if ($display == $key){
      @media (max-width: $value){@content;}
    }
  }
}
  .row-field-6{  
    @include query(tab){
      width: 45%;
    }
    @include query(mob){
      width: 311%; 
    }
  }

  .row-field-loc{
    width: 48%;
    @include query(mob){
      width: 100%; 
    }
    @include query(mob_s){
      margin-top: 20px;
    }
  }
  
