<div *ngIf="type !== 'new'" class="tw-header block-1  bottom-margin"  [ngClass]="this.component === 'infant' ? 'infant-container': ''" >
  <div class="row-field">
    <div class="tw-view-full-width-flex">
      <div class="row">
        <div style="display: flex">
          <span class="tw-filter-new search-align" *ngIf="(this.component !== 'daily-management' && this.component !== 'common-search')">
            <form autocomplete="off">
              <input matInput #filter [(ngModel)]="this.filterValue"  [ngModelOptions]="{ standalone: true }"  style="padding: 5px;"
                (keyup)="headerEventTrigger('applyFilter', $event.target.value, '')" appPlaceholder [showPlaceholder]="true" [placeholderText]="'Search'|translate">
            </form>
          </span>
          <span  *ngIf="this.dateFilter !== null">
          <mat-icon class="left-date" (click)="component !== 'follow-up' ? changeDate('previous') : ''"
          [ngStyle]="{'background-color':component === 'follow-up' ? 'lightgrey' : ''}" (keydown.enter)="fixClick()">arrow_left</mat-icon>
          </span>
          <span  *ngIf="startDateFilter !== null">
            <span  class="ovi-popup-title-text-size top-styl info-disp"> {{"PERIOD"|translate}} </span>
          </span>
          <span [formGroup]="dateForm" class="tw-header-mat-custom-form-field-box" style=" height: 40px;display: flex;">
            <mat-form-field class="tw-date-picker datepicker" appearance="none" *ngIf="this.dateFilter !== null">
              <input matInput  [matDatepicker]="picker" class="tw-input-date" appPlaceholder [showPlaceholder]="true" [placeholderText]="'From Date'|translate"
                 [max]="today" (dateChange)="headerEventTrigger('dateFilter', $event.target.value, '')"
                formControlName="fromDate" readonly />
              <mat-datepicker-toggle matSuffix [for]="picker" style="padding-right:2px;" [disabled]="component === 'follow-up'"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="tw-date-picker datepicker" appearance="none" *ngIf="startDateFilter !== null">
              <input matInput  [matDatepicker]="picker1" class="tw-input-date" style="border-top: red;" appPlaceholder [showPlaceholder]="true" [placeholderText]="'Start Date'|translate"
                 (dateChange)="headerEventTrigger('startDateFilter', $event.target.value, '')" formControlName="startDate" readonly />
              <mat-datepicker-toggle matSuffix [for]="picker1" style="padding-right:2px;"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
            <span  *ngIf="endDateFilter !== null">
              <span  class="ovi-fnt-sze24">&nbsp;-&nbsp;</span>
            </span>
            <mat-form-field class="tw-date-picker datepicker" appearance="none" *ngIf="endDateFilter !== null">
              <input matInput  [matDatepicker]="picker2" class="tw-input-date" appPlaceholder [showPlaceholder]="true" [placeholderText]="'End Date'|translate"
                (dateChange)="headerEventTrigger('endDateFilter', $event.target.value, '')"
                formControlName="endDate" readonly />
              <mat-datepicker-toggle matSuffix [for]="picker2" style="padding-right:2px;"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </span>
          <span  *ngIf="this.dateFilter !== null">
            <mat-icon class="right-date" (click)="component !== 'follow-up' ? changeDate('next') : ''"
            [ngStyle]="{'background-color':component === 'follow-up' ? 'lightgrey' : ''}" (keydown.enter)="fixClick()">arrow_right</mat-icon>
          </span>
          <div style="margin-top: 5px;" *ngIf="(component === 'health-checkup' || component === 'follow-up') && floorDetails != undefined && floorDetails?.length">
            <img #count src="/assets/Alert/common_icons/warning_.svg"  alt="warning" 
            [ngClass]="floorDetails == undefined || floorDetails?.length == 0 ? 'count-not-exist' : 'count-exist'" />
          <div class="info-details" *ngIf="infoClicked && floorDetails?.length != 0">
          <mat-list-item *ngFor="let floor of floorDetails">
            <div style="margin-top: 10px;margin-left: 10px;margin-bottom: 10px;">
              <span style="display: flex; align-items: center;"> 
               <span class='material-icons ovi-prmry-clr' style="position: relative; bottom: 3px;">location_city</span>
                <span class="ovi-fnt-sze12" style="padding-left: 2px;">{{floor.name}} :</span>
                <span style="font-weight: 600;padding-left: 5px;">{{floor.count}}</span>
              </span>
            </div>
          </mat-list-item>
        </div></div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="alertCount" style="margin-top: 15px;position: relative;height: 20px;">
    <span style="display: flex; justify-content: flex-end;flex-wrap: wrap;">
      <span *ngFor="let alert of alertCount" >
        <span class="header-icon-circle" *ngIf="!['RQ-CR', 'RQ-CA', 'RQ-IP', 'RQ-CO'].includes(alert.code)"
          appTooltip tooltipText="{{alert.name}} : {{alert.count}}" [ngStyle]="{background :
          alert.code === 'CE-BI' ? 'green' :
          alert.code === 'CE-PR' ? 'white' :
          alert.code === 'CE-HK' ? 'orange' :
          alert.code === 'CE-FD' ? 'yellow' :
          alert.code === 'CE-AD' ? 'blue' :
          alert.code === 'CE-CL' || alert.code === 'CE-SO' ? 'red' : 'transperent', 'bottom' : '5px'}">
        </span>
        <span *ngIf="['RQ-CR', 'RQ-CO'].includes(alert.code)" [ngClass]= "alert.code == 'RQ-CO' ? 'close-alert-box ovi-font-family' : 'open-alert-box ovi-font-family'">{{alert.code == 'RQ-CO' ? 'Closed ' : 'Open '}}</span>
        <span *ngIf="['RQ-CA'].includes(alert.code)" class = "cancel-alert-box ovi-font-family">{{"Cancel"|translate}}</span>
        <span class="ovi-font-family ovi-fnt-sze13"  *ngIf="!['RQ-CR', 'RQ-CA', 'RQ-IP', 'RQ-CO'].includes(alert.code)" style="position: relative; bottom: 8px; right: 5px; font-weight: 800; color: #0000008a;">{{alert.count}}</span>
        <span *ngIf="['RQ-CR', 'RQ-CO','RQ-CA'].includes(alert.code)" class="ovi-font-family ovi-fnt-sze13" style="position: relative; bottom: 6px; right: 2px; font-weight: 800; color: #0000008a;">{{alert.count}}</span>
    </span>
      <!-- <span></span> -->
    </span>
  </div>
  <div class="row-field" [ngStyle]="{width: alertCount && component === 'inpatient' ? '42%' : ''}">
    <div [formGroup]="worklistForm"  class="tw-view-full-width" style="display:flex; justify-content: right; width: auto;align-items: center;">
      <span *ngIf="component === 'workflowForm' || component === 'student'|| component === 'linen-track'" style="display: flex; padding-right: 10px; height: 34px;align-items: center;"
      [ngStyle]="{'visibility': rowTypeFilter === null ? 'hidden' : '', 'width': component === 'student' || component === 'linen-track' ? '28%' : 'auto', 'margin-right': component === 'workflowForm' ? '2%' : ''}"
      [ngClass]="component === 'health-checkup'  || component === 'follow-up' ? 'box-none-4': (component === 'porter' ? 'box-none-6' : (dateFilter !== null && rowFilter !== null ? 'box-none-3' : (dateFilter !== null && rowFilter === null ? 'box-none-5':
                (dateFilter === null && rowFilter !== null ? 'box-none-2':'box-none-1'))))">
        <mat-select class="ip-label01 ovi-font-family filter-auto-body" [ngClass]="selectTypeFilter.length === 1? 'select-filter-option-1':'select-filter-option'" style="width: auto;" [disableOptionCentering]="true" formControlName="filterTypeList"
          (selectionChange)="headerEventTrigger('manageFilter', $event.value, '')">
          <mat-option  *ngFor="let filter of selectTypeFilter;" [value]="filter.id">{filter.value, select, TYPE {{{"TYPE"|translate}}} From {{{"From"|translate}}} GRADE {{{"GRADE"|translate}}} ASSET TYPE{{{"ASSET TYPE"|translate}}}}</mat-option>
        </mat-select>
        <mat-select class="ip-select01 ovi-font-family filter-auto-body" style="width: auto;  min-width: 70px;" formControlName="defaultWorkListType" [disableOptionCentering]="true"
          (selectionChange)="headerEventTrigger('manageTypelist', $event.value, '')">
          <mat-option>
            <ngx-mat-select-search  (keyup)="appteamsTypeFilter($event.target.value)" [placeholderLabel]="'Search'|translate" [noEntriesFoundLabel]="'No matching options'"></ngx-mat-select-search>
          </mat-option>
          <mat-option  [value]="component !== 'student' || component !== 'linen-track' ? 'All' : 'null'">{{"All"|translate}}</mat-option>
          <mat-option *ngFor="let loc of rowFilteredTypeList;" [value]="component === 'student' || component === 'linen-track' ? loc.code : loc.id">{{component === 'student' || component === 'linen-track' ? loc.value : loc.name}}</mat-option>
        </mat-select>
      </span>

      <span style="display: flex; padding-right: 10px; height: 34px; width: auto !important;align-items: center;" class="box-1"
      [ngStyle]="{'visibility': rowFilter === null ? 'hidden' : ''}"
      [ngClass]="component === 'health-checkup' || component === 'follow-up' ? 'box-none-4': (component === 'porter' ? 'box-none-6' : (dateFilter !== null && rowFilter !== null ? 'box-none-3' : (dateFilter !== null && rowFilter === null ? 'box-none-5':
                (dateFilter === null && rowFilter !== null ? 'box-none-2':'box-none-1'))))">
        <mat-select class="ip-label01 ovi-font-family select-filter-option filter-auto-body" style="width: auto;" [disableOptionCentering]="true" formControlName="filterList"
        [ngStyle]="{'background': customerName === 'kyn' ? '#D61820' : ''}" (selectionChange)="headerEventTrigger('manageFilter', $event.value, '')">
          <mat-option  *ngFor="let filter of selectFilter;" [value]="filter.id">{filter.value, select, STATUS {{{"STATUS"|translate}}} RULE {{{"RULE"|translate}}} WARD {{{"WARD"|translate}}} TYPE {{{"TYPE"|translate}}} FILTER {{{"FILTER"|translate}}} Layout {{{"Layout"|translate}}} ISACTIVE {{{"ISACTIVE"|translate}}} ISCURRENTUSER{{{"ISCURRENTUSER"|translate}}}
             DEPARTMENT {{{"DEPARTMENT"|translate}}} SECTION {{{"SECTION"|translate}}}  ASSET CATEGORY TYPE {{{"ASSET CATEGORY TYPE"|translate}}} MY ASSET{{{"MY ASSET"|translate}}} MY DEPARTMENT{{{"MY DEPARTMENT"|translate}}} ALL{{{"ALL"|translate}}} ASSET TYPE{{{"ASSET TYPE"|translate}}}}</mat-option>
        </mat-select>
        <mat-select *ngIf="component !== 'infant'" class="ip-select01 ovi-font-family filter-auto-body" style="width: auto; min-width: 70px;" formControlName="defaultWorkList" [disableOptionCentering]="true"
          (selectionChange)="headerEventTrigger('manageWorklist', $event.value, '')" [disabled]="component === 'student' ? worklistForm.controls.defaultWorkListType.value === 'null' : false">
          <mat-option>
            <ngx-mat-select-search [formControl]="searchControl" (ngModelChange)="appteamsFilter($event)" [placeholderLabel]="'Search....'|translate" [noEntriesFoundLabel]="'No matching options'"></ngx-mat-select-search>
          </mat-option>
          <mat-option  *ngIf="All && (view == null || (view !=null && view['type'] != 'location'))" [value]="component !== 'staffRoutine' && component !== 'student' ? 'All' : 'null'">{{"All"|translate}}</mat-option>
          <mat-option *ngFor="let loc of rowFilteredList;" [value]="component === 'reader' || component === 'agent-management'||component === 'asset-management' || component === 'task' || component === 'hazmat-training-list' || component === 'student' ? loc.code : loc.id">
            {{component === 'reader' || component === 'agent-management' ||component === 'asset-management'|| component === 'task' || component === 'hazmat-training-list' || component === 'student' ? loc.value : loc.name}}</mat-option>
        </mat-select>
        <mat-select *ngIf="component === 'infant'" class="ip-select01 ovi-font-family filter-auto-body" style="width: auto; min-width: 70px;" formControlName="defaultWorkList" [disableOptionCentering]="true"
        (openedChange)="openedChange($event);" [disabled]="false" multiple>
          <mat-option>
            <ngx-mat-select-search [formControl]="searchControl" (ngModelChange)="appteamsFilter($event)" [placeholderLabel]="'Search....'|translate" [noEntriesFoundLabel]="'No matching options'"></ngx-mat-select-search>
          </mat-option>
          <mat-option #allLoc  *ngIf="All && (view == null || (view !=null && view['type'] != 'location'))" [value]="All"
          (click)="locationMulti('All')" (keydown.enter)="fixClick()">{{"All"|translate}}</mat-option>
          <mat-option *ngFor="let loc of rowFilteredList;" [value]="loc.id" (click)="locationMulti(loc.id)" (keydown.enter)="fixClick()">{{loc.name|translate}}</mat-option>
        </mat-select>
      </span>
      <div style="width: auto" [ngStyle]="{'visibility': this.manageAction?.length !== 0 && (permission === null || buttonExist === true) ? '' : 'hidden', 'margin-top': component === 'workflowForm' ? '0' : '0'}"
       [ngClass]="component === 'workflowForm' ? 'box-form': excel === true ? 'excel-box' : 'box-1'">
          <div style="display: flex;"  [ngClass]="component === 'porter'|| component === 'task' || component === 'hazmat-training-list' || component === 'ambulance' ? 'porteraction':''" >
          <mat-label class="ip-label002 ovi-font-family" [ngClass]="{'ovi-grey-clr': selectedName == null && customerName == null,'bg-red': customerName === 'kyn',
                                                                      'ovi-prmry-bg-clr': customerName !== 'kyn' && !(selectedName == null && customerName == null) }">
            <img src="/assets/Alert/IP/notepad.png"   alt="notepad" style="width:14px;height:14px">
          </mat-label>
          <mat-select  class="ip-select02 actionw ovi-font-family"  formControlName="selectDropdown" appPlaceholder [showPlaceholder]="true" [placeholderText]="'Action'|translate"
             (selectionChange)="headerEventTrigger('manageAction', $event.value, selectedName)">
            <!-- <mat-option *ngFor="let obj of manageAction;" [disabled]="this.selectedName == null" [value]="obj.id">
              {{obj.value}}</mat-option> -->
            <mat-option  *ngFor="let obj of manageAction" [disabled]="this.selectedName == null || obj.disabled == true" [value]="obj.id">
              {obj.value, select, Enroll {{{"Enroll"|translate}}} Merge {{{"Merge"|translate}}} Create Request {{{"Create Request"|translate}}} modify { {{"Modify"|translate}} } Modify Request {{{"Modify Request"|translate}}} Porter Request {{{"Porter Request"|translate}}} Capture {{{"Capture"|translate}}}
              Manage Routine {{{"Manage Routine"|translate}}} Create Task {{{"Create Task"|translate}}} Modify {{{"Modify"|translate}}} Enroll OT {{{"Enroll OT"|translate}}} Manage Alarm {{{"Manage Alarm"|translate}}} Gatepass {{{"Gatepass"|translate}}} Create {{{"Create"|translate}}}
              Service {{{"Service"|translate}}} Manage {{{"Manage"|translate}}} Compose {{{"Compose"|translate}}} Enroll Mother {{{"Enroll Mother"|translate}}} Enroll Infant {{{"Enroll Infant"|translate}}} Create Form {{{"Create Form"|translate}}} Create Ticket {{{"Create Ticket"|translate}}}
              Modify Ticket {{{"Modify Ticket"|translate}}} Upgrade Version {{{"Upgrade Version"|translate}}} Group {{{"Group"|translate}}} Kit Group {{{"Kit Group"|translate}}} Sync {{{"Sync"|translate}}} Connectivity {{{"Connectivity"|translate}}} Threshold Settings {{{"Threshold Settings"|translate}}}
              Change Floor {{{"Change Floor"|translate}}} Approval Matrix {{{"Approval Matrix"|translate}}} Delete {{{"Delete"|translate}}} Manage Global {{{"Manage Global"|translate}}} Manage Facility {{{"Manage Facility"|translate}}} Clear Cache {{{"Clear Cache"|translate}}}
              Manage Authorized Movement {{{"Manage Authorized Movement"|translate}}} Post {{{"Post"|translate}}} Notices {{{"Notices"|translate}}} TeleKast {{{"TeleKast"|translate}}} Klips {{{"Klips"|translate}}} Create new request {{{"Create new request"|translate}}} 
                Kyn User {{{"Kyn User"|translate}}} Reported User {{{"Reported User"|translate}}} Live Stream {{{"Live Stream"|translate}}} Create Hazmat {{{"Create Hazmat"|translate}}} Manage Location {{{"Manage Location"|translate}}} Add Break{{{"Add Break"|translate}}} Training Scheduler {{{"Training Scheduler"|translate}}}
                Generate QR Code{ {{"Generate QR Code"|translate}}} Generate Bar Code{{{"Generate Bar Code"|translate}}} Manage Audit{{{"Manage Audit"|translate}}} Audit {{{"Audit" | translate}}} Map{{{"Map"|translate}}} Create Group {{{"Create Group"|translate}}} Download Schedule Template{{{"Download Schedule Template"|translate}}} Download Patient Details{{{"Download Patient Details"|translate}}}
              Manage Appterms Groups {{{"Manage Appterms Groups" | translate}}} Active {{{"Active" | translate}}} Inactive {{{"Inactive" | translate}}} Clear Local Cache {{{"Clear Local Cache" | translate}}}}
            </mat-option>
          </mat-select>
          <mat-label *ngIf="component === 'porter' || component === 'task' || component === 'hazmat-training-list' || component === 'ambulance' ||
            component === 'broker' || this.component === 'server'"
            class="ip-label02 ovi-font-family" (click)="headerEventTrigger('manageAction', this.worklistForm.controls.selectDropdown.value, selectedName)" (keydown.enter)="fixClick()">
            <img src="/assets/Alert/IP/go-action.png"   alt="action" style="width:16px;height:16px;cursor: pointer;">
          </mat-label>
        </div>
      </div>
      <div *ngIf="component !== 'reader' && component !== 'token' && selectedView !== null" class="tw-btn">
        <div style="display: flex ;height:30px">
          
          <button  mat-button style="line-height: 30%;padding: 0px;"class="mat-display-4 toggle-btn1"
            [disabled]="!this.multiView"
            [ngClass]="selectedView == 'table' && customerName !== 'kyn' ? 'select-view' : customerName === 'kyn' && selectedView == 'table' ? 'kyn-select-view' : 'unselect-table-view'" *ngIf="clickedView === 'table'"
            (click)="selectedViewEvent('card');headerEventTrigger('manageView', '', '')"><em class="material-icons ovi-fnt-sze18" appTooltip tooltipText="{{'List View'|translate}}" placement="bottom"
              style="padding: 0px;">menu</em></button>
          <button  mat-button style="line-height: 30%;padding: 0px;" class="toggle-btn2" [disabled]="!this.multiView" *ngIf="clickedView === 'card'"
            [ngClass]="selectedView == 'card' ? 'select-view' : 'unselect-card-view'"
            (click)="selectedViewEvent(component === 'ot' || component === 'nursecall-view' || component === 'daily-management' ? 'table' : 'new card');headerEventTrigger('manageView', '', '')"><em class="material-icons  ovi-fnt-sze18" appTooltip tooltipText="{{'Card View'|translate}}" placement="bottom"
              style="padding: 0px;">crop_landscape</em></button>
          <span *ngIf="component !== 'nursecall-view' && component !== 'daily-management'" style="display: flex ;height:30px">
          <button  mat-button style="line-height: 30%;padding: 0px;" class="toggle-btn2" [disabled]="!this.multiView" *ngIf="clickedView === 'new card'"
            [ngClass]="selectedView == 'new card' ? 'select-view' : 'unselect-card-view'"
            (click)="selectedViewEvent('table');headerEventTrigger('manageView', '', '')"><em class="material-icons  ovi-fnt-sze18" appTooltip tooltipText="{{'New Card View'|translate}}" placement="bottom"
              style="padding: 0px;">view_stream</em></button>
          </span>
        </div>
      </div>
      <div [ngClass]="customerName === 'kyn' ? 'kyn-tw-refresh-icon' : 'tw-refresh-icon'" style="float:right">
        <span><i class="material-icons" appTooltip tooltipText="{{'Refresh'|translate}}" placement="bottom" (click)="headerEventTrigger('refreshPage', '', '');filterValue=null;"
            style="cursor: pointer; float: right;" (keydown.enter)="fixClick()">autorenew</i>
        </span>
      </div>
      <div *ngIf="excel" class = "excel-button" width = 100px >
        <img src="/assets/Alert/common_icons/excel_icon.png"   alt="excel_icon"  appTooltip tooltipText="{{'Download as excel sheet'|translate}}" (click)="headerEventTrigger('downloadExcel', '', '')" style="cursor: pointer;" (keydown.enter)="fixClick()">
    </div>
    </div>
  </div>
</div>

<div *ngIf="type === 'new'" class="tw-header block-1 bottom-margin ovi-font-family"
[ngStyle]="{'border-bottom': component === 'calendar' || component === 'apptermsLink' ? 'none' : ''}" style="padding-bottom: 5px;">
  <div class="row-field">
    <div style="display: flex; padding-top: 2px; align-items: center;">
      <span class="tw-filter-new search-align" [ngStyle]="{'display': component === 'calendar' || component === 'apptermsLink' || (component === 'asset-maintenance' && selectedView === 'calendarView') || 
                (component === 'User-Schedule' && selectedView === 'calendarView') || selectedView === 'queue' ? 'none' : ''}">
          <form autocomplete="off">
            <input matInput #filter [(ngModel)]="this.filterValue"  [ngModelOptions]="{ standalone: true }"  style="padding: 5px;"
              (keyup)="headerEventTrigger('applyFilter', $event.target.value, '')" appPlaceholder [showPlaceholder]="true" [placeholderText]="'Search'|translate">
          </form>
      </span>
      <span *ngIf="this.dateFilter !== null" style="display: flex; height: 30px;">
        <span class="multi-date-switch" [ngStyle]="{'cursor' : multiDateEnable ? 'pointer' : ''}">
         <img *ngIf="!multiDateEnable && !multiYear" height="16px" width="16px" style="filter: invert(1);" src="../../../../../assets/icons/calendar-day.svg" alt="calander-day" appTooltip tooltipText="{{'Date'| translate}}"/>
         <img *ngIf="multiDateEnable && !multiYear" height="16px" width="16px" style="filter: invert(1);"  alt="calendar"  [src]=" (!isMultiDate && isDateType) || (isMultiDate && !isDateType) ? '../../../../../assets/icons/calendar-to.svg' : '../../../../../assets/icons/calendar-day.svg'"
          appTooltip [tooltipText]="(!isMultiDate && isDateType) || (isMultiDate && !isDateType) ? ('Multi date' | translate) : ('Single date' | translate)" (click)="multiDateEnable && !isDateType ? headerEventTrigger('multiDate', isMultiDate, '') :  multiDateEnable && isDateType ? headerEventTrigger('multiDate', isDateType && !isMultiDate ? true : false , '') : null; isMultiDate = !isMultiDate;"  (keydown.enter)="fixClick()"/>
          <!-- <img *ngIf="multiYear" height="16px" width="16px" style="filter: invert(1);" alt="calendar" [src]="getCalendarIcon()" appTooltip [tooltipText]="getTooltipText()" (click)="toggleDateMode()" (keydown.enter)="fixClick()" /> -->
        <mat-form-field *ngIf="multiYear" appearance="file" class="date-mode-dropdown">
          <mat-select #dateModeSelect [(value)]="dateMode" (selectionChange)="toggleDateMode($event.value, dateModeSelect)">
            <mat-option value="single"> <img height="16" width="16" style="position: relative; top: 3px;"
                src="assets/icons/calendar-day.svg" alt="single-date">
              <span style="position: relative; left: 5px;">Date</span>
            </mat-option>
            <mat-option value="multi"> <img height="16" width="16" style="position: relative; top: 3px;"
                src="assets/icons/calendar-to.svg" alt="multi-date">
              <span style="position: relative; left: 5px;">Range</span>
            </mat-option>
            <mat-option value="year"><img height="16" width="16" style="position: relative; top: 3px;"
                src="assets/icons/calendar-years.png" alt="year-view">
              <span style="position: relative; left: 5px;">Year</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
        </span>
        <span [formGroup]="dateForm" class="tw-header-mat-custom-form-field-box">
          <mat-form-field class="tw-date-picker datepicker" [class.active]="isMultiDate" appearance="none" *ngIf="this.dateFilter !== null && !isYearly">
            <input matInput  [matDatepicker]="picker" class="tw-input-date" appPlaceholder [showPlaceholder]="true" [placeholderText]="'From Date'|translate"
             [max]="toDateFilter !== null && toDateFilter !== undefined ? today : null"
              (dateChange)="headerEventTrigger('dateFilter', $event.target.value, dateMode)" formControlName="fromDate"
              readonly [min]="component === 'porter' ? this.minDate : null"/>
            <mat-datepicker-toggle matSuffix [for]="picker" style="padding-right:2px;"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <span *ngIf="isYearly" class="tw-header-mat-custom-form-field-box">
            <mat-form-field  class="tw-date-picker datepicker" style="width: 70px !important;" appearance="outline">
              <mat-select formControlName="fromDate" (selectionChange)="headerEventTrigger('yearFilter', $event.value, '')">
                <mat-option *ngFor="let year of yearList" [value]="year">
                  {{ year }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </span>
        </span>
        <span *ngIf="((!isMultiDate && !isDateType) || (isMultiDate && isDateType)) && !isYearly" class="date-arrow-box">
          <span class="dateFilter-up-down">
            <mat-icon class="tw-dateArrow-right" (click)="changeDate('next')" (keydown.enter)="fixClick()">arrow_right</mat-icon>
          </span>
          <span  class="dateFilter-up-down">
            <mat-icon class="tw-dateArrow-left" (click)="changeDate('previous')" (keydown.enter)="fixClick()">arrow_left</mat-icon>
          </span>
        </span>
      </span>
  
      <span *ngIf="toDateFilter !== null && toDateFilter !== undefined && !isYearly" class="date-to-text">to</span>
      
      <span *ngIf="!isYearly" style="display: flex; height: 30px;">
        <span [formGroup]="dateForm" class="tw-header-mat-custom-form-field-box">
          <mat-form-field class="tw-date-picker datepicker" [class.activeTo]="isMultiDate" appearance="none" *ngIf="this.toDateFilter !== null && toDateFilter !== undefined">
            <input matInput  [matDatepicker]="picker" class="tw-input-date" appPlaceholder [showPlaceholder]="true" [placeholderText]="'To Date'|translate"
               [min]="dateFilter" (dateChange)="headerEventTrigger('toDateFilter', $event.target.value, '')" formControlName="toDate" readonly />
            <mat-datepicker-toggle matSuffix [for]="picker" style="padding-right:2px;"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </span>
      </span>
      <span *ngIf="component === 'infant' && iotAlertCount?.length" class="infant-alert-cards" style="display: flex; gap: 6px; margin-left: 8px; align-items: center;">
        <span *ngFor="let card of iotAlertCount" class="alert-stat-card" style="display: flex; align-items: center; gap: 6px; padding: 2px 12px; border-radius: 20px; height: 24px; font-size: 12px; font-weight: 600; white-space: nowrap;"
          [ngStyle]="{'background': card.code === 'CE-TAM' ? '#fff4e5' : '#e8f5e9', 'color': card.code === 'CE-TAM' ? '#e65100' : '#2e7d32', 'border': card.code === 'CE-TAM' ? '2px solid #ffcc80' : '2px solid #a5d6a7'}">
          <img *ngIf="card.icon" [src]="card.icon" alt="{{card.name}}" style="height: 16px; width: 16px;">
          <span>{{card.name}}</span>
          <span style="font-weight: 700; margin-left: 2px;">{{card.count}}</span>
        </span>
      </span>
    </div>
  </div>
  <div *ngIf="info?.label?.length && info?.values?.length" class="info-chip">
    <span *ngFor="let label of info.label; let i = index" class="info-chip-val"
     [ngStyle]="{background: label === 'All Task' ? '#c8ebff' : label === 'Open' ? '#ffc8b9' : 
      label === 'Completed' ? '#b1e5b1' : label === 'Cancelled' ? '#ffbfc9' : label === 'My Job' ? '#fff6b9' : 
      label === 'My Department' ? '#c1ccff' : '#ffceff'}">
      <span style="font-weight: 600;">{{ label }}: &nbsp;</span>{{ info.values[i] == null ? 0 : info.values[i] }}</span>
  </div>
  <div class="ovi-font-family" style=" width: calc(100% - 15px);" *ngIf="selectedFilterDetail.length">
    <div style="display: flex ; align-items: center; justify-content: end;">
      <!-- <div> <mat-icon style="color: #85888d;">filter_list</mat-icon> </div> -->
      <div style="display: flex ; flex-wrap: wrap; padding: 5px 10px;" classs=" ovi-fnt-sze12" *ngFor="let filter of selectedFilterDetail" [matMenuTriggerFor]="multiClickFilterActive ? menu : '' ">
        <div class="slctd-fltr-dtl">
          <div class=" ovi-fnt-sze11" style="font-weight: 600;">{{filter['name']}}</div>
          <div class=" ovi-fnt-sze12" style="color: #bac1c3;">|</div>
          <div class=" ovi-fnt-sze11"> {{filter['value']}} </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="alertCount" class="alert-summary-container">
    <span class="alert-summary-wrapper">
      <span *ngFor="let alert of alertCount">

        <span *ngIf="!['RQ-CR', 'RQ-CA', 'RQ-IP', 'RQ-CO'].includes(alert.code)" class="alert-count-box" appTooltip tooltipText="{{alert.name}} : {{alert.count}}" [ngStyle]="{
          'background-color':  alert.code === 'CE-BI' ? '#e8f8f1' : alert.code === 'CE-PR' ? '#f4f6f7' : alert.code === 'CE-HK' ? '#fff9e6' : alert.code === 'CE-FD' ? '#f3e6ff' :
            alert.code === 'CE-AD' ? '#e6f2ff' : alert.code === 'CE-CL' || alert.code === 'CE-SO' ? '#fdecea' : '#f8f9fa', 'border-color': alert.code === 'CE-BI' ? '#2ecc71' :
            alert.code === 'CE-PR' ? '#85929e' : alert.code === 'CE-HK' ? '#f1c40f' : alert.code === 'CE-FD' ? '#8e44ad' : alert.code === 'CE-AD' ? '#3498db' :
            alert.code === 'CE-CL' || alert.code === 'CE-SO' ? '#e74c3c' : '#ced4da' }"> {{alert.name}}: {{alert.count}}
        </span>

        <span *ngIf="alert.code === 'RQ-CR'" class="alert-count-box alert-open-count-box"> Open: {{alert.count}} </span>
        <span *ngIf="alert.code === 'RQ-CO'" class="alert-count-box alert-completed-count-box"> Closed: {{alert.count}} </span>
        <span *ngIf="alert.code === 'RQ-CA'" class="alert-count-box alert-cancelled-count-box"> Cancelled: {{alert.count}} </span>

      </span>
    </span>
  </div>

  <div [formGroup]="worklistForm" class="row-field">
    <div class="tw-new-action-container">
          <button *ngIf="component === 'door-controller' && enableCloseButton" style="width: 120px;border: 1px solid var(--primary-bg-color);height: 30px;background: var(--primary-bg-color);color: var(--primary-bg-hghl-color);border-radius: 3px;" appDebounceClick (debounceClick)="closeGeofence()" [debounceTime]="300">Switch Off Bulb</button>
      <div *ngIf="excel" class = "excel-button" style= width:35px >
        <img src="/assets/Alert/common_icons/excel_icon.png"   alt="excel_icon"  appTooltip tooltipText="{{'Download as excel sheet'|translate}}" 
        (click)="headerEventTrigger('downloadExcel', '', '')" style="cursor: pointer;" (keydown.enter)="fixClick()">
      </div>
      <div *ngIf="manageAction != null" style="width: auto">
        <div style="display: flex;">
          <mat-label class="ip-label002"
            [ngClass]="{'ovi-grey-clr': selectedName == null && customerName == null,'ovi-prmry-bg-clr': !(selectedName == null && customerName == null) }">
            <img src="/assets/Alert/IP/notepad.png" alt="notepad" style="width:14px; height:14px">
          </mat-label>
          <mat-select  class="actionw" [ngClass]="component === 'manageRoutine' ? 'popup-ip-select02' : 'ip-select02'" formControlName="selectDropdown" appPlaceholder [showPlaceholder]="true" [placeholderText]="'Action'|translate"
            (selectionChange)="headerEventTrigger('manageAction', $event.value, selectedName)">
            <mat-option  *ngFor="let obj of manageAction"
              [disabled]="this.selectedName == null || obj.disabled == true" [value]="obj.id">
              {{obj.value | translate}}
              <!-- {obj.value, select, Enroll {{{"Enroll"|translate}}} Merge {"Merge"|translate} Create Request {{{'Create Request'| translate}}} modify { {{"Modify"|translate}} } 
              Modify Request {{{"Modify Request"|translate}}} Porter Request {{{"Porter Request"|translate}}} Capture {{{"Capture"|translate}}}
              Manage Routine {{{"Manage Routine"|translate}}} Create Task {{{"Create Task"|translate}}} Modify {{{"Modify"|translate}}} Enroll OT {{{"Enroll OT"|translate}}} 
              Manage Alarm {{{"Manage Alarm"|translate}}} Gatepass {{{"Gatepass"|translate}}} Create {{{"Create"|translate}}}
              Service {{{"Service"|translate}}} Manage {{{"Manage"|translate}}} Compose {{{"Compose"|translate}}} Enroll Mother {{{"Enroll Mother"|translate}}} 
              Enroll Infant {{{"Enroll Infant"|translate}}} Create Form {{{"Create Form"|translate}}} Create Ticket {{{"Create Ticket"|translate}}}
              Modify Ticket {{{"Modify Ticket"|translate}}} Upgrade Version {{{"Upgrade Version"|translate}}} Group {{{"Group"|translate}}} Kit Group {{{"Kit Group"|translate}}} 
              Sync {{{"Sync"|translate}}} Connectivity {{{"Connectivity"|translate}}} Threshold Settings {{{"Threshold Settings"|translate}}}
              Change Floor {{{"Change Floor"|translate}}} Approval Matrix {{{"Approval Matrix"|translate}}} Delete {{{"Delete"|translate}}} 
              Manage Global {{{"Manage Global"|translate}}} Manage Facility {{{"Manage Facility"|translate}}} Clear Cache {{{"Clear Cache"|translate}}}
              Send Ack {{{"Send Ack"|translate}}}
              Manage Authorized Movement {{{"Manage Authorized Movement"|translate}}} Post {{{"Post"|translate}}} Notices {{{"Notices"|translate}}} TeleKast {{{"TeleKast"|translate}}}
              Klips {{{"Klips"|translate}}} Create new request {{{"Create new request"|translate}}}
              Kyn User {{{"Kyn User"|translate}}} Reported User {{{"Reported User"|translate}}} Live Stream {{{"Live Stream"|translate}}} Create Hazmat {{{"Create Hazmat"|translate}}}
              Manage Location {{{"Manage Location"|translate}}} Add Break{{{"Add Break"|translate}}} Training Scheduler {{{"Training Scheduler"|translate}}}
              Generate QR Code{ {{"Generate QR Code"|translate}}} Generate Bar Code{{{"Generate Bar Code"|translate}}} Manage Audit{{{"Manage Audit"|translate}}} Audit {{{"Audit" | translate}}}
              Map{{{"Map"|translate}}} Create Group {{{"Create Group"|translate}}} Download Schedule Template{{{"Download Schedule Template"|translate}}} Download Patient Details{{{"Download Patient Details"|translate}}}
              Manage Transfer{{{"Manage Transfer" | translate}}} Modify Asset{{{"Modify Asset" | translate}}}  Cancel Request {{{"Cancel Request" | translate}}} Print Sticker {{{"Print Sticker" | translate}}} Open {{{"Open"}}} Close{{{"Close"}}} Manage Maintenance {{{"Manage Maintenance" | translate}}} -->
              <!-- Create Routine {{{"Create Routine" | translate}}} Magic Form {{{"Magic Form" | translate}}}} -->
            </mat-option>
          </mat-select>
          <mat-label *ngIf="component === 'porter' || component === 'task' || component === 'hazmat-training-list' || component === 'ambulance' ||
           component === 'broker' || this.component === 'server'" class="ip-label02 ovi-font-family" (click)="headerEventTrigger('manageAction', this.worklistForm.controls.selectDropdown.value, selectedName)" (keydown.enter)="fixClick()">
            <img src="/assets/Alert/IP/go-action.png" alt="action" style="width:16px;height:16px;cursor: pointer;">
          </mat-label>
        </div>
      </div>
      <div *ngIf="component !== 'reader'  && component !== 'asset-maintenance' && component !== 'token' && selectedView !== null" class="tw-btn">
        <div style="display: flex ;height:30px">
          <button  mat-button style="line-height: 30%;padding: 0px;" class="mat-display-4 toggle-btn1"
            [disabled]="!this.multiView"
            [ngClass]="selectedView == 'table' && customerName !== 'kyn' ? 'select-view' : customerName === 'kyn' && selectedView == 'table' ? 'kyn-select-view' : 'unselect-table-view'"
            *ngIf="clickedView === 'table'"
            (click)="selectedViewEvent('card');headerEventTrigger('manageView', '', '')"><em class="material-icons  ovi-fnt-sze18"
              appTooltip tooltipText="{{'List View'|translate}}" placement="bottom"
              style="padding: 0px;">menu</em></button>
          <button  mat-button style="line-height: 30%;padding: 0px;" class="toggle-btn2"
            [disabled]="!this.multiView" *ngIf="clickedView === 'card'"
            [ngClass]="selectedView == 'card' ? 'select-view' : 'unselect-card-view'"
            (click)="selectedViewEvent(component === 'ot' || component === 'nursecall-view' || component === 'daily-management' ? 'table' : 'new card');headerEventTrigger('manageView', '', '')"><em
              class="material-icons  ovi-fnt-sze18" appTooltip tooltipText="{{'Card View'|translate}}" placement="bottom"
              style="padding: 0px;">crop_landscape</em></button>
          <span *ngIf="component !== 'nursecall-view' && component !== 'daily-management'" style="display: flex ;height:30px">
          <button  mat-button style="line-height: 30%;padding: 0px;" class="toggle-btn2"
            [disabled]="!this.multiView" *ngIf="clickedView === 'new card'"
            [ngClass]="selectedView == 'new card' ? 'select-view' : 'unselect-card-view'"
            (click)="selectedViewEvent('table');headerEventTrigger('manageView', '', '')"><em class="material-icons  ovi-fnt-sze18"
              appTooltip tooltipText="{{'New Card View'|translate}}" placement="bottom"
              style="padding: 0px;">view_stream</em></button>
          </span>
        </div>
      </div>
       <div *ngIf="component === 'asset-maintenance' && selectedView !== null" class="tw-btn">
        <div style="display: flex ;height:30px">
          <button  mat-button style="line-height: 30%;padding: 0px;"class="mat-display-4 toggle-btn1"
            [disabled]="!this.multiView"
            [ngClass]="selectedView == 'calendarView' && customerName !== 'kyn' ? 'select-view' : customerName === 'kyn' && selectedView == 'table' ? 'kyn-select-view' : 'unselect-table-view'" *ngIf="clickedView === 'calendarView'"
            (click)="selectedViewEvent('table');headerEventTrigger('manageView', '', 'table')"><em class="material-icons  ovi-fnt-sze18" appTooltip tooltipText="{{'Table View'|translate}}" placement="bottom"
              style="padding: 0px;">menu</em></button>
          <button  mat-button style="line-height: 30%;padding: 0px;" class="toggle-btn2" [disabled]="!this.multiView" *ngIf="clickedView === 'table'"
            [ngClass]="selectedView == 'table' ? 'select-view' : 'unselect-card-view'"
            (click)="selectedViewEvent('calendarView');headerEventTrigger('manageView', '', 'calendarView')"><em class="material-icons  ovi-fnt-sze18" appTooltip tooltipText="{{'Calendar View'|translate}}" placement="bottom"
              style="padding: 0px;">calendar_today</em></button>
        </div>
      </div>
      <div class="tw-refresh-icon" *ngIf="component !== 'musteringHistory'"  style="float:right" [ngStyle]="{'display': component === 'calendar' || component === 'apptermsLink'  ? 'none' : ''}">
        <span><i class="material-icons" appTooltip tooltipText="{{'Refresh'|translate}}" placement="bottom"
            (click)="headerEventTrigger('refreshPage', '', '');filterValue=null;" (keydown.enter)="fixClick()"
            style="cursor: pointer; float: right;">autorenew</i>
        </span>
      </div>
      <div *ngIf="groupFilter.length" class="tw-filter-action" appTooltip tooltipText="{{'Group Filter'|translate}}" [matMenuTriggerFor]="menu">
        <span class="material-icons  ovi-fnt-sze17" style=" padding-top: 2px; color: #fff;">filter_alt</span>
        <span *ngIf="shouldShowSpan" class="group-filter-indicator">
          <span class="sub-indicator"></span>
        </span>
      </div>
      <mat-menu #menu="matMenu" class="filter-menu ovi-font-family" (closed)="onMenuClosed()">
        <div *ngIf="filterHit" class="group-filter-container">
          <span class="ovi-fnt-sze14" style="padding: 0px 15px 10px; font-weight: 600; display: flex; align-items: center; gap: 3px;">{{"Filter"|translate}}</span>
          <div class="filter-list" (click)="$event.stopPropagation()" (keydown.enter)="fixClick()">
            <div *ngFor="let filter of groupFilter" class="filter-group">
            <div *ngIf="filter?.subFilters?.length > 0" >
              <div class="header-container">
                <div class="filter-header">{{ filter.value | translate }}</div>
                <span  *ngIf="filter.subFilters.length > 15" class="filter-inline-search">
                  <input matInput  style="padding: 5px 10px;" [formControl]="groupFilterValue" (keyup)="searchSubFilters(filter.id, $event.target.value)"
                    appPlaceholder [showPlaceholder]="true" [placeholderText]="'Search'|translate" autocomplete="off">
                  <span class="search-box">
                    <mat-icon class="search-icon">search</mat-icon>
                  </span>
                </span>
              </div>
              <div class="subfilters-inline"  [ngStyle]="{'pointer-events': selectedValue && component === 'calendar' ?  'none' : '',
              'opacity': selectedValue && component === 'calendar' ?  '0.5' : ''}">
                <span *ngIf="filter.isAll" class="subfilter all-filter" 
                      (click)="selectAllFilters(filter.id)"  (keydown.enter)="fixClick()"
                      [ngClass]="{'selected-subfilter': isAllSelected(filter.id)}">
                  <span class="filter-check" style="border-radius: 15%" [ngClass]="{'selected-filter-check': isAllSelected(filter.id)}">{{isAllSelected(filter?.id, 'All') ? '✔' : ''}}</span>
                  {{"All"|translate}}
                </span>
                <span *ngIf="filter.isNoneAll" [ngClass]="{'selected-subfilter': isSelected(filter.id, 'All'), 
                                'disabled-subfilter': isOption && filter.id === 'my department'|| isOption && filter.id === 'ownership' || filter.disable}"
                  (click)="!isOption || filter.id !== 'my department' ? selectedFilter(filter.id, 'All', filter?.isLoadSubFilters) : null "
                  class="subfilter" (keydown.enter)="fixClick()"><span class="filter-check" [ngClass]="{'selected-filter-check': isSelected(filter.id, 'All')}">{{isSelected(filter?.id, 'All') ? '✔' : ''}}</span>{{"All"|translate}} 
                </span>
                <span *ngFor="let sub of filterSubFilters(filter.id)"
                      [ngClass]="{'selected-subfilter': isSelected(filter.id, sub.code), 
                                  'disabled-subfilter': isOption && filter.id === 'my department' || isOption && filter.id === 'ownership' || isOption && filter.id === 'itemDepartment' || filter.disable}"
                      (click)="!isOption || filter.id !== 'my department' ? selectedFilter(filter.id, sub.code, filter?.isLoadSubFilters) : noEntriesFoundLabel"
                      class="subfilter" (keydown.enter)="fixClick()">
                  <span class="filter-check" [ngStyle]="{'border-radius' : filter.selectionType != 'multi' ? '50%' : '15%'}" [ngClass]="{'selected-filter-check': isSelected(filter.id, sub.code)}">{{isSelected(filter?.id, sub?.code) ? '✔' : ''}}</span>
                {{ sub.value| translate }}
                </span>
              </div>
              </div>
            </div>
          </div>
          <div class="filter-footer">
            <button mat-button class="active-btn" (click)="headerEventTrigger('groupFilter', this.selectedValue, '')">{{"Apply"|translate}}</button>
          </div>
        </div>
      </mat-menu>      
    </div>
  </div>
</div>
