.intro-desc{
    line-height: 1.5;
    padding:1px;
    text-align:justify;
}

#myFrame{
    height:100%;
    padding-left: 20px;
    padding-right: 20px;
    text-align-last:left;
    }

.first_para{
    float: right; 
    margin-top: 2px
    ;margin-bottom: 4px
}
.input-component-holder {
    height: 100%;
    width: 100%;
    overflow: hidden;
 }
.fnt-styl{
    font-size: 16px;
    overflow: hidden;
}
.input-container-terms{
    height: 92%;
    width: 100%;
    overflow: auto;
}
.fnt-colr{
    color:#0f1a83;
}

/*------------------ Introduced to achieve a better view in IE 11 ------------------*/
   @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
  // close button icon for IE 7-11
  .ie-close-icon{
    padding-bottom: 60%;
  }
   }
/*------------------ Introduced to achieve a better view in IE 11 ------------------*/
