$bp : (
  desktop:1440px,
  lap_m:1101px,
  lap:1024px,
  tab : 768px,
  mob: 565px,
  mob_m:425px,
  mob_s: 320px,
  tab_m:801px,
);
@mixin query($display){  
  @each $key, $value in $bp{
    @if ($display == $key){
      @media (max-width: $value){@content;}
    }
  }
}

.tag-tbl-wd
{
 width:100%;
}

$mh:(                           //LANDSCAPE 
  h0:280px,
  h1:321px,
  h2:356px,
  h3:376px,
  h4:426px,
  h5:476px,
  h6:536px,
  h7:590px,
);
@mixin disp_height($display){
  @each $key,$value in $mh{
    @if ($display==$key){
      @media(max-height:$value){@content;}  
    }
  }
}




