<div class="manage-body">
  <div class="loading-spinner" *ngIf="isLoading">
    <div class="spinnerload">
        <div class="spin1"></div>
        <div class="spin2"></div>
        <div class="spin3"></div>
    </div>
  </div>   
  <tw-header-new-component [component]="'device'" [type]="'new'" [permission]="permission" [dateFilter]="null" [rowFilter]="null" [manageAction]="showActions" [selectDropdown]="selectDropdown" [selectedName]="selectedName !== null ? selectedName : true"
  [locationId]="null" [selectedView]="selectedView" [multiView]="false" (selectedViewAction)="null" (headerEventAction)="headerEventAction($event)" [groupFilter]="parentFilter"></tw-header-new-component>
   <div class="tw-content1 table-align">
    <tw-table-component [component]="'device'" [columns]="displayedColumns" [tableData]="tableData" [iconHeader]="iconHeader" [iconColumn]="iconColumn" [sortColumn]="sortColumn"
    [eventColumn]="eventColumn" (eventAction)="eventAction($event)" [rowClick]="false" [rowId]="'serialNumber'" (rowClickAction)="rowClick($event)" [rowDbClick]="false"
    (rowDbClickAction)="null" [applyFilter]="applyFilterValue" [permissionControl]="permissionControl" [pagination]="[{length: length, pageSize: pageSize, pageStart: pageStart}]" [tableClass]="'table-with-header'"></tw-table-component>
  </div>
</div>
