<div fxFlex class="input-component-holder">
    <mat-toolbar class="input-header">
        <div class="header-name">{{"Activate Room"|translate}}</div>
        <div class="header-close" style="width: 45px;"><button mat-icon-button mat-dialog-close close-button class="ie-close-icon">
                <mat-icon class="icon-style">highlight_off</mat-icon>
            </button></div>
    </mat-toolbar>
    <div class="popup-margin" [formGroup]="registerPatientForm" style="height: calc(100% - 75px);">
        <div class="form-body-xs" style="height: 160px;">
            <div class="form-row">
                <div class="ovi-popup-title-text-size">{{"Gender"|translate}}</div>
            </div>
            <mat-divider class="divider"></mat-divider>

            <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="30px" class="form-row">
                <div fxFlex.xs="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" class="row-field">
                    <div class="example-form">
                        <div class="radio-button">
                            <mat-radio-group formControlName="gender">
                                <mat-radio-button class="cst-mgn_1" *ngFor="let o of genderList; let i = index" [checked]="registerPatientForm.controls.gender.value === o.code" [value]="o.code">{{o.value}}</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                </div>
                <!-- <div fxFlex.xs="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" class="row-field">
                    <div class="example-form">
                    </div>
                </div> -->
            </div>
            <div class="form-row">
                <div class="ovi-popup-title-text-size"style="margin-top: 4px;">{{"Language"|translate}}</div>
            </div>
            <mat-divider class="divider"></mat-divider>

            <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="30px" class="form-row" style="justify-content: space-around;">
                <div fxFlex.xs="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" class="row-field">
                    <div class="example-form custom-name">
                        <mat-form-field class="example-full-width form-field" appearance="outline">
                            <mat-select formControlName="language" appPlaceholder [showPlaceholder]="false" [placeholderText]="'Language'|translate">
                                <mat-option *ngFor="let lan of languageList" [value]="lan.code"> {{lan.value}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
       
    </div>
     <div class="input-footer">
            <button mat-button class="cancle-btn" mat-dialog-close>{{"Cancel"|translate}}</button>
            <button mat-button class="active-btn" [disabled]="registerPatientForm.invalid || isDisabled || checkUHID"
              appDebounceClick (debounceClick)="saveRegisterPatient()" [debounceTime]="300" cdkFocusInitial>{{"Save"|translate}}</button>
        </div>
        </div>
</div>
