
.top-styl{
  margin-top: 4%;
}


   /* Border */
   .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #707070;
    }
    .mat-form-field-appearance-outline .mat-form-field-flex {
      padding: 0.50em 0 0.2em 0.75em;
      margin-top: -0.25em;
      position: relative;
    }
    .mat-form-field-appearance-fill .mat-form-field-flex {
      border-radius: 4px 4px 0 0;
      padding: 0.25em .25em .25em .45em;
  }

    .mat-form-field-appearance-outline .mat-form-field-infix {
      padding: 0.2em 0 0.6em 0;
    }

    //while hover
   .mat-form-field.mat-form-field {
      color:#707070;
    }



.mat-form-field-wrapper {
  padding-bottom: 2.2em;
}

.dialog-box-container {
  max-width: 50%;
  height: 40px;
  margin-bottom: 1rem;
  padding: 8px;
}
.mat-dialog-container {
  overflow: hidden !important;
}
.radio-button {
  line-height: 2;
}

.cst-mgn_1{
  margin:0px 5px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .custom-dialog-container2 .mat-dialog-container .input-header .header-close {
    height: 100%;
    width: 5%;
    float: right;
    padding-bottom: 15px;
}

}
