@use '@angular/material' as mat;
@import '../../theme/configcolour.scss';

$bp : (
  4k:2560px,
  desktop:1440px,
  lap:1024px,
   tab : 768px,
   mob: 565px,
   mob_m:425px,
   mob_s: 320px
  
);
@mixin query($display){
  @each $key, $value in $bp{
    @if ($display == $key){
      @media (max-width: $value){@content;}
    }
  }
}

$mh:(                           //LANDSCAPE 
  h4:426px,
  h5:476px,
  h6:495px,
);
@mixin disp_height($display){
  @each $key,$value in $mh{
    @if ($display==$key){
      @media(max-height:$value){@content;}  
    }
  }
}


.kyn-nav-select{
  background-color: #790101 !important;
}

.nav-select {
    background-color: var(--primary-bg-color);
}
.nav-select:visited {
    outline: 0;
}

.sidebar-version-toggle {
    position: fixed;
    bottom: 62px;
    left: 4px;
    z-index: 100;
    button.mat-icon-button {
        width: 30px;
        height: 30px;
        line-height: 30px;
        mat-icon {
            font-size: 16px;
            line-height: 16px;
            color: var(--primary-bg-hghl-color);
        }
    }
}

@mixin auth($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);

    
    .sidenav{
        
        background:#636A6D;   
        overflow: hidden;
        position: relative;
        width: 250px;
    }
    .drawer{
        background: mat.get-color-from-palette($primary,400);    
        overflow: hidden;
        position: relative;
        width: 80px;
    }
    [no-over-flow] {
        overflow: hidden;
    }
    .router-outlet{
        position: relative;padding: 0px 5px;
    }
    .spacer {
        width: 100%;
    }

    .logo{
      font-size: 26px;
      color:black;
      margin-top: 8px;
    }
}



.mat-drawer-backdrop.mat-drawer-shown {
    background-color:transparent !important;
  }

.menuopen{
    float: right; 
    width: calc(100% - (50px));
    height: 100%;
}
.menuclose {
    width: 100%;
    height: 100%;
}  

@include query(mob){
    .side-menu-tab {
      display: flex;
    }
    .menuclose {
        width: 100%;
        height: 100%;
    }   
    .menuopen{
        width: 100%;
        height: 100%;
    }
   }

   @include disp_height(h6){              //LAND-SCAPE MENU
    .side-menu-tab {
      display: flex;
    }
    .menuclose {
        width: 100%;
        height: 100%;
    }   
    .menuopen{
        width: 100%;
        height: 100%;
    }
   }
.cc-color-override-688238583.cc-window {
  color: var(--primary-bg-hghl-color);
  background-color:var(--primary-bg-color);
    opacity: 100%;
  }
  .cc-window.cc-floating {
    padding: 0px 6px 0px 0px;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 0px 50px 50px 0px;
  }
  .cc-bottom {
    bottom: 1em;
  }
  .cc-revoke, .cc-window {
    position: fixed;
    overflow: hidden;
    box-sizing: border-box;
    font-family: Helvetica,Calibri,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    z-index: 9999;
  }
  .cc-window {
    opacity: 1;
    transition: opacity 1s ease;
  }

 .oflw-styl{
  overflow: hidden;margin-top: 50px;
 }
  .fnt-styl{
  font-size: 12px;
 }
  .sid-nav-styl{
    z-index: unset; overflow: hidden;
  }
  .tb-styl{
    float:left;
    width:50px;
    height: 100%;
    background: var(--primary-bg-color);
    display: block;
    @include query(mob){
      display: none;
    }
    @include disp_height(h6){              //LAND-SCAPE MENU
      display: none;
    }
  }
  .men-lst-styl{
    color: var(--primary-bg-hghl-color); text-align: center; 
    height: 55px;
    cursor: pointer;
    @media (max-height:670px) {
      height: 45px;
    }
  }
  .men-lst-styl:hover {
    background-color: var(--primary-bg-color);
  }
   .men-lst-styl_2{
    width: 40px; height: 35px; font-size: 30px; cursor: pointer; border-radius: 50px; background-color: #3b5a71;
  }
  .men-lst-styl_3{
    color: var(--primary-bg-hghl-color); text-align: center; height: 26px; cursor: pointer; padding-top: 0px !important;
  }
  .svg-styl{
    padding-top: 15px; width: 18px;
  }
  .svg-styl-haz {
    padding-top: 15px; width: 25px;
  }
  .pd-styl{
    padding: 0px !important;
  }
  .sid-nav-styl_{
    margin-top: 105px; width: 100%; background-color: rgba(195, 195, 195, 0.47);
  }
.mt-dw-styl{
  z-index: 500;
}
.mt-lst-styl{
  position: fixed; bottom: 1em; text-align: center; width: 60px; color: var(--primary-bg-hghl-color);
}
.mt-lst-styl_1{
  width: 40px !important; height: 35px !important; font-size: 30px !important; cursor: pointer;border-radius: 0px 50px 50px 0px;color: var(--primary-bg-hghl-color);background-color:var(--primary-bg-color) ;
}
::ng-deep.material-icons {
  padding-top: 0px !important;
  font-size: 30px;
}

.sidenav-toggle {
  
  background: rgb(231, 231, 231);
  display: none;
  @include query(mob){
    width: 45px;height:45px; float: left;margin-top: -61px;
    display: block;
  }
  @include disp_height(h6){            //LAND-SCAPE MENU
    width: 45px;height:45px; float: left;margin-top: -52px;
    display: block;
  }
}
.toggle-button{
  @include disp_height(mob){            //LAND-SCAPE MENU
    width: 45px !important;height:45px !important;
  }
  @include disp_height(h6){            //LAND-SCAPE MENU
    width: 45px !important;height:45px !important;
  }
}
.mat-drawer {
  background-color: var(--primary-bg-color);
  @include query(4k){
    top: 0% !important; // mat-drawer top commented for widget popup by rahul
  }
  @include query(mob){
    top: 0% !important;
  }
}

.wrapper-1 {
  width: 50px;
  height: 28px;
  position: relative;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 101;
  align-items: center;
  float: right;
  @include query(mob){
    display: block;
  }
  @include disp_height(h5){             //LAND-SCAPE MENU
    display: block;
  }
  
  .fab {
    background: #dedede;
    width: 35px;
    height: 35px;
    position: relative;
    z-index: 3;
    border-radius: 100%;
   
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .fac {
    //floating actions container
    width: 32px;
    height: 150px;
    border-radius: 64px;
    position: absolute;
    background: var(--primary-bg-hghl-color);
    padding: 0.5rem 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    opacity: 0;
    top: -110px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: opacity 0.2s ease-in, top 0.2s ease-in, width 0.1s ease-in;
  }
  
  input {
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius);
    cursor: pointer;
    position: absolute;
    z-index: 5;
    opacity: 0;
    
    &:checked {
      
      ~ .fac {
        width: 32px;
        height: 130px;
        animation: fac-animation 0.4s ease-out forwards 0.1s;
        top: 55px;
        opacity: 1;
      }
    }
  }
}

.global-1 {
  display: none;
  @include query(mob){
    display: block;
  }
  @include disp_height(h6){           //LAND-SCAPE MENU
    display: block;
  }
}

.notification-1{
  display: none;
  float: right;
  margin-top: -8px;
  margin-right: 2px;
  @include query(mob){
    display: block;
  }
  @include disp_height(h5){           //LAND-SCAPE MENU
    display: block;
  }
}

.fab-menu-icons {
  padding-top: 5px !important;
  font-size: 20px !important;
} 
.help-txt-1 {
  color: #000000;
  font-size: 12px;
  font-weight: 600;
  text-decoration:none;
} 
.view-mobile{
  display: none !important;
  @include query(mob){
    display: block !important;
  }
  @include disp_height(h6){           //LAND-SCAPE MENU
    display: block !important;
  }
}
.fab-display {
  display: contents;
}

.task-badge {
  position: absolute;
  background-color: #ba1a1a;
  color: var(--primary-bg-hghl-color);
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  right: -5px;
  transform: scale(0.6);
  text-overflow: ellipsis;
}

.task-badge div {
  margin-top: 7px;
}
.cookie-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  backdrop-filter: blur(1px); /* Blur effect for modern browsers */
  z-index: 999; /* Just below the cookie banner */

  .cookie-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-bg-hghl-color);
    color: gray;
    padding: 15px 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .cookie-message {
    flex: 1;
    margin-right: 20px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;
  }
  
  .cookie-buttons {
    display: flex;
    gap: 10px;
  }
  
  .allow-button {
    background-color: var(--primary-bg-color);
    color: var(--primary-bg-hghl-color);
    border: none;
    border-radius: 4px;
    padding: 12px 25px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s;
  }
  
  .allow-button:hover {
    background-color: var(--primary-bg-color);
  }
  
  .manage-button {
    background-color: var(--primary-bg-hghl-color);
    color: var(--primary-bg-color);
    border: 2px solid var(--primary-bg-color);
    border-radius: 4px;
    padding: 10px 25px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s;
  }
  
  .manage-button:hover {
    background-color: #f5f5f5;
  }
  
  @media (max-width: 768px) {
    .cookie-banner {
      flex-direction: column;
      padding: 15px;
    }
    
    .cookie-message {
      margin-right: 0;
      margin-bottom: 15px;
      text-align: center;
    }
    
    .cookie-buttons {
      width: 100%;
      justify-content: center;
    }
  }
}

  .sidbr-arr-icn {
    display: flex;
    justify-content: center;
    padding-top: 0px;
    color: #c7eeff;
    cursor: pointer;
  }

  .sid-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .sid-nav-txt-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 14px;
    padding-right: 10px;
  }

  .sid-nav-txt-name {
    font-size: 12px;
    color: #363B46;
    opacity: 1;
  }

  .sid-nav-rgt-icn {
    height: 11px;
    width: 6px;
  }

  .sid-btm-cont {
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
  }

  .sid-btm-usrnme-txt {
    font-size: 13px;
    font-weight: 600;
  }

  .sid-btm-usr-txt {
    font-size: 10px;
    color: #bababa;
  }

  .sid-nav-hgt {
    float: left;
    width: 50px;
    height: calc(100% - 46px);
    background: var(--primary-bg-color);
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .sid-nav-hgt-ext-sdb {
    width: 185px;
    float: left;
    height: calc(100% - 56px);
    background: var(--primary-bg-hghl-color);
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

  }

  .sid-nav-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 42px;
    position: relative;
    justify-content: center;
  }

  .sid-nav-top-ext-sdb-txt {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    height: 42px;
    cursor: pointer;
    width: 100%;
  }

  .sid-nav-top-ext-sdb-txt:hover {
    background-color: var(--primary-bg-color);
    .sid-nav-txt-name {
      color: var(--primary-bg-hghl-color);
    }
    .sid-nav-rgt-icn {
      filter: brightness(0) invert(1);
    }
  }

  .sid-nav-btm {
    display: flex;
    justify-content: center;
    padding: 5px 0px 4px 0;
    border-top: 2px solid var(--primary-bg-hghl-color);
    cursor: pointer;
  }

  .sid-nav-btm-ext-img {
    display: flex;
    padding: 5px 0px;
    border-top: 1px solid #C8C7C7;
    align-items: center;
    width: 100%;
    gap: 20px;
    justify-content: center;
    cursor: pointer;
  }

  .sid-nav-icn-bg-mlt {
    background-color: var(--primary-bg-color);
    padding: 8px;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    z-index: 1000;
    position: relative;
    align-items: center;
    border: 1px solid var(--primary-bg-hghl-color);
    cursor: pointer;

    .sid-nav-rgt-icn {
      filter: brightness(0) invert(1);
    }
  }

  .sid-nav-icn-bg-mlt-clk {
    background-color: var(--primary-bg-color);
    width: 27px;
    padding:7px 5px 7px 10px !important;
    border-radius: 6px 0px 0px 6px !important;
    display: flex;
    z-index: 1000;
    position: relative;
    align-items: center;
    height: 25px !important;
    border: 1px solid var(--primary-bg-hghl-color);
    border-right: 0px;
    cursor: pointer;

    .sid-nav-rgt-icn {
      filter: brightness(0) invert(1);
    }
  }

  .sid-nav-icn-bg {
    background-color: var(--primary-menu-bg-color);
    padding: 8px;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    z-index: 1000;
  }

  .sid-nav-icn-bg-wth{
    background-color: var(--primary-menu-bg-color);
    padding: 8px;
    border-radius: 6px 6px 6px 6px;
    display: flex;
    z-index: 1000;
  }
  
  .sid-nav-icn-bg-wht{
    background-color: #fafafa;
    .ovi-img-size-colr {
      filter: invert(0);
    }
  }

  .menu-hover-box {
    position: relative;
    width: 120px;
    z-index: 1000;
    padding: 8px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    left: 6px;
    font-size: 12px;
    color: var(--primary-bg-hghl-color);
    white-space: nowrap;
  }

  .menu-text {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
  }


  .ovi-img-size-colr {
    width: 20px;
    height: 20px;
    object-fit: contain;
    filter: brightness(0) invert(1);
  }

  .sid-nav-icn-bg-btm {
    background-color: var(--primary-bg-hghl-color);
    padding: 8px;
    border-radius: 6px 6px 6px 6px;
    display: flex;
  }

  .menuopenwid {
    width: calc(100% - 235px);
  }


.sid-nav-icn-bg.hover-icon,.selected-icon {
  background-color: var(--primary-bg-hghl-color) !important;
  .ovi-img-size-colr {
    filter: invert(0);
  }
}
.sid-nav-icn-bg-ext-hghl{
  background-color: var(--primary-bg-color);
    .sid-nav-icn-bg-mlt {
      background-color: var(--primary-bg-hghl-color);
    }
    .sid-nav-icn-bg{
      background-color: var(--primary-bg-hghl-color);
    }

    .sid-nav-txt-name {
      color: var(--primary-bg-hghl-color);
    }

    .ovi-img-size-colr {
      filter: invert(0);
    }

    .sid-nav-rgt-icn {
      filter: brightness(0) invert(1);
    }
  }

.ovi-cmp-lbl-txt {
  font-size: 11px;
  color: #636A6D;
  position: relative;
  left: 14px;
}