.star-rating {
  display: flex;
  gap: 5px;
}

.star {
  font-size: 28px;
  color: lightgray;
  cursor: pointer;
  margin-left:0px !important
}

.star.filled {
  color: gold !important;
  margin-left:0px !important
}
