@import '../../../../theme/configcolour.scss';

.entity-group-save-btn {
    border-radius: 3px;
    border: 5px;
    height: 35px;
    margin-top: 12px;
    width: 80px;
    color: var(--primary-bg-hghl-color);
    cursor: pointer;
    touch-action: none;
    user-select: none;
    background-color: var(--primary-bg-color);
}
.box {
        min-height: 150px;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        padding-left: 50px;
      }
.content {
            background: var(--primary-bg-hghl-color);
          }
        
.container {
            width: 100%;
            background: var(--primary-bg-hghl-color);
            padding: 0.5% 1% 0% 1%;
        }
