.grid-list-container-overall {
    width: 100%;
    height: 100%;
    padding: 0 !important;
}

.grid-title-container-overall {
    padding: 0 5px !important;
    height: calc(100vh - 125px) !important;
    box-shadow: 4px 6px 9px #00000026;
    border: 1px solid #DEDEDE;

    .mat-grid-tile-content {
        align-items: unset;
        justify-content: unset;
        flex-direction: column;
    }
}

.over-view-header-container {
    font-size: 13px;
    font-weight: 600;
    display: flex;
    padding-bottom: 10px;
    color: #585858;
    justify-content: space-between;
    align-items: center;
}

.header-bottom-line {
    border-top-color: #B8B8B8;
    border-top-width: 1.5px !important;
}

.list-block {
    padding: 5px 10px !important;
}

.item-container {
    .list-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 5px 0;
        color: #585858;
        border-bottom: solid 1px #d6d6d6;
        .left-location {
            display: flex;
            flex-direction: column;
            gap: 4px;
            max-width: 60%;
        }
        .right-count {
            display: flex;
            gap: 3px;
            align-items: center;
        }
    }
     .mat-list-item {
    font-size: 12px !important;
    }
    .mat-list-item-content{
        padding: 0 !important;
    }
    .count-box{
        height: 16px;
        width: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        font-weight: 600;
        border-radius: 4px;
        color: #FFFFFF;
        padding: 2px;
        cursor: pointer;
    }

    .text-dot-dot {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}