@import '../../../../../../theme/configcolour.scss';

.no-shift {
    padding: 50px 0 45px;
    text-align: center;
    font-size: 16px;
    color: var(--quaternary-color);
    font-style: italic;
    font-weight: 600;
}
.mat-tbl-styl_1{
    background: #EEEFF1 0% 0% no-repeat padding-box !important;
    min-height: 48px !important;
    color:  #1a1a1a;
    font-size: 12px !important;
    font-weight: 600;
  }
  .tbl-width{
    width:5%;
  }
  .tbl-width_1{
    width:45%;
  }
  .identifier-tbl{
    .mat-tbl-styl{
      width:96% !important;
    }
  }
  .editIcon{
    color: var(--primary-bg-color);
  }
