@import '../../../../../theme/configcolour.scss';

.wid-swap{
    width: 100%;
    margin-top: 35px;
    height: 85%;
  }
  .layout-search-input {
      height: 30px;
      margin-left: 10px;
      vertical-align: top;
      margin-top: 1px;
      width: 100%;
    }
    .layout-search-icon{    
      height: 30px;
      margin-left: 20px;
      vertical-align: top;
      margin-top: 1px;
      border: 1px solid #e4edf8;
      width: 93%;
    }
  .form-body-large-das {
    height: 93%;
    overflow: auto;
  }

  .save-disabled {
  background: #c0c3c5;
}

.tw-lay-field-wdh {
  width: 24%;
}

.tw-sel-widg-name {
  width: 88%;
  float: right;
  margin-top: 2px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}

.tw-sel-widg-name:hover {
  color: var(--primary-bg-color);
}