<div class="manage-body">
  <tw-header-new-component [component]="'visitors'" [permission]="null" [dateFilter]="this.selectedDate" [rowFilter]="null" [manageAction]="showActions" [selectDropdown]="selectDropdown" [selectedName]="selectedName !== null ? selectedName : true"
  [locationId]="null" [selectedView]="null" [multiView]="false" (selectedViewAction)="null" (headerEventAction)="headerEventAction($event)"></tw-header-new-component>
  <div>
    <tw-table-component [component]="'visitors'" [columns]="displayedColumns" [tableData]="tableData" [iconHeader]="iconHeader" [iconColumn]="iconColumn" [sortColumn]="sortColumn" 
      [eventColumn]="eventColumn" (eventAction)="eventAction($event)" [applyFilter]="applyFilterValue" [permissionControl]="permissionControl" [pagination]="null"></tw-table-component>
  </div>
</div>