<div style="height: 100%;">
    <mat-toolbar class="input-header">
        <div class="header-name">{{"Pharmacy Task"|translate}}</div>
        <div class="header-close">
            <button mat-icon-button mat-dialog-close close-button class="ie-close-icon">
                <mat-icon class="icon-style">highlight_off</mat-icon>
            </button>
        </div>
    </mat-toolbar>
    <div>
        <tw-table-component [component]="'porter-req-detail'" [columns]="DisplayedColumns" [tableData]="tableData" [iconHeader]="[]" [iconColumn]="['Ack','Order Time','Delivered Time','Ack Time']" [sortColumn]="[]"
                  [eventColumn]="[]" [rowClick]="false" [rowId]="'id'" (eventAction)="eventAction($event)" 
                  [applyFilter]="applyFilterValue" [permissionControl]="permissionControl" [pagination]="null"></tw-table-component>
    </div>
</div>
