$bp : (
  desktop_l:1440px,
  desktop:1293px,
  lap:1024px,
  lap_m:933px,
   tab : 768px,
   tab_m1: 670px,
   tab_m2: 607px,
   mob: 565px,
   mob_m1: 490px,
   mob_m:375px,
   mob_s2:350px,
   mob_s1:332px,
   mob_s: 320px
  
);
@mixin query($display){
  @each $key, $value in $bp{
    @if ($display == $key){
      @media (max-width: $value){@content;}
    }
  }
}
.load3{
    background-color: orange;
  }
  .loader .load1{
    background-color: blue;
    margin-right: 5px;
    animation-delay: -0.32s;
  }
  .loader .load2{
    background-color: red;
    margin-right: 5px;
    animation-delay: -0.16s;
  }
  .l
  .loader .load4{
    margin-right: 5px;
    animation-delay: -0.16s;
  }
  .loader > div {
    width: 18px;
    height: 18px;
    border-radius: 100%;
    display: inline-block;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  .blur-loading {
    padding-top: 18%;
    text-align: center;
    margin: -65px -75px;
    backdrop-filter: blur(1px);
    width: 100%;
    height: 100%;
    z-index: 2000;
    position: absolute;
    @include query(desktop_l){
      padding-top: 27%;
    }
    @include query(lap){
      padding-top: 40%;
    }
    @include query(tab){
      padding-top: 60%;
    }
    @include query(mob){
      padding-top: 90%;
      margin: -65px -27px;
    }
  }
  