<div class="manage-body">
    <tw-header-new-component [component]="'server'" [permission]="null" [dateFilter]="null" [rowFilter]="null" [manageAction]="showActions" [selectDropdown]="null" [selectedName]="selectedName !== null ? selectedName : true"
    [locationId]="null" [selectedView]="null" [multiView]="false" (selectedViewAction)="null" (headerEventAction)="headerEventAction($event)"></tw-header-new-component>
    <div *ngIf="tableVersion === 1">
        <tw-table-component [component]="'server'" [columns]="displayedColumns" [tableData]="tableData" [iconHeader]="iconHeader" [iconColumn]="iconColumn" [sortColumn]="sortColumn"
            [eventColumn]="eventColumn" (eventAction)="null" [rowId]="'id'" [rowClick]="false" [rowId]="'id'" (rowClickAction)="rowClick($event)"
            [applyFilter]="applyFilterValue" [permissionControl]="permissionControl" [pagination]="null" [tableClass]="'table-with-header'"></tw-table-component>
    </div>
    <div *ngIf="tableVersion === 2">
        <tw-data-table [columns]="serverTwColumns" [data]="tableData" [pagination]="serverPaginationConfig"
            [rowClickable]="true" [rowId]="'id'" (rowClick)="rowClick($event)" (cellAction)="onCellAction($event)">
        </tw-data-table>
    </div>
</div>