@import '../../../../../theme/configcolour.scss';

$bp : (
  desktop_m:2560px,
  desktop:1440px,
  lap_m:1101px,
  lap:1024px,
   mob_m: 767px,
   mob:600px,

);
@mixin query($display){
  @each $key, $value in $bp{
    @if ($display == $key){
      @media (max-width: $value){@content;}
    }
  }
}
$mh:(
  h1:248px,
  h2:356px,
  h3:198px,
  h4:426px,
);
@mixin disp_height($display){
  @each $key,$value in $mh{
    @if ($display==$key){
      @media(max-height:$value){@content;}
    }
  }
}
.row-field-sts{
  @include query(desktop_m){
    width:45%;
  }
  @include query(mob){
    width:80%;
  }
}
.form-heigh-ed-loc{ //landscape mode
  @include disp_height(h4){
    height: 80%;
  }
  @include disp_height(h2){
    height: 72%;
  }
  @include disp_height(h1){
    height: 60%;
  }
  height: 75%;
  overflow: auto;
}
.cst-mgn_1{
    margin:0px 5px;
  }
  .radio-button {
    line-height: 2;
  }
  .input-header {
      h1 {
          padding: 0px;
      }
  }
  .example-header{
    padding: 0 20px;
  }

  /* mouse over link */
  .row_click:hover {
    color: blue;
    text-decoration: none;
    }
  mat-header-cell {
    display:flex;
    justify-content:left;
  }

  @include query(mob_m){
      .mat-table-overflow{
          overflow: auto;
      }
      .example-header{
        .mat-form-field{
            height: 65px;
            width: 100%;
        }
      }
  }

  .wrapper{
      display: inline-block;
      color: #4B4B4B;
      font-size:15px;
  }
 
  .main-heading{
        color: #284255;
        font-size: 16px;font-weight: 600;
    }

  .top-styl{
    margin-top: 1%;
  }
  .can-btn{
      color: #636A6D;
      font-size:14px;
  }

  .divider_{
    padding: 4px;
    margin: 0;
    color: $secondary-color;
    border-top-width: 1px;
  }
  .daily-loc-name {
    @include query(mob){
      color: #284255;
      font-size:  13px;
      font-weight: 600;
      text-align: center;
      height: 10%;
      margin-top: 24%;
    }
    color: #284255;
    font-size:  13px;
    font-weight: 600;
    text-align: center;
    height: 35%;
    margin-top: 24%;
  }
  .daily-loc-desc {
    color: #284255;
    font-size: 12px;
    font-style: italic;
    text-align: center;
    height: 35%;
  }
  .daily-alt-loc-name{
    font-size: 13px;
    text-align: center;
    font-weight: 600;
    color: var(--primary-bg-color);
    height: 20%;
  }
  .daily_src_loc_name {
    color:#28425547;
  }

  .main-header-widget {
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    color: black;
  }

  .remove {
    background-color: rgb(240, 239, 239);
  }

  .mat-expansion-panel-spacing:last-child {
    margin: unset;
  }
  .mat-expansion-panel-spacing:first-child {
    margin: unset;
  }
  .mat-expansion-panel {
    margin-top: 15px !important;
  }
  .mat-expansion-panel:not([class*=mat-elevation-z]) {
    border-radius: 3px;
    box-shadow: 0px 1px 8px -1px rgba(40, 66, 85, 0.2) !important;
  }

    .mat-list .mat-list-item {
      height: 50px !important;
      font-size: 13px !important;
    }

    .mat-card {
      padding: 0px !important;
    }
    .test-list{
      width:100%;max-height:160px;overflow: auto;
    }

    .mat-card-content {
      margin-top: 6px !important;
    }

  .inactive-check-box {
    margin-left: 32px;
    margin-right: 10px;
  }

  .inactive-check-box-text {
    font-size: 14px;
  }

  .mat-expansion-panel-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 24px;
    border: 1px solid $secondary-color;
    height: 48px !important;
  }
  .mat-expansion-panel-body {
    padding: 0 24px 16px;
    border-bottom: 1px solid $secondary-color;
    border-left: 1px solid $secondary-color;
    border-right: 1px solid $secondary-color;
  }
  #grid-cl-r-2-2 {
    width: 98%;
    height: 90%;
    margin: 1% 1% 1% 1%;
    border: 1px solid $secondary-color;
  }
  /*------------------ Introduced to achieve a better view in IE 11 ------------------*/
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      // close button icon for IE 7-11
      .ie-close-icon{
      padding-bottom: 60%;
      }
      .form_body .test-list{
        scrollbar-track-color: #fcfff9;
        scrollbar-darkshadow-color:  #fcfff9;
        scrollbar-arrow-color:  #fcfff9;
        scrollbar-shadow-color:	#D0D0D0;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        scrollbar-width: thin;
      }
      select:focus {

        -webkit-appearance: none; /* Webkit */
        -moz-appearance: none; /* FF */
        -ms-appearance: none; /* Edge */
        appearance: none; /* Future */

        /* Optional styles */
        width: auto;
        position: relative;
        padding: 0.3em 1.5em 0.3em 0.6em;
        border-color: $secondary-color;
        background: var(--primary-bg-hghl-color);
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        font-size: inherit;
        background-repeat: no-repeat;
        background-position: right 5px center;
        background-size: 1em;
        background-image: url("/../../assets/Alert/common_icons/down-arrow.svg");

      }
    }
      /*------------------ Introduced to achieve a better view in IE 11 ------------------*/
