@import '../../../theme/configcolour.scss';

mat-card {
    padding: 1px;
    margin: 1px;
  }
  
  .page-header{
    height: 40px;
    .porter-action {
      width: 35px;
      float: right;
    }
  }
  .table-body {
    width: 100%;
  }
  
  .yellow-icon {
    color: #FDB44B;
}
/* Note: If you're using an SVG icon, you should make the class target the `<svg>` element */
.yellow-icon svg {
    fill: #FDB44B;
}

.example-header {
    width: 100%;
    height: 65.5px;
  }
  .filter-area{
    width: 45%;
    background-color: var(--primary-bg-hghl-color);
    float: left;
    .filter-but {
      padding-left: 20px; 
      width: 400px;
    }
  }

  // footer css

  * {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .grid-class-add{
     overflow: none;
  }



.cc-color-override-688238583.cc-window {
  color: unset;
  background-color: unset;
}
.cc-window.cc-floating {
  padding: 1em;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 50px 0px 0px 50px;
  right: 1em;
  height: 50px;
  width: 50px;
}
.cc-bottom {
  top:2.9em;
}
.cc-revoke, .cc-window {
  position: fixed;
  overflow: unset;
  box-sizing: border-box;
  font-family: Helvetica,Calibri,Arial,sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  z-index: 9999;
}
.cc-window {
  opacity: 1;
  transition: opacity 1s ease;
}


.widHeaderClass {
  height: 10%; 
  padding: 5px 10px 0px 10px; 
  font-size: 16px; 
  font-weight: 600;
  color: #284255;
}

.custom-select {
  height: 35px;
  width: 100px;
  float: right;
  border: solid 0.1px #28425530;
  color: #284255;
  font-size: 13px;
  font-weight: 600;
  border-radius: 3px;
  font-family:'Open Sans', sans-serif;
}
.widgetNoData{
  font-family: 'Open Sans', sans-serif;
  color: gray;
  margin-top: 100px;
}
.chartchangeIcon{
  height: 35px;
  width: 35px;
  float: right;
  margin-left: 5px;
  border: solid 0.1px #28425530;
  color: #284255;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
}
