@import '../../../../theme/configcolour.scss';

$bp : (
  h1:426px,
  desktop:1440px,
  lap:1024px,
   tab : 768px,
   mob: 565px,

);
@mixin query($display){
  @each $key, $value in $bp{
    @if ($display == $key){
      @media (max-width: $value){@content;}
    }
  }
}@mixin disp_height($display){
  @each $key, $value in $bp{
    @if ($display == $key){
      @media (max-height: $value){@content;}
    }
  }
}
.form-height{
  @include disp_height(h1){
    overflow: auto;
    height: 85px;
  }
}
.threshold-content{
    margin-top: 50%;
    @include query(mob){
        margin-top: 1%;
    }

}
.message-label{
    @include query(mob){
        margin-left: 28px;
        font-size: 10px;
        font-weight: 600;
    }
}

.row-field-alt{
  width:30%;

  @include query(tab){
    width: 45%;
  }
  @include query(mob){
    width: 85%;
  }
}

.row-field-temp{
  width:11%;

  @include query(tab){
    width: 50%;
    margin-top: -31px;
  }
  @include query(mob){
    width: 85%;
  }
}

.row-field-3{
    @include query(tab){
      width: 57%;
    }
    @include query(mob){
      width: 180%;
    }
  }

  .row-field-4{
    @include query(tab){
      width: 45%;
    }
    @include query(mob){
      width: 80%;
    }
  }

.row-field-aid{
  width: 26%;
  @include query(tab){
    width: 40%;
  }
  @include query(mob){
    width: 81%;
  }
}
.filter-align{
  @include query(mob){
    width: 167px !important;
  }
}
.mat-tab-content-alert { //create alert
    overflow-y:auto;
    overflow-x: hidden;
    position: relative;
  }


.threshold-alert {
  font-size: 12px;
  text-align: center;
  font-weight: 600;
  color: #4B4B4B;
}
.panelMultiple {
  margin-left: 10%;
}

mat-slider {
  width: 150px;
}
.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  background-color: #3f586a;
}

.mat-slider.mat-slider-horizontal .mat-slider-track-wrapper {
  height: 12px;
  border-radius: 10px
}

.mat-slider.mat-slider-horizontal .mat-slider-track-background,
.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  height: 100%;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: var(--primary-bg-color) !important;
}
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color:  $secondary-color !important;
}
