.input-header {
	h1 {
		padding: 0px;
	}
}


  .heading{
    color: #4B4B4B;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;font-weight: 600;
    .sub-heading{
    font-size: 12px;font-weight: 600;
    }
  }
  .top-styl{
  margin-top: 0.5px;
  }

.file-label{
    font-size: 10px;
    font-style: italic;
}
.gateway-table{
  border: 3px solid #80808008;
  border-color: #80808008;
  border-radius: 8px
}
::ng-deep .gw-menu {
  .mat-menu-content {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  .mat-menu-item {
    line-height: 0px !important;
    height: 0px !important;
    min-height: 35px !important;
    font-size: smaller;
  }
  min-height: 30px !important;
}