.slider-btn {
    .mat-slide-toggle-bar {
        width: 37px !important;
        height: 21px !important;    
        border-radius: 11px;
    }

    .mat-slide-toggle-thumb-container {
        top: 1.3px !important;
        left: 1px !important;
    }

    .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
        background-color: #fefefe !important;
    }

    .mat-slide-toggle-thumb {
        height: 19px !important;
        width: 19px !important;
        background-color: #fefefe !important;
    }
}

.expand {
     .mat-slide-toggle.mat-disabled {
        opacity: 1 !important;
    }
    .mat-expansion-panel-header.mat-expanded {
        height: 30px !important;
        padding: 7px 0px 7px 15px;
    }
    .mat-expansion-panel-header {
        height: 30px !important;
        padding: 7px 0px 7px 15px;
    }
    .mat-expansion-panel-body {
        padding: 0 10px 10px;
    }
    .mat-expansion-panel-header[aria-disabled=true] .mat-expansion-panel-header-title, .mat-expansion-panel-header[aria-disabled=true] .mat-expansion-panel-header-description {
        color: black;
    }
    margin: 12px !important;
    box-shadow: none !important;
    border: solid 1px #d2d2d2;
}

.field-time-container {
    display: flex;
    gap: 10px
}

.reminderType-btn{
    height: 35px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.reminder-header {
    font-size: 12px;
    font-weight: 600;
}

.field-hint {
    color: #787878;
    font-size: 9px;
    position: relative;
    bottom: 10px;
}

.reminder-notifi-container {
    padding: 5px;
    border: solid 1px #d2d2d2;
    border-radius: 5px;
}

.reminder-sub-titles {
    font-size: 14px;
    font-weight: 600;
}

.notifi-card-box {
    min-width: 210px;
}

.notifi-card-box-title{
    font-size: 13px;
    font-weight: 600;
}

.notifi-card-box-content{
    padding: 2px 0;
}

.notifi-card-subtitle {
    font-weight: 600;
    color: #7a7a7a;
    padding-right: 5px;
}

.delete-notifi{
    height: fit-content !important;
    width: fit-content !important;
    padding: 0 !important;
    font-size: 16px !important;
    color: #ea0000;
    cursor: pointer;
}

.automatic-text {
    padding: 3px;
    background: #f7f7f7;
    width: fit-content;
    font-size: 11px;
    color: #858585;
    border: solid 1px #f0f0f1;
    border-radius: 5px;
    margin-bottom: 5px;
}

.card-container  {
    display: flex; gap: 15px; padding: 17px 5px 8px; overflow: auto;
}

.card-scroll::-webkit-scrollbar {
    width: 6px !important;
    height: 5px !important;
}