<lazy-loader *ngIf=loading></lazy-loader>
<div class="manage-body">
    <tw-header-new-component [type]="'new'" [component]="'location-management'" [permission]="null" [dateFilter]="null" [multiView]="false"
      [manageAction]="showActions" [selectDropdown]="selectDropdown" [selectedName]="selectedName !== null ? selectedName : true"
      [selectedView]="null" (selectedViewAction)="null" (headerEventAction)="headerEventAction($event)" [groupFilter]="parentFilter"></tw-header-new-component>
  <div>
    <tw-table-component [component]="'location-management'" [columns]="displayedColumns" [tableData]="tableData"
      [iconHeader]="iconHeader" [iconColumn]="iconColumn" [sortColumn]="sortColumn" [eventColumn]="eventColumn" (eventAction)="eventAction($event)"
      [rowClick]="true" [rowId]="'id'" (rowClickAction)="rowClick($event);"[rowDbClick]="true" [applyFilter]="applyFilterValue" [permissionControl]="permissionControl" 
      [pagination]="[{length: length, pageSize: pageSize, pageStart: pageStart}]" [tableClass]="'table-icon-header'"></tw-table-component>
  </div>
</div>