@import '../../../../../theme/configcolour.scss';

.no-shift {
    padding: 50px 0px 45px 0px;
    text-align: center;
    font-size: 16px;
    color: var(--quaternary-color);
    font-style: italic;
    font-weight: 600;
   }