@import '../../../../../theme/configcolour.scss';

.sub-head{
    padding-top: 10px;
    display: flex;
    gap: 1%
  }
  .entity-title{
    font-size: 14px;
    display: -webkit-box;
    margin-top: -10px;
    margin-bottom: 5px;
    gap: 5px;
  }
  .profile-container {
    display: flex;
    margin-left: 10px;
    position: relative;
    bottom: 10px;
  }
  .profile-photo {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
    background: #EEEFF1
  }

  @keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  .blink {
    animation: blink 1s infinite;
    color: #D61820
  }

  .container{
    height: calc(100% - 65px);
    width: 60%;
    z-index: 1000;
    position: absolute;
    background: var(--primary-bg-hghl-color);
    border-radius: 0px 6px 6px 0px;
    box-shadow: 0px 0px 14px -5px;
    overflow-x: hidden;
    overflow-y: hidden;
    bottom: 65px;
  }

  .user-Name{
    padding: 0 5px;
    font-size: 12px;
  }

  .close-Btn{
    width: 60px; height: 65px; display: flex;
  }

  .kyn-detailname{
    color: #898989;
    font-size: 13px;
  }

  .kyn-icon{
    padding: 7px 0;
    height: 30px;
    width: 30px;
  }

  .kynDetails{
    font-size: 14px;
    font-weight: 700;
  }

  .video-content{
    padding-left: 30px;
    height: 100%;
    width: 90%;
    object-fit: contain;
  }

  .table-align{
    height:calc(100% - 120px); 
    width: 90%; 
    box-shadow: 0px 2px 4px -1px var(--primary-bg-hghl-color), 0px 4px 5px 0px var(--primary-bg-hghl-color), 0px 1px 10px 0px var(--primary-bg-hghl-color);
  }