@import '../../../../../theme/configcolour.scss';

.ot-new-container{
    .content-center{
        color: var(--primary-bg-hghl-color);
        background-color: #D9D8D8;
        border:1px solid #D9D8D8;
        border-right: none;
    }

    .triangle-right{
        width: 0;
        height: 0;
        border-top: 25px solid transparent;
        border-left: 14px solid rgb(239, 239, 239);
        border-bottom: 22px solid transparent;
    }

    .status-circle{
        border: 1px solid #707070;
        height: 95%;
        width: 18%;
        border-radius: 124px;
        position: absolute;
        top: -16px;
        left: 40%;
        background: var(--primary-bg-hghl-color);
    }
    
    .right-arrow {
        margin-top: 9px;
        width: 14%;
        height: 41%;
        border: solid #a81919;
        border-width: 0px 4px 3px 0;
        padding: 3px;
        -webkit-transform: rotate(-45deg);
    }

    .hexagon-border {
      width: 100%;
      height: 100%;
      background-color: rgb(239 239 239);
      clip-path: polygon(10% 0%, 90% 0%, 100% 58%, 90% 100%, 10% 100%, 0% 57%);
    }

    .chart-container-timeline {
        width: 97%;
        height: calc(100% - 80px);
        border: 2px solid #efefef; 
        padding: 10px; 
        border-radius: 10px; 
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
        background-color: #f9f9f9; 
    }

    .mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
        display: contents;
        margin-top: 2px;
    }

    .not-selected-list .mat-list-item-content,
    .not-selected-list .mat-list-option .mat-list-item-content {
    padding: 6px 10px 10px 10px;
    border-style: groove;
    border-radius: 10px;
    border: 2px solid #d9d5d5;
    margin: 3px;
    }
    .selected-list .mat-list-item-content,
    .selected-list .mat-list-option .mat-list-item-content {
    padding: 6px 10px 10px 10px;
    border-style: groove;
    border-radius: 10px;
    border: 2px solid #d9d5d5;
    margin: 3px;
    margin-bottom: 8px;
    margin-top: 6px;
    box-shadow: 5px -3px 7px 3px rgba(0, 0, 0, 0.2), -6px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    }


    .mat-list-item {
        transition: background-color 0.3s ease; 
      }
      
     .mat-list-item:hover {
        background-color: #e0e0e0; 
      }

      .mat-tab-body-wrapper {
        height: 100%;
      }
      .no-shift {
        padding: 50px 0px 45px 0px;
        text-align: center;
        font-size: 16px;
        color: $quaternary-color;
        font-style: italic;
        font-weight: 600;
       }

       .subfilter {
        align-items: center;
        padding: 4px 10px;
        background: #edf4f7;
        border-radius: 25px;
        cursor: pointer;
        transition: transform 0.2s ease, background-color 0.3s ease;
        box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d;
      }

       .selected-subfilter {
        border: solid 2px var(--primary-bg-color);
        transform: scale(1.05);
        box-shadow: 0 1px 3px #1e8fc873, 0 1px 2px #1e8fc84d;
      }

      .filter-check {
        display: inline-block;
        width: 6px;
        height: 6px;
        border: 2px solid #545454;
        border-radius: 50%;
        margin-right: 5px;
        padding: 0px 1px 3px 2px;
      }

      .selected-filter-check {
        background-color: var(--primary-bg-color);
        border-color: var(--primary-bg-color);
        color: var(--primary-bg-hghl-color);
        font-size: 10px;
      }

      .mat-menu-panel {
        margin-top: 8px; 
        margin-left: 4px; 
      }
      
}  

 .chart-container-timeline-duplicate {
        width: calc(100% - 30px);
        height: calc(100% - 24px);
        border: 2px solid #efefef; 
        padding: 10px; 
        border-radius: 10px; 
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
        background-color: #f9f9f9; 
    }
    
.filter-menu-ot {
  max-width: 600px !important;
  overflow: hidden;
  min-height: 160px !important;
  min-width: 260px !important;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background: #fff;
  padding-bottom: 5px;
  border-bottom: solid 2px #adadad9c;
}

.filter-header {
  padding: 0 15px;
  font-size: 15px;
  border-radius: 4px;
  font-weight: bold;
}

.subfilter {
  display: flex;
  align-items: center;
  padding: 4px 10px;
  background: #edf4f7;
  border-radius: 25px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s ease;
  box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d;
}

.selected-subfilter {
  border: solid 2px var(--primary-bg-color);
  transform: scale(1.05);
  box-shadow: 0 1px 3px #1e8fc873, 0 1px 2px #1e8fc84d;
}

.filter-check {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8px;
  height: 8px;
  border: 2px solid #545454;
  border-radius: 50%;
  margin-right: 5px;
  padding: 1px;
}

.selected-filter-check {
  background-color: var(--primary-bg-color);
  border-color: var(--primary-bg-color);
  color: var(--primary-bg-hghl-color);
  font-size: 10px;
}
.subfilters-inline {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  font-size: 12px;
  gap: 10px;
}
.no-rec-fund {
  text-align: center;
  color: rgb(131, 125, 125);
  height: 50px;
  align-content: center;
}
.text-qscp {
  color: #f2f6f8; /* for QS-CO */
}

.border-qscp {
  border-left: 14px solid var(--primary-bg-color) !important;
}

.border-default {
  border-left: 14px solid rgb(239, 239, 239);
}