@import '../../../../theme/configcolour.scss';

.input-header {
	h1 {
		padding: 0px;
	}
}
img {
    position: relative;
}

img[alt]:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-bg-hghl-color);
    font-weight: 300;
    line-height: 2;
    text-align: center;
    content: attr(alt);
  }


.m-top-1{
  margin-top:1%;
}
.m-top-5{
  margin-top:5%;
}
.field-height_3{
  float:right;margin-top: 0px;
}
.ast-styl-1{
  width:100%;height:5%;
}

.mat-tbl-styl_1{
  justify-content: flex-start !important;
  background: #EEEFF1 0% 0% no-repeat padding-box !important;
  min-height: 48px !important;
  font-size: 12px !important;
  color: #1a1a1a;
  font-weight: 600;
}
.mat-tbl-styl_2{
  justify-content: flex-start !important;
  background: #EEEFF1 0% 0% no-repeat padding-box !important;
  min-height: 48px !important;
  color: #1a1a1a;
  width: 80px;
  font-size: 12px !important;
  font-weight: 600;
  padding-right: 5px;
}
.tbl-width{
  width:5%;
}
.tbl-width_1{
  width:45%;
}

.img-enlg{
  padding: 10px 0px;
  height: 100%;
  width: 100%;
}
.bg-clr{
  background-color: #F4F7FC;
}

.file-upload-button {
  background-color: var(--primary-bg-color) !important;
  height: 38px;
  overflow: hidden;
  position: relative;
  width: 70%;
  border: var(--primary-bg-hghl-color);
  margin-top: 10px;
  border-radius: 6px;
  color: var(--primary-bg-hghl-color);
  margin-right: 90px;


input[type="file"] {
      font-size: 100px;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
  }
}

.file-info {
  font-size: 12px;
  font-weight: 600;
  white-space: normal;
  overflow: hidden;
  color: #000000a8;
}
.custom-preview-dialog-container .mat-dialog-container{
  height: 100%;
  width: 100%;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.1);
}
.custom-dialog-container2 .mat-dialog-container .mat-paginator .mat-icon-button {
  height: 24px;
  width: 24px;
}



$bp : (
  desktop:1440px,
  lap_xl:1280px,
  lap_l:1164px,
  lap:1024px,
   tab : 768px,
   mob: 565px,

);
@mixin query($display){
  @each $key, $value in $bp{
    @if ($display == $key){
      @media (max-width: $value){@content;}
    }
  }
}
.wrapping{
  width: 13px;margin-left: 27px;
  @include query(mob){
    margin-left: 51px;
    margin-top: -64px;
    padding-bottom: 10px;
  }
}
.filter-align{
  @include query(mob){
    width: 167px !important;
  }
}



.row-field-date{
  width:20%;
  @include query(lap_xl){
    width:22%;
  }
  @include query(lap_l){
    width:25%;
  }
  @include query(tab){
    width: 45%;
  }
  @include query(mob){
    width: 95%;
  }
}

$mh:(                           //LANDSCAPE
  h0:280px,
  h1:321px,
  h2:356px,
  h3:376px,
  h4:426px,
  h5:476px,
  h6:536px,
  h7:590px,
);
@mixin disp_height($display){
  @each $key,$value in $mh{
    @if ($display==$key){
      @media(max-height:$value){@content;}
    }
  }
}
.mat-tab-content-asset {
  height: 478px;
  @include query(lap_m){height: 360px;}
  @include query(tab_m){height: 275px;}
  @include query(mob){height: 185px;}
  @include disp_height(h6){height: 155px;}
  @include disp_height(h5){height: 123px;}
  @include disp_height(h4){height: 100px;}
  @include disp_height(h3){height: 80px;}
  @include disp_height(h1){height: 60px;}
}
.mat-tab-content-identifier{
  @include query(mob){
    height: 170px;
  }
  @include disp_height(h7){height: 176px;}
  @include disp_height(h6){height: 127px;}
  @include disp_height(h3){height: 90px;}
  @include disp_height(h1){height: 45px;}
}
.mat-tab-content-hist{
  @include query(mob){
    height: 170px;
  }
  @include disp_height(h7){height: 200px;}
  @include disp_height(h5){height: 100px;}
  @include disp_height(h2){height: 70px;}
  @include disp_height(h0){height: 45px;}
}
.form-body-large-das {//create-device&& asset
  @include disp_height(h4){height: 70%;}
  @include disp_height(h1){height: 66%;}
  height: 500px;
  overflow: auto;
}

.row-field-1-asset{ //for three inputs in create asset
  width:30%;
  @include disp_height(h7){width: 48%;}
  @include disp_height(h4){width: 30%;}
  @include query(mob){
    width: 95%; //95%85%
  }
}

.row-field-basic{ //for four inputs in create asset
  width:22.5%;
  @include disp_height(h7){width: 48%;}
  @include disp_height(h4){width: 30%;}
  @include query(mob){
    width: 95%; //95%85%
  }
}

.form-height-1{ //create-asset
  @include disp_height(h4){height: 68px;}
}
.mat-column-name {
  text-overflow: ellipsis;
  flex: none;
  white-space: nowrap;
  overflow: hidden;
}
.no-form{
  text-align: center;
  color: grey;
  font-size: 12px;
  font-style: italic;
  font-weight: 600;
  margin-top: 10%;
}
:host ::ng-deep .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button .mat-datepicker-toggle-default-icon {
  margin: 4px;
}
.selected-sensor {
  color: var(--primary-bg-hghl-color);
  background: var(--primary-bg-color);
  overflow: auto;
  margin-top: 1px;
  border-radius: 2px;
  display: flex;
  cursor: pointer;
  .svg-icon {
    filter: invert(1);
  }
}
.unselected-sensor {
  color: #000000;
  background: var(--primary-bg-hghl-color);
  overflow: auto;
  margin-top: 1px;
  border-radius: 2px;
  display: flex;
  cursor: pointer;
}
.asset-mat-tab {
  .mat-tab-label {
  min-width: 105px !important;
 }
 .mat-tab-body-content {
  overflow: visible !important;
 }
}
 .no-shift {
  padding: 50px 0px 45px 0px;
  text-align: center;
  font-size: 16px;
  color: grey;
  font-style: italic;
  font-weight: 600;
 }
 .box-1{
  width: 33%;
  padding-right: 4px;
  @include query(lap_s){width:29%;}
  @include query(lap_xs){width:26%;}
  @include query(tab_xxl){width:23%;}
  @include query(tab_l){
    width:31%;
  }
  @include query(mob_m){
    width:45%;
    margin-bottom:2%;
    margin-left: 2%;
  }
  @include query(mob_s){
    width:42%;
  }
}
.box-none-2{
  @include query(4k){margin-left: -2%;}
  @include query(lap_s){margin-left: 4%;}
  @include query(lap_xs){margin-left: 9%;}
  @include query(tab_xxl){margin-left: 11%;}
  @include query(tab_xl){margin-left: 6%;}
  @include query(tab_l){margin-left: -1%;}
  @include query(mob_m){margin-left: 1%;}
  @include query(mob_s){margin-left: 2%;}
}
.ip-label01{
  background: var(--primary-bg-color);
  color: var(--primary-bg-hghl-color);
  padding: 8px 0px 11px;
  font-size: 11px;
  height: 8px;
  font-weight: 600;
  border-radius: 4px 0px 0px 4px;
  box-shadow: 1px 2px 6px #00000029;
}
.ip-select01{
  width: 100px;
  border: 1px solid $tertiary-color !important;
  background: var(--primary-bg-hghl-color);
  box-shadow: 1px 2px 6px #00000029;
  border-radius: 0px 4px 4px 0px;
  font-size: 11px;
}
.qr-template{
  display: flex; 
  justify-content: center; 
  align-items: center;
  height: 100%; 
  width: 100%;
  text-align: center;
}
.qr-content{
  display: flex; 
  align-items: center; 
  background:whitesmoke;
  padding:5px;
  position: relative;
}
.brand-container {
  display: flex; 
  flex-direction: column; 
  align-items: center;
  position: relative;
}
.brand{
  text-align: center; 
  font-weight: bolder; 
  font-size: 30px; 
  writing-mode: vertical-rl; 
  transform: rotate(180deg); 
  padding:3px
}
.details{
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  margin-left: 10px; 
  width: 100%;
}
.asset-id{
  font-weight: bolder;
  font-size: 27px; 
  text-align: center; 
  align-self: center;
  margin-bottom: 5px;
}
.details div {
  text-align: left; 
}
.maintenance-type{
 font-weight: bold;
 font-size: 24px; 
}
.clickToEnlarge img-enlg{
  display:flex;
  height:100%;
  width:100%;
  object-fit:contain;
}


.overlay-popup {
  position: absolute;
  top:0;
  left: 60px;
  z-index: 1000;
  width: 280px;
  background: white;
  border: 1px solid #ccc;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
}

.depreciation-summary {
  display: flex;
  justify-content: flex-start;
  gap: 25px;
  margin: 16px 0 12px;
  padding: 10px 16px;
  border: 1px solid #e0e0e0;
  background-color: #f7f7f7;
  border-radius: 4px;
  font-size: 13px;
}

.summary-item {
  display: flex;
  flex-direction: column;
}

.summary-label {
  font-weight: 500;
  color: #555;
}

.summary-value {
  font-weight: bold;
  color: #000;
  display: flex;
  justify-content: center;
}


.existing-row {
  font-weight: 600; 
  font-style: normal;
}

.new-row {
  font-weight: 400; 
  font-style: italic;
}

.overlay-popup.info-popup {
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
  z-index: 1000;
}
 .asset-sub-mat-tab {
  .mat-tab-label {
  min-width: 135px !important;
 }
}

.mat-row:nth-child(odd){
    background-color: #FBFCFF;
}
    
.mat-row:nth-child(even){
    background-color:var(--primary-bg-hghl-color) ;
}

.addtoggle{
  display: flex;
    font-size: 12px;
    cursor: pointer;
    background-color: var(--primary-bg-color);
    color: var(--primary-bg-hghl-color);
    border-radius: 50%;
    width: 19px;
    padding-bottom: 4px;
    height: 8px;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
.compute{
  background-color: var(--primary-bg-color);
  color: var(--primary-bg-hghl-color);
}  

.header-container {
  display: flex;
  gap: 10px;
}

.date-input {
  width: 120px;
    margin: 0; 
}