@import '../../../../../theme/configcolour.scss';

$bp : (
  lap:1024px,
   tab : 768px,
   mob: 565px,
   mob_s:320px,
);
@mixin query($display){
  @each $key, $value in $bp{
    @if ($display == $key){
      @media (max-width: $value){@content;}
    }
  }
}
.form-body-large{
  
  height: 30%;
  
}
.form-row{
  @include query(mob){
    margin-left: 0px;
  }
}
.cer-input-footer{
    color: var(--primary-bg-hghl-color);
    padding-left: 5px;
    height: 40px;
    text-align: center;
    }
    .cer-down {
        height: 37%; 
        width: 100%;
      }
      .cer-temp {
        
        margin-left: 60px;
        margin-top: 55px;
        margin-bottom: 5px;
        width:65%;
        height:30px;
        background:#019f96;
        text-align: center;
        padding-top: 2%;
        border-radius: 5px;
        font-size: 14px;
        font-weight: 500;
      }
      .cer-btn-styl{
        color:var(--primary-bg-hghl-color); cursor: pointer;
      }
      .cer-non{
        display: none;
      }
      .upload-cer{
        color: #4B4B4B;
        margin-left: 90px;
        font-size: 12px;
        font-weight: 600;
        white-space: nowrap;
        text-overflow: ellipsis;
        @include query(mob){
          margin-left: 67px;
        }
        @include query(mob_s){
          margin-left: 47px;
        }
      }