<div class="custom-dialog-box ovi-font-family">
    <mat-toolbar class="input-header" style="height:33px;">
        <div class="header-name" style="width: 92%;">{{"Update Certificate"|translate}}</div>
        <div class="header-close">
            <button mat-icon-button mat-dialog-close class="close-button ie-close-icon">
                <mat-icon class="icon-style">highlight_off</mat-icon>
            </button>
        </div>
    </mat-toolbar>

    <div class="form-body-large">
        <div class="form-row">     
            <div class="row-field">
                <div class="example-form" style="margin-top: 30px;">
                    <div class="cer-down">
                      <div class="cer-temp">
                        <label mat-button class="cer-btn-styl"> {{"Upload Certificate"|translate}}            
                          <input type="file" id="File" (change)="uploadFile($event)" class="cer-non" #input accept=".pem, .cer, .crt, .key, .pkcs8">
                        </label>
                      </div>
                    </div>
                    <div class="upload-cer">{{"File Choosen"|translate}} : {fileName,select, No file Choosen {{{"No file Choosen"|translate}}}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="cer-input-footer">
        <button mat-button class="active-btn margin-r-1" appDebounceClick
            [debounceTime]="300" (debounceClick)='updateCert()' [disabled]="this.isEnable !== true" 
            cdkFocusInitial>{{"Upgrade"|translate}}</button>&nbsp;&nbsp;
        <button mat-button class="cancle-btn" mat-dialog-close>{{"Cancel"|translate}}</button>
    </div>
</div>