@import '../../../../../theme/configcolour.scss';

.file-upload-button {
    background-color: var(--primary-bg-color) !important;
    height: 38px;
    overflow: hidden;
    position: relative;
    width: 70%;
    border: var(--primary-bg-hghl-color);
    margin-top: 10px;
    border-radius: 6px;
    color: var(--primary-bg-hghl-color);
    margin-right: 90px;
  
  
  input[type="file"] {
        font-size: 100px;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
    }
}

.intend-header {
    display: flex;
    padding: 5px 15px;
    justify-content: space-between;
}

.file-info {
    font-size: 12px;
    font-weight: 600;
    white-space: normal;
    overflow: hidden;
    color: #000000a8;
}



.mat-tbl-styl_1 {
    justify-content: flex-start !important;
    background: #EEEFF1 0% 0% no-repeat padding-box !important;
    color:  #1a1a1a;
    width: 80px;
    font-size: 14px !important;
    font-weight: 600;
    padding-right: 20px;
}

.no-shift {
    padding: 50px 0px 45px 0px;
    text-align: center;
    font-size: 16px;
    color: $quaternary-color;
    font-style: italic;
    font-weight: 600;
   }

   .numberTypeInput::-webkit-inner-spin-button,
   .numberTypeInput::-webkit-outer-spin-button {
       -webkit-appearance: none;
       margin: 0;
   }

   .link-type-container {
       display: block;
       width: 25%;
       height: 100%;
       border-right: solid 2px #a5a5a5;
   }

   .selected-link-container {
       padding: 10px;
       width: 75%;
   }

   .link-type-header {
       padding: 5px;
       background: var(--primary-bg-color);
       color: var(--primary-bg-hghl-color);
       font-weight: 600;
       font-size: 13px;
       display: flex;
       justify-content: space-between;
       align-items: center;
   }

   .link-list-title {
        font-size: 13px;
        font-weight: 600;
        padding: 5px;
   }

   .tw-filter-new-map {
       font-size: 12px;
       font-family: 'Open Sans', sans-serif;
       width: 160px;
       border: 1px solid $tertiary-color !important;
       background: var(--primary-bg-hghl-color);
       height: 28px;
       display: flex;
       border-radius: 4px;
   }

   .list-container {
       height: calc(100vh - 440px);
       overflow: auto;
   }

   .list-option {
       height: 30px !important;
   }

   .add-link-icon {
       padding: 0px !important;
       font-size: 18px !important;
       height: fit-content;
       width: fit-content;
       padding-bottom: 2px;
   }

   .link-Footer {
       display: flex;
       padding: 5px 10px;
       justify-content: flex-end;
   }

   .side-form-field {
       .mat-form-field-wrapper {
           padding-bottom: 1.0005em;
       }
   }

   .ovi-mat-field-qut {
    .mat-form-field-infix {
        display: flex !important;
    }
    }

    input.no-spinner::-webkit-outer-spin-button,
    input.no-spinner::-webkit-inner-spin-button {
       -webkit-appearance: none;
        margin: 0;
    }

    input.no-spinner {
        -moz-appearance: textfield;
    }

    .ovi-schl-custom-select {
        display: flex;
        width: 44px;
        align-items: center;
        justify-content: space-between;
        padding-right: 5px;
        position: relative;
        bottom: 4px;
    }

    .ovi-ptntdtls-ot-loc{
    .mat-form-field-suffix .mat-icon-button {
        position: relative;
        bottom: 7px !important;
        }
    }

    .ovi-schl-custom-dec {
        width: 19px;
        font-size: 16px;
        height: 19px;
        display: flex;
        justify-content: center;
        border-radius: 50% 50%;
        color: var(--primary-bg-hghl-color);
        background: var(--primary-bg-color);
        cursor: pointer;
    }

    .ovi-schl-custom-incre {
        font-size: 16px;
        height: 19px;
        width: 19px;
        display: flex;
        justify-content: center;
        border-radius: 50% 50%;
        color: var(--primary-bg-hghl-color);
        background: var(--primary-bg-color);
        cursor: pointer;
    }
