.title{
    font-size: 16px;
    font-weight: 600;
    color: #086284;
}

.context-btn {
    padding: 7px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: #00000026 0px 1px 3px;
    cursor: pointer;
}

.context-btn.active {
    background: #086284;
}

.context-btn.tab {
    color: #fff !important;
    background: #086284;
}

.svg-icon {
    height: 20px;
    width: 20px;
}

.svg-icon.active {
  filter: brightness(0) invert(1);
}

.close-slider {
    height: 5px;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.close-slider-act-btn {
    display: block;
    height: 5px;
    background: grey;
    border-radius: 10px;
    width: 150px;
}

.pwa-cancel-btn{
    width: 90%;
    border-radius: 10px;
    background: #eaf4f6;
    color:#086284
}

.pwa-active-btn {
    width: 90%;
    border-radius: 10px;
    background: #086284;
    color: white;
}

.pwa-footer {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.pwa-custome-icon-style {
    padding: 0;
    font-size: 18px;
    height: fit-content;
    width: fit-content;
    cursor: pointer;
}

.upload-close-circle {
    display: flex;
    height: 18px;
    width: 19px;
    align-items: center;
    justify-content: center;
    border: solid 2px #086284;
    border-radius: 50%;
}

.tab-container {
    padding-top:5px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow: auto;
}

