@import '../../../../../theme/configcolour.scss';

$bp : (
    4k_xl: 4100px,
    4k_l:3840px,
    4k_m2:2880px,
    4k:2560px,   
    4k_s1:2050px, 
    4k_s: 1948px,
    desktop_l:1920px,  
    desktop_m2:1822px,
    desktop_m1:1732px,
    desktop_m:1720px,
    desktop_s1:1625px,
    desktop_s:1600px,
    desktop_2:1520px,
    desktop_1:1445px,
    desktop:1440px,
    desktop_xs1:1370px,
    desktop_xs:1300px,
    lap_xl:1280px,
    lap_l1:1180px,
    lap_l:1165px,
    lap_m:1101px,
    lap:1024px,
    tab : 768px,
    mob: 565px,
    mob_m:425px,
    mob_s: 320px,
    tab_m:801px,
);
@mixin query($display){
  @each $key, $value in $bp{
    @if ($display == $key){
      @media (max-width: $value){@content;}
    }
  }
}

$mh:(                           //LANDSCAPE 
  h0:280px,
  h1:321px,
  h2:356px,
  h3:376px,
  h4:426px,
  h5:476px,
);
@mixin disp_height($display){
  @each $key,$value in $mh{
    @if ($display==$key){
      @media(max-height:$value){@content;}  
    }
  }
}
 .patient-banner-info-widget {
  width:99.2%;
  // height: 120px; // For Existing View
  @include query(tab){
      width:99.2%;
  // height: 115px; // For Existing View
  }
  @include query(mob){
      width:99.2%;
      height: 115px;  
  }
  .patient-banner-info-widget-left {  
      float: left;
      margin: 5px 15px 5px 20px; //For New View
      width: 100%;               
      
      .patient-banner-general-info {
      .patient-banner-name {
          font-weight: 600;
          font-size: 15px !important;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: inline-block;
          box-sizing: border-box;
          padding: 5px 0px 0px 8px;
          color: var(--primary-bg-color);
      }
          
      .patient-banner-token-no {
          color:var(--primary-bg-color);
          font-weight: 800;
          font-size: 25px;
          display: inline;
      }
      .patient-banner-age {
          font-size: 15px !important;
          font-style: italic;
          padding: 5px 0px 0px 8px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: inline-block;
      }
      .patient-banner-back-slash {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: inline-block;
      }
      .patient-banner-gender {
          font-size: 12px !important;
          font-weight: 600; // For New View
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: inline-block;
          padding: 0px 0px 0px 3px;
      }
  }
      .patient-banner-uhid {
          font-size: 13px !important;
          padding: 7px 0px 0px 8px; //For New View
      }
      
      .patient-banner-device {
          font-size: 15px !important;
          padding: 5px 0px 0px 8px; //For New View
          display: inline-block
      }
      .patient-banner-view-more {
          font-style: italic;
          text-decoration: none;
          padding: 6px 10px 8px 8px;
          
          .view-more {
              font-size: 12px !important;
              float: right;
              cursor: pointer;
              color: var(--primary-bg-color);
          }
      }
  }
}
.male {
  color: #00cccb;
  font-size: 11px;
  font-weight: 600;
}

.female {
  font-size: 11px;
  color: #ff00fe;
  font-weight: 600;
}
