@import '../../../../../theme/configcolour.scss';

.male {
    color: #00cccb;
    font-size: 11px;
    font-weight: 600;
  }
  .icon-count {
    position: absolute;
    height: 10px;
    width: 10px;
    font-size: 10px;
    line-height: 15px;
    padding: 0px 5px 5px 2px;
    top: 6px;
    left: 18px;
    border-radius: 50%;
    background-color: red;
    color: var(--primary-bg-hghl-color);
  }
  
  .female {
    font-size: 11px;
    color: #ff00fe;
    font-weight: 600;
  }

  .event-link {
      cursor: pointer;
      color: blue;
  }
  .critical {
    color:#ED5135;
    font-size: 15px;
    font-weight: 600;
  }
  
  .remainder {
    color: #288EE9;
    font-size: 15px;
    font-weight: 600;
  }
  
  .warning {
    color: #FF7200;
    font-size: 15px;
    font-weight: 600;
  }
  
  .information{
    color: #4BB1CF;
    font-size: 15px;
    font-weight: 600;
  }
  .row_click:hover {
    color: blue;
    text-decoration: none;
  }
  td.mat-cell {
    padding-right: 20px;
    touch-action: auto !important;
    user-select: initial !important;
    -webkit-user-drag: auto !important;
    border-bottom-color: #f2f2f2;
  }
  .inventory-btn{
    color: var(--primary-bg-color);
    width: 20px;
    height: 16px;
    padding: 6px 9px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  $bp : (
   4k: 2560px,
   desktop_L:1920px,
   mob: 565px,
   mob_m:425px,
   mob_s: 320px
  
);
@mixin query($display){
  @each $key, $value in $bp{
    @if ($display == $key){
      @media (max-width: $value){@content;}
    }
  }
}
  .table-height-2{
    max-height: 488px;
    @include query(mob){
      max-height: 494px;
    }
  }

.table-page{
  @include query(4k){
    margin-top: -10px;
  }
  @include query(desktop_L){
    margin-top: 0px;
  }
}
.inprogress {
  color: blue;
}
.completed {
  color: black;
}
.cancelled {
  color: #C60000;
}
.action-edit{
  color: #284255;
}
.action-edit1{
  color: #284255;
  opacity: 56%;
}
.spinner-container {
  position: relative;
}
.spinner-background {
  position: absolute;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  overflow: hidden;
  border-color: rgba(103,58,183,0.12);
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
  font-size: 10px;
  font-weight: 400;
  top: 4px;
}
.out-btn{
  min-width: 52px;
  font-size: 10px;
  border-radius: 20px;
  background: orange;
  color: var(--primary-bg-hghl-color);
  font-weight: 600;
  max-height: 28px;
}
.in-btn{
  font-size: 12px;
  min-width: 52px;
  border-radius: 20px;
  background: mediumseagreen;
  color: var(--primary-bg-hghl-color);
  font-weight: 600;
  max-height: 28px;
}
.more-edit{
  color: #284255;
}
.more-edit1{
  color: #284255;
  opacity: 56%;
}
.tw-table-content{
  .mat-sort-header-container {
    border-bottom:solid 0px currentColor !important;
  }
}
.mat-row:nth-child(odd){
  background-color: var(--primary-bg-hghl-color);
}
      
.mat-row:nth-child(even){
  background-color: #FBFCFF;
}

.ovi-img-size-delay {
  width: 15px;
  height: 15px;
  object-fit: contain;
  padding: 5px 5px 0px 0px;
  cursor: pointer;
}

.ot-badge {
    position: relative;
    text-align: center;
    top: 2px !important;
    right: 4px !important;
  .mat-badge-content {
      background: #C60000;
  }
}

.priority {
  height: 18px;
  width: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-size: 9px;
  font-weight: 600;
}

.print-btn {
  display: flex;
  height: 25px;
  background:var(--primary-bg-color);
  align-items: center;
  color: white;
  justify-content: center;
  font-size: 12px;
}

.twt-table {
  max-height: calc(100vh - var(--tableSize));
}

.twt-tab-table {
  max-height: calc(100vh - 171px);
    @media (min-width:430px) and (max-width:1000px) {
      max-height: calc(100vh - 300px);
    }
}

.twt-tab-table-with-header {
  max-height: calc(100vh - 231px);
}

.twt-table-with-header {
  max-height: calc(100vh - 139px);
}

.twt-table-icon-header {
    max-height: calc(100vh - 133px);
}

.twt-table-pop-with-header {
  max-height: calc(100vh - 265px);
}

.twt-table-ex-pop-with-header {
  max-height: calc(100vh - 385px);
}



.tw-asset-tooltip-item {
  position: relative;
  display: inline-block;
}

.tw-asset-tooltip-con {
  position: absolute;
  top: 28px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--primary-bg-hghl-color);
  border: 1px solid var(--primary-bg-color);
  border-radius: 10px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  padding: 10px 12px;
  font-size: 12px;
  color: #333;
  white-space: nowrap;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}

.tw-asset-tooltip-item:hover .tw-asset-tooltip-con {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(4px);
}

.tw-asset-tooltip-header {
  font-weight: 600;
  color: var(--primary-bg-color);
  border-bottom: 1px solid var(--primary-bg-color);
  padding-bottom: 4px;
  margin-bottom: 6px;
  font-size: 13px;
}

.tw-asset-tooltip-row {
  display: flex;
  margin: 3px 0;
  color: var(--quaternary-color);
}

.tw-asset-tooltip-row-1 {
  color: var(--quaternary-color);;
  font-weight: 500;
  width: 70px;
}

.tw-asset-tooltip-row-2 {
  color: var(--quaternary-color);
  font-weight: 500;
}


.tw-asset-menu-template {
  overflow: hidden;
  max-height: 300px;
  min-width: 330px;
}
.tw-asset-menu-template .tw-asset-menu-header {
  font-weight: 600;
  font-size: 16px;
  padding: 4px 10px;
  height: 30px;
  color: var(--primary-bg-color);
  border-bottom: 1px solid $quinary-color  ;
}

.tw-asset-menu-event {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 2px 5px;
}

.tw-asset-tip-color {
   color: var(--quaternary-color) !important;
}

.tw-asset-menu-event .tw-asset-title {
  color: var(--quaternary-color) !important;
  font-size: 11px;
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  align-items: center;
  padding: 0px 13px;
}
.tw-asset-menu-event .tw-asset-menu-time {
  font-size: 11px;
  color: #666;
}

.tw-asset-icon-menu1 {
  font-size: 18px;
  height: 22px;
  width: 19px;
  padding-top: 3px;
  margin-right: 5px !important;
  color: var(--primary-menu-bg-color) !important;
}

.tw-asset-icon-menu2 {
  font-size: 18px;
  height: 22px;
  width: 19px !important;
  padding-top: 3px;
  margin-right: 5px !important;
  color:  var(--primary-menu-bg-color) !important;
}

.tw-asset-mat-divider {
  border-color: #1e8fc991 !important;
  margin: 0 10px 0px 14px !important;;
  border-top-width: 1px !important;
}

.tw-status.assigned   { filter: invert(45%) sepia(95%) saturate(600%) hue-rotate(20deg) brightness(80%); }
.tw-status.inprogress { filter: invert(50%) sepia(100%) saturate(800%) hue-rotate(100deg) brightness(70%); }
.tw-status.complete   { filter: invert(40%) sepia(90%) saturate(700%) hue-rotate(85deg) brightness(65%); }
.tw-status.schedule   { filter: invert(50%) sepia(90%) saturate(600%) hue-rotate(190deg) brightness(70%); }
.tw-status.pending    { filter: invert(65%) sepia(30%) saturate(700%) hue-rotate(10deg) brightness(75%); }
.tw-status.cancelled  { filter: invert(15%) sepia(100%) saturate(8000%) hue-rotate(340deg) brightness(60%);}

.tw-table-icon-header {
  display: flex;
  gap: 10px;
  align-items: center;
  min-width: 160px;
  max-width: 180px;
  flex-wrap: wrap;
}

.tw-asset-mat-divider {
  border-color: var(--primary-menu-bg-color) !important;
  margin: 0 5px 0px 17px !important;
  border-top-width: 1px !important;
}

.tw-asset-tooleTip-icon {
 display: flex;
 flex-direction: row;
 align-items: center;
}

.tw-asset-tooltip-iconsize {
  margin-right: 6px;
  font-size: 18px;
}

 .ovi-custom-checkbox {
  width: 105px;
  height: 29px;

  input[id^="status-"] {
    display: none;

    
    + label {
      height: 65%;
      width: 100%;
      > .status-switch {
        cursor: pointer;
        width: 100%;
        height: 65%;
        position: relative;
        background-color: var(--primary-bg-color);
        color: var(--primary-bg-color);
        transition: all 0.5s ease;
        padding: 3px;
        border-radius: 50px;
        border: 0.5px solid #ffffff;

        &:before,
        &:after {
          border-radius: 25px; 
          height: calc(100% - 6px);
          width: calc(50% - 3px);
          display: flex;
          align-items: center;
          position: absolute;
          justify-content: center;
          transition: all 0.3s ease;
        }

        &:before {
          background-color: #ffffff;
          color: var(--primary-bg-color);
          box-shadow: 0 0 4px 4px rgba(#000, 0.2);
          left: 48%;
          font-weight: 800;
          font-size: 10px;
          z-index: 10;
          content: attr(data-unchecked);
        }

        &:after {
          right: 0;
          content: attr(data-checked);
        }
      }
    }

    &:checked + label > .status-switch {
      background-color: #ded7d7;

      &:after {
        left: 0;
        content: attr(data-unchecked);
        font-size: 14px;
      }

      &:before {
        color: var(--primary-bg-color);
        left: 4%;
        content: attr(data-checked);
      }
    }
  }

  &.syncing-on input[id^="status-"] + label > .status-switch {
    opacity: 0.4;
    background: radial-gradient(circle at 65% center, #D3D3D3 0%, var(--primary-bg-color) 20%, transparent 27%), linear-gradient(to right, var(--primary-bg-color) 65%, #D3D3D3 65%);
    cursor: not-allowed;
    width: 100%;
    border-radius: 25px;
    transition: background 0.3s ease;
    position: relative;
    &:before {
      left: 55%;
      transform: translateX(-50%);
      width: auto;
      padding: 0 10px;
      background-color: #ffffff;
      color: var(--primary-bg-color);
      font-weight: bold;
      border-radius: 25px;
      z-index: 10;
    }

    &:after {
      display: none;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 120%; 
      height: 20px;
      background: #ffffff;
      border-radius: 50%;
      transform: translateX(-50%) translateY(-50%);
      z-index: 5; 
    }
  }

  &.syncing-off input[id^="status-"] + label > .status-switch {
    opacity: 0.4;
      background: radial-gradient(circle at 35% center, #D3D3D3 0%, #D3D3D3 20%, transparent 24%), linear-gradient(to right, var(--primary-bg-color) 25%, #D3D3D3 45%);
    cursor: not-allowed;
    width: 100%;
    border-radius: 25px;
    transition: background 0.3s ease;
    position: relative;
    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 120%;
      height: 20px;
      background: #ffffff;
      border-radius: 50%;
      transform: translateX(-50%) ;
      z-index: 5; 
    }

    &:before {
      left: 46%;
      transform: translateX(-50%);
      width: auto;
      padding: 0 10px;
      background-color: #ffffff;
      color: var(--primary-bg-color);
      font-weight: bold;
      border-radius: 25px;
      z-index: 10;
    }

    &:after {
      display: none;
    }
  }
}


.door-controller-actions {
  display: flex;
  gap: 8px;
  align-items: center;
}

.btn-open, .btn-close, .syncing-btn, .loading-btn {
  border: none;
  border-radius: 6px;
  padding: 6px 12px;
  font-size: 13px;
  cursor: pointer;
  transition: 0.2s;
}

.btn-open {
  background: #7ec18f;
  color: #fff;
}

.btn-close {
  background: #e87680;
  color: #fff;
}

.syncing-btn {
  background: #EEEFF1;
    color: var(--primary-bg-color);
    border: 1px solid #EEEFF0;
    box-shadow: 0px 0px 1px 0px;
}

.loading-btn {
 background: #EEEFF1;
    color: var(--primary-bg-color);
    border: 1px solid #EEEFF0;
    box-shadow: 0px 0px 1px 0px;
}

.clr-green {
  color:green;
}
.clr-red {
  color:red;
}
.clr-blue {
  color:blue;
}
.clr-orange {
  color:orange;
}

.tw-asset-click-link {
  color: #007bff;
  cursor: pointer;
  font-weight: 500;
  transition: color 0.2s ease;
}

.tw-asset-click-link:hover {
  color: #0056b3;
  text-decoration: none;
}

.tooltip-item {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px 10px;
    border-radius: 6px;
    white-space: nowrap;    
    width: max-content; 
}

.tooltip-icon {
    width: 6px;
    height: 6px;
    background: #00aaff;
    border-radius: 50%;
}

.tooltip-text {
    font-size: 13px;
    color: #333;
    font-weight: 500;
}

.open-badge {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 30px;  
  min-width: 15px;  
  padding: 0 8px;              
  background-color: #ffe4c4;
  color: #1a1a1a;;
  font-size: 12px;
  font-weight: 600;
  border-radius: 20px;
}


.location-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 180px;
    display: inline-block;
    vertical-align: top;
}

.icon-cover {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.linked-asset-icon {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.linked-asset-icon svg {
  color: #3b82f6;
}

.count-badge {
  position: absolute;
  top: -8px;
  right: -15px;
  background-color: #3b82f6;
  color: white;
  font-size: 9px;
  font-weight: 600;
  border-radius: 8px;
  min-width: 14px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3px;
  line-height: 1;
}

.maintenance-row{
  min-width:65px;
  max-width:170px;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  margin-bottom:4px;
}

.type-label{
  font-weight:600;
  margin-right:6px;
}

.maintenance-badge{
  width:20px;
  height:20px;
  cursor: pointer;
  border-radius:50%;
  display:inline-flex;
  align-items:center;
  justify-content:center;
  font-size:10px;
  font-weight:600;
  margin-right:4px;
  color: var(--primary-bg-hghl-color);
}

.status-completed {
  background:#7fe7a6;
}

.status-pending {
  background:#ff853a;
}

.status-cancelled {
  background:#eb6a6a;
}

.status-scheduled {
  background:#6db9ff;
}

.status-assigned {
  background:#6db9ff;
}

.asset-detail-menu {
  padding: 5px 10px;
  min-width: 165px;
  border: 1px solid var(--primary-bg-color)
}

.asset-detail-menu .mat-mdc-menu-content {
  padding: 0;
}

.main-del-header {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 8px;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 5px;
  color: var(--primary-bg-color);
}

.main-del-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
  font-size: 13px;
}

.main-del-label {
  color: var(--quaternary-color);
  font-weight: 500;
}

.main-del-value {
  color: var(--quaternary-color);
  font-weight: 500;
}

.main-del-value1 {
   color: var(--primary-menu-bg-color);
  font-weight: 500;
}

.live-video-icon {
    color: #0084ff;
    transition: transform 0.2s ease-in-out;
}

.live-video-icon:hover {
    color: #0056b3; 
    transform: scale(1.1);
    cursor: pointer;
}

.maintenance-hidden {
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.maintenance-wrapper:hover .maintenance-hidden {
  opacity: 1;
}

.mat-sort-header-disabled .mat-sort-header-arrow {
  opacity: 0;       
  width: 18px;      
  min-width: 18px;
  display: inline-block;
}

.mat-sort-header-disabled .mat-sort-header-container {
  padding-right: 18px; 
}

.chat-meg-btn {
  position: relative;
  cursor: pointer;
  display: inline-flex;
}

.chat-badge {
  position: absolute;
  top: -4px;
  right: -6px;
  color: #fff;
  font-size: 10px;
  font-weight: 600;
  border-radius: 9px;
  width: 16px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8px;
  background: #e52929;
}

.blink-badge {
  animation: blink 1s infinite;
}

@keyframes blink {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.tw-rep-icon-colr {
  padding-top: 8px;
  color: var(--quaternary-color);
}