<div class="manage-body">
    <div class="loading-spinner" *ngIf="isLoading">
      <div class="spinnerload">
          <div class="spin1"></div>
          <div class="spin2"></div>
          <div class="spin3"></div>
      </div>
    </div> 
    <div>
        <tw-header-new-component [component]="'departmentInfo'" 
            [permission]="null" [dateFilter]="null" [rowFilter]="null" 
            [manageAction]="showActions" [selectDropdown]="selectDropdown" 
            [selectedName]="selectedName !== null ? selectedName : true"
            [locationId]="null" [selectedView]="selectedView" [multiView]="false"
            (selectedViewAction)="null" (headerEventAction)="headerEventAction($event)">
        </tw-header-new-component>
    </div>  
     <div *ngIf="tableVersion === 1" class="tw-content1 table-align">
        <tw-table-component [component]="'departmentInfo'" 
        [columns]="displayedColumns" [tableData]="tableData"
        [iconHeader]="iconHeader" [iconColumn]="iconColumn"
        [sortColumn]="sortColumn" [eventColumn]="[null]"
        [rowClick]="false" [rowId]="'id'" [rowDbClick]="true" (rowClickAction)="rowClick($event)" (rowDbClickAction)="createDepartment($event, 'doubleClick')"
        [applyFilter]="applyFilterValue" [permissionControl]="permissionControl" [pagination]="null" [tableClass]="'table-with-header'">
    </tw-table-component>
    </div>
    <div *ngIf="tableVersion === 2" class="tw-content1 table-align">
        <tw-data-table [columns]="departmentInfoTwColumns" [data]="tableData" [pagination]="departmentInfoPaginationConfig"
            [rowClickable]="true" [rowId]="'id'" [rowDblClickable]="true" (rowDblClick)="createDepartment($event, 'doubleClick')" (rowClick)="rowClick($event)" (cellAction)="onCellAction($event)">
        </tw-data-table>
    </div>
  </div>