@import '../../../../../theme/configcolour.scss';

.pad-styl{
    margin-top: 10px;
    border-radius: 8px;
}
.frm-styl{
    overflow: hidden;overflow-x: hidden;overflow-y: hidden;
}

.input-container-pvcy {
    height: 92%;
    width: 100%;
}
.input-footer {
    color: var(--primary-bg-hghl-color);
    height: 5px;
    text-align: right !important;
}

.input-component-holder {
    height: 100%;
    width: 100%;
    overflow: hidden;
 }