@import '../../../../theme/configcolour.scss';
 
 .highlight {
      background-color: #E3EAEC !important;
    }

$bp : (
  lap:1024px,
   tab : 768px,
   mob: 565px,

);
@mixin query($display){
  @each $key, $value in $bp{
    @if ($display == $key){
      @media (max-width: $value){@content;}
    }
  }
}

.row-field-appearence{
  font-size: 10px;
  margin-top: 10px;
  width: 150px !important;
}
.filter-mat-form-appearence{
  padding-left: 10px;
  font-size: 8px;
  margin-top: 12px;
  width: 150px !important;
}
.select-action-box{
  font-size: 10px;
  margin-top: 15px;
  padding:0px 0px 0px 8px;
  border: 1px solid $tertiary-color !important;
  background: var(--primary-bg-hghl-color);
  border-radius: 0px 4px 4px 0px;
}
.actionw{
  width: 150px;
  height: 30px;
  display: inline-grid;
  justify-items: center;
  align-items: center;
  @include query(4k){width: 128px;}
    @include query(lap_l){width: 130px;}
    @include query(lap){width: 100px;}
    @include query(tab_l){ width: 166px;}
    @include query(mob){ width: 135px;}
    @include query(mob_sl){ width: 116px;}
    @include query(mob_s){ width: 80px;}
}

.search-align{
  width: 150px;
  height:30px;
  @include query(tab_l){
    width: 70%;
  }
}

.label002{
  background: var(--primary-bg-color);
  color: var(--primary-bg-hghl-color);
  padding: 0px 8px 0px 8px;
  border-radius: 4px 0px 0px 4px;
  height: 30px;
  width: 15px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 2px 6px #00000029;
}


.resource-footer-pad{
  padding-top: 0px !important;
}
.cre-resou{
  height: 460px;
  overflow: auto;
}
.res-list-hint {
  position: relative;
  bottom: 14px;
  font-size: 11px;
  left: 5px;
  color: #ff0000;
}
// -------------------------------------------------mat-tab height start-----------------------------
.cust-tab {
  height: calc(100% - 0px);
  .mat-tab-body-wrapper {
      height: 100%;
   
  }
  .mat-tab-body-content {
      height: 100%;
      overflow: hidden !important;
  }
}

// -------------------------------------------------mat-tab height end-----------------------------
