.mat-icon-button {
    width: 40px !important;
    height: 40px !important;
}
.highlight {
    background-color: #E3EAEC !important;
  }
.mrgn-style{
    margin: 1%;
}
.pat-srch-style{
    width: 100%; height: 25px;font-size: 19px; font-weight: 600;
}
.manage-component .manage-table-header {
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    padding-right: 10%;
}