@import '../../../../../theme/configcolour.scss';

.input-component-holder-tkt {
    height: 100%;
    width: 100%;
    overflow: hidden;
 }
 .input-container-tkt {
    height: 450px;
    overflow: auto;
}

.file-name{
    color:#4B4B4B;
    font-size: 12px;
}
.upload-btn{
    background-color: #141D2E;
    color: var(--primary-bg-hghl-color);
    border-radius: 4px;
}