<div class="input-component-holder ovi-font-family" style="height:100% ;width:100%;">
    <div class="ovi-pop-hdr">
        <div  *ngIf="data">{{"Create Support Ticket"|translate}} </div>
        <div mat-dialog-close><mat-icon>highlight_off</mat-icon></div>
        </div>
       
        <div class="ovi-matfrmfld ovi-matfrmfld-box-top-btm-pdg popup-margin" style="overflow: auto;height:calc(100% - 135px);" [formGroup]="ticketForm">
        <div class="ovi-row-gap">
            <div  class="ovi-row-two-clmn ovi-matfrmfld-input-box-pdg">
                <span *ngIf="data != 'newuser'">
                    <mat-label  class="ovi-lbl-text-size">{{"Select Entity"|translate}}</mat-label>
                    <mat-form-field class="ovi-row-frmfld-wdh "  appearance="outline">
                        <input matInput appPlaceholder [showPlaceholder]="false" [placeholderText]="'Select Entity'|translate" formControlName="customerId" autocomplete="off">
                        <!-- <mat-select placeholder="Select Entity" formControlName="customerId">
                            <mat-option *ngFor="let cust_list of customerList" [value]="cust_list.id">
                                {{cust_list.name}}
                            </mat-option>
                        </mat-select> -->
                    </mat-form-field>
                </span>
                    <span *ngIf="data == 'newuser'">
                        <mat-label  class="ovi-lbl-text-size">{{"Entity Name"|translate}} <span class="mandatory-field">*</span></mat-label>
                    <mat-form-field class="ovi-row-frmfld-wdh ovi-matfrmfld-err"  appearance="outline">
                        <input matInput appPlaceholder [showPlaceholder]="false" [placeholderText]="'Entity Name'|translate" formControlName="facilityName"
                            [errorStateMatcher]="matcher" autocomplete="off" required>
                        <mat-error *ngIf="ticketForm.controls.facilityName.invalid">
                            <span [hidden]="!ticketForm.controls['facilityName'].errors.required">{{"Entity Name
                                is
                                required"|translate}}.</span>
                        </mat-error>
                    </mat-form-field>
                </span>
            </div>
            <div  class="ovi-row-two-clmn ovi-matfrmfld-input-box-pdg">
                    <mat-label  class="ovi-lbl-text-size">{{"Your Name"|translate}} <span class="mandatory-field">*</span></mat-label>
                    <mat-form-field  class="ovi-row-frmfld-wdh ovi-matfrmfld-err" appearance="outline">
                        <input matInput appPlaceholder [showPlaceholder]="false" [placeholderText]="'Your Name'|translate" formControlName="name" autocomplete="off" required>
                        <mat-error *ngIf="ticketForm.controls.name.invalid">
                            <span [hidden]="!ticketForm.controls['name'].errors.required">{{"Your Name
                                is
                                required"|translate}}.</span>
                        </mat-error>
                    </mat-form-field>
            </div>
       
            <div class="ovi-row-two-clmn ovi-matfrmfld-drpdwn-top-box">
                <span *ngIf="data != 'newuser'">
                    <mat-label  class="ovi-lbl-text-size">{{"Select location"|translate}} </mat-label>
                    <mat-form-field class="ovi-row-frmfld-wdh "  appearance="outline">
                        <mat-select appPlaceholder [showPlaceholder]="false" [placeholderText]="'Select location'|translate" formControlName="locationId">
                            <mat-option *ngFor="let block_list of blockList" [value]="block_list.id">
                                {{block_list.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </span>
                    <span *ngIf="data == 'newuser'" class="ovi-matfrmfld-input-box-pdg">
                    <mat-label  class="ovi-lbl-text-size">{{"Location Name"|translate}} <span class="mandatory-field">*</span></mat-label>
                    <mat-form-field class="ovi-row-frmfld-wdh ovi-matfrmfld-err"  appearance="outline">
                        <input matInput appPlaceholder [showPlaceholder]="false" [placeholderText]="'Location Name'|translate" formControlName="locationName" autocomplete="off" required>
                        <mat-error *ngIf="ticketForm.controls.locationName.invalid">
                            <span [hidden]="!ticketForm.controls['locationName'].errors.required">{{"Location Name
                                is
                                required"|translate}}.</span>
                        </mat-error>
                    </mat-form-field>
                </span>
            </div>
            <div class="ovi-row-two-clmn  ovi-matfrmfld-input-box-pdg">
                    <mat-label  class="ovi-lbl-text-size">{{"Priority"|translate}}</mat-label>
                    <mat-form-field class="ovi-row-frmfld-wdh " appearance="outline">
                        <input matInput appPlaceholder [showPlaceholder]="false" [placeholderText]="'Priority'|translate" formControlName="ticketPriorityId" autocomplete="off">
                        <!-- <mat-select placeholder="Priority" formControlName="ticketPriorityId">
                            <mat-option *ngFor="let priorList of ticketPriorityList" [value]="priorList.code">
                                {{priorList.value}}
                            </mat-option>
                        </mat-select> -->
                    </mat-form-field>
            </div>    
            <div  class="ovi-row-two-clmn ovi-matfrmfld-input-box-pdg">
                    <mat-label  class="ovi-lbl-text-size">{{"Phone"|translate}} <span class="mandatory-field">*</span></mat-label>
                    <mat-form-field class="ovi-row-frmfld-wdh ovi-matfrmfld-err" appearance="outline">
                        <input matInput appPlaceholder [showPlaceholder]="false" [placeholderText]="'Phone'|translate" formControlName="phone" autocomplete="off" required>
                        <mat-error *ngIf="ticketForm.controls.phone.invalid">
                            <span [hidden]="!ticketForm.controls['phone'].errors.required">
                                {{"Phone number is required"|translate}}.
                            </span>
                            <span [hidden]="!ticketForm.controls['phone'].errors.pattern">
                                {{"Invalid Phone number"|translate}}
                            </span>
                        </mat-error>
                    </mat-form-field>
            </div>

            <div class="ovi-row-two-clmn ovi-matfrmfld-input-box-pdg">
                    <mat-label  class="ovi-lbl-text-size">{{"Email"|translate}}<span class="mandatory-field">*</span></mat-label>
                    <mat-form-field class="ovi-row-frmfld-wdh ovi-matfrmfld-err" appearance="outline">
                        <input matInput appPlaceholder [showPlaceholder]="false" [placeholderText]="'Email'|translate" formControlName="email" [errorStateMatcher]="matcher"
                            autocomplete="off" required>
                        <mat-error *ngIf="ticketForm.controls.email.invalid">
                            <span [hidden]="!ticketForm.controls['email'].errors.required">
                                {{"E-mail is required"|translate}}.
                            </span>
                            <span [hidden]="!ticketForm.controls['email'].errors.email">
                                {{"Invalid E-mail"|translate}}
                            </span>
                        </mat-error>
                    </mat-form-field>
            </div>
   
            <div class="ovi-row-two-clmn ovi-matfrmfld-input-box-pdg">
                    <mat-label  class="ovi-lbl-text-size">{{"Subject"|translate}}</mat-label>
                    <mat-form-field class="ovi-row-frmfld-wdh " appearance="outline">
                        <input matInput appPlaceholder [showPlaceholder]="false" [placeholderText]="'Subject'|translate" formControlName="title" autocomplete="off">
                    </mat-form-field>
            </div>

            <div class="ovi-row-two-clmn ovi-matfrmfld-textarea-top-box">
                    <mat-label  class="ovi-lbl-text-size">{{"Description"|translate}} </mat-label>
                    <mat-form-field class="ovi-row-frmfld-wdh " appearance="outline">
                        <textarea matInput appPlaceholder [showPlaceholder]="false" [placeholderText]="'Description'|translate" rows=2 formControlName="description"></textarea>
                    </mat-form-field>
            </div>
      
            <div class="ovi-row-two-clmn ovi-matfrmfld-input-box-pdg" appearance="outline">
                    <!-- <input matInput placeholder="  " formControlName="ticketAttachmentId" [errorStateMatcher]="matcher"
                        maxlength="26" readonly>
                    <mat-label class="tkt-atchmnt">Attachments<mat-icon class="icon-colr">
                            attach_file</mat-icon><br>
                    </mat-label> -->

                    <div>
                        <label>
                            <input class="vsbly-shw" type="file" id="file3" name="file" (change)="handleFileSelect($event)" style="display:none" />
                            <a mat-raised-button class="upload-btn">
                                <mat-icon>file_upload</mat-icon>
                                {{"Upload File"|translate}}
                            </a>
                        </label>
                        <span class="file-name"><br>{{fileName}}{{fileType}}</span>
                    </div>

                    <!-- <div>
                        <button type="button" class="nice-button cur-ptr">Choose file</button>
                        <input type="file" size="60" id="file3" name="file" class="upload-btn"
                            (change)="handleFileSelect($event);" />
                        <span class="file-name"><br>{{fileName}}{{fileType}}</span>
                    </div> -->


                    <!-- <input class="vsbly-shw" type="file" id="file3"  (change)="handleFileSelect($event);" /> -->
                </div>
            <div>
                <div class="header-close">


                    <div *ngFor="let imgObj of imageData;let index = index" class="mgn-cmn-styl">
                        <img [src]="imgObj.file "  alt="imgObj" class="img-prew lgtbox-style" *ngIf="imgObj.mimeType.includes('image')">
                        <mat-icon (click)="cancelFile(index);"  matTooltip="{{'Delete'|translate}}?" class="del-icn"  (keydown.enter)="fixClick()">delete
                        </mat-icon>

                        <object *ngIf="imgObj.mimeType=='application/pdf'" [data]="imgObj.file" type="application/pdf">
                            <div class="frame-styl"><iframe
                                    src="https://docs.google.com/viewer?&embedded=true" title="Document Viewer"></iframe></div>
                        </object>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ovi-pop-ftr">
        <button mat-button class="cancle-btn" mat-dialog-close>{{"Cancel"|translate}}</button>
        <button mat-button *ngIf="data" class="active-btn" [disabled]="ticketForm.invalid || isDisabled"
            appDebounceClick (debounceClick)="saveTicket()" [debounceTime]="300" cdkFocusInitial>{{"Save"|translate}}</button>
    </div>
</div>
