@import '../../../../../theme/configcolour.scss';

.appterms-tab {
    .mat-tab-body-wrapper {
        height: calc(100% - 60px) !important;
    }
}

.tw-filter-new:focus {
  border-color: #ccc !important;
  box-shadow: none !important;
  outline: none;
}

.custom-checkbox-appterms {
      width: 100px;
      height: 22px;
      input#status {
        display: none;
        
        // Unchecked State
        + label {
          height: 100%;
          width: 100%;
          > .status-switch-appterms {
            cursor: pointer;
            width: 100%;
            height: 100%;
            position: relative;
            background-color: var(--primary-bg-color);
            color: var(--primary-bg-hghl-color);
            transition: all 0.5s ease;
            padding: 3px;
            border-radius: 50px;
            border: 3px solid var(--primary-bg-color);    
            &:before,
            &:after {
              border-radius: 2px;
              height: calc(100% - 6px);
              width: calc(50% - 3px);
              display: flex;
              align-items: center;
              position: absolute;
              justify-content: center;
              transition: all 0.3s ease;
            }
            
            &:before {
              background-color: var(--primary-bg-hghl-color);
              color: var(--primary-bg-color);
              box-shadow: 0 0 4px 4px rgba(#000, 0.2);
              left: 35px;
              border-radius: 25px;
              font-weight: 800;
              width: 70px;
              font-size: 14px;
              z-index: 10;
              content: attr(data-unchecked);
            }
            
            &:after {
              right: 0;
              content: attr(data-checked);
            }
          }
        }
    
        // Checked stae
        &:checked + label > .status-switch-appterms {
          background-color: #edf4f7;
     
          &:after {
            left: 0;
            content: attr(data-unchecked);
            font-size: 14px;
          }
     
          &:before {
            color: var(--primary-bg-color);
            left: 2%;
            content: attr(data-checked);
          }
        }
      }
    }

.tw-toglebox-appterms {
  height: 40px;
  float: right;
  position: relative;
  right: 125px;
  width: 0px;
}



input.no-spinner::-webkit-outer-spin-button,
input.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input.no-spinner {
  -moz-appearance: textfield;
}

.ovi-schl-custom-select {
    display: flex;
    width: 44px;
    align-items: center;
    justify-content: space-between;
    padding-right: 5px;
    position: relative;
    bottom: 8px;
}

.ovi-schl-custom-dec {
    width: 19px;
    font-size: 16px;
    height: 19px;
    display: flex;
    justify-content: center;
    border-radius: 50% 50%;
    color: var(--primary-bg-hghl-color);
    background: var(--primary-bg-color);
    cursor: pointer;
}

.ovi-schl-custom-incre {
    font-size: 16px;
    height: 19px;
    width: 19px;
    display: flex;
    justify-content: center;
    border-radius: 50% 50%;
    color: var(--primary-bg-hghl-color);
    background: var(--primary-bg-color);
    cursor: pointer;
}

.ovi-appterms-tab-height {
  .mat-tab-body-content {
    overflow: hidden !important;
  }
}

.expand{
    display: flex;
    width: 25px;
    height: 26px;
    border-radius: 50px 0px 0px 50px;
    align-items: center;
    justify-content: center;
    background: var(--primary-bg-color);
    position: relative;
    top: 5px;
}
.tw-info-appterms {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 30px;
  overflow: auto;
  height: calc(100% - 1px);
  width: 650px;
  overflow-x: hidden;
}