<div fxFlex class="popup-container" appWindowResize (resized)="onWindowResized($event)" [component]="'alertEntry'" [style.max-height.px]="this.height">
  <mat-toolbar class="popup-header">
    <div class="popup-title">{{"Alert"|translate}}</div>
    <div class="popup-close"><button mat-icon-button mat-dialog-close close-button class="ie-close-icon">
        <mat-icon class="icon-style">highlight_off</mat-icon>
      </button></div>
  </mat-toolbar>
  <div class="popup-input-container" style="overflow: hidden;">
    <div class="mrgn-styl">
      <div class="manage-action parent">
          <mat-form-field style="width: 150px;">
            <input matInput (keyup)="applyFilter($event.target.value)" appPlaceholder [showPlaceholder]="true" [placeholderText]="'Filter'|translate" autocomplete="off" >
          </mat-form-field>

          <div class="child">
            <span class="tw-filter-label" [formGroup]="alertFilterForm" style="margin-left: 557px;">
              <mat-label class="tw-filter-label1" style="height: 14px;">{{"Type"|translate}}</mat-label>
              <mat-select class="tw-filter-label2" appPlaceholder [showPlaceholder]="false" [placeholderText]="''|translate" style="width: 150px;"
                formControlName="alertType" (selectionChange)="typeFilter($event.value)">
                <mat-option [value]="alertType">All</mat-option>
                <mat-option *ngFor="let type of ruleType" [value]="type.code">
                  {{type.value}}
                </mat-option>
              </mat-select>
            </span>
        </div>     
      </div>

    
      <div fxLayout="column" class="mat-elevation-z4 manage-component table-h-50" [ngClass.xs]="'components-container-xs'"
      fxLayoutGap="5px" style="max-height: 400px;">
        <div style="overflow: auto;">
          <mat-table #table [dataSource]="dataSource" matSort>
            <ng-container *ngFor="let col of displayedData" matColumnDef="{{col.colName}}">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="manage-table-header"
                style="justify-content: flex-start;"> {{col.title}}
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span *ngIf="col.colName == 'Time'">{{element[col.dataName] | date: 'shortTime'}}</span>
                <span *ngIf="col.colName != 'Time'">{{element[col.dataName]}}</span>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;" class="manage-table-header-row">
            </mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row" (click)=rowClick(row)
              (toggleChange)="onToggleChange($event,row)"  (keydown.enter)="fixClick()">
            </mat-row>

          </mat-table>
        </div>
        <mat-paginator [pageSizeOptions]="[10, 15, 20, 50, 100]" showFirstLastButtons class="tw-paginator-sticky"></mat-paginator>
      </div>
    </div>
  </div>
</div>
