 //banner three container start
 .bnr-container {
     display: flex;
     background: aliceblue;
     height: 60px;
     align-items: center;
 }

 .bnr-box {
     flex: 1;
     padding: 0px 0px 0px 10px;
 }

 .bnr-lbl {
     font-size: 12px;
     font-style: oblique;
     color: #837d7d;
     font-weight: 600;
 }

 .bnr-dta {
     font-weight: 700;
     font-size: 14px;
     color: #2e2e2e;
 }
 //banner three container end