@import '../../../../../theme/configcolour.scss';


.sidemenu-footer{
    color: var(--primary-bg-hghl-color);
    text-align: center;
    font-size: 14px;
    bottom: 0em;
    position: fixed;
    width: 15.5%;
    margin: 0 auto;
}
.sd-men-style{
    height: 100%;
}
.sd-men-style_1{
    bottom: 0em;position: fixed;height: 217px; width: 15.5%;
}
.opcty-style{
    opacity: 0.17;
}

.side-menu-style{
    height: calc(100% - 33px);
}