<div class="manage-body container-fluid">
    <tw-header-new-component [component]="'workflowForm'" [permission]="null" [dateFilter]="this.selectedDate" 
    [selectFilter]="selectFilter" [rowFilter]="rowFilter" [selectTypeFilter]="selectTypeFilter" [rowTypeFilter]="rowTypeFilter" [manageAction]="showActions" 
    [selectDropdown]="selectDropdown" [selectedName]="selectedName !== null ? selectedName : true" [locationId]="null" [selectedView]="null" 
    [multiView]="false" (selectedViewAction)="null" (headerEventAction)="headerEventAction($event)">
    </tw-header-new-component>
    <div>
        <tw-table-component [component]="'workflowForm'" [columns]="displayedColumns" [tableData]="tableData" [dateColumns]="dateColumns"
            [rowClick]="true" [iconHeader]="iconHeader" [iconColumn]="iconColumn" [sortColumn]="sortColumn"
            [eventColumn]="eventColumn" [rowId]="'id'" (eventAction)="eventAction($event)"
            (rowClickAction)="rowClick($event)" [applyFilter]="applyFilterValue" [permissionControl]="permissionControl"
            [pagination]="null" [tableClass]="'table-with-header'"></tw-table-component>
    </div>
</div>