@import url('https://unpkg.com/leaflet@1.2.0/dist/leaflet.css');
@import url('https://unpkg.com/leaflet-geosearch@latest/assets/css/leaflet.css');

@import '../../../../../theme/configcolour.scss';

.leaflet-map-size {
    height:100%;
    width:99%;
}
.leaflet-view {
    @media(max-width: 600px){
        height: 77vh;
    }
    height: 380px;
    width: 100%;
    padding: 6px;
    overflow: auto;
}
.leaflet-touch .leaflet-control-geosearch a.reset {
    line-height: 30px;
    height: 25px;
}
$mh:(
  h1:248px,
  h2:356px,
  h3:198px,
  h4:426px,
  h5:525px,
);
$bp : (
  lap:1024px,
  tab:896px,
  land_scape:695px,
  mob: 565px,
  mob_m:425px,
  mob_s: 320px
);
@mixin disp_height($display){
  @each $key,$value in $mh{
    @if ($display==$key){
      @media(max-height:$value){@content;}  
    }
  }
}
@mixin query($display){  
  @each $key, $value in $bp{
    @if ($display == $key){
      @media (max-width: $value){@content;}
    }
  }
}
.close-align-map {
    width: 96% !important;
    @include query(mob){
        width: 87% !important;
    }
}
.row-field-toggle{ 
  width:11%;
  margin-top: 5px;
  margin-bottom: 5px;
  @include query(tab){
    width: 50%;
  }
  @include query(mob){
    width: 85%; 
  }
}
.toggle-text-left {
  font-size: 14px;
  padding-right: 10px;
  font-weight: 600;
}
.toggle-text-right {
  font-size: 14px;
  padding-left: 10px;
  font-weight: 600;
}

.geo-search-container {
  position: absolute;
  top: 179px;
  left: 240px;
  transform: translateX(-50%);
  z-index: 1001;
  width: 350px;
  
  .search-box {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: 14px;
    color: #7e7e7e;
  }
  .search-box:hover {
    border: 1px solid #cccccc;
  }
  .clear-btn {
    position: absolute;
    margin-top: -38px;
    margin-left: 340px;
    background: var(--primary-bg-hghl-color);
    width: 35px;
    height: 38px;
    border-left: 2px solid;
    border-bottom-color: #cccccc;
    border-right-color: #cccccc;
    border-top-color: #cccccc;
    border-left-color: #cccccc;
  }
}
.leaflet-control-geosearch {
  display: none;
}

