<!-- <div class="ovi-font-family" appWindowResize (resized)="onWindowResized($event)" (resizedWidth)="onWindowResizedWidth($event)" [component]="'pop-up'"
    [style.height.px]="popHeight" [style.width.px]="popWidth">
    <mat-toolbar class="input-header block-1" style="height: 35px;">
        <div  class="header-name close-align-map" style="text-overflow: ellipsis;">Track Location</div>
        <div class="header-close"><button mat-icon-button mat-dialog-close close-button class="ie-close-icon">
            <mat-icon class="icon-style">highlight_off</mat-icon>
        </button></div>
    </mat-toolbar>
    <div *ngIf="!showMap" class="leaflet-view" style="overflow: auto;" [style.height.px]="this.contentHeight">
        <div class="row-field-toggle" *ngIf="this.data.reqStatus === 'RQ-CO' && this.getSets">
            <div class="example-form" style="display: flex;">
                <span class="toggle-text-left">PICKUP</span>
                <mat-slide-toggle #toggle [(ngModel)]="toggleMap" style="height: 18px;"></mat-slide-toggle>
                <span class="toggle-text-right">DROP</span>
            </div>
        </div>
        <agm-map style="height: 100%;"
            [latitude]="lat"
            [longitude]="lng"
            [disableDefaultUI]="false"
            [zoom]="13">
            <agm-direction *ngIf="this.data.reqStatus !== 'RQ-CO' && this.data.reqStatus !== 'RQ-RJ'"
              [origin]="{ lat: this.originLat, lng: this.originLng }" 
              [waypoints]="this.waypoints"
              [destination]="{ lat: this.lat, lng: this.lng }"
              [markerOptions]="markerOptions"
              [renderOptions]="renderOptions">
            </agm-direction>

            <agm-direction *ngIf="this.directions.length !== 0 && !this.getSets"
              [origin]="{ lat: this.originLat, lng: this.originLng }" 
              [waypoints]="this.directions[0].waypoints"
              [destination]="{ lat: this.lat, lng: this.lng }"
              [markerOptions]="markerOptions"
              [renderOptions]="this.directions[0].renderOptions">
            </agm-direction>

            <agm-marker *ngIf="this.directions.length !== 0 && this.getSets"
                [latitude]="this.originLat"
                [longitude]="this.originLng"
                [markerDraggable]="false"
                [iconUrl]="this.patientIcon">
            </agm-marker>
            <agm-marker *ngIf="this.directions.length !== 0 && this.getSets"
                [latitude]="this.lat"
                [longitude]="this.lng"
                [markerDraggable]="false"
                [iconUrl]="this.hospitalIcon">
            </agm-marker>

            <agm-polyline *ngIf="this.directions.length !== 0 && toggleMap === false && this.getSets" [strokeColor]="'#808080'" [strokeWeight]="'5'">
                <agm-polyline-point *ngFor="let line of directions[0]?.waypoints" 
                [latitude]="line.location.lat"
                [longitude]="line.location.lng" >
                </agm-polyline-point>
            </agm-polyline>

            <agm-polyline *ngIf="this.directions.length !== 0 && toggleMap === true && this.getSets" [strokeColor]="'#808080'" [strokeWeight]="'5'">
                <agm-polyline-point *ngFor="let line of directions[1]?.waypoints" 
                [latitude]="line.location.lat"
                [longitude]="line.location.lng" >
                </agm-polyline-point>
            </agm-polyline>

            <agm-marker
              *ngFor="let m of markers; let i = index"
              [latitude]="m.lat"
              [longitude]="m.lng"
              [markerDraggable]="m.draggable"
              [iconUrl]="m.url">
            </agm-marker>
        </agm-map>      
    </div>
</div> -->
