.msg_form_body{
  height: 515px;
  overflow: auto;
}
.radio-field{
  display:contents;
}
.form-row-2 {
  margin-left: 30px;
  margin-right: 30px;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
}

$mh:(
  h0:280px,
  h1:321px,
  h2:356px,
  h3:376px,
  h4:426px,
  h5:476px,
  h6:536px,
  h7:590px,
  h8:721px,
);
@mixin disp_height($display){
  @each $key,$value in $mh{
    @if ($display==$key){
      @media(max-height:$value){@content;}  
    }
  }
}
:host ::ng-deep .mat-checkbox-inner-container {
  height: 20px !important;
  width: 20px !important;
}
.msg_form_body-hig { 
  @include disp_height(h8){height:476px;}
  @include disp_height(h7){height:450px;}
  @include disp_height(h6){height:382px;}
  @include disp_height(h5){height:327px;}
  @include disp_height(h4){height:288px;}
  @include disp_height(h3){height:266px;}
  @include disp_height(h2){height:225px;}
  @include disp_height(h1){height:180px;}
  @include disp_height(h0){height:120px;}
  height: 472px;
  overflow-y:auto;
  overflow-x: hidden;
}