@import '../../../../theme/configcolour.scss';

.input-header {
	h1 {
		padding: 0px;
	}
}
.block-1{
  display: flex;
  flex-direction: row;
  gap:2%;
}
$bp : (
  desktop:1440px,
  lap_m:1101px,
  lap:1024px,
  tab : 768px,
  mob: 565px,
  mob_m:425px,
  mob_s: 320px,
  tab_m:801px,
);
@mixin query($display){
  @each $key, $value in $bp{
    @if ($display == $key){
      @media (max-width: $value){@content;}
    }
  }
}
.location-footer-pad{
  color: var(--primary-bg-hghl-color);
  padding: 2px 4px 0px 0px;
  text-align: right !important;
  margin-bottom: 10px;
  @include query(desktop){
    margin-bottom: 0px;
  }
}

$mh:(                           //LANDSCAPE
  h0:280px,
  h1:321px,
  h2:356px,
  h3:376px,
  h4:426px,
  h5:476px,
  h6:536px,
  h7:590px,
);
@mixin disp_height($display){
  @each $key,$value in $mh{
    @if ($display==$key){
      @media(max-height:$value){@content;}
    }
  }
}
  .location-content-body{ //create location
    @include disp_height(h6){height:340px;}
    @include disp_height(h5){height:290px;}
    @include disp_height(h4){height:240px;}
    @include disp_height(h3){height:220px;}
    @include disp_height(h2){height:185px;}
    @include disp_height(h1){height:140px;}
    @include disp_height(h0){height:110px;}
    height: 444px;
    overflow: auto;
    padding-left: 7px;
  }
  .mob-header {
    text-overflow: ellipsis;
  }

  .mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
    display: block;
    height: 34px !important;
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    padding: 0;
}
.location-unmapped-body{ //create location
  @include disp_height(h6){height:340px;}
  @include disp_height(h5){height:290px;}
  @include disp_height(h4){height:240px;}
  @include disp_height(h3){height:220px;}
  @include disp_height(h2){height:185px;}
  @include disp_height(h1){height:140px;}
  @include disp_height(h0){height:110px;}
  height: 444px;
  overflow: auto;
  padding: 0px 3px 0px 10px;
}
.selected-entity-list {
  background-color: var(--primary-bg-color);
  color: var(--primary-bg-hghl-color);
}
.non-selected-entity-list {
  background-color: var(--primary-bg-hghl-color);
  color: black;
}
.spin-test-table {
  position: absolute; 
  width: 100%; 
  height: 100%; 
  z-index: 2000; 
  display: flex; 
  align-items: center; 
  justify-content: center;
  margin-top: 20px;
}
