@import '../../../theme/configcolour.scss';

.side-container {
    width: 6%; 
    background-color: #019F96;
    color: var(--primary-bg-hghl-color) !important;
    height: 66%;
    float: left;
    overflow: auto;
}
.container {
    width: 92%;
    height: 85%;
    float: right;
    background: var(--primary-bg-hghl-color);
   padding: 0.5% 1% 0% 1%;
    .footer{
        font-family: 'Open Sans', sans-serif;
        font-size: 11px;
        color:#636A6D;
        bottom: 0em;
        left: 50%;
        position: fixed;
       }
}