@import '../../../../theme/configcolour.scss';

.deleteBtn {
    border-radius: 3px;
    background: #f33c3c;
    color: var(--primary-bg-hghl-color);
    height: 30px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.table-text{
    padding-right: 20px;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
}

.thumbnail-img {
    padding: 3px;
    width: 100px;
    height: 60px;
    object-fit: cover;
}

.profile-photo {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
    background: #EEEFF1
  }

.text-short{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .mat-row:nth-child(odd){
    background-color: var(--primary-bg-hghl-color);
  }
        
  .mat-row:nth-child(even){
    background-color: #FBFCFF;
  }

  .text-align{
    display: flex;
    font-size: 15px;
    padding: 5px 9px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .table-title{
    font-size: 15px;
    padding: 5px 9px;
    width: 350px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  #box1 {
    padding: 9px 9px;
    border: 1px solid $secondary-color;
    font-weight: 600;
    color: var(--primary-bg-hghl-color);
    background-color: #D61820 ;
    font-size: 13px;
    border-right: none;
    border-radius: 4px 0px 0px 4px;
    margin-left: 10px;
    height: 16px;
    margin-top: 1.3px;
  }

  #box2{
    margin-top: 1px;
    height: 29px;
    width: 11%;
    background: var(--primary-bg-hghl-color);
    border: 1px solid $secondary-color;
    padding-bottom: 4.5px;
    border-radius: 0px 4px 4px 0px;
  }

  .select{
    height: 30px;
    width: 85%;
    font-size: 11px;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 10px;
  }