@import '../../../../theme/configcolour.scss';

$bp : (              
    desktop_l:2900px,           //RESPONSIVE 
    desktop_m:1920px,
    desktop:1440px,
    lap_m:1101px,
    lap:1024px,
    tab : 768px,
    mob: 565px,
    mob_m:425px,
    mob_s: 320px,
    tab_m:801px,
  );
  @mixin query($display){  
    @each $key, $value in $bp{
      @if ($display == $key){
        @media (max-width: $value){@content;}
      }
    }
  }

.row-field-adv{   
    width: 22%;
    @include query(mob){
      width:100%;
    }
  }

  .count{
    font-weight: 600;
    font-size: 12px;
    display: table-caption;
    padding: 4px 4px 8px 4px
  }

  .headingexp{
    color: #000000;
    font-size: 18px;
    font-weight: 600;
  }

  .file-upload-button {
    background-color: var(--primary-bg-color) !important;
    height: 38px;
    overflow: hidden;
    position: relative;
    width: 175px;
    border: var(--primary-bg-hghl-color);
    margin-top: 18px;
    border-radius: 5%;
    color: var(--primary-bg-hghl-color);
    margin-right: 20px;
  
  
  input[type="file"] {
        font-size: 100px;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
    }
  }

  .img-styl{
    width: 100%;height: 100%;padding:2px;display: flex;
  }
  .img-styl_1{
    height: 25px;
    width: 40px;
    border: 1px solid black;
    margin: -14px;
  }

  .img-cls-btn{
    font-size: 16px;
    display: inline-block;
    position: relative;
    left: 35px;
    bottom: 6px;
    color: black;
    background: var(--primary-bg-hghl-color);
    cursor: pointer;
    height: 15px;
    width: 15px;
    font-weight: 600;
  }

  .num-words{
    position: relative;
    bottom: 18px;
    left: 10px;
    font-weight: 600;
  }

  .errortext{
    position: relative;
    top: -20px;
    color: red;
    font-size: 11px;
  }

  .not-equal{
    position: relative;
    bottom: 15px;
    color: red;
    font-size: 11px;
    left: 15px;
    font-weight: 600;
  }

  .cost{
    margin-top: 10px;
    padding: 15px;
    display: flex;
    font-weight: 600;
    grid-gap: 2%;
    gap: 2%;
    font-size: 15px;
  }

  .custom-tab-group {
    .mat-tab-label.mat-tab-label-active {
    color: #D61820;
    font-size: 13px;
    font-weight: 600;
    background:var(--primary-bg-hghl-color) !important;
    }
    .mat-ink-bar {
      background-color: #D61820 !important;
    }
  }

  .custom-ngx-calander{
   .mat-calendar-body-cell-content .mat-focus-indicator .mat-calendar-body-today
    .mat-calendar-body-selected {
      background-color: #D61820 !important;
      color: var(--primary-bg-hghl-color);
    }
  }

  .mat-calendar-body-selected {
    background-color:#D61820;
    color: var(--primary-bg-hghl-color);
  }

  .mat-primary .mat-pseudo-checkbox-checked, .mat-primary .mat-pseudo-checkbox-indeterminate {
    background: #D61820;
  }

  .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #D61820;
  }
