<div class="manage-body container-fluid">
  <tw-header-new-component [component]="'advertisement'" [permission]="null" [dateFilter]="null"
      [rowFilter]="null" [manageAction]="showActions" [selectDropdown]="selectDropdown"
      [selectedName]="selectedName !== null ? selectedName : true" [selectedView]="selectedView"
      (selectedViewAction)="null" (headerEventAction)="headerEventAction($event)">
  </tw-header-new-component>
  <div>
      <tw-table-component [component]="'advertisement'" [columns]="displayedColumns" [tableData]="tableData"
          [iconHeader]="iconHeader" [iconColumn]="iconColumn" [sortColumn]="sortColumn" [eventColumn]="eventColumn"
          (eventAction)="eventAction($event)" [applyFilter]="applyFilterValue" [rowClick]="true" [rowId]="'id'"
          (rowClickAction)="rowClick($event)" [permissionControl]="permissionControl" [pagination]="null">
      </tw-table-component>
  </div>
</div>