@import '../../../../../theme/configcolour.scss';

.row-field-live {
    width: 99%
}

.live-blocks {
    padding: 0 25px;
    display: block !important;
}

.label-icon {
    padding: 16px 10px 10px 0px
}

.type-field {
    font-weight: 600;
}

.file-upload-button {
    background: #000000;
    color: var(--primary-bg-hghl-color);

    input[type="file"] {
        font-size: 100px;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
    }
}

.close-align {
    display: block;
    width: 383px;
    position: relative;
    top: 30px;
    text-align: end;
}