@import '../../../../theme/configcolour.scss';

.porter-tab-content{
overflow: hidden;
}
#porter-box1 {
  width: 40%;
  padding:9px;
  border:1px solid $secondary-color;
  font-weight: 600;
  color: var(--primary-bg-hghl-color);
  background-color: var(--primary-bg-color);
  font-size: 11px;
  border-right: none;
  border-radius: 4px 0px 0px 4px;
}
#porter-box1, #porter-box2{
  display:inline;
  padding-left: 8px;
}
#porter-box2{
  background: var(--primary-bg-hghl-color);
  border: 1px solid $secondary-color;
  padding-top: 2px;
  padding-bottom: 6px;
  border-radius: 4px 4px 4px 4px;
}
.porter-select{
  height: 30px;
  width: 10%;
  font-size: 11px;
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
}
.porter-custom-filter{
  margin:5px 0px;
}
.completed {
  color: black;
}
.cancelled {
  color: #C60000;
}

.close{
  float: right;
  color: var(--primary-bg-hghl-color);
  font-size: 20px;
}
.col{
  width:50%;
  display: table-cell;
  padding: 6% 6% 6% 2%;
  color: #4B4B4B;
  text-align: left;
  font-size: 15px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  line-height: 2.2;
}

.tw-manage-component-1 {
  background-color: var(--primary-bg-hghl-color);
  min-height: 50px;
  overflow: auto;
}

:host ::ng-deep .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button .mat-datepicker-toggle-default-icon {
  margin: -5px;
  font-size: 13px;
}
.font-align{
  position: absolute;
  top: 0px;
}
.left-date
{
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-color: #707070;
  background-color:var(--primary-bg-color);
  font-size: 26px;
  padding: 0px;
  height: 31px;
  color:var(--primary-bg-hghl-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-date
{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
   border-color: #707070;
   background-color:var(--primary-bg-color);
   font-size: 26px;
   padding: 0px;
   height: 31px;
   color:var(--primary-bg-hghl-color);
   display: flex;
   justify-content: center;
   align-items: center;

}

.conversation-active {
  color: var(--primary-bg-color);
}

.conversation-inactive {
  color: var(--quinary-color);
}

.porter-chat-badge {
  position: absolute;
  top: -4px;
  right: -6px;
  color: #fff;
  font-size: 10px;
  font-weight: 600;
  border-radius: 9px;
  width: 16px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8px;
  background: #e52929;
}

.porter-chat-meg-btn {
  position: relative;
  cursor: pointer;
  display: inline-flex;
}

.porter-rating-cell {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.rating-star {
  font-size: 26px;
  width: 34px;
  height: 34px;
}

.rating-value {
  position: absolute;
  top: 56%;
  left: 49%;
  transform: translate(-50%, -50%);
  font-size: 10px;
  font-weight: 600;
  color: #000;
  pointer-events: none;
}
