<div class="manage-body">

  <tw-header-new-component [component]="'student'" [permission]="null" [dateFilter]="null" [selectFilter]="selectFilter" [rowFilter]="rowFilter" [manageAction]="showActions" [selectDropdown]="selectDropdown" [selectedName]="selectedName !== null ? selectedName : true"
    [locationId]="locationId" [selectTypeFilter]="selectTypeFilter" [rowTypeFilter]="rowTypeFilter" [typeId]="typeId" [selectedView]="null" [multiView]="false" (selectedViewAction)="null" (headerEventAction)="headerEventAction($event)"></tw-header-new-component>

  <div *ngIf="selectedView == 'table'">
    <tw-table-component [component]="'student'" [columns]="displayedColumns" [tableData]="tableData" [iconHeader]="iconHeader" [iconColumn]="iconColumn" [sortColumn]="sortColumn"
    [eventColumn]="eventColumn" (eventAction)="eventAction($event)" [rowClick]="true" [rowId]="'userId'" (rowClickAction)="rowClick($event)" [timeColumns]="timeColumns"
      [applyFilter]="applyFilterValue" [permissionControl]="permissionControl" [pagination]="[{length: length, pageSize: pageSize, pageStart: pageStart}]" [tableClass]="'table-with-header'"></tw-table-component>
  </div>
</div>
