@import '../../../../../theme/configcolour.scss';

.dialog-header {
    height: 40px;
    font-size: 17px; 
    font-weight: 800; 
    background: var(--primary-bg-color);
}
.custom-tooltip {
    background-color: rgb(122, 118, 118); 
    color: var(--primary-bg-hghl-color); 
  }
