.grid-list-container {
    width: 100%;
    height: 100%;
    padding: 0 !important;
}

.grid-title-container {
    padding: 0 5px !important;
    height: calc(100vh - 155px);
    box-shadow: 4px 6px 9px #00000026;
    border: 1px solid #DEDEDE;

    .mat-grid-tile-content {
        align-items: unset;
        justify-content: unset;
        flex-direction: column;
    }
}

.patient-q-title {
    height: 40px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #EEEFF1;
    font-size: 14px;
    font-weight: 600;
}

.count-box {
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #5978F1;
    color: #FFFFFF;
}

.queue-content {
    display: flex;
    padding: 8px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: calc(100% - 60px);
    overflow-x: hidden;
    overflow-y: auto;
}

.workList-card {
    width: 95%;
    font-size: 12px;
    padding: 8px!important;
    box-shadow: #00000026 0px 3px 7px 0px !important;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

 .content-line-1 {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
 }

 .content-line-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #585858;
    .uhid-line {
        display: flex;
        align-items: center;
        gap: 5px;
    }
 }

 .content-line-3 {
    display: flex;
    align-items: center;
    gap: 5px;
    max-width: 90%;
    white-space: nowrap;
    .text-short{
        overflow: hidden;
        text-overflow: ellipsis;
    }
 }

 .title-header-color {
    color: #0080C3;
    font-size: 13px;
    min-width: 55%;
    max-width: 82%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
 }

 .gender-icon {
    padding-top: 2px;
    font-size: 14px;
    height: fit-content;
    width: fit-content;
 }

 .middel-grid-container {
    .mat-grid-tile {
        overflow: visible !important;
    }
    .mat-grid-tile-content {
        align-items: center ;
        justify-content: center;
        flex-direction: column;
    }
 }

