 <div class="loading-spinner" *ngIf="isloading">
     <div class="spinnerload">
         <div class="spin1"></div>
         <div class="spin2"></div>
         <div class="spin3"></div>
     </div>
 </div>
<div class="manage-body">
  <tw-header-new-component [component]="'reader'"   [type]="'new'" [permission]="null" [dateFilter]="null" [selectFilter]="selectFilter" [manageAction]="showActions"
  [selectDropdown]="selectDropdown" [selectedName]="selectedName !== null ? selectedName : true"
  [locationId]="null" [selectedView]="selectedView" (headerEventAction)="headerEventAction($event)" [groupFilter]="parentFilter"></tw-header-new-component>

    <tw-table-component [component]="'reader'" [columns]="displayedColumns" [tableData]="tableData"
      [iconHeader]="iconHeader" [iconColumn]="iconColumn" [sortColumn]="sortColumn" [eventColumn]="eventColumn"
      (eventAction)="eventAction($event)" [rowClick]="true" (rowClickAction)="rowClick($event)" [rowId]="'id'"
      [rowDbClick]="true" (rowDbClickAction)="createNewReader($event)" [applyFilter]="applyFilterValue" [dateTimeColumns]="dateTimeColumns"
      [permissionControl]="permissionControl" [pagination]="[{length: length, pageSize: pageSize, pageStart: pageStart}]" [tableClass]="'table-with-header'">
    </tw-table-component>
</div>