

@import '../../../../theme/configcolour.scss';

.tw-reader-ver {
        float: right;
        align-content: center;
        .tw-reader-ver-select {
            background: var(--primary-bg-color);
            width:150px;
            padding:5px 0px 0px 10px;
            margin-top: 15px;
            min-width: 35px !important;
            height: 31px;
            border-radius: 5px;
            cursor:pointer;
            .mat-select-value {
                color:var(--primary-bg-hghl-color);
                display: table-cell;
                max-width: 0;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 14px;
                .mat-select-placeholder {
                    color:var(--primary-bg-hghl-color) !important;
                    font-size: 14px;
                }
            }
            .mat-select-arrow-wrapper {
                .mat-select-arrow{
                    width: 0;
                    height: 0;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-top: 5px solid;
                    margin: 0 15px;
                    color: var(--primary-bg-hghl-color);
                }
            }            
        }
    }

$bp : (
   mob: 565px,
   mob_m:425px,
   mob_s: 320px
  
);
@mixin query($display){
  @each $key, $value in $bp{
    @if ($display == $key){
      @media (max-width: $value){@content;}
    }
  }
}
.thres-btn{
    @include query(mob_m){
        margin-right: 25px;
    }
}
.top{
    @include query(mob){
        margin-top: -9px;
    }
}
:host
  ::ng-deep
.mat-checkbox-inner-container {
    display: inline-block;
    height: 14px !important;
    line-height: 0;
    margin: auto;
    margin-right: 8px;
    order: 0;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    width: 14px !important;
    flex-shrink: 0;
}

.mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button {
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 88px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 2px;
    overflow: visible;
}	
 .header-ssid
 {
     color:black;
 }

  .mat-row:nth-child(odd){
    background-color: var(--primary-bg-hghl-color) ;
  }
        
  .mat-row:nth-child(even){
    background-color: #FBFCFF ;
  }
