@import '../../../../theme/configcolour.scss';

$bp : (
  desktop_l: 3840px,
  desktop_m: 2560px,
  desktop:1440px,
  lap:1024px,
   tab : 768px,
   mob: 565px,
   mob_m:425px,
   mob_s: 320px  
);
@mixin query($display){
  @each $key, $value in $bp{
    @if ($display == $key){
      @media (max-width: $value){@content;}
    }
  }
}

$mh:(
  h1:248px,
  h2:356px,
  h3:198px,
  h4:426px,
);
@mixin disp_height($display){
  @each $key,$value in $mh{
    @if ($display==$key){
      @media(max-height:$value){@content;}  
    }
  }
}
.form-height-thr{ //landscape mode
  @include disp_height(h4){
    height: 70%;
  }
  @include disp_height(h2){
    height: 62%;
  }
  @include disp_height(h1){
    height: 54%;
  }
  height: 78%;
}
.threshold-container{
    width:100%;

.threshold-list {
  height:100%;
  width:21%;
  float: left;
  border-right: 0.1px solid #e6e6e6;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: contents;
}
.threshold-info{
    height:100%;
    width:98%;
.threshold-info-container{
    padding: 15px 0px 0px 15px;
.tag-info{
    width: 100%;
}
.example-tag-form{
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    margin-right: 55px;
}
.reader-info{
    width: 100%;
.example-reader-form-min{
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    
    margin-right: 15px;
}
.example-reader-form-max{
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    margin-right: 35px;
}
.row-field-meter{
    margin-right: 10px !important;
}
.row-max-field{
    margin-right: 33px !important;
}
}
}
}
}
mat-slider {
    width: 150px;
  }

.form-body-thres{
	overflow: auto;
}
.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
    background-color: #3f586a;
  }

  .mat-slider.mat-slider-horizontal .mat-slider-track-wrapper {
    height: 12px;
    border-radius: 10px
  }
  
  .mat-slider.mat-slider-horizontal .mat-slider-track-background,
  .mat-slider.mat-slider-horizontal .mat-slider-track-fill {
    height: 100%;
  }

.threshold-row-field{
    width: 48%;
    @include query(tab){
        width: 73%;
    }
    @include query(mob){
        width: 150%;
    }
    @include query(mob_m){
        width: 182%;
    }
    @include query(mob_s){
        width: 258%;
    }
}
.threshold-footer-pad{
  margin-top:0px;
  @include query(desktop_l){
    margin-top: -50px;
  }
  @include query(desktop_m){
    margin-top: -25px;
  }
  @include query(desktop){
    margin-top: -20px;
  }
  @include query(lap){
    margin-top: -15px;
  }
  @include query(tab){
    margin-top: -10px;
  }
  @include query(mob){
    margin-top: -5px;
  }
}
.close-align-threshold {
  width: 100% !important;
}
.left-threshold {
  padding: 0px 15px 15px 0px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
.right-threshold {
  float: right;
  border-bottom: 3px solid #D1D1D1;
  border-right: 3px solid #D1D1D1;
}
.selectThreshold {
	color: var(--primary-bg-hghl-color);
	background: var(--primary-bg-color);
  overflow: auto;
  margin-top: 1px;
  border-radius: 2px;
  display: flex;
  cursor: pointer;
}
.unselectThreshold {
	color: #000000;
	background: var(--primary-bg-hghl-color);
  overflow: auto;
  margin-top: 1px;
  border-radius: 2px;
  display: flex;
  cursor: pointer;
}
.no-threshold{
  text-align: center;
  color: grey;
  font-size: 12px;
  font-style: italic;
  font-weight: 600;
  margin-top: 40px;
}
.min-width {
  width: calc(100% - 98px) !important;
}
.max-width {
  width: calc(100% - 60px) !important;
}
