  @import '../../../../../theme/configcolour.scss';
  
  .mat-chip-list-wrapper {
    width: 45%;
    float: left;
    display: block !important;
    white-space: nowrap;
    overflow: auto;
    flex-wrap: unset !important;
    margin: 1px 0px 0px 0px !important;
    text-align: right;

    .mat-chip.mat-standard-chip {
      background-color: #a0a5ab;
      color: var(--primary-bg-hghl-color);
      font-size: 12px;
      height: 23px;
    }
  }

  .search-result {
    min-height: 9px;
    position: inherit;
    max-height: 450px;
    background-color: var(--primary-bg-hghl-color);
    width: auto;
    border: solid 1px #28425521;
    overflow: auto;
    margin-left: -1px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    overflow-x: hidden;
    z-index: 9999;
    white-space: nowrap;

  }

  .search-result-body {
    width: 100%;
    height: 35px;
  }

  .search-result-body:hover {
    background-color: #f3f9f8;
  }

  .srch-list-style {
    float: left;
    height: 35px;
    width: 30px;
    text-align: center;
    cursor: pointer;
  }

  .pad-styl {
    padding-top: 5px;
  }

  .search-data {
    color: #4B4B4B;
    font-size: 11px;
  }

  .tl-br-styl {
    height: 28px;
    width: 100%;
    background-color: #eeeeee;
    text-align: center;
    cursor: pointer;
  }

  .tl-br-styl_1 {
    text-decoration: none;
    color: #284255;
    cursor: pointer;
  }

  .tl-br-styl_2 {
    height: 30px;
    width: 100%;
    background-color: #eeeeee;
    text-align: center;
    font-size: 12px;
    padding-top: 5px;
  }

  .nav-search-options {
    width: 60px;
    height: 30px !important;
    padding: 0px !important;
    font-size: 12px;
    text-align: center !important;
    border-radius: 40px;
  }

  .custom-dash-search-autocomplete {
    right: 210px;
    background: var(--primary-bg-hghl-color);
    margin-top: 3px;
    margin-left: 2px;
    max-height: 450px !important;
    min-width: 500px !important;
    box-shadow: 0px 2px 3px -1px #00000033, 0px 1px 3px 0px #00000024, 0px 1px 4px 0px #0000001f !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
  }

  .fit-content-width {
    min-width: fit-content !important;
    right: 0 !important;
  }

  .fixed-width {
    min-width: 500px !important;
    right: 210px !important;
  }

  $bp : (desktop:1440px,
    lap:1024px,
    tab : 768px,
    tab_s:716px,
    mob: 565px,
  );

  @mixin query($display) {
    @each $key, $value in $bp {
      @if ($display ==$key) {
        @media (max-width: $value) {
          @content;
        }
      }
    }
  }

  .global-search {
    width: 100%;

    @include query(tab) {
      width: 86%;
    }
  }

  .nav-search-bar {
    width: 100%;
    height: 76%;

    .mat-form-field-appearance-legacy .mat-form-field-infix {
      width: 300px !important;
      border-top: 0px;
      padding: 0px;

      .mat-form-field-label-wrapper {
        margin-top: 1px;
        margin-left: 10px;

        @include query(mob) {
          font-size: 12px;
          margin-top: 7px;
        }
      }
    }

    .mat-form-field-appearance-legacy {
      .mat-form-field-underline {
        display: none;
      }
    }

    .mat-form-field-appearance-legacy .mat-form-field-wrapper {
      @include query(mob) {
        padding-bottom: 0px;
      }
    }
  }



  .global-search-1 {
    //btn justify crt
    margin-right: 2px;
    margin-top: 0px;

    @include query(mob) {
      margin-right: 5px;
      margin-top: 0px !important;
    }

    @include query(tab_s) {
      margin-top: 5px;
    }
  }

  .global-search-2 {
    //search alignment
    width: 26px;
  }

  .glo-btt {
    @include query(tab) {
      width: 22px;
    }
  }

  .search-icon {
    width: 185%;
    float: left;

    @include query(desktop) {
      width: 88%;
    }
  }

  .input-container {
    display: flex;
    justify-content: flex-end;
    height: 28px;
  }

  .global-search-icon {
    font-size: 18px;
    color: #000000c4;
    width: 23px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #dedede;
    border-radius: 50%;
    cursor: pointer;
  }

  .global-search-icon.expanded {
    height: 0;
    width: 0;
    position: relative;
    top: 13px;
    right: 17px;
  }

  .searchBox {
    font-size: 13px !important;
    border: 0px solid transparent;
    border-radius: 0 6px 6px 0;
    width: 0% !important;
    transition: width 0.5s ease;
  }

  .searchBox.expanded {
    font-size: 13px !important;
    padding: 8px 25px 8px 5px !important;
    width: 65% !important;
    color: #000000c4 !important;
    background: #f0f8ff !important;
    transition: width 0.5s ease;
    margin: 0;
  }

  .searchBox.expanded:focus {
    outline: none;
    border-top: 2px solid var(--primary-bg-color);
    border-right: 2px solid var(--primary-bg-color);
    border-bottom: 2px solid var(--primary-bg-color);
    border-left: none;
  }

  .search-filter-box {
    width: 0px !important;
    transition: width 0.5s ease;
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .search-filter-box.filterExpanded {
    width: fit-content !important;
    // min-width: 38% !important;
    padding: 5px 8px;
    border-radius: 6px 0 0 6px;
    background: #dedede;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: width 0.5s ease;
    // max-width: 25%;
    align-items: center;
  }

  .search-filter-box.filterExpanded.focused-no-right-border {
    border-top: 2px solid var(--primary-bg-color);
    border-bottom: 2px solid var(--primary-bg-color);
    border-left: 2px solid var(--primary-bg-color);
    border-right: none;
  }

  .search-filter-box.filterExpanded.focused-all-border {
    border: 2px solid var(--primary-bg-color);
  }

  .golbal-fiter {
    margin: 2px 0;
    height: 30px !important;
    display: flex !important;
    align-items: center;
    font-size: 12px;
  }

  .golbal-fiter:hover {
    background: var(--primary-bg-color) !important;
    color: var(--primary-bg-hghl-color) !important;
  }

  .today-button {
    font-size: 12px;
    padding: 0 13px 5px;
    box-shadow: 0px 1px 3px #00000029;
  }

  .highlight-global-opt {
    background: var(--primary-bg-color) !important;
    color: var(--primary-bg-hghl-color) !important;
  }

  .option-container {
    margin: 8px 10px;
    background: var(--primary-bg-hghl-color);
    border-radius: 5px;
    padding: 5px 10px;
    scale: 1;
    cursor: pointer;
  }

  .option-container:hover {
    scale: 1.03;
    border: solid 2px var(--primary-bg-color);
  }

  .search-option {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .selected-opt-text {
    font-size: 13px;
    text-transform: capitalize;
    white-space: nowrap;
    max-width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .option-icon {
    font-size: 20px;
    height: fit-content;
    width: fit-content;
    padding: 0;
    color: #7b7d7c;
  }

  .global-search-title {
    font-size: 14px;
    font-weight: 600;
    color: #3b3c3e;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .option-text {
    color: #3b3c3e;
    font-weight: 600;
    display: inline-block;
    max-width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .golbal-sub-text {
    font-size: 11px;
    padding: 3px 8px;
    align-items: baseline;

    .sub-text {
      align-items: baseline;
      color: #3b3c3e;
      display: flex;
      padding: 2px;
    }
  }

  .icon-background {
    background: var(--primary-bg-hghl-color);
    border-radius: 30px;
    padding: 2px;
  }

  .loc-tooltip{
    top: 30px;
    right: 0px;
    position: absolute;
    max-width: 250px;
    font-size: 12px;
    text-align: center;
    color: #f8f8f2;
    padding: 3px 8px;
    background: #95969e;
    border-radius: 4px;
    z-index: 1000;
    opacity: 1;
    font-family: 'Open Sans', sans-serif;
  }
  .loc-tooltip:after {
    content: "";
    position: absolute;
    border-style: solid;
  }
  .loc-tooltip-bottom:after {
    bottom: 100%;
    right: 15px;
    margin-left: -5px;
    border-width: 5px;
    border-color: transparent transparent #95969e transparent;
  }

  .view-map-cont{
    color: #127bb7;
    font-size: 13px;
    padding-left: 4px;
  }

  .view-map-cont:hover {
    scale: 1.03;
  }
