<div style="border: 2px;height: calc(100%);overflow: auto;width: 100% !important;">
    <div style="display: flex;height: calc(100% - 90px);overflow: auto;">
        <div style="display: flex; flex-direction: row;overflow: auto;gap: 10px;width: 100%;">
            <div *ngIf="monitortableData1.length" style="width: 100%;">
                <angular-table-component [id]="'monitortable1'" [type]="'ng-table'" [tableData]="monitortableData1"
                    [component]="'monitor'" [columns]="montdisplayedColumns" [columnData]="montDataColumns">
                </angular-table-component>
            </div>
            <div *ngIf="monitortableData2.length" style="width: 100%;">
                <angular-table-component [id]="'monitortable2'" [type]="'ng-table'" [tableData]="monitortableData2"
                    [component]="'monitor'" [columns]="montdisplayedColumns" [columnData]="montDataColumns">
                </angular-table-component>
            </div>
        </div>
    </div>
</div>