@import '../../../../../theme/configcolour.scss';

.hldy-custom-checkbox {
    width: 125px;
    height: 29px;
    input#hldy-status {
      display: none;
      
      // Unchecked State
      + label {
        height: 100%;
        width: 100%;
        > .hldy-status-switch {
          cursor: pointer;
          width: 100%;
          height: 100%;
          position: relative;
          background-color: var(--primary-bg-color);
          color: var(--primary-bg-hghl-color);
          transition: all 0.5s ease;
          padding: 3px;
          border-radius: 50px;
          border: 3px solid var(--primary-bg-color);    
          &:before,
          &:after {
            border-radius: 2px;
            height: calc(100% - 6px);
            width: calc(50% - 3px);
            display: flex;
            align-items: center;
            position: absolute;
            justify-content: center;
            transition: all 0.3s ease;
          }
          
          &:before {
            background-color: var(--primary-bg-hghl-color);
            color: var(--primary-bg-color);
            box-shadow: 0 0 4px 4px rgba(#000, 0.2);
            left: 2%;
            border-radius: 25px;
            font-weight: 800;
            width: 63px;
            font-size: 12px;
            z-index: 10;
            content: attr(data-unchecked);
          }
          
          &:after {
            right: 0;
            font-size: 12px;
            content: attr(data-checked);
          }
        }
      }
  
      // Checked stae
      &:checked + label > .hldy-status-switch {
        background-color: var(--primary-bg-color);
   
        &:after {
          left: 0;
          content: attr(data-unchecked);
          font-size: 12px;
        }
   
        &:before {
          color: var(--primary-bg-color);
          left: 60px;
          content: attr(data-checked);
        }
      }
    }
  }

  .week-day {
    background: var(--primary-bg-hghl-color);
    color: black;
    border: 1px solid lightgrey;
    font-weight: 600;
  }
  .active-day {
    background: var(--primary-bg-color);
    color: var(--primary-bg-hghl-color);
    font-weight: 600;
  }
  .date-icon {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.54); /* Material default icon color */
    margin-right: 8px; /* Spacing between icon and input */
  }