<div class="manage-body container-fluid">  
  <tw-header-new-component [component]="'rule'" [permission]="null" [dateFilter]="null" [rowFilter]="null" [manageAction]="[]" [selectDropdown]="null" [selectedName]="selectedName !== null ? selectedName : true"
  [locationId]="null" [selectedView]="selectedView" [multiView]="false" (selectedViewAction)="null" (headerEventAction)="headerEventAction($event)"></tw-header-new-component>
  <div *ngIf="tableVersion === 1">
    <tw-table-component [component]="'rule'" [columns]="displayedColumns" [tableData]="tableData" [iconHeader]="iconHeader" [iconColumn]="iconColumn" [sortColumn]="sortColumn"
     [eventColumn]="[null]" [rowClick]="false" (rowClickAction)="rowClick($event)" [rowId]="'id'" [applyFilter]="applyFilterValue" [permissionControl]="permissionControl" [pagination]="null" [tableClass]="'table-with-header'"></tw-table-component>
  </div>
  <div *ngIf="tableVersion === 2">
    <tw-data-table [columns]="ruleTwColumns" [data]="tableData" [pagination]="rulePaginationConfig"
        [rowClickable]="false" [rowId]="'id'" (rowClick)="rowClick($event)" (cellAction)="onCellAction($event)">
    </tw-data-table>
  </div>
</div>