

@import '../../../../../theme/configcolour.scss';

$bp : (
  desktop:1440px,
  lap:1024px,
   tab : 768px,
   tab_s:716px,
   mob: 565px,
);
@mixin query($display){
  @each $key, $value in $bp{
    @if ($display == $key){
      @media (max-width: $value){@content;}
    }
  }
}
.selected-tree {
	color: #f5f8f8;
	background: #c1c2c2;
}
.tree-hide {
	display: none;
}
.collapse-icon {
    font-size: 13px  !important;
	margin-top: -10px !important;
    color: #838383;
}
.expand-icon {
	font-size: 13px !important;
	margin-top: -10px !important;
    color: #838383;
}
.glo-btt{
  @include query(tab){
    width: 22px;
  }
}
.search-icon{
  width: 185%;
  float: left;
  @include query(desktop){
    width: 88%;
  }
}
.icon{
  font-size: 18px !important;
  height: 24px !important;
  width: 18px !important;
}
.left-date
{
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-color: #707070;
  background-color:var(--primary-bg-color);
  font-size: 26px;
  margin-left: 10px;
  padding: 0px;
  height: 38px;
  color:var(--primary-bg-hghl-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
}
.right-date
{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-color: #707070;
  background-color:var(--primary-bg-color);
  font-size: 26px;
  padding: 0px;
  height: 38px;
  color:var(--primary-bg-hghl-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -8px;
  margin-top: 2px;
}
.swap1 {
  vertical-align: bottom;
  margin-top: 150px;
  font-size: 40px;
  cursor: pointer;
  line-height: 8px !important;
  color: gray;
}
.swap2 {
  color: gray;
  vertical-align: middle;
  margin-top: -150px;
  margin-left: -10px;
  font-size: 40px;
  transform: rotate(180deg);
  cursor: pointer;
  line-height: 8px !important;
}
