.lblName{
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}
mat-radio-group {
    max-width: 50%;
    display: contents;
    height: 25px;
    margin-bottom: 0px;
    padding: 1px;
}
