
.custom-mat-column-width-check-box {
  overflow: hidden;
  width: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.merge-block-card {
  background-color:#F5F9FC;
  color: #4B4B4B;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  width: 35%;
  max-height: 75%;
  margin: 35px;
  padding: 2%;
  float: left;
}
.flex-container {
display: flex;
flex-direction: column;
.space-around{
  padding: 4%;
  width:250px;
  text-overflow: ellipsis;
}
}

#token_container
{
  width:40%;
  padding: 10px 10px 10px 40px;
  .token{
    color: #019F96;
    font-size:24px;
    font-weight:800;
  }
}
#one, #two
{
    display:inline;
    padding:2px;
}

.list-horizontal {
  padding: 0;
  .mat-list-item {
    display: inline-block;
    height: auto;
    width: auto;
  }
}

$bp : (
  4k:2560px,
  desktop_L:1920px,
  desktop:1440px,
  lap:1024px,
   tab : 768px,
   mob: 565px,
   mob_m:425px,
   mob_s: 320px
  
);
@mixin query($display){
  @each $key, $value in $bp{
    @if ($display == $key){
      @media (max-width: $value){@content;}
    }
  }
}

.merge-token{

  @include query(tab){
    padding-left: 0px;
  }
  @include query(lap){
    padding-left: 16px !important;
    margin-left: -142px;
  }
  @include query(desktop_L){
    padding-left: 165px !important;
  }
  @include query(4k){
    padding-left: 526px;
  }
}

.block-merge{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:8%;
  @include query(mob){
   flex-direction: column;
  }
}
.block-merge-1{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  @include query(tab){
    margin-left: 10px;
  }
  @include query(mob){
  margin-left: 22px;
   flex-direction: column;
  }
}
.row-field-merge{
  width: 44%;
  @include query(mob){
    width: 92%;
  }
}
.list-horizontal-1{
  @include query(mob){
    display: none;
  }
}
