<div class="ovi-font-family" style="width:100%;height:100%;">
    <mat-toolbar class="input-header">
        <div class="header-name">{{"Merge"|translate}}</div>
        <div class="header-close"><button mat-icon-button mat-dialog-close class="ie-close-icon">
                <mat-icon class="icon-style">highlight_off</mat-icon>
            </button></div>
    </mat-toolbar>
    <div style="height:86%;">

        <span>

            <mat-card class="merge-block-card" style="display: block;">
                <mat-card-title style="color: #284255;font-weight:700"> {{"Billed"|translate}} </mat-card-title>
                <div class="flex-container">

                    <span class="space-around">
                        <mat-checkbox [checked]="originalFirstName" (change)="[compareTwoData($event, data.data[1].firstName, 'originalFirstName'), twoRowData($event, data) ]">
                            {{"First Name"|translate}} : {{data.data[1].firstName}}
                        </mat-checkbox>
                    </span>

                    <span class="space-around">
                        <mat-checkbox [checked]="originalMiddleName" (change)="[compareTwoData($event, data.data[1].middleName, 'originalMiddleName'), twoRowData($event, data) ]" >
                            {{"Middle"|translate}} : {{data.data[1].middleName}}
                        </mat-checkbox>
                   </span>

                    <span class="space-around">
                        <mat-checkbox [checked]="originalLastName" (change)="[compareTwoData($event, data.data[1].lastName, 'originalLastName'), twoRowData($event, data) ]">
                            {{"Last"|translate}} : {{data.data[1].lastName}}
                        </mat-checkbox>
                    </span>

                    <span class="space-around">
                        <mat-checkbox [checked]="originalMobileNo" (change)="[compareTwoData($event, data.data[1].mobileNo, 'originalMobileNo'), twoRowData($event, data) ]">
                            {{"Mobile"|translate}} : {{data.data[1].mobileNo}}
                        </mat-checkbox>
                    </span>

                    <span class="space-around">
                        <mat-checkbox [checked]="originalBirthDate" (change)="[compareTwoData($event, data.data[1].birthDate, 'originalBirthDate'), twoRowData($event, data) ]">
                            {{"DOB"|translate}} : {{data.data[1].birthDate | date: 'dd/MM/yyyy'}}
                        </mat-checkbox>
                    </span>
                </div>
            </mat-card>

            <mat-card class="merge-block-card">
                <mat-card-title style="color: #284255;font-weight:700"> {{"Enrolled"|translate}} </mat-card-title>
                <div class="flex-container">

                    <span class="space-around">
                        <mat-checkbox [checked]="tempFirstName" (change)="[compareTwoData($event, data.data[0].firstName, 'tempFirstName'), twoRowData($event, data) ]">
                            {{"First Name"|translate}} : {{data.data[0].firstName}}
                        </mat-checkbox>
                    </span>

                    <span class="space-around">
                        <mat-checkbox [checked]="tempMiddleName" (change)="[compareTwoData($event, data.data[0].middleName, 'tempMiddleName'), twoRowData($event, data) ]">
                            {{"Middle"|translate}} : {{data.data[0].middleName}}
                        </mat-checkbox>
                    </span>

                    <span class="space-around">
                        <mat-checkbox [checked]="tempLastName" (change)="[compareTwoData($event, data.data[0].lastName, 'tempLastName'), twoRowData($event, data) ]">
                            {{"Last"|translate}} : {{data.data[0].lastName}}
                        </mat-checkbox>
                    </span>

                    <span class="space-around">
                        <mat-checkbox [checked]="tempMobileNo" (change)="[compareTwoData($event, data.data[0].mobileNo, 'tempMobileNo'), twoRowData($event, data) ]">
                           {{"Mobile"|translate}} : {{data.data[0].mobileNo}}
                        </mat-checkbox>
                    </span>

                    <span class="space-around">
                        <mat-checkbox [checked]="tempBirthDate" (change)="[compareTwoData($event, data.data[0].birthDate, 'tempBirthDate'), twoRowData($event, data) ]">
                            {{"DOB"|translate}} : {{data.data[0].birthDate | date: 'dd/MM/yyyy'}}
                        </mat-checkbox>
                    </span>
                </div>
            </mat-card>                 
        </span>

        <div id="token_container">
            <div id="one"><mat-label ><i>{{"Token"|translate}} : </i></mat-label></div>
            <div id="two"> 
              <span class="token">{{data.data[0].tokenNo}}</span>
            </div>
      </div>

    </div>
    <div class="input-footer">
        <button mat-button class="cancle-btn" mat-dialog-close>{{"Cancel"|translate}}</button>
        <button mat-button class="active-btn margin-r-1" appDebounceClick (debounceClick)="saveMergeRecord()"
        [debounceTime]="300" cdkFocusInitial>{{"Save"|translate}}</button>
    </div>
</div>