@import '../../../../../theme/configcolour.scss';

.comments-container {
    padding: 15px;
    font-size: 14px;
    overflow: auto;
    box-shadow: 0px 1px 8px -1px rgb(40 66 85 / 20%);

    .assessment-card {
        margin-left: 9px;
        margin-top: -8px;
        width: calc(100% - 45px);

        .assignee {
            color: rgba(0, 0, 0, 0.87);
            font-weight: 600;
        }
    }

    .header {
        display: flex;
        gap: 10px;
        padding-bottom: 2px;
        margin-left: 15%;
    }

    .content {
        margin-left: 15%;
        padding-bottom: 10px;
        display: block;
    }
    
    .attach{
        margin-top: -20px;
        display: flex;
        float: right
    }
}

.circles {
    height: 0.638em;
    width: 0.638em;
    border: 0.143em solid #707070;
    border-radius: 50%;
    display: block;
    position: relative;
}

.redlight {
    background: #ff0f0f;
    box-shadow: 0px 1px 12px 1px #ff0f0f;
}

.orangelight {
    background: #ff9205;
    box-shadow: 0px 1px 12px 1px #ff9205;
}

.greenlight {
    background: #08c408;
    box-shadow: 0px 1px 12px 1px #08c408;
}

.circle-desc {
    position: initial;
    top: 5em;
    font-size: 1.005em;
    width: auto;
    padding-left: 4px;
    max-width: 9.375em;
    margin-left: 14px;
    display: block;
    margin-top: -4px;
}

.img-siz{
    height: 20px;
    width: 70%;
    border: 1px solid black;
    margin: 3px;
  }

  .view-btn{
    display: block;
    background: var(--primary-bg-color);
    color: var(--primary-bg-hghl-color);
    border: var(--primary-bg-color);
    margin: 1px;
    width: 60px;
    padding: 5px;
    box-shadow: 0px 1px 14px 8px rgba(40, 66, 85, 0.2);
    cursor: pointer;
  }
