@import '../../../../../theme/configcolour.scss';


.mat-table-change {
    mat-header-cell {
        display:flex;
        justify-content:left !important;
    }
}
#ang-table-header.mat-header-row{
    height: 45px;
}
.dash-table-header-label{
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: #284255;
    height: 30px;
}
.dash-title{
    width: calc(100% - 40%);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    float: left;
}
.angulartable-header {
.mat-header-cell{
    color: #1a1a1a;
    font-size: 12px;                                                                                         
    background-color: #EEEFF1;
    font-weight: 600;
    height: 45px;
}
.mat-cell{
    font-size: 12px;                       
}
}
.mat-row:hover
{
    background-color:#F5F5F5;
}
.style1{
    flex-grow: 2.50;
}
.style2{
    flex-shrink: 1;
}
.style3{
    flex-grow: 4;
}
.style4 {
    .mat-cell {
    font-size: 14px;
    }
}

.mat-table-tableWidth1{
    min-width: 100%;
    overflow-x: scroll;
}

.mat-table-tableWidth2{
    min-width: 100%;
    overflow-x: auto;
}
.mat-table-tableWidth3{
    min-width: none;width: 150%;
    overflow-x: auto;
}
.transpose-container .mat-cell:nth-child(1) {   
    font-weight: bold; 
    width: 250px;
}

.transpose-container .mat-cell{
    border-bottom-style: none;
}
.loc-text{
    text-decoration: underline;
    cursor: pointer;
    color: var(--primary-bg-color);
}
@media screen and (-ms-high-contrast:active), all and (-ms-high-contrast:none){
    mat-header-cell {
        display: flex;
        justify-content: flex-start;
    }
}

.tableWidth{
    max-height:95%;
    max-width:100%;
    overflow-y: auto;
    overflow-x: auto;
    margin:0px 5px;
}
.rowColour{
.mat-row:nth-child(odd){
    background-color: #FBFCFF;
}
    
.mat-row:nth-child(even){
    background-color:var(--primary-bg-hghl-color) ;
}
}
.custom-reviewdate{
.form-field {
    top: 10px !important;
    width: 78% !important;
    margin-right: 11%;
}
.mat-form-field-infix {
    width: 140px !important;
}
.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0 0 0 0 !important;
}
.mat-form-field-appearance-outline .mat-form-field-flex {
    padding: 0 0.1em 0 0 !important;
}
}

.action-btn{
    display: flex;
    height: 36px;
    border-radius: 50px;
    align-items: center;
    padding-bottom: 3px;
}
.gw-task-active {
    cursor: pointer;
    height: 35px;
    background: var(--primary-bg-color);
    color: var(--primary-bg-hghl-color);
    font-weight: 600;
    border-radius: 80px;
    border: 2px solid var(--primary-bg-color);
  }
  .gw-task-inactive {
    cursor: pointer;
    height: 35px;
    background: #eaf2ff;
    color: var(--primary-bg-hghl-color);
    font-weight: 600;
    border-radius: 80px;
    border: 2px solid var(--primary-bg-color);
  }
  .task-true {
    cursor: pointer;
    background-color: var(--primary-bg-hghl-color);
    color: var(--primary-bg-color);
    position: relative;
    box-shadow: 0 0 4px 4px #0003;
    left: -12px;
    top: -4px;
    border-radius: 37px;
    font-weight: 800;
    width: 60px;
    font-size: 12px;
    z-index: 10;
    border: 2px solid var(--primary-bg-hghl-color);
  }
  .task-false {
    cursor: pointer;
    background-color: var(--primary-bg-hghl-color);
    color: var(--primary-bg-color);
    position: relative;
    box-shadow: 0 0 4px 4px #0003;
    right: -12px;
    top: -4px;
    border-radius: 37px;
    font-weight: 800;
    width: 60px;
    font-size: 12px;
    z-index: 10;
    border: 2px solid var(--primary-bg-hghl-color);
  }
  ::ng-deep .gw-menu {
    .mat-menu-content {
      padding-top: 0px !important;
      padding-bottom: 0px !important;
    }
    .mat-menu-item {
      line-height: 0px !important;
      height: 0px !important;
      min-height: 35px !important;
      font-size: smaller;
    }
    min-height: 30px !important;
  }
  .img-siz{
    height: 20px;
    width: 70%;
    border: 1px solid black;
    margin: 3px;
}

.mat-select-custom-category {
    min-width: 120px;
    max-width: 130px;
    min-height: 27px;
    border: solid 1px #d6d6d6;
    border-radius: 5px;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: border-color 0.2s
}

.mat-select-custom-category:focus {
    outline: none;
    border: solid 1.5px;
    border-color: var(--primary-bg-color) !important;
}

.mat-select-custom-category option {
  background-color: white;
  color: black;
  padding: 6px;
}

.mat-select-custom-category option:hover {
  background-color: #e6f4ff; 
  color: var(--primary-bg-color) !important;;
}

.mat-select-custom-category option:checked,
.mat-select-custom-category option:focus {
  background-color: var(--primary-bg-color) !important;;
  color: white;
}

.mat-menu-panel {
    min-height: fit-content;
}

.option-menu-btn {
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 10px;
}

.status-menu-icon {
    padding: 0 3px;
    font-size: 16px;
}

.text-over-dot{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

}

.include-col {
    display: flex;
    align-items: center;
    gap: 3px;
    font-weight: 600;
}

.tw-routine-menu-template {
    overflow: hidden;
    min-height: min-content;
    max-width: 350px;

    .mat-menu-content:not(:empty) {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
}

.tw-routine-dat {
    display: flex;
    gap: 7px;
    align-items: center;
}

.tw-routine-dat-colr {
    color: var(--quaternary-color);
    cursor:pointer;
}

.tw-ng-table-header {
    min-width: 80px;
    max-width: 300px;
}

.tw-ng-table-cel {
    min-width: 80px;
    max-width: 300px;
    overflow: hidden;
    white-space: normal;
    word-break: break-word;
}