.ovi-formtbl-matpag {
.mat-paginator-outer-container {
    display: flex;
    height: 50px !important;
}
.mat-paginator-container {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    padding: 0 8px;
    flex-wrap: wrap-reverse;
    width: 100%;
}
}
.form-table-header{
    color: #000000;
    font-size: 12px;
    background-color: #EEEFF1;
    font-weight: 600;
    height: 45px;
}
