@import '../../../../theme/configcolour.scss';

.custom-tab-group {
    .mat-tab-label.mat-tab-label-active {
    color: #D61820;
    font-size: 13px;
    font-weight: 600;
    background:var(--primary-bg-hghl-color) !important;
    }
    .mat-ink-bar {
      background-color: #D61820 !important;
    }
}