.no-device{
  padding: 45px 0px 45px 0px;
  text-align: center;
  font-size: 16px;
}
$mh:(
  h0:280px,
  h1:321px,
  h2:356px,
  h3:376px,
  h4:426px,
  h5:476px,
  h6:536px,
  h7:590px,
);
@mixin disp_height($display){
  @each $key,$value in $mh{
    @if ($display==$key){
      @media(max-height:$value){@content;}  
    }
  }
}
.consumer-content-body-hig {//config-create_alert
  @include disp_height(h7){
    height:400px;
  }
  @include disp_height(h6){
    height:300px;
  }
  @include disp_height(h5){
    height:276px;
  }
  @include disp_height(h4){
    height:225px;
  }
  @include disp_height(h3){
    height:208px;
  }
  @include disp_height(h2){
    height:175px;
  }
  @include disp_height(h1){
    height:140px;
  }
  @include disp_height(h0){
    height:75px;
  }
  height: 405px;
  overflow: auto;
} 
 