<div class="loading-spinner" *ngIf="loading">
  <div class="spinnerload">
      <div class="spin1"></div>
      <div class="spin2"></div>
      <div class="spin3"></div>
  </div>
  </div>
<div *ngIf="tableVersion === 1" class="manage-body">
  <tw-header-new-component [component]="'alert-management'" [type]="'new'" [permission]="null" [dateFilter]="this.selectedDate" [selectFilter]="null" [selectTypeFilter]="null" [manageAction]="null" 
  [locationId]="'All'" [selectDropdown]="selectDropdown" [selectedView]="null"  (headerEventAction)="headerEventAction($event)" [groupFilter]="parentFilter"></tw-header-new-component>
  <div>
    <tw-table-component [component]="'alert-management'" [columns]="displayedColumns" [tableData]="tableData" [iconHeader]="iconHeader" [iconColumn]="iconColumn" [sortColumn]="sortColumn" [dateTimeColumns]="dateTimeColumns"
    [eventColumn]="eventColumn" (eventAction)="eventAction($event)" [applyFilter]="applyFilterValue" [permissionControl]="permissionControl" [pagination]="[{length: length, pageSize: pageSize, pageStart: pageStart}]" [tableClass]="'twt-tab-table'"></tw-table-component>
  </div>
  </div>
<div *ngIf="tableVersion === 2" class="manage-body">
  <tw-header-new-component [component]="'alert-management'" [type]="'new'" [permission]="null" [dateFilter]="this.selectedDate" [selectFilter]="null" [selectTypeFilter]="null" [manageAction]="null" 
  [locationId]="'All'" [selectDropdown]="selectDropdown" [selectedView]="null"  (headerEventAction)="headerEventAction($event)" [groupFilter]="parentFilter"></tw-header-new-component>
  <div>
    <tw-data-table [columns]="alertManagementTwColumns" [data]="tableData" [pagination]="alertManagementPaginationConfig"
        [rowClickable]="false" [rowId]="'id'" (rowClick)="eventAction($event)" (cellAction)="onCellAction($event)"
        (pageChange)="onPageChange($event)">
    </tw-data-table>
  </div>
</div>