<div class="ovi-font-family">
    <div class="close-slider"><span class="close-slider-act-btn" (click)="close()" (keydown.enter)="fixClick()"></span></div>
    <div class="title">{{ data.type === 'modify' ? 'Modify Ticket' : 'Create Ticket' }}
    <span>({{ selectedTask === 'PR-LC' ? 'Location' :selectedTask === 'PR-AT' ? 'Asset' :selectedTask === 'PR-PA' ? 'Patient' : 'General' }})
    </span>
    </div>
    <div class="ovi-matfrmfld ovi-matfrmfld-box-top-btm-pdg popup-margin" [formGroup]="taskForm">
        <div *ngIf="!this.data?.disableIcon"style="display: flex; gap: 15px; padding: 10px 0px;">
            <span *ngFor="let option of contestList" class="context-btn" [class.active]="selectedTask === option.code"
                (click)="data.type !== 'modify' && getSelectTask(option.code)" (keydown.enter)="fixClick()">
                <img class="svg-icon" [class.active]="selectedTask === option.code" alt="task" [src]="option.code === 'PR-LC' ? '/assets/Menus/task-location.svg' : option.code === 'PR-AT' ? '/assets/Menus/task-asset.svg' : 
                option.code === 'PR-PA' ? '/assets/Menus/task-patient.svg' : '/assets/Menus/task-general.svg'" />
            </span>
        </div>
        <div class="ovi-row-gap" style="display: flex; gap: 15px; padding: 5px 3px;">
            <div class="ovi-row-one-clmn ovi-matfrmfld-drpdwn-top-box">
                <mat-label  class="ovi-lbl-text-size">{{"Category"|translate}}<span
                        class="mandatory-field">*</span></mat-label>
                <mat-form-field class="ovi-row-frmfld-wdh ovi-matfrmfld-err" appearance="outline">
                    <mat-select appPlaceholder [showPlaceholder]="false" [placeholderText]="'Category'|translate"
                        (selectionChange)="getTaskList('TAC-TKT', $event.value)" formControlName="categoryId"
                        [disableOptionCentering]="true">
                        <mat-option *ngFor="let data of categoryList" [value]="data.code">{{data.value}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="taskForm.controls['categoryId'].invalid">
                        <span *ngIf="taskForm.controls['categoryId'].hasError('required')">
                            {{"Category is required" | translate}}
                        </span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="ovi-row-one-clmn ovi-matfrmfld-drpdwn-top-box">
                <mat-label  class="ovi-lbl-text-size">{{"Task"|translate}}<span
                        class="mandatory-field">*</span></mat-label>
                <mat-form-field class="ovi-row-frmfld-wdh ovi-matfrmfld-err" appearance="outline">
                    <mat-select appPlaceholder [showPlaceholder]="false" [placeholderText]="'Task'|translate" formControlName="taskId"
                        (selectionChange)="selectedTaskActivity($event)" [disableOptionCentering]="true">
                        <mat-option *ngFor="let data of taskActivitiesList" [value]="data.id">{{data.name}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="taskForm.controls['taskId'].invalid">
                        <span *ngIf="taskForm.controls['taskId'].hasError('required')">
                            {{"Task is required" | translate}}
                        </span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div *ngIf="selectedTask == 'PR-LC' && !(taskData && taskData.title)"
                class="ovi-row-one-clmn ovi-matfrmfld-input-box-pdg">
                <mat-label  class="ovi-lbl-text-size">{{"Location"|translate}}
                    <span class="mandatory-field" *ngIf="data.type != 'modify'">*</span></mat-label>
                <mat-form-field class="ovi-row-frmfld-wdh ovi-matfrmfld-err" appearance="outline">
                    <input matInput appPlaceholder [showPlaceholder]="false" [placeholderText]="'Location'|translate" id="locationSearch"
                        formControlName="locationId" appTypeHit (typeHit)="searchLocationList($event)"
                        [matAutocomplete]="loc" autocomplete="off"
                        [readonly]="data.type === 'modify' || data.type === 'location'">
                    <mat-autocomplete autoActiveFirstOption
                        [displayWith]="locationEnabled === true ? getLocationList.bind(locationList) : ''"
                        #loc="matAutocomplete">
                        <mat-option *ngFor="let option of locationList" [value]="option.id" (click)="getFromInfo()" (keydown.enter)="fixClick()">
                            <div class="act-wid-styl">{{option.fullName}}</div>
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="taskForm.controls['locationId'].invalid">
                        <span *ngIf="taskForm.get('locationId')?.hasError('invalidLocation')">
                            {{"Please select a value from the options"|translate}}.
                        </span>
                        <span *ngIf="taskForm.controls['locationId'].hasError('required')">
                            {{"Location Name is required" | translate}}.
                        </span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div *ngIf="selectedTask == 'PR-AT' && !(taskData && taskData.title)"
                class="ovi-row-one-clmn ovi-matfrmfld-input-box-pdg">
                <mat-label  class="ovi-lbl-text-size">{{"Asset"|translate}}<span
                        class="mandatory-field">*</span></mat-label>
                <mat-form-field class="ovi-row-frmfld-wdh ovi-matfrmfld-err" appearance="outline">
                    <input matInput appPlaceholder [showPlaceholder]="false" [placeholderText]="'Asset'|translate" id="assetSearch"
                        formControlName="assetId" appTypeHit (typeHit)="searchAssetList($event)"
                        [matAutocomplete]="asset" autocomplete="off"
                        appTooltip tooltipText="{{displayAssetName ? displayAssetName : ' '}}"
                        [readonly]="data.type == 'modify' || data.type == 'asset'">
                    <mat-autocomplete class="mat-autocomplete-panel-asset" autoActiveFirstOption
                        [displayWith]="assetNameEnabled === true ? getAssetList.bind(assetList) : ''"
                        #asset="matAutocomplete">
                        <mat-option *ngFor="let option of assetList" (click)="getAssetLoction(option); getFromInfo()"
                            [value]="option.assetId" (keydown.enter)="fixClick()">
                            <div class="act-wid-styl">{{option.assetName}}
                            <ng-container *ngIf="option.serialNo">, {{ option.serialNo }}</ng-container>
                            <ng-container *ngIf="option.locationName">, {{ option.locationName }}</ng-container>
                            </div>
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="taskForm.controls.assetId.invalid">
                        <span  [hidden]="!taskForm.get('assetId').hasError('invalidAsset')">{{"Please
                            select
                            value from the option"|translate}}</span>
                        <span  [hidden]="!taskForm.controls['assetId'].errors.required">{{"Asset Name is
                            required"|translate}}.</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div *ngIf="selectedTask == 'PR-PA'" class="ovi-row-one-clmn ovi-matfrmfld-input-box-pdg">
                <mat-label  class="ovi-lbl-text-size">{{"Patient"|translate}}<span
                        class="mandatory-field">*</span></mat-label>
                <mat-form-field class="ovi-row-frmfld-wdh ovi-matfrmfld-err" appearance="outline">
                    <input matInput appPlaceholder [showPlaceholder]="false" [placeholderText]="'Patient'|translate" id="patientSearch"
                        formControlName="patientId" appTypeHit (typeHit)="searchPatientList($event)"
                        [matAutocomplete]="patient" autocomplete="off"
                        [readonly]="data.type == 'modify' || data.type == 'patient'">
                    <mat-autocomplete autoActiveFirstOption
                        [displayWith]="patientNameEnabled === true ? getPatientList.bind(patientList) : ''"
                        #patient="matAutocomplete">
                        <mat-option *ngFor="let option of patientList" [value]="option.id" (click)="getFromInfo()" (keydown.enter)="fixClick()">
                            <div class="act-wid-styl">{{option.fullName}}</div>
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="taskForm.controls.patientId.invalid">
                        <span  [hidden]="!taskForm.get('patientId').hasError('invalidPatient')">{{"Please
                            select
                            value from the option"|translate}}</span>
                        <span  [hidden]="!taskForm.controls['patientId'].errors.required">{{"Patient Name is
                            required"|translate}}.</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div *ngIf="selectedTask == 'PR-GN' || (taskData && taskData.title)"
                class="ovi-row-one-clmn ovi-matfrmfld-input-box-pdg">
                <div class="example-form">
                    <mat-label  class="ovi-lbl-text-size">{{"Name"|translate}}</mat-label>
                    <mat-form-field class="ovi-row-frmfld-wdh" appearance="outline">
                        <input matInput appPlaceholder [showPlaceholder]="false" [placeholderText]="'Name'|translate" formControlName="general" />
                    </mat-form-field>
                </div>
            </div>
            <div class="ovi-row-one-clmn ovi-matfrmfld-drpdwn-top-box">
                <mat-label  class="ovi-lbl-text-size">{{"Status"|translate}}</mat-label>
                <mat-form-field class="ovi-row-frmfld-wdh ovi-matfrmfld-err" appearance="outline">
                    <mat-select appPlaceholder [showPlaceholder]="false" [placeholderText]="'Status'|translate" formControlName="statusId"
                        [disableOptionCentering]="true">
                        <mat-option *ngFor="let data of actualStatusList"
                            [value]="data.code">{{data.value}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="ovi-row-one-clmn ovi-matfrmfld-drpdwn-top-box">
                <mat-label  class="ovi-lbl-text-size">{{"Assign Type"|translate}} <span
                        class="mandatory-field">*</span></mat-label>
                <mat-form-field class="ovi-row-frmfld-wdh ovi-matfrmfld-err" appearance="outline">
                    <mat-select appPlaceholder [showPlaceholder]="false" [placeholderText]="'Assign Type'|translate" formControlName="assignType"
                        [disableOptionCentering]="true" (selectionChange)="getTaskIncharge($event.value)">
                        <mat-option *ngFor="let data of assignTypeList" [value]="data.code">
                            {{data.value}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="taskForm.controls.assignType.invalid">
                        <span  [hidden]="!taskForm.controls['assignType'].errors.required">{{"Assign Type is
                            required"|translate}}.</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="ovi-row-one-clmn ovi-matfrmfld-input-box-pdg">
                <mat-label  class="ovi-lbl-text-size">{{"Assign To"|translate}} <span
                        class="mandatory-field">*</span></mat-label>
                <mat-form-field class="ovi-row-frmfld-wdh ovi-matfrmfld-err" appearance="outline">
                    <input matInput appPlaceholder [showPlaceholder]="false" [placeholderText]="'Assign To'|translate" id="taskIncharge"
                        formControlName="assignId" appTypeHit (typeHit)="searchTaskUserNamelist($event)"
                        [matAutocomplete]="auto" autocomplete="off">
                    <mat-autocomplete autoActiveFirstOption
                        [displayWith]="this.taskInchargeEnabled === true ? getTaskAssignList.bind(taskInchargeList) : ''"
                        #auto="matAutocomplete">
                        <mat-option *ngFor="let option of taskInchargeList" [value]="option.id">
                            <div class="act-wid-styl">{{option.name}}</div>
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="taskForm.controls.assignId.invalid">
                        <span  [hidden]="!taskForm.controls['assignId'].errors.required">{{"Assign To is
                            required"|translate}}.</span>
                        <span  [hidden]="!taskForm.get('assignId').hasError('invalidIncharge')">{{ 'Please
                            select a value from the options' | translate }}</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="ovi-row-one-clmn ovi-matfrmfld-textarea-top-box">
                <mat-label  class="ovi-lbl-text-size">{{"Description"|translate}}</mat-label>
                <mat-form-field class="ovi-row-frmfld-wdh" appearance="outline">
                    <textarea  input matInput appPlaceholder [showPlaceholder]="false" [placeholderText]="'Description'|translate"
                        formControlName="description" rows=2></textarea>
                </mat-form-field>
            </div>
            <div class="ovi-row-one-clmn ovi-matfrmfld-drpdwn-top-box">
                <mat-label  class="ovi-lbl-text-size">{{"Priority"|translate}}</mat-label>
                <mat-form-field class="ovi-row-frmfld-wdh ovi-matfrmfld-err" appearance="outline">
                    <mat-select placeholder="{{'Priority'|translate}}"
                        formControlName="priorityLevelId" [disableOptionCentering]="true">
                        <mat-option *ngFor="let data of priorityLevel" [value]="data.code">{{data.value}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="ovi-row-one-clmn ovi-matfrmfld-drpdwn-top-box">
                <mat-label  class="ovi-lbl-text-size">{{"Schedule Type"|translate}}<span
                        class="mandatory-field">*</span></mat-label>
                <mat-form-field class="ovi-row-frmfld-wdh ovi-matfrmfld-err" appearance="outline">
                    <mat-select placeholder="{{'Schedule Type'|translate}}"
                        [disableOptionCentering]="true" formControlName="scheduleTypeId">
                        <mat-option *ngFor="let data of scheduleType" (click)="selectedActivitySchedule(data.code)"
                            [value]="data.code">{{data.value}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="ovi-row-one-clmn ovi-matfrmfld-type-datetime-local">
                <mat-label *ngIf="activityScheduleType != 'SAT-ATM'"  class="ovi-lbl-text-size">{{"Schedule
                    Start"|translate}}<span class="mandatory-field">*</span></mat-label>
                <mat-label *ngIf="activityScheduleType == 'SAT-ATM'"  class="ovi-lbl-text-size">{{"Schedule
                    Date"|translate}}<span class="mandatory-field">*</span></mat-label>
                <mat-form-field class="ovi-row-frmfld-wdh" appearance="outline">
                    <input matInput [attr.type]="isDateTime ? 'datetime-local' : 'date'" id="datepicker"
                        [min]="isDateTime ? (currentDate | date:'yyyy-MM-ddTHH:mm') : (currentDate | date:'yyyy-MM-dd')"
                        formControlName="startDate" (change)="getDateValue($event, activityScheduleType)" />
                </mat-form-field>
            </div>
            <div *ngIf="activityScheduleType != 'SAT-BTM' && activityScheduleType != 'SAT-ATM'"
                class="ovi-row-one-clmn ovi-matfrmfld-type-datetime-local">
                <mat-label  class="ovi-lbl-text-size">{{"Schedule End"|translate}}<span
                        class="mandatory-field">*</span></mat-label>
                <mat-form-field class="ovi-row-frmfld-wdh" appearance="outline">
                    <input matInput [attr.type]="isDateTime ? 'datetime-local' : 'date'" id="datepicker"
                        [attr.min]="isDateTime ? (tomorrowDate | date:'yyyy-MM-ddTHH:mm') : (tomorrowDate | date:'yyyy-MM-dd')"
                        formControlName="scheduleEndTime" />
                </mat-form-field>
            </div>
            <div *ngIf="data.type == 'modify'" class="ovi-row-one-clmn ovi-matfrmfld-textarea-top-box">
                <mat-label  class="ovi-lbl-text-size">{{"Remarks"|translate}}</mat-label>
                <mat-form-field class="ovi-row-frmfld-wdh" appearance="outline">
                    <textarea  input matInput appPlaceholder [showPlaceholder]="false" [placeholderText]="'Remarks'|translate"
                        formControlName="comments" rows=2></textarea>
                </mat-form-field>
            </div>
            <div *ngIf="selectedTask != 'PR-LC'" class="ovi-row-one-clmn ovi-matfrmfld-input-box-pdg">
                <mat-label  class="ovi-lbl-text-size">{{"Location"|translate}}</mat-label>
                <mat-form-field class="ovi-row-frmfld-wdh ovi-matfrmfld-err" appearance="outline">
                    <input matInput appPlaceholder [showPlaceholder]="false" [placeholderText]="'Location Name'|translate" id="locationSearch"
                        formControlName="destinationId" appTypeHit (typeHit)="searchLocationList($event)"
                        [matAutocomplete]="loc" autocomplete="off">
                    <mat-autocomplete autoActiveFirstOption
                        [displayWith]="locationEnabled === true ? getLocationList.bind(locationList) : ''"
                        #loc="matAutocomplete">
                        <mat-option *ngFor="let option of locationList" [value]="option.id">
                            <div class="act-wid-styl">{{option.fullName}}</div>
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="taskForm.controls['locationId'].invalid">
                        <span *ngIf="taskForm.get('locationId')?.hasError('invalidLocation')">
                            {{"Please select a value from the options"|translate}}.
                        </span>
                        <span *ngIf="taskForm.controls['locationId'].hasError('required')">
                            {{"Location Name is required" | translate}}.
                        </span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="ovi-row-one-clmn" style="display: flex; flex-direction: column; gap: 8px">
                <mat-label  class="ovi-lbl-text-size">{{"Documents"|translate}}</mat-label>
                <button mat-button style="background: #eaf4f6;" (click)="uploadfile()">Upload File
                    <mat-icon class="pwa-custome-icon-style" style="color: #086284;">cloud_upload</mat-icon>
                </button>
                <span style="display: flex;gap: 5px;">
                    <div style="display: flex; gap: 10px; padding: 3px 8px;position: relative;"
                     *ngFor="let attach of attachFiles" (click)="getFileDownload(attach)" (keydown.enter)="fixClick()">
                         <mat-icon class="ovi-fnt-sze15" style="position: absolute;right: -2px;top: -2px;
                            height: fit-content;width: fit-content;padding: 0;cursor: pointer;" 
                            (click)="removeAttachment(attach)" (keydown.enter)="fixClick()">highlight_off</mat-icon>
                        <img *ngIf="attach.fileType === 'image/png' || attach.fileType === 'image/jpeg'" height="35px" width="35px"
                            alt="attachFile" [src]="attach.image" />
                
                        <img *ngIf="attach.fileType === 'application/pdf'" height="35px" width="35px" alt="PDF"
                            src="../../../../../../assets/Alert/common_icons/pdf_green.svg" />
                    </div>
                </span>
            </div>
            <div class="ovi-row-one-clmn  ovi-matfrmfld-drpdwn-top-box">
                <mat-label  class="ovi-lbl-text-size">{{"Form"|translate}}</mat-label>
                <mat-form-field class="ovi-row-frmfld-wdh" appearance="outline" style="width: 100%;">
                    <mat-select appPlaceholder [showPlaceholder]="true" [placeholderText]="'Select Form'|translate" (selectionChange)="getFormTemplateInfo()"
                     formControlName="formTemplateId">
                        <mat-option *ngFor="let form of formTemplate" [value]="form.id">
                            {{form.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div *ngIf="ticketformBuilderSource.length" style="display: flex; gap: 5px">
                <div *ngFor="let form of ticketformBuilderSource" (click)="formBuilder(form)"  (keydown.enter)="fixClick()"
                    style="display: flex; width: 120px; align-items: center;position: relative;">
                    <mat-icon class="ovi-fnt-sze15"  style="position: absolute;right: -6px;top: -3px;
                        height: fit-content;width: fit-content;padding: 0;cursor: pointer;" (click)="deleteForm(form)" (keydown.enter)="fixClick()">highlight_off</mat-icon>
                    <img height="20px" width="20px" style="padding: 0 3px;" src="../../../../../assets/Menus/task-form.svg" alt="form" />
                    <span class="upload-form-title">{{form.name}}</span>
                </div>
            </div>
            <div class="pwa-footer">
                <button *ngIf="data.type != 'modify'" mat-button class="pwa-active-btn" [disabled]="taskForm.invalid" (click)="saveTask()">{{"Create"|translate}}</button>
                <button *ngIf="data.type == 'modify'" mat-button class="pwa-active-btn" [disabled]="taskForm.invalid" (click)="editTask()">{{"Update"|translate}}</button>
                <button mat-button class="pwa-cancel-btn" (click)="close()">{{"Cancel"|translate}}</button>
            </div>
        </div>
    </div>
</div>