
   .custom-dialog-container1 .mat-dialog-container {
    .input-container {
    
     .table {
        height: 100%; 
     }
   }
  
   }
   $mh:(                           //LANDSCAPE 
    h0:280px,
    h1:321px,
    h2:356px,
    h3:376px,
    h4:426px,
    h5:476px,
    h6:536px,
    h7:590px,
  );
  $bp : (
  lap_33:3840px,
  lap_50:2560px,
  lap_67:1920px,
  lap_75:1707px,
  lap_80:1600px,
  lap_90:1423px,
  lap_100:1280px,
  lap_110:1164px,
  lap_125:1024px,
  tab:896px,
  land_scape:695px,
  mob: 565px,
  mob_m:425px,
  mob_s: 320px
);
  @mixin disp_height($display){
    @each $key,$value in $mh{
      @if ($display==$key){
        @media(max-height:$value){@content;}  
      }
    }
  }
  @mixin query($display){  
    @each $key, $value in $bp{
      @if ($display == $key){
        @media (max-width: $value){@content;}
      }
    }
  }
  
  .form-body-cre-student {
    @include disp_height(h6){height:390px; }
    @include disp_height(h5){height:345px;}
    @include disp_height(h4){height:295px;}
    @include disp_height(h3){height:275px;}
    @include disp_height(h2){height:240px;}
    @include disp_height(h1){height:200px;}
    @include disp_height(h0){height:160px;}
    @include query(lap_33){height: 425px;}
    @include query(lap_50){height: 440px;} 
    @include query(lap_67){height: 445px;}
    @include query(lap_75){height: 446px;}
    @include query(lap_80){height: 448px;}
    @include query(lap_90){height: 452px;}
    @include query(lap_100){height: 455px;}
    @include query(lap_110){height: 430px;}
    @include query(lap_125){height: 371px;}
    @include query(mob){height: 418px;} 
    height: 455px;
    overflow: hidden;
  }
  .form-body-cre-use {
    @include disp_height(h6){height:390px; }
    @include disp_height(h5){height:345px;}
    @include disp_height(h4){height:295px;}
    @include disp_height(h3){height:275px;}
    @include disp_height(h2){height:240px;}
    @include disp_height(h1){height:200px;}
    @include disp_height(h0){height:160px;}
    @include query(lap_50){height: 942px;} 
    @include query(lap_67){height: 675px;}
    @include query(lap_75){height: 584px;}
    @include query(lap_80){height: 540px;}
    @include query(lap_90){height: 463px;}
    @include query(lap_100){height: 400px;}
    @include query(lap_110){height: 353px;}
    @include query(lap_125){height: 293px;}
    @include query(mob){height: 418px;} 
    height: 930px;
    overflow: auto;
  }

  .user-padd {
    padding: 25px 0px 10px 0px
  }

  .no-shift {
    padding: 50px 0px 45px 0px;
    text-align: center;
    font-size: 16px;
    color: grey;
    font-style: italic;
    font-weight: 600;
  }
  .user-time-input{
    font-size: 16px;
    color: black;
  }
  .user-add-padd {
    padding: 12px 0px 0px 0px;
  }
  .user-edit-padd {
    padding: 0px 30px 0px 30px;
  }
  .edit-shift-icon{
    height: 25px;
    width: 25px;
    padding: 35px 15px 25px 15px;
  }
  .custom-mat-column-header-width {
    overflow: hidden;
    width: 60px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .custom-mat-column-width {
    overflow: hidden;
    width: 80px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .example-user-radio-button{
    padding:12px !important;
  }
  $bp : (              
    desktop_l:2900px,           //RESPONSIVE 
    desktop_m:1920px,
    desktop:1440px,
    lap_m:1101px,
    lap:1024px,
    tab : 768px,
    mob: 565px,
    mob_m:425px,
    mob_s: 320px,
    tab_m:801px,
  );
  @mixin query($display){  
    @each $key, $value in $bp{
      @if ($display == $key){
        @media (max-width: $value){@content;}
      }
    }
  }

  .rstpawd{
    margin: -35px 0px 0px 21px;
  }
  
