<div id="config" class="loading-spinner" *ngIf="spinLoader">
  <div class="spinnerload">
      <div class="spin1"></div>
      <div class="spin2"></div>
      <div class="spin3"></div>
  </div>
</div>
<div class="manage-body">
  <tw-header-new-component [component]="'config'" [permission]="permission" [dateFilter]="null" [rowFilter]="null" [manageAction]="showActions" [selectDropdown]="selectDropdown" [selectedName]="selectedName !== null ? selectedName : true"
    [locationId]="null" [selectedView]="null" [multiView]="null" (selectedViewAction)="null" (headerEventAction)="headerEventAction($event)">
  </tw-header-new-component>
  <div class="config-table">
    <tw-table-component [component]="'config'" [columns]="displayedColumns" [tableData]="tableData" [iconHeader]="iconHeader" [iconColumn]="iconColumn" [sortColumn]="sortColumn"
      [eventColumn]="eventColumn" [rowId]="'ids'" [rowClick]="true" (rowClickAction)="rowClick($event)" [rowDbClick]="true" (rowDbClickAction)="null"
      (eventAction)="eventAction($event)" [applyFilter]="applyFilterValue" [permissionControl]="permissionControl" [pagination]="null" [tableClass]="'table-with-header'">
    </tw-table-component>
  </div>
</div>
