.config-table {
  .mat-custom-form-field-box {
    overflow: auto;
    padding-top: 10px;
    height: calc(100% - 90px);
  }

  th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    overflow: hidden ;
    max-width: 200px !important;
    text-overflow: ellipsis;
  }
}