@import '../../../../../theme/configcolour.scss';

.file-upload-container {
    display: flex;
    align-items: center;
    gap: 0px
}

.file-upload-content {
    display: flex;
    flex-direction: column;
}

.file-upload-button {
    background-color: var(--primary-bg-color) !important;
    color: var(--primary-bg-hghl-color);
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.file-upload-button input {
    display: none;
}

.file-selected {
    background-color: #949292 !important;
}

.file-info {
    font-size: 9px;
    margin-top: 5px;
    color: #333;
    text-align: center;
}

.attachment-preview {
    display: flex;
    flex-direction: column;
    position: relative;
}

.img-siz {
    width: 100px;
    height: 40px;
    cursor: pointer;
    margin: 3px;
    padding-left: 23px;
}

.img-siz-doc {
    width: 60px;
    height: 40px;
    cursor: pointer;
    margin: 3px;
}

.selected-file-name {
    font-size: 14px;
    color: #333;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.add-button {
    background-color: #2196F3;
    color: var(--primary-bg-hghl-color);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.attachment-preview .remove-icon {
    position: absolute;
    top: -6px;
    right: -6px;
    background-color: #f44336;
    color: var(--primary-bg-hghl-color);
    font-size: 12px;
    border-radius: 50%;
    line-height: 16px;
    height: 18px;
    width: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
    padding: 0;
}

.visitor-clr {
  background: #edf4f7;
}